<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<p style="font-weight: 600;">
  <%= t("snag_mailer.new_message") %>
</p>

<p>
  <%= t("snag_mailer.rejected_status", status: @status) %>
</p>

<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.address") %></span><br/>
  <%= @plot.prefix %> <%= @plot.postal_number %> <%= @plot.building_name %><br/>
  <%= @plot.road_name %><br/>
  <%= @plot.postcode %>
</p>

<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.plot") %></span><%= @plot.number %>
</p>

<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.phase") %></span><%= @plot.phase_name %>
</p>

<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.development") %></span><%= @plot.development_name %>
</p>

<% if @plot.division %>
<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.division") %></span><%= @plot.division_name %>
</p>
<% end %>

<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.developer") %></span><%= @plot.company_name %>
</p>
<br/>

<p>
  <span style="font-weight: 600;"><%= t("snag_mailer.snag_title") %></span><%= @snag_title %>
</p>
<br/>

<p>
  <%= t("snag_mailer.view_snag") %>
  <p style="text-align: center">
    <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>View Snag</button>".html_safe, admin_snag_url(@snag.id) %>
  </p>
  <br/>

  <p style="font-style: italic;font-size: 14px;">
    <%= t("snag_mailer.opt_out") %>
  </p>

  <p style="text-align: center">
    <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>Log in to Spaciable</button>".html_safe, new_admin_session_url %>
  </p>
</p>
