<p>Hi,</p>

<p>
  <%= t("snag_mailer.rejected_status", status: @status) %>
</p>

<ul>
  <li><%= t("snag_mailer.snag_title") %><%= @snag_title %></li>
  <br/>
  <li><%= t("snag_mailer.developer") %><%= @plot.company_name %></li>
  <% if @plot.division %>
    <li><%= t("snag_mailer.division") %><%= @plot.division_name %></li>
  <% end %>
  <li><%= t("snag_mailer.development") %><%= @plot.development_name %></li>
  <li><%= t("snag_mailer.phase") %><%= @plot.phase_name %> </li>
  <li><%= t("snag_mailer.plot") %><%= @plot.number %></li>
  <br/>
  <li><%= t("snag_mailer.postal") %><%= @plot.prefix %> <%= @plot.postal_number %></li>
  <li><%= t("snag_mailer.building") if @plot.building_name %><%= @plot.building_name %></li>
  <li><%= t("snag_mailer.street") %><%= @plot.road_name %></li>
  <li><%= t("snag_mailer.postcode") %><%= @plot.postcode %></li>
</ul>

<p>
  <%= t("snag_mailer.view_snag") %> <%= link_to t("snag_mailer.link_to_snag"), admin_snag_url(@snag.id) %>.
</p>

<p>
  <em><%= t("snag_mailer.opt_out") %></em>
</p>
<p>
  <%= link_to t("snag_mailer.login"), new_admin_session_url %>
</p>
