<div class="production">

  <% if can_create(Plot, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to [:new, parent, :plot], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list plots">
    <thead>
      <tr>
        <th><%= sortable(Plot, :number, t(".name")) %></th>
        <th><%= sortable({Plot => Address}, :prefix, t(".prefix")) %></th>
        <th><%= sortable(Plot, :house_number) %></th>
        <th><%= sortable({Plot => Address}, :building_name, t(".building_name")) %></th>
        <th><%= sortable({Plot => Address}, :road_name, t(".road_name")) %></th>
        <th><%= sortable({Plot => Address}, :postcode, t(".postcode")) %></th>
        <th><%= sortable({Plot => UnitType}, :id, t(".unit_type")) %></th>
        <th><span class="date"><%= sortable(Plot, :reservation_release_date, t(".date_r")) %></span>
            <span class="date"><%= sortable(Plot, :completion_release_date, t(".date_c")) %></span></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |plot| %>
        <tr data-plot="<%= plot.id %>">
          <td><%= link_to plot, url_for(plot), title: plot %></td>
          <td><%= plot.prefix %></td>
          <td><%= plot.house_number %></td>
          <td><%= plot.building_name %></td>
          <td><%= plot.road_name %></td>
          <td><%= plot.postcode %></td>
          <td><%= plot.unit_type %></td>
          <% res = plot.reservation_release_date? ? "green" : "white" %>
          <% comp = plot.completion_release_date? ? "green" : "white" %>
          <td><span class = 'circle <%= res %>'>&nbsp;</span>
              <span class = 'circle <%= comp %>'>&nbsp;</span></td>
          <td class="actions">
            <%= edit_btn [:edit, plot], element: plot if current_user&.cf_admin? %>
            <%= delete_btn plot, path: url_for(plot), element: plot %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
</div>
