<% if !defined?(@skip_menus) %>
  <%= render "components/homeowner/hero" %>
  <%= render "components/homeowner/sub_menu", active_tab: "appliances", plot: @plot %>
<% end %>

<div class="branded-body">
  <div class="appliances">
    <% if @plot.developer.show_warranties? %>
      <span class="branded-text appliances-disclaimer"><%= unsanitized t(".disclaimer") %></span>
    <% end %>
    <% @appliances.each do | appliance | %>
      <% next unless appliance %>
      <div class="appliance ">
        <div class="images">
          <h3 class="branded-text"><%= appliance.appliance_category %></h3>
          <% if appliance.primary_image? %>
            <%= link_to image_tag(appliance.primary_image.url), appliance.primary_image.url %>
          <% else %>
            <%= fa_icon "image", class: " dummy-image fa-5x" %>
            <span class="branded-text"><%= t("no_image") %></span>
          <% end %>
          <% if appliance.secondary_image? %>
            <%= link_to image_tag(appliance.secondary_image.url, class: "secondary-image"), appliance.secondary_image.url %>
          <% end %>

          <% if appliance.appliance_manufacturer_link %>
            <%= link_to t(".register"), appliance.appliance_manufacturer_link, class: "branded-btn", target: :_blank %>
          <% end %>
        </div>

        <div class="details">
          <div class="detail">
            <span class="branded-text"><%= label_tag :manufacturer %></span>
            <span class="branded-text"><%= appliance&.appliance_manufacturer %></span>

            <span class="branded-text"><%= label_tag(t("appliances.form.model_num")) %></span>
            <span class="branded-text"><%= appliance.model_num %></span>

            <% if appliance.manual? %>
              <div class="manual">
                <span class="branded-text"><%= label_tag t(".manual") %></span>
                <%= link_to appliance.manual.url, class: "branded-btn-inverted", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  <%= t(".download") %>
                <% end %>
              </div>
            <% end %>

            <% if appliance.guide? %>
              <div class="guide">
                <span class="branded-text"><%= label_tag :guide, t(".guide") %></span>
                <%= link_to appliance.guide.url, class: "branded-btn-inverted", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  <%= t(".download") %>
                <% end %>
              </div>
            <% end %>

            <% if appliance.warranty_length? && @plot.developer.show_warranties? %>
              <span class="branded-text"><%= label_tag :warranty %></span>
              <span class="branded-text"><%= t("activerecord.attributes.appliance.warranty_length.#{appliance.warranty_length}") %></span>
            <% end %>

            <% if appliance.e_rating %>
              <span class="branded-text"><%= label_tag :energy, t(".e_rating").html_safe %></span>
              <%= image_tag "Energy Rating #{appliance.e_rating.upcase}.svg", class: "energy-rating" %>
            <% end %>

            <% if (appliance.main_uk_e_rating || appliance.supp_uk_e_rating ) %>
              <span class="branded-text"><%= label_tag :energy, t(".main_uk_e_rating").html_safe %></span>

              <% if appliance.washer_dryer? %>
                <div class='e_ratings'>
                  <% if appliance.main_uk_e_rating %>
                    <div class='ratingimage'>
                      <%= image_tag "Energy Rating (Washer Dryer) (#{appliance.main_uk_e_rating.upcase}).svg", class: "energy-rating" %>
                      <label><%= t(".washdry") %> </label>
                    </div>
                  <% end %>
                  <% if appliance.supp_uk_e_rating %>
                    <div class='ratingimage'>
                      <%= image_tag "Energy Rating (Washer Dryer) (#{appliance.supp_uk_e_rating.upcase}).svg", class: "energy-rating" %>
                      <label><%= t(".wash") %> </label>
                    </div>
                  <% end %>
                </div>
              <% elsif appliance.main_uk_e_rating %>
                <%= image_tag "Energy Rating (#{appliance.main_uk_e_rating.upcase}).svg", class: "energy-rating" %>
              <% end %>
            <% end %>
          </div>

          <% if appliance.description? %>
            <div class="detail branded-text">
              <%= label_tag(:description) %>
              <p><%= appliance.description %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
