<% content_for :hero_text_primary do %>
    <%= t(".title") %>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="branded-body">
  <div class="appliances">
    <% @appliances.each do | appliance | %>
      <% next unless appliance %>
      <div class="appliance branded-content branded-border">
        <div class="images">
          <h2 class="branded-text"><%= appliance.appliance_category %></h2>
          <% if appliance.primary_image? %>
            <%= link_to image_tag(appliance.primary_image.url), appliance.primary_image.url %>
          <% else %>
            <%= fa_icon "image", class: " dummy-image fa-5x" %>
            <span class="branded-text"><%= t("no_image") %></span>
          <% end %>
          <% if appliance.secondary_image? %>
            <%= link_to image_tag(appliance.secondary_image.url, class: "secondary-image"), appliance.secondary_image.url %>
          <% end %>

          <% if appliance.appliance_manufacturer_link %>
            <%= link_to t(".register"), appliance.appliance_manufacturer_link, class: "branded-btn", target: :_blank %>
          <% end %>
        </div>

        <div class="details">
          <div class="detail">
            <span class="branded-text"><%= label_tag :manufacturer %></span>
            <span class="branded-text"><%= appliance&.appliance_manufacturer %></span>

            <span class="branded-text"><%= label_tag(t("appliances.form.model_num")) %></span>
            <span class="branded-text"><%= appliance.model_num %></span>

            <% if appliance.manual? %>
              <div class="manual">
                <span class="branded-text"><%= label_tag t(".manual") %></span>
                <%= link_to appliance.manual.url, class: "branded-btn-inverted", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  <%= t(".download") %>
                <% end %>
              </div>
            <% end %>

            <% if appliance.guide? %>
              <div class="guide">
                <span class="branded-text"><%= label_tag :guide, t(".guide") %></span>
                <%= link_to appliance.guide.url, class: "branded-btn-inverted", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  <%= t(".download") %>
                <% end %>
              </div>
            <% end %>

            <% if appliance.warranty_length? %>
              <span class="branded-text"><%= label_tag :warranty %></span>
              <span class="branded-text"><%= t("activerecord.attributes.appliance.warranty_length.#{appliance.warranty_length}") %></span>
            <% end %>

            <% if appliance.e_rating %>
              <span class="branded-text"><%= label_tag :energy, t("appliances.form.e_rating") %></span>
              <%= image_tag "Energy Rating #{appliance.e_rating.upcase}.svg", class: "energy-rating" %>
            <% end %>
          </div>

          <% if appliance.description? %>
            <div class="detail branded-text">
              <%= label_tag(:description) %>
              <p><%= appliance.description %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
