<% content_for :hero_text_primary do %>
    <%= render 'address/address', address: @plot %>
<% end %>

<%= render "components/homeowner/sub_header", active_tab: "appliances" %>

<div class="branded-body">
  <div class="appliances">
    <% @appliances.each do | appliance | %>
      <div class="appliance branded-content branded-border">
        <div class="images">
          <h2><%= appliance.appliance_category %></h2>
          <% if appliance.primary_image? %>
            <%= image_tag(appliance.primary_image.url) %>
          <% else %>
            <%= fa_icon "image", class: " dummy-image fa-5x" %>
            <span class="branded-text"><%= t("no_image") %></span>
          <% end %>
          <% if appliance.secondary_image? %>
            <%= image_tag(appliance.secondary_image.url, class: "secondary-image") %>
          <% end %>

          <% if appliance.appliance_manufacturer_link %>
            <%= link_to t(".register"), appliance.appliance_manufacturer_link, class: "branded-btn", target: :_blank %>
          <% end %>
        </div>

        <div class="details">
          <div class="detail">
            <%= label_tag(:appliance_manufacturer) %>
            <span><%= appliance&.appliance_manufacturer %></span>

            <%= label_tag(t("appliances.form.model_num")) %>
            <span><%= appliance.model_num %></span>

            <div class="manual">
              <%= label_tag t(".manual") %>
              <% if appliance.manual? %>
                <%= link_to appliance.manual.url, class: "btn", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  <%= t(".download") %>
                <% end %>
              <% end %>
            </div>

            <div class="guide">
              <%= label_tag t(".guide") %>
              <% if appliance.guide? %>
                <%= link_to appliance.guide.url, class: "btn", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  <%= t(".download") %>
                <% end %>
              <% end %>
            </div>

            <%= label_tag(t("appliances.form.warranty_length")) %>
            <span><%= t("activerecord.attributes.appliance.warranty_length.#{appliance.warranty_length}") if appliance.warranty_length? %></span>

            <%= label_tag(t("appliances.form.e_rating")) %>
            <% if appliance.e_rating %>
              <%= image_tag "Energy Rating #{appliance.e_rating.upcase}.svg", class: "energy-rating" %>
            <% end %>
          </div>

          <div class="detail">
            <%= label_tag(:description) %>
            <p><%= appliance.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
