<%= render 'layouts/b2c/head' %>
<%= render 'b2c/nav/navigation' %>

<body class="b2c-registration-view">
<%= render 'cookies_eu/consent_banner', link: '/cookies_policy', target: '_blank' %>

  <div class="main-container">
    <main>
      <%= render "components/flashes" %>
      <%= yield %>
    </main>
  </div>
</body>
</html>
