<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "tasks", type: Service, parent: development %>
<% else %>
  <% if can_create(Service, development) %>
    <div class="section-actions">
      <%= link_to [:new, development, :service], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".create") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list">
    <thead>
      <tr>
        <th><%= sortable(Service, :name) %></th>
        <th><%= t(".description") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |service| %>
      <tr>
        <td><%= link_to service.name, [development, service] %></td>
        <td><%= service.description %></td>
        <td class="actions">
          <%= edit_btn [:edit, development, service], element: service %>
          <%= delete_btn service, path: url_for([development, service]), element: service %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
