<%= simple_form_for([development, service]) do |f| %>
  <% if service.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row services">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [development, :services], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
