<% breadcrumb :service, @service %>

<div class="section-header">
  <h3 class="section-title">
    <%= @service.name %><br>
  </h3>
  <div class="section-data">
    <%= edit_btn [:edit, @development, :services], element: @service %>
  </div>
</div>

<div class="row service">
  <div class="row-item half">
    <div class="title">
      <%= label_tag(:name) %>
      <span><%= @service.name %></span>
    </div>
    <div class="link">
      <%= label_tag(:description) %>
      <span><%= @service.description %></span>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@development, :services], class: "btn" %>
  </div>
</div>
