<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<h4><%= t(".new_feedback") %></h4>

<h5><%= t(".faq") %></h5>
<p><%= @question %></p>

<h5><%= t(".useful") %></h5>
<p><%= @response ? "Yes" : "No" %></p>

<% unless @response.positive? %>
  <h5><%= t(".comments") %></h5>
  <p><%= @feedback %></p>
<% end %>

<h5><%= t(".user") %></h5>
<p><%= @email %></p>
<p><%= t(".plot", plot: @plot, phase: @phase, development: @development) %></p>
