<div style="width: 600px; margin: 0 auto; font-family: arial">

  <div style="padding: 60px 40px;">
    <p><%= @title %></p>

    <h3><%= t(".developer_title") %></h3>
    <p><span><strong><%= t(".developer") %></strong></span> <%= @plot.developer %></p>
    <% if @plot.division %>
      <p><span><strong><%= t(".division") %></strong></span> <%= @plot.division %></p>
    <% end %>
    <p><span><strong><%= t(".development") %></strong></span> <%= @plot.development %></p>
    <p><span><strong><%= t(".phase") %></strong></span> <%= @plot.phase %></p>
    <p><span><strong><%= t(".number") %></strong></span> <%= @plot.to_s %></p>
    <p><span><strong><%= t("plots.plot.completion_date") %></strong></span> <%= l @plot.completion_date, format: :digits if @plot.completion_date %></p>

    <p><span><strong><%= "#{t("activerecord.attributes.plot.house_number")}:" %></strong></span> <%= @plot.house_number %></p>
    <p><span><strong><%= "#{t("activerecord.attributes.address.building_name")}:" %></strong></span> <%= @plot.building_name %></p>
    <p><span><strong><%= "#{t("activerecord.attributes.address.road_name")}:" %></strong></span> <%= @plot.road_name %></p>
    <p><span><strong><%= "#{t("activerecord.attributes.address.locality")}:" %></strong></span> <%= @plot.locality %></p>
    <p><span><strong><%= "#{t("activerecord.attributes.address.city")}:" %></strong></span> <%= @plot.city %></p>
    <p><span><strong><%= "#{t("activerecord.attributes.address.county")}:" %></strong></span> <%= @plot.county %></p>
    <p><span><strong><%= "#{t("activerecord.attributes.address.postcode")}:" %></strong></span> <%= @plot.postcode %></p>

    <hr>

    <h3><%= t(".resident_title") %></h3>

    <p><span><strong><%= "#{t("activerecord.attributes.resident.title")}:" %></strong></span><%= t("activerecord.attributes.contact.titles.#{@resident.title}") if @resident.title %></p>
    <p><span><strong><%= t(".first") %></strong></span> <%= @resident.first_name %></p>
    <p><span><strong><%= t(".last") %></strong></span> <%= @resident.last_name %></p>
    <p><span><strong><%= t(".email") %></strong></span> <%= @resident.email %></p>
    <p><span><strong><%= t(".phone") %></strong></span> <%= @resident.phone_number %></p>

    <h3><%= t(".subscribed") %></h3>
    <% @new_services.each do | service | %>
      <ul>
        <li><span><%= service %></span></li>
      </ul>
    <% end %>

    <% if @old_services&.any? %>
      <h3><%= t(".unsubscribed") %></h3>
      <ul>
        <% @old_services.each do | service | %>
          <li><span><del><%= service %></del></span></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
