<% breadcrumb :admin_residents %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-person"></i>
    <%= t(".title") %>
  </h3>
</div>

<table class="record-list">
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".email") %></th>
      <th><%= t(".plot") %></th>
      <th><%= t(".plot_count") %></th>
      <th><%= t(".unit_type") %></th>
      <th><%= t(".development") %></th>
      <th><%= t(".division") %></th>
      <th><%= t(".developer") %></th>
    </tr>
  </thead>
  <tbody>
    <% @residents.each do |resident| %>
    <tr data-user="<%= resident.id %>">
      <td><%= link_to resident, admin_resident_path(resident) %></td>
      <td><%= resident.email %></td>
      <% if resident.plots.count.positive? %>
        <td><%= resident.plots.first %></td>
        <td><%= resident.plots.count %></td>
        <td><%= resident.plots.first.unit_type %></td>
        <td><%= resident.plots.first.development %></td>
        <td><%= resident.plots.first.division %></td>
        <td><%= resident.plots.first.developer %></td>
      <% else %>
        <td colspan="6"><em><%= t(".removed") %></em></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate @residents %>
</div>
