<% breadcrumb :admin_residents %>

<div class="section-header">
  <div class="section-title">
    <i class="fa fa-person"></i>
    <%= t(".title") %>
  </div>
</div>

<table class="record-list">
  <thead>
    <tr>
      <th><%= sortable(Resident, :email, t(".email")) %></th>
      <th><%= sortable(Resident, :first_name, t(".name")) %></th>
      <th><%= sortable(Resident, :phone_number, t(".phone_number")) %></th>
      <th><%= t(".plot_count") %></th>
      <th><%= t(".invited_by") %></th>
      <th><%= sortable(Resident, :invitation_accepted_at, t(".accepted_at")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @residents.each do |resident| %>
    <tr data-user="<%= resident.id %>">
      <td><%= link_to resident.email, admin_resident_path(resident) %></td>
      <td><%= resident %></td>
      <td><%= resident.phone_number %></td>
      <% if resident.plots.count.positive? %>
        <td><%= resident.plots.count %></td>
        <td><%= resident.plot_residencies.first.invited_by %></td>
        <td><% if resident.invitation_accepted_at %>
          <%= l resident.invitation_accepted_at.to_date, format: :digits %>
        <% end %></td>
      <% else %>
        <td colspan="3"><em><%= t(".removed") %></em></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate @residents %>
</div>
