<% breadcrumb :admin_resident, @resident %>

<div class="section-header">
  <div class="section-title">
    <div>
      <%= @resident.to_s %><br/><br/>
    </div>
    <span class="about">
      <strong><%= t(".email") %></strong><%= @resident.email %><br/>
      <strong><%= t(".phone") %></strong><%= @resident.phone_number %><br/>
      <strong><%= t(".activated") %></strong><%= l @resident.invitation_accepted_at.to_date, format: :digits %>
    </span>
  </div>
</div>

<div class="resident section-data">
  <table class="record-list plots">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".developer") %></th>
        <th><%= t(".division") %></th>
        <th><%= t(".development") %></th>
        <th><%= t(".phase") %></th>
        <th><%= t(".role") %></th>
        <th><%= t(".invited_by") %></th>
        <th><%= t(".invited_date") %></th>
        <th><%= t(".id") %></th>
      </tr>
    </thead>
    <tbody>
      <% @plots = @resident.plots.order(created_at: :desc) %>
      <% @plots.each do |plot| %>
      <tr data-plot="<%= plot.id %>">
        <td><%= link_to_unless (cannot? :read, plot), plot, url_for(plot), title: plot %></td>
        <td><%= plot.developer %></td>
        <td><%= plot&.division %></td>
        <td><%= plot.development %></td>
        <td><%= plot.phase %></td>
        <td><%= @resident.plot_residency_role_name(plot) %></td>
        <td><%= @resident.plot_residency_invited_by(plot) %></td>
        <td><%= l @resident.plot_residency_invited_date(plot).to_date, format: :digits %></td>
        <td><%= plot.id %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_residents_path, class: "btn" %>
  </div>
</div>
