<% breadcrumb :admin_resident, @resident %>

<div class="section-header">
  <div class="section-title">
    <div>
      <%= @resident.to_s %><br/><br/>
    </div>
    <span class="about">
      <span>
        <strong><%= t(".email") %></strong><%= @resident.email %><br/>
        <strong><%= t(".phone") %></strong><%= @resident.phone_number %><br/>
      </span>
      <span>
        <% if @resident.invitation_accepted_at? %>
            <strong><%= t(".activated") %></strong>
            <%= l @resident.invitation_accepted_at.to_date, format: :digits %>
        <% end %>
        <% if @resident.extended_until? %>
            <br/>
            <strong><%= t(".extended_until") %></strong>
            <%= l @resident.extended_until.to_date, format: :digits %>
        <% end %>
      </span>
    </span>
    </span>
  </div>
</div>

<div class="resident">
  <table class="record-list plots">
    <thead>
      <tr>
        <th><%= t(".name") %></th>
        <th><%= t(".developer") %></th>
        <th><%= t(".division") %></th>
        <th><%= t(".development") %></th>
        <th><%= t(".phase") %></th>
        <th><%= t(".role") %></th>
        <th><%= t(".invited_by") %></th>
        <th><%= t(".invited_date") %></th>
        <th><%= t(".id") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @plots = @resident.plots.order(created_at: :desc) %>
      <% @plots.each do |plot| %>
      <tr data-plot="<%= plot.id %>">
        <td><%= link_to_unless (cannot? :read, plot), plot, url_for(plot), title: plot %></td>
        <td><%= plot.developer %></td>
        <td><%= plot&.division %></td>
        <td><%= plot.development %></td>
        <td><%= plot.phase %></td>
        <td><%= @resident.plot_residency_role_name(plot) %></td>
        <td><%= @resident.plot_residency_invited_by(plot) %></td>
        <td><%= l @resident.plot_residency_invited_date(plot).to_date, format: :digits %></td>
        <td><%= plot.id %></td>
         <td class="actions">
          <% unless @resident.invitation_accepted? %>
            <%= (reinvite_btn @resident, "#{url_for([plot, @resident])}/reinvite") %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_residents_path, class: "btn" %>
  </div>
</div>
