<h3 class="section-title lower">
  <%= t("dashboard.section.documents.title") %>
</h3>

<% if documents.empty? %>
  <%= render 'admin/dashboard/components/no_recent', icon_name: "envelope", type: Document %>
<% else %>
  <table class="record-list">
    <tbody>
      <% documents.each do | document| %>
        <tr>
          <td colspan="3">
            <%= link_to document.title, document_path(document) %>
          </td>
          <td colspan="2">
            <%= icon "folder" %> <%= t("activerecord.attributes.document.categories.#{document.category}") %>
          </td>
          <td class="actions">
            <%= link_to document_path(document), class: "btn" do %>
              <%= icon "eye" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
