<div class="section-title lower">
  <%= t("dashboard.section.faqs.title") %>
</div>

<% if faqs.empty? %>
  <%= render 'admin/dashboard/components/no_recent', icon_name: "envelope", type: Faq %>
<% else %>
  <table class="record-list">
    <tbody>
      <% faqs.each do | faq | %>
        <tr>
          <td colspan="3">
            <%= link_to faq.question.html_safe, faq_path(faq), title: faq.question.html_safe %>
          </td>
          <td colspan="2">
            <%= icon "folder" %> <%= faq.category_name %>
          </td>
          <td class="actions">
            <%= link_to faq_path(faq), class: "btn" do %>
              <%= fa_icon "search-plus" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
