<div class="section-title">
  <%= t("dashboard.section.notifications.title") %>
</div>

<% if can? :crud, Notification %>
  <div class="section-actions">
    <%= link_to [:new, :admin, :notification], class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".send") %></span>
    <% end %>
  </div>
<% end %>

<% if notifications.empty? %>
  <%= render 'admin/dashboard/components/no_recent', icon_name: "envelope", type: Notification %>
<% else %>
  <table class="record-list">
    <tbody>
      <% notifications.each do | notification | %>
        <tr>
          <td colspan="3">
            <%= link_to notification, [:admin, notification], title: notification %>
          </td>
          <td colspan="2">
            <% if notification.sent_at %>
              <%= l(notification.sent_at.to_date, format: :digits) %>
            <% end %>
          </td>
          <td colspan="3">
            <%= t("admin.notifications.collection.sent_to_html", sendees: truncate(notification.sent_to.html_safe, length: 80)) %>
          </td>
          <td class="actions">
            <%= link_to [:admin, notification], class: "btn" do %>
              <%= icon "eye" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
