<div class="section-actions">
  <%= link_to [:new, :admin, :notification], class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".add") %></span>
  <% end %>
</div>

<table class="record-list">
  <thead>
    <tr>
      <th><%= sortable(Notification, :subject, t(".headers.subject")) %></th>
      <th><%= sortable(Notification, :sent_at, t(".headers.sent_at")) %></th>
      <th><%= t(".headers.recipient") %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |notification| %>
    <tr>
      <td>
        <%= link_to notification, [:admin, notification], title: notification %>
      </td>

      <td>
        <%= l(notification.sent_at.to_date, format: :digits) %>
      </td>

      <td>
        <strong><%= Notification.human_attribute_name(:send_to) %>:</strong>
        <%= truncate(notification.sent_to, length: 80) %>
      </td>

      <td class="actions">
        <%= view_btn admin_notification_path(notification) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
