<% if can? :crud, Notification %>
  <div class="section-actions">
    <%= link_to [:new, :admin, :notification], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  </div>
<% end %>

<table class="record-list">
  <thead>
    <tr>
      <th colspan="2"><%= sortable(Notification, :subject, t(".headers.subject")) %></th>
      <th><%= sortable(Notification, :sent_at, t(".headers.sent_at")) %></th>
      <th colspan="2"><%= t(".headers.recipient") %></th>
      <th><%= t(".headers.role") %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |notification| %>
        <tr>
          <td colspan="2">
            <%= link_to notification, [:admin, notification], title: notification %>
          </td>

          <td>
            <% if notification&.sent_at %>
              <%= l(notification.sent_at.to_date, format: :digits) %>
            <% end %>
          </td>
          <td colspan="2">
            <%= t(".sent_to_html", sendees: truncate(notification.sent_to.html_safe, length: 80)) %>
          </td>
          <td>
            <%= notification.send_to_role %>
          </td>
          <td class="actions">
            <%= view_btn admin_notification_path(notification) %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
