<%= simple_form_for([:admin, notification]) do |f| %>
  <% if notification.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% notification.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset class="skip-global-selectmenu">
        <% if can?(:send_to_all, Notification) %>
          <%= f.input :send_to_all, label: "Send to all #{User.homeowner.count} homeowners" %>
          <hr>
          <br>
        <% end %>

        <%= f.label :send_to, label: "Send to all homeowners under:" %>

        <%= f.input :developer_id do %>
            <%= f.select :developer_id,
            admin_developer_select_options,
            selected: (f.object.developer_id || current_user.developer_id),
            include_blank: (current_user.cf_admin? ? t(".choose") : false) %>
        <% end %>

        <%= f.input :division_id do %>
            <%= f.select :division_id,
            admin_division_select_options(f.object&.division_id || current_user.division_id),
            selected: (f.object.division_id || current_user.division_id),
            include_blank: true %>
        <% end %>

        <%= f.input :development_id do %>
            <%= f.select :development_id,
            admin_development_select_options(f.object&.development_id || current_user.development_id),
            selected: (f.object.development_id || current_user.development_id),
            include_blank: true %>
        <% end %>

        <%= f.input :phase_id do %>
            <%= f.select :phase_id,
            admin_phase_select_options(f.object&.phase_id || current_user.phase_id),
            selected: (f.object.phase_id || current_user.phase_id),
            include_blank: true %>
        <% end %>
      </fieldset>
    </div>

    <div class="row-item two-thirds">
      <fieldset>
        <%= f.input :subject %>
        <%= f.input :message %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [:admin, :notifications], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
