<%= simple_form_for([:admin, notification]) do |f| %>
  <% if notification.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% notification.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset class="skip-global-selectmenu">
        <% if can?(:send_to_all, Notification) %>
          <%= f.input :send_to_all, label: t(".send_to_all_residents", residents_count: Resident.count) %>
          <hr>
          <br>
        <% end %>

        <%= f.label :send_to, label: t(".send_to") %>

        <%= cascade_select_input f, :developer_id, Developer %>
        <%= cascade_select_input f, :division_id, Division %>
        <%= cascade_select_input f, :development_id, Development %>
        <%= cascade_select_input f, :phase_id, Phase %>

        <%= f.input :plot_prefix %>
        <%= f.input :range_from, as: :integer, placeholder: t(".range_from_placeholder"), label: t(".range_label") %>
        <%= f.input :range_to, as: :integer, placeholder: t(".range_to_placeholder"), label: false %>
        <%= f.input :list, as: :text, label: "Add Plots by List", hint: t(".list_input_hint") %>
      </fieldset>
    </div>

    <div class="row-item two-thirds">
      <fieldset>
        <%= f.input :subject %>
        <%= f.input :message, as: :ckeditor, input_html: { ckeditor: { toolbar: 'full' } } %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [:admin, :notifications], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
