<%= simple_form_for([:admin, notification]) do |f| %>
  <% if notification.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% notification.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third send-targets">
      <fieldset class="skip-global-selectmenu">
        <div class="send-to-role">
          <%= f.label :send_to_role, label: t(".send_to_role") %>

          <%= f.radio_button :send_to_role, 'homeowner', checked: true %> <span><%= t(".homeowner") %></span><br/>
          <%= f.radio_button :send_to_role, 'tenant' %> <span><%= t(".tenant") %></span><br/>
          <%= f.radio_button :send_to_role, 'both' %> <span><%= t(".both") %></span><br/>
          <hr>
        </div>

        <%= f.label :send_to, label: t(".send_to") %>

        <div class="developer-id ui-front select-container">
          <%= cascade_select_input f, :developer_id, Developer %>
        </div>
        <div class="division-id ui-front select-container">
          <%= cascade_select_input f, :division_id, Division %>
        </div>
        <div class="development-id ui-front select-container">
          <%= cascade_select_input f, :development_id, Development %>
        </div>
        <div class="phase-id ui-front select-container">
          <%= cascade_select_input f, :phase_id, Phase %>
        </div>

        <label><%= t(".no_plots") %></label>
        <%= render "components/admin/plots_select", f: f, all_plots: true %>

      </fieldset>
      <% if can?(:send_to_all, Notification) %>
       <hr>
       <%= f.input :send_to_all, label: t(".send_to_all_residents", residents_count: Resident.count) %>
      <% end %>
    </div>

    <div class="row-item two-thirds send-message">
      <fieldset>
        <%= f.input :subject %>
        <%= f.input :message, as: :ckeditor %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [:admin, :notifications], class: "btn" %>
      <%= button_tag "Send", :type => 'button', class: "btn btn-primary btn-form-submit", id: 'plotNotificationBtn',
          data: { header: t(".confirm_notification"),
                  plots: t(".confirm_plots"),
                  noplots: t(".empty_plots"),
                  all: t(".all_residents") } %>
    </div>
  </div>
<% end %>
