<% breadcrumb :admin_notification, @notification %>

<div class="section-header">
  <div class="section-title">
    <%= @notification.subject %><br>
  </div>
</div>

<div class="row notification">
  <div class="row-item two-thirds">
    <p><%= @notification.created_at.strftime("%d %B, %Y") %></p>
    <%= label_tag(t(".residents_of")) %>
    <span><%= truncate(@notification.sent_to.html_safe, length: 80) %></span>
    <%= label_tag(t(".numbers")) %>
    <% if @notification.plot_numbers.any? %>
    <span><%= @notification.plot_numbers.to_sentence %></span>
    <% else %>
    <span><%= t(".all") %></span>
    <% end %>
    <%= label_tag(t(".sent_to")) %>
    <span><%= @notification.sent_to_role %></span><br/><br/>
    <%= label_tag(Notification.human_attribute_name(:message)) %>
    <span><%= simple_format @notification.message %></span>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_notifications_path, class: "btn" %>
  </div>
</div>
