<% breadcrumb :admin_notification, @notification %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-envelope"></i>
    <%= @notification.subject %><br>
  </h3>
</div>

<div class="row notification">
  <div class="row-item third">
    <%= label_tag(t(".sent_to")) %>
    <span><%= truncate(@notification.sent_to.html_safe, length: 80) %></span>
    <%= label_tag(t(".numbers")) %>
    <% if @notification.plot_numbers.any? %>
      <span><%= @notification.plot_numbers.to_sentence %></span>
    <% else %>
      <span><%= t(".all") %></span>
    <% end %>
  </div>
  <div class="row-item two-thirds">
    <%= label_tag(Notification.human_attribute_name(:subject)) %>
    <span><%= @notification.subject %></span>
    <%= label_tag(Notification.human_attribute_name(:message)) %>
    <span><%= simple_format @notification.message %></span>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_notifications_path, class: "btn" %>
  </div>
</div>
