<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "industry", type: ApplianceCategory, parent: nil %>
<% else %>
  <% if can_create(ApplianceCategory, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_appliance_category_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list">
    <thead>
      <tr>
        <th><%= sortable(ApplianceCategory, :name, t(".name")) %></th>
        <th><%= sortable(ApplianceCategory, :updated_at, t(".last_edited")) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |appliance_category| %>
        <tr <%="class=view-only" if cannot?(:update, appliance_category) %> data-appliance-category="<%= appliance_category.id %>">
          <td><%= link_to appliance_category.name, appliance_category_path(appliance_category), title: appliance_category.name %></td>
          <td><%= l appliance_category.updated_at.to_date, format: :digits %></td>
          <td class="actions">
            <%= edit_btn edit_appliance_category_path(appliance_category), element: appliance_category %>
            <%= delete_btn appliance_category, path: url_for(appliance_category), element: appliance_category %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render "components/page_size" %>
    <%= paginate collection %>
  </div>
<% end %>
