
<%= simple_form_for appliance_category do |f| %>
  <% if appliance_category.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% appliance_category.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row appliance_category">
    <div class="row-item half">
      <fieldset>
        <%= f.input :name %>
        <%= f.label :register, t(".register") %>
        <%= f.check_box :register %>
        <p class="checkbox-description"><%= t(".register_description").html_safe %>

      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), appliance_categories_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
