<div class="section-header">
  <div class="section-title">
    <div><%= developer.company_name %></div>
    <span class="about">
      <%= simple_format developer.about %>
      <strong><%= t(".list_id") %></strong><%= developer.list_id || 0 %><br/>
      <strong><%= t(".house_search") %></strong><%= developer.house_search? ? t(".enabled") : t(".disabled") %><br/>
      <strong><%= t(".services") %></strong><%= developer.enable_services? ? t(".enabled") : t(".disabled") %><br/>
      <strong><%= t(".referrals") %></strong><%= developer.enable_referrals? ? t(".enabled") : t(".disabled") %><br/>
      <strong><%= t(".roomsketcher") %></strong><%= developer.enable_roomsketcher? ? t(".enabled") : t(".disabled") %><br/>
      <strong><%= t(".messages") %></strong><%= developer.enable_development_messages? ? t(".enabled") : t(".disabled") %><br/>
      <strong><%= t(".faq_scope") %></strong><%= developer.development_faqs? ? t(".development") : t(".developer") %>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: developer.address %>
    <%= render 'components/contacts', contact: developer %>
    <%= edit_btn [:edit, developer], element: developer %>
  </div>
</div>
