<div class="section-header">
  <div class="section-title">
    <% if developer.expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="expired-text"><%= t(".expiry").html_safe %></span></div>
    <% end %>
    <div><%= developer.company_name %></div>
    <span class="about">
      <%= simple_format developer.about %>
      <br/>
      <strong><%= t(".active_plots") %></strong><%= developer.active_plots_count %><br/>
      <strong><%= t(".completed_plots") %></strong><%= developer.completed_plots_count %><br/>
      <strong><%= t(".expired_plots") %></strong><%= developer.expired_plots_count %><br/><br/>
      <strong><%= t(".developments") %></strong><%= developer.developments_count %><br/>
      <strong><%= t(".phases") %></strong><%= developer.phases.size %>
    </span>
  </div>

  <div class="section-data">

    <%= render 'address/address', address: developer.address %><br/>
    <%= render 'components/contacts', contact: developer %><br/>
    <%= edit_btn [:edit, developer], element: developer %>
  </div>
</div>
