<div class="section-header">
  <div class="section-title">
    <% if developer.expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="expired-text"><%= t(".expiry").html_safe %></span></div>
    <% end %>
    <div><%= developer.company_name %></div>
    <div class="about">
      <span class="about-text">
        <%= simple_format developer.about %>
        <br/>
      </span>
      <span class="overview">
        <% if current_user.cf_admin? || developer.cas %>
          <%= t("cas_enabled", status: developer.cas ? t("enabled") : t("disabled")).html_safe %><br/><br/>
        <% end %>
        <strong><%= t(".active_plots") %></strong><%= developer.active_plots_count %><br/>
        <strong><%= t(".completed_plots") %></strong><%= developer.completed_plots_count %><br/>
        <strong><%= t(".expired_plots") %></strong><%= developer.expired_plots_count %><br/><br/>
        <strong><%= t(".developments") %></strong><%= developer.developments_count %><br/>
        <strong><%= t(".phases") %></strong><%= developer.phases.size %>
      </span>
      <span class="admins">
        <strong><%= t("administered_by") %></strong><br/><br/>
        <% administering_admins(developer).each do |a| %>
          <%= "#{a.first_name} #{a.last_name}" %>
          <span class="inactive"><%= " (not activated)" unless a.invitation_accepted_at %></span><br/>
        <% end %>
      </span>
    </div>
  </div>

  <div class="section-data">

    <%= render 'address/address', address: developer.address %><br/>
    <%= render 'components/contacts', contact: developer %><br/>
    <%= edit_btn [:edit, developer], element: developer %>
  </div>
</div>

<% if developer.branded_app? && BrandedApp.missing_attributes?(developer) %>
  <!-- Load the page specific javascript to handle the branded app tab-->
  <script type="text/javascript" src="/javascripts/lib/branded_app.js"></script>
<% end %>
