<div class="section-header">
  <div class="section-title">
    <h3><%= developer.company_name %></h3>
    <span class="about">
      <%= simple_format developer.about %>
      <strong><%= t(".list_id") %></strong><%= developer.list_id || 0 %><br/>
      <strong><%= t(".house_search") %></strong><%= developer.house_search? ? t(".enabled") : t(".disabled") %>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: developer.address %>
    <%= render 'components/contacts', contact: developer %>
    <%= edit_btn [:edit, developer], element: developer %>
  </div>
</div>
