<%= simple_form_for(developer) do |f| %>
  <% if developer.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% developer.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :company_name %>
        <%= f.input :about %>
        <%= f.label t(".enable_house_search") %>
        <%= f.check_box :house_search %>
        <p class="checkbox-description"><%= t(".house_search_description") %></p>
        <%= f.label t(".enable_services") %>
        <%= f.check_box :enable_services %>
        <p class="checkbox-description"><%= t(".services_description") %></p>
        <%= f.label t(".enable_roomsketcher") %>
        <%= f.check_box :enable_roomsketcher %>
        <p class="checkbox-description"><%= t(".roomsketcher_description") %></p>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <label class="string optional"><%= t(".address") %></label>
          <%= render "address/fields", fields: fields %>
        <% end %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :email %>
        <%= f.input :contact_number %>
        <%= f.input :api_key, as: :text, placeholder: t(".api_key_info") %>
        <% if current_user.cf_admin? %>
          <%= f.label t(".enable_messages") %>
          <%= f.check_box :enable_development_messages %>
          <p class="checkbox-description"><%= t(".messages_description") %></p>
        <% end %>
        <%= f.label t(".development_faqs") %>
        <%= f.check_box :development_faqs %>
        <p class="checkbox-description"><%= t(".development_faqs_description") %></p>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), developers_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
