<%= simple_form_for(developer) do |f| %>
  <% if developer.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% developer.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :company_name %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :head_office_address %>
        <%= f.input :city %>
        <%= f.input :county %>
        <%= f.input :postcode %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :email %>
        <%= f.input :contact_number %>

        <div class="field">
          <label>Example Select</label>
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 4</option>
          </select>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t("views.back"), developers_path, class: "btn" %>
      <%= f.submit class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
