<%= simple_form_for(developer) do |f| %>
  <% if developer.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% developer.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :company_name %>
        <%= f.input :about %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <div class="input string optional">
          <label class="string optional">Head Office Address</label>
          <%= f.input :postal_name, label: false, placeholder: "Postal Number / Name" %>
          <%= f.input :building_name, label: false, placeholder: "Building Name" %>
          <%= f.input :road_name, label: false, placeholder: "Road Name" %>
        </div>
        <%= f.input :city %>
        <%= f.input :county %>
        <%= f.input :postcode %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :email %>
        <%= f.input :contact_number %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), developers_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
