<% breadcrumb :developers %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
    <%= t(".title") %>
  </h3>
  <div class="section-actions">
    <%= link_to new_developer_path, class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  </div>
</div>

<div class="record-list">
  <ul class="developers">
    <% @developers.each do |developer| %>
      <li class="record-list-item">
        <div class="record-list-item-actions">
          <%= edit_btn edit_developer_path(developer) %>
          <%= delete_btn developer %>
        </div>
        <div class="record-list-item-content">
           <%= link_to developer.company_name, edit_developer_path(developer), class: "developer-name" %>
           <span class="developer-updated-timestamp">
             <%= l developer.updated_at.to_date, format: :digits %>
           </span>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate @developers %>
</div>
