<% breadcrumb :developers %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %>
  </div>
</div>

<% if @developers.empty? %>
  <%= render 'components/empty_list', icon_name: "building", type: Developer, parent: nil %>
<% else %>
  <% if can_create(Developer, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_developer_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list developers">
    <thead>
      <tr>
        <th><%= sortable(Developer, :company_name, t(".developer")) %></th>
        <th><%= sortable(Developer, :updated_at) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @developers.each do |developer| %>
      <tr data-developer="<%= developer.id %>">
        <td><%= link_to developer.company_name, developer_path(developer), active_tab: :divisions, title: developer.company_name %></td>
        <td><%= l developer.updated_at.to_date, format: :digits %></td>
        <td class="actions">
          <%= link_to t(".divisions"), [developer, active_tab: :divisions], class: "btn" %>
          <%= link_to t(".developments"), [developer, active_tab: :developments], class: "btn" %>
          <%= edit_btn edit_developer_path(developer), element: developer %>
          <%= delete_btn developer, element: developer %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate @developers %>
  </div>
<% end %>
