<% breadcrumb :developer, @developer %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
    <%= @developer.company_name %><br>
    <span class="about">
      <%= simple_format @developer.about %>
    </span>
  </h3>

  <div class="section-data">
    <%= render 'address/address', address: @developer.address %>
    <%= render 'components/contacts', contact: @developer %>
    <%= edit_btn [:edit, @developer] %>
  </div>
</div>

<%= render 'components/tabs', tabs: developer_tabs(@developer, @active_tab), parent: @developer %>

<%= render_collection @collection, parent: @developer %>

<%= link_to t(".back"), developers_path, class: "btn" %>
