<h1 style="text-align: center; font-size: 20px">
  New Referral
</h1>
 <p style="font-weight: bold">
   Referrer details:
 </p>
<ul>
  <li>Referrer name: <%= @referrer_name %></li>
  <li>Referrer email: <%= @referrer_email %></li>
  <li>Referrer developer: <%= @referrer_developer %></li>
  <li>Referrer address: <%= @referrer_address %></li>
</ul>

<p style="font-weight: bold">
  Referee details:
</p>
<ul>
  <li>Referee name: <%= @referee_name %></li>
  <li>Referee email: <%= @referee_email %></li>
  <li>Referee phone: <%= @referee_phone %></li>
</ul>
