<% breadcrumb :room_finish_edit, @room %>

<div class="section-header add_finish">
  <div class="section-title">
    <%= t(".title") %><br>
  </div>
</div>

<%= simple_form_for([@room, @finish_room]) do |f| %>
  <% if @finish_room.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% @finish_room.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="finish">
    <div class="row-item third">
      <fieldset>
        <div class="finish_category ui-front select-container">
          <%= label_tag t(".category") %>
          <%= select_tag "finish_category", options_from_collection_for_select(@finish_categories, "id", "name"), prompt: t(".choose") %>
        </div>
        <div class="finish_type ui-front select-container">
          <%= label_tag t(".type") %>
          <%= select_tag "finish_type" %>
        </div>
        <div class="finish-manufacturer ui-front select-container">
          <%= label_tag Finish.human_attribute_name(:manufacturer) %>
          <%= select_tag "manufacturer" %>
        </div>
        <div class="finishes ui-front select-container">
          <%= label_tag Finish.model_name.human %>
          <%= select_tag "finishes", required: true %>
          <span class="match-errors"></span>
        </div>
      </fieldset>
    </div>
    <div class="search-finish">
      <div class="row-item third">
        <%= f.text_field :search_finish_text, class: "search-finish-field", autocomplete: "off", placeholder: t(".search") %>
        <%= link_to "", class: "btn search-finish-btn" do %>
        <i class="fa fa-search"></i>
        <% end %>
      </div>
    </div>
  </div>



  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@room.parent, @room, active_tab: "finishes"], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
