<div class="navbar">
  <label class="navbar-trigger-label" for="navbar-trigger">
    <%= fa_icon "bars" %>
  </label>
  <input id="navbar-trigger" type="checkbox">
  <nav class="navbar-menu">
    <% if current_user %>
      <%= navigation_link(admin_dashboard_path, "tachometer", t(".dashboard"), "navbar-link") %>
        <%= navigation_link(admin_notifications_path, "envelope", t(".notifications"), "navbar-link") %>
        <%= navigation_link(developers_path, "building", t(".developers"), "navbar-link") %>

        <%= navigation_link(documents_path, "file-pdf-o", t(".documents"), "navbar-link") %>
        <%= navigation_link(finishes_path, "shower", t(".finishes"), "navbar-link") %>
        <%= navigation_link(appliances_path, "coffee", t(".appliances"), "navbar-link") %>

        <%= navigation_link(contacts_path, "vcard", t(".contacts"), "navbar-link") %>

        <%= navigation_link(admin_users_path, "users", t(".users"), "navbar-link") %>
        <%= navigation_link(admin_user_path(current_user), "user", t(".profile"), "navbar-link") %>

        <div class="navbar-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-link" do %>
          <%= fa_icon "sign-out" %>
          <%= t(".log_out") %>
        <% end %>
      </div>
    <% end %>
  </nav>
</div>
