<nav class="navbar">
  <nav class="navbar-menu">
    <% if current_user %>

      <% unless current_user.concierge? %>
        <%= navigation_link(admin_dashboard_path, "tachometer", t(".dashboard"), "navbar-link") %>
      <% end %>

      <% unless current_user.cf_admin? || current_user.concierge? %>
        <%= navigation_link(my_admin_area_url(current_user), "building", t(".my_area", area: my_admin_area_title(current_user)), "navbar-link") %>
      <% end %>

      <% unless current_user.concierge? %>
        <%= navigation_link(admin_notifications_path, "envelope", t(".notifications"), "navbar-link") %>
        <%= navigation_link(admin_admin_notifications_path, "envelope", t(".admin_notifications"), "navbar-link") if current_user.cf_admin? %>
      <% end %>

      <% unless current_user.cf_admin? || current_user.concierge? %>
        <% if current_user.permission_level.conveyancing_enabled? %>
          <%= navigation_link(current_user.permission_level.wecomplete_sign_in, "gavel", t(".conveyancing"), "navbar-link", "_blank")%>
        <% end %>
      <% end %>

      <% unless current_user.site_admin? || current_user.concierge? %>
        <div class="navbar-item" >
          <%= link_to admin_snags_phases_path, class: "navbar-link" do %>
            <%= fa_icon "chain-broken" %>
            <%= t(".snagging") %>
            <% unless current_user.cf_admin? %>
              <% if user_unresolved_snag_count(current_user).positive? %>
                <sup class="unresolved-count"><%= user_unresolved_snag_count(current_user) %></sup>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if current_user.cf_admin? %>
        <%= navigation_link(developers_path, "building", t(".developers"), "navbar-link") %>
        <%= navigation_link(admin_how_tos_path, "question-circle", t(".howtos"), "navbar-link") %>
        <%= navigation_link(admin_settings_path, "wrench", t(".configuration"), "navbar-link") %>
        <%= navigation_link(admin_analytics_path, "bar-chart", t(".analytics"), "navbar-link") %>
        <% if Global.root&.id %>
          <%= navigation_link(global_timelines_path(Global.root&.id), "book", t(".narratives"), "navbar-link") %>
        <% end %>
      <% end %>

      <% if can? :read, Finish.new(developer_id: current_user.developer) %>
        <%= navigation_link(finishes_path, "shower", t(".finishes"), "navbar-link") %>
      <% end %>

      <% if can? :read, Appliance.new(developer_id: current_user.developer) %>
        <%= navigation_link(appliances_path, "plug", t(".appliances"), "navbar-link") %>
      <% end %>

      <% unless current_user.concierge? %>
        <%= navigation_link(admin_users_path, "users", t(".users"), "navbar-link") %>
        <% if current_user.cf_admin? %>
          <%= navigation_link(admin_residents_path, "users", t(".residents"), "navbar-link") %>
        <% end %>
      <% end %>

      <%= navigation_link(admin_user_path(current_user), "user", t(".profile"), "navbar-link") %>

      <% unless current_user.concierge? %>
        <%= navigation_link(admin_help_path, "question", t(".help"), "navbar-link") %>
      <% end %>

      <div class="navbar-item">
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-link" do %>
          <%= fa_icon "sign-out" %>
          <%= t(".log_out") %>
        <% end %>
      </div>
    <% end %>
  </nav>
</nav>
