<%= render "components/homeowner/brand_template", brand: @brand %>

<%= render "components/homeowner/sub_header", active_tab: "rooms", plot: @plot %>

<div class="homeowner-body">
  <div class="rooms">
    <% @plot.rooms.each do | room | %>
      <div class="sixth room brand-content brand-border">
        <%= fa_icon "bath" %><br>
        <span class="brand-text"><%= room %></span>
        <%= link_to t(".view"), "", class: "homeowner-btn alt" %>
      </div>
    <% end %>
  </div>
</div>
