<%= render "components/homeowner/brand_template", brand: @brand %>

<%= render "components/homeowner/sub_header", active_tab: "rooms", plot: @plot %>

<div class="homeowner-body">
  <div class="rooms">
    <% @plot.rooms.each do | room | %>
      <div class="room brand-content brand-border">
        <div class="fifth">
          <% if room.icon_name %>
            <div class="room-icon", style="background-image: url(<%= image_path(icon_file_name(room.icon_name)) %>)"></div>
          <% else %>
            <div class="room-icon">
              <%= fa_icon "image" %>
            </div>
          <% end %>
        </div>
        <div class="two-fifths">
          <span class="brand-text"><%= room %></span>
          <% room.finishes.each_with_index do | finish, index | %>
            <% if index.even? %>
              <%= render "homeowners/components/finish", finish: finish %>
            <% end %>
          <% end %>
          <% room.appliances.each_with_index do | appliance, index | %>
            <% if index.odd? %>
              <%= render "homeowners/components/appliance", appliance: appliance %>
            <% end %>
          <% end %>
        </div>

        <div class="second-column two-fifths">
          <span class="favourite">
            <%= fa_icon "heart" %>
          </span>
          <% room.finishes.each_with_index do | finish, index | %>
            <% if index.odd? %>
              <%= render "homeowners/components/finish", finish: finish %>
            <% end %>
          <% end %>
          <% room.appliances.each_with_index do | appliance, index | %>
            <% if index.even? %>
              <%= render "homeowners/components/appliance", appliance: appliance %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
