<% content_for :hero_text_primary do %>
  <%= render 'address/address', address: @plot %>
<% end %>

<%= render "components/homeowner/sub_header", active_tab: "rooms" %>

<div class="branded-body">
  <div class="rooms">
    <% @rooms.each do | room | %>
      <div class="room branded-content branded-border">
        <div class="fifth">
          <% if room.icon_name %>
            <div class="room-icon", style="background-image: url(<%= image_path(icon_file_name(room.icon_name)) %>)"></div>
          <% else %>
            <div class="room-icon">
              <%= fa_icon "image" %>
            </div>
          <% end %>
        </div>
        <div class="two-fifths">
          <span class="branded-text"><%= room %></span>
          <% room.finishes.each_with_index do | finish, index | %>
            <% if index.even? %>
              <%= render "homeowners/components/finish", finish: finish %>
            <% end %>
          <% end %>
          <% room.appliances.each_with_index do | appliance, index | %>
            <% if index.odd? %>
              <%= render "homeowners/components/appliance", appliance: appliance %>
            <% end %>
          <% end %>
        </div>

        <div class="second-column two-fifths">
          <% room.finishes.each_with_index do | finish, index | %>
            <% if index.odd? %>
              <%= render "homeowners/components/finish", finish: finish %>
            <% end %>
          <% end %>
          <% room.appliances.each_with_index do | appliance, index | %>
            <% if index.even? %>
              <%= render "homeowners/components/appliance", appliance: appliance %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

