<div class="hidden <%= plot_id %>">
  <%= simple_form_for plot, url: phase_lettings_path(phase), remote: true do |f| %>
    <% if plot.letter_type == 'admin' %>
      <div>
        <%= f.hidden_field :letter_type, value: :homeowner %>
        <%= f.hidden_field :letable_type, value: :planet_rent %>
      </div>
      <div>
        <h3><%= t(".are_you_sure", plot: plot) %></h3>
        <p><%= t(".confirm_admin_swap").html_safe %></p>
      </div>
    <% else %>
      <div>
        <%= f.hidden_field :letter_type, value: :admin %>
      </div>
      <div>
        <h3><%= t(".are_you_sure", plot: plot) %></h3>
        <p><%= t(".confirm_homeowner_swap") %></p>
        <p><%= t(".lettable_type").html_safe %></p>
        <%= f.input :letable_type, label: false, as: :select, collection: letable_types_collection, include_blank: false %>
      </div>
    <% end %>
  <% end %>
</div>
