<% if phase.developer.no_lettings_account? %>

<% company = phase.company_name.split(/\W+/, 2) %>
  <div class="row">
    <div class="row-item third">
      Lettings description
    </div>
    <div class="row-item two-thirds">
      <div class="management-description">
        <div class="self-managed">
          <h4>Self Managed.</h4>
          <p>
            Self managed explanation text to tell people what self managed means.
          </p>
          <div class="management-selection">
            <%= button_tag t(".self_managed_select"), class: "btn admin-confirm-letting-type",
              data: { title: t(".confirm_self", type: "Self Managed"),
                      cancel: t(".cancel_choice"),
                      cta: t(".confirm_cta"),
                      type: :self_managed,
                      letter: phase.developer,
                      firstname: company.first,
                      lastname: company.last,
                      management: "Self Managed" } %>
          </div>
        </div>
        <div class="management-service">
          <h4>Management Service.</h4>
          <p>
            Management text so people can also understand what the management service is.
          </p>
          <div class="management-selection">
            <%= button_tag t(".management_service_select"), class: "btn admin-confirm-letting-type",
              data: { title: t(".confirm_self", type: "Management Service"),
                      cancel: t(".cancel_choice"),
                      cta: t(".confirm_cta"),
                      type: :management_service,
                      letter: phase.developer,
                      firstname: company.first,
                      lastname: company.last,
                      management: "Management Service" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="admin-lettings-account-form hidden">
    <%= render 'components/admin/admin_lettings_account_form', :lettings_account => lettings_account, :phase => phase %>
  </div>

<% else %>

  <% admin_plots = phase.plots.where(letter_type: :admin) %>
  <table class="record-list plots">
    <thead>
      <tr>
        <th colspan="1"><%= sortable(Plot, :number, t(".name")) %></th>
        <th colspan="1"><%= sortable(Plot, :house_number, t(".house_number")) %></th>
        <th colspan="2"><%= sortable({Plot => Address}, :building_name, t(".building_name")) %></th>
        <th colspan="2"><%= sortable({Plot => Address}, :road_name, t(".road_name")) %></th>
        <th><%= sortable(Plot, :letable_type, t(".letable_type")) %></th>
        <th><%= sortable(Plot, :let, t(".set_up")) %></th>
        <th colspan="2"> </th>
      </tr>
    </thead>
    <tbody>
    <% admin_plots.each do |plot| %>
      <tr data-plot="<%= plot.id %>">
        <td colspan="1"><%= link_to_unless (cannot? :read, plot), plot, url_for(plot), title: plot %></td>
        <td colspan="1"><%= plot.house_number %></td>
        <td colspan="2"><%= plot.building_name %></td>
        <td colspan="2"><%= plot.road_name %></td>
        <td><%= t("activerecord.attributes.plot.letable_types.#{plot.letable_type}") %></td>
        <td><%= plot.let? ? "Yes" : "No" %></td>
        <td colspan=2 class="right">
          <% if plot.let %>
            <%= link_to t(".planet_rent"), "https://en.wikipedia.org/wiki/Cats_(musical)", class: "btn letting-btn" if plot.letable_type == ('planet_rent' || 'both') %>
            <%= link_to t(".busy_living"), "https://en.wikipedia.org/wiki/Cats_(musical)", class: "btn letting-btn" if plot.letable_type == ('busy_living' || 'both') %>
          <% else %>
            <%= button_tag t(".let_my_plot"), class: "btn letting-btn admin-let-plot",
              data: { cancel: t("edit.cancel"),
              cta: t(".submit"),
              title: t(".plot_details"),
              phase: phase.id,
              plot: plot.id,
              address1: [plot&.postal_number, plot&.building_name].compact.join(" "),
              address2: plot&.road_name || "",
              town: plot&.city || "",
              postcode: plot&.postcode || ""} %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="admin-let-plot-details-form hidden">
    <%= render 'components/admin/let_plot_details_form', :letting => letting, :phase => phase %>
  </div>
<% end %>



