<% breadcrumb :phase_lettings, @phase %>

<%= render @phase, active_plots_count: @active_plots_count, completed_plots_count: @completed_plots_count,
    expired_plots_count: @expired_plots_count, resident_count: @resident_count,
    activated_resident_count: @activated_resident_count %>

<%= render 'components/tabs', tabs: tabs_for(@phase, "lettings"), phase: @phase %>


<div class="admin-lettings">
  <% if current_user.cf_admin? %>
  <div class="row">
    <div class="row-item third">
      <h3><%= t(".rentals") %></h3>
        <%= simple_form_for(:phase_bulk_edit) do |f| %>
          <div class="ui-front select-container">
            <%= f.radio_button :letter_type, 'admin', checked: true, id: "lettings_admin_checked", class: "letting-radio" %> <span class="label"><%= t(".admin") %></span><br/>
            <%= f.radio_button :letter_type, 'homeowner', id: "lettings_homeowner_checked", class: "letting-radio" %> <span class="label"><%= t(".homeowner") %></span><br/>
            <%= f.radio_button :letter_type, 'unlettable', id: "lettings_not_lettable_checked", class: "letting-radio" %> <span class="label"><%= t(".not_lettable") %></span><br/>
          </div>

          <%= f.hidden_field :letable, value: true %>

          <div class="admin-letting-options">
            <%= f.input :letable_type, label: false, as: :select, collection: letable_types_collection, include_blank: false %>
          </div>

          <div class="homeowner-letting-options">
            <p class="default-type"><%= t(".homeowner_rental_type") %></p>
          </div>

          <div class="not-lettable-letting-options">
            <p class="default-type"><%= t(".remove_lettings") %></p>
          </div>

          <div class="add-plots">
            <%= f.hidden_field :phase_id, value: @phase.id %>
            <%= render "components/admin/plots_select", f: f, all_plots: true, phase_id: @phase.id %>
          </div>
          <!-- We need to add some validation checks to this form -->
          <!-- We need to check whether the plot has already been made letable and throw an error if it is already letable by a different type (admin/homeowner) -->
          <!-- If the plot is already letable by admin but we want to change the letting type (eg from planet rent to both) this should be allowed (but maybe a check or notification) -->
          <!-- We also need to check whether the plot has already has lettings set up and throw and error if it has (in case of make plots unletable -->
          <div class="submit">
            <%= f.submit t(".submit"), class: "btn-form-submit btn-primary letting-sub-check" %>
          </div>
        <% end %>
    </div>

    <div class="row-item third admin-lettings-list">
      <h3><%= t(".admin_rentals") %></h3>
      <% admin_plots = @phase.plots.where(letter_type: :admin) %>
      <table class="record-list plots">
        <thead>
        <tr>
          <th><%= sortable(Plot, :number, t(".name")) %></th>
          <th><%= sortable(Plot, :let, t(".set_up")) %></th>
          <th><%= sortable(Plot, :letable_type, t(".letable_type")) %></th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <% admin_plots.each do |plot| %>
          <tr data-plot="<%= plot.id %>">
            <td><%= link_to_unless (cannot? :read, plot), plot, url_for(plot), title: plot %></td>
            <td><%= plot.let? ? "Yes" : "No" %></td>
            <td><%= t("activerecord.attributes.plot.letable_types.#{plot.letable_type}") %></td>
            <td class="right">
              <% unless plot.let? %>
                <%= button_tag "", class: "btn change-letter-btn",
                  data: { title: t(".confirm_switch"),
                          cancel: t(".cancel"),
                          cta: t(".confirm_cta"),
                          plot: plot.id } do %>
                  <i class="fa fa-arrows-h"></i>
                <% end %>
                <%= button_tag "", class: "btn remove-letter-btn",
                  data: { title: t(".confirm_remove"),
                  cancel: t(".cancel"),
                  cta: t(".confirm_cta"),
                  plot: plot.id } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>
              <%= render "change_letter_type_form", plot_id: "change_letting_plot_#{plot.id}", plot: plot, phase: @phase %>
              <%= render "remove_letter_type_form", plot_id: "remove_letting_plot_#{plot.id}", plot: plot, phase: @phase %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="row-item third homeowner-lettings-list">
      <h3><%= t(".homeowner_rentals") %></h3>
      <% homeowner_plots = @phase.plots.where(letter_type: :homeowner) %>
      <table class="record-list plots">
        <thead>
        <tr>
          <th><%= sortable(Plot, :number, t(".name")) %></th>
          <th><%= sortable(Plot, :let, t(".set_up")) %></th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <% homeowner_plots.each do |plot| %>
          <tr data-plot="<%= plot.id %>">
            <td><%= link_to_unless (cannot? :read, plot), plot, url_for(plot), title: plot %></td>
            <td><%= plot.let? ? "Yes" : "No" %></td>
            <td class="right">
              <% unless plot.let? %>
                <%= button_tag "", class: "btn change-letter-btn",
                  data: { title: t(".confirm_switch"),
                          cancel: t(".cancel"),
                          cta: t(".confirm_cta"),
                          plot: plot.id } do %>
                  <i class="fa fa-arrows-h"></i>
                <% end %>
                <%= button_tag "", class: "btn remove-letter-btn",
                  data: { title: t(".confirm_remove"),
                  cancel: t(".cancel"),
                  cta: t(".confirm_cta"),
                  plot: plot.id } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>
              <%= render "change_letter_type_form", plot_id: "change_letting_plot_#{plot.id}", plot: plot, phase: @phase %>
              <%= render "remove_letter_type_form", plot_id: "remove_letting_plot_#{plot.id}", plot: plot, phase: @phase %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% else %>
    <%= render "client_admin_lettings", phase: @phase, letting: @letting, lettings_account: @lettings_account %>
  <% end %>
</div>


