<% def action?(option) action_name.to_sym == option; end %>

<div class="admin-timeline-edit">

  <div class="timeline-sidebar">
    <div class="timeline-header">
      <div class="title">
        <i id="icon<%=@timeline_task.stage.title%>"></i>
        <h2><%= t("homeowners.timeline.task.header") %></h2>
        <p><%= @timeline_task.stage.title %></p>
      </div>
    </div>

    <div class="list-stages">
      <ul class="vertical">
        <% @timeline.timeline_stages.each do |tstage| %>
          <li class="stage-title"><span class="branded-text"><%= tstage.stage.title %></span></li>
          <ul class="sub-stage">
            <% @timeline.ttasks&.each do |tt| %>
              <% if tt.stage.title == tstage.stage.title %>
                <% if action?(:new) && @insert_mode == :before && tt.id == @insertion_task.id %>
                <li class="sub-stage-container new">
                  <span class="stage"><%= t(".new") %></span>
                </li>
                <% end %>
                <li class="sub-stage-container branded-text <%= 'active' if @timeline_task.present? && @timeline_task == tt %>">
                  <span class="stage"><%= tt.title %></span>
                </li>
                <% if action?(:new) && @insert_mode == :after && tt.id == @insertion_task.id %>
                <li class="sub-stage-container new">
                  <span class="stage"><%= t(".new") %></span>
                </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="timeline-form">
    <%= simple_form_for ([timeline, timeline_task]) do |f| %>
      <div class="stages">
        <%= f.fields_for :stage do |s| %>
          <% if @disabled_stages %>
            <div class="disabled">
              <%= @timeline_task.stage.title %>
            </div>
          <% else %>
            <group class="inline-radio" >
              <%= s.collection_radio_buttons :option, @stages, :first, :last, checked: @timeline_task.stage.id %>
            </group>
          <% end %>
        <% end %>
      </div>

      <div class="text-content">
        <%= f.simple_fields_for timeline_task.task, :task do |t| %>
          <div class="question">
            <%= t.input :title, label: t(".heading") %>
            <%= t.input :question, label: t(".question") %>
            <%= t.input :answer, label: t(".answer") %>
          </div>
          <div class="buttons">
            <%= t.input :positive, label: t(".positive") %>
            <%= t.input :negative, label: t(".negative") %>
            <%= t.label :not_applicable, t(".not_applicable") %>
            <p><%= t(".not_applicable_text") %></p>
            <%= t.check_box :not_applicable %>
          </div>
          <div class="response">
            <%= t.input :response, label: t(".response"), as: :ckeditor%>
          </div>
        <% end %>
      </div>

      <div class="link-content">
        <div class="feature">
        <%= f.fields_for :feature do |ft| %>
          <%= ft.input :title, label: t(".feature.title"), input_html: {value: timeline_task.feature&.title} %>
          <%= ft.input :description, label: t(".feature.description"), input_html: {value: timeline_task.feature&.description} %>
          <%= ft.input :link, label: t(".feature.link"), input_html: {value: timeline_task.feature&.link} %>
        <% end %>
        </div>

        <div class="action">
        <%= f.fields_for :action do |ft| %>
          <%= ft.input :title, label: t(".action.title"), input_html: {value: timeline_task.action&.title} %>
          <%= ft.input :description, label: t(".action.description"), input_html: {value: timeline_task.action&.description} %>
          <%= ft.input :link, label: t(".feature.link"), input_html: {value: timeline_task.action&.link} %>
        </div>

        <div class="shortcuts">
          <%= f.fields_for :shortcuts do |s| %>
            <%= s.label :shortcuts, t(".shortcuts") %>
            <p><%= t(".shortcuts_text") %></p>
            <div class="shortcut-options">
            <% timeline.shortcuts.each do |ts| %>
              <%= s.check_box ts.shortcut_type.to_sym, checked: timeline_task&.timeline_task_shortcuts&.find_by(shortcut_type: ts.shortcut_type)&.live %>
              <%= s.label ts.shortcut_type.to_sym, t(".#{ts.shortcut_type}") %>
            <% end %>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>

      <% if action?(:new) %>
        <%= f.fields_for :donor do |d| %>
          <%= d.hidden_field :task_id, value: @insertion_task&.id %>
          <%= d.hidden_field :mode, value: @insert_mode %>
        <% end %>
      <% end %>

  </div>

    <div class="form-actions-footer-container">
      <div class="form-actions-footer">
        <% if action?(:new) %>
          <% if insert_task %>
            <%= link_to t(".cancel"), timeline_timeline_task_path(timeline, insert_task), class: "btn" %>
          <% else %>
            <%= link_to t(".cancel"), timeline_empty_path(@timeline), class: "btn" %>
          <% end %>
        <% else %>
          <%= link_to t(".cancel"), timeline_timeline_task_path , class: "btn" %>
        <% end %>
        <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
