<% breadcrumb :timeline, @timeline %>

<%= render "timeline", timeline: @timeline, editable: true %>

<% def action?(option) action_name.to_sym == option; end %>

<div class="admin-timeline">
  <% if action?(:empty) %>
    <div class="btn-group">
      <%= link_to "Add Task", new_timeline_timeline_task_path(insert: :first), class: "btn"%>
    </div>
  <% end %>

  <% unless action?(:empty) %>

    <div class="scrollmenu">
      <% @timeline.timeline_stages.each do |tstage| %>
        <div class="timeline-stage">
          <p class="stage-title"><%= tstage.stage.title %></p>
          <% @timeline.ttasks&.each do |tt| %>
            <% if tt.stage.title == tstage.stage.title %>
              <a class="stage <%= 'active' if @timeline_task.present? && @timeline_task == tt %>" href="<%= timeline_timeline_task_path @timeline, tt %>"><%= tt.title %></a>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if action?(:show) %>
      <div class="btn-group">
        <%= link_to "Edit", edit_timeline_timeline_task_path, class: "btn"%>
        <%= link_to "Insert Before", new_timeline_timeline_task_path(task: @timeline_task.id, insert: :before), class: "btn"%>
        <%= link_to "Insert After", new_timeline_timeline_task_path(task: @timeline_task.id, insert: :after), class: "btn"%>
        <%= link_to "Delete", timeline_timeline_task_path, method: :delete, class: "btn"%>
      </div>
    <% end %>

    <label for="stage">Stage</label>
    <p id="stage"><%= @timeline_task.stage.title %>

    <label for="title"><%= t(".heading") %></label>
    <p id="title"><%= @timeline_task.title %>
    <label for="question"><%= t(".question") %></label>
    <p id="question"><%= @timeline_task.question %>
    <label for="answer"><%= t(".answer") %></label>
    <p id="answer"><%= @timeline_task.answer %>
    <label for="response"><%= t(".response") %></label>
    <%= simple_format @timeline_task.response %>

    <label for="positive"><%= t(".positive") %></label>
    <p id="positive"><%= @timeline_task.positive %>
    <label for="negative"><%= t(".negative") %></label>
    <p id="negative"><%= @timeline_task.negative %>

    <!--
    <input type="checkbox" value=<%= t(".not_applicable") %>>
    -->
    <br>
    <input type="checkbox" id="not_applicable" name="not_applicable" <%= 'checked' if @timeline_task.not_applicable%> >
    <label for="not_applicable"><%= t(".not_applicable") %></label><br>

    <label for="feature_title"><%= t(".feature.title") %></label>
    <p id="feature_title"><%= @timeline_task.feature&.title %>
    <label for="feature_description"><%= t(".feature.description") %></label>
    <p id="feature_description"><%= @timeline_task.feature&.description %>
    <label for="feature_link"><%= t(".feature.link") %></label>
    <p id="feature_link"><%= @timeline_task.feature&.link %>

    <label for="action_title"><%= t(".action.title") %></label>
    <p id="action_title"><%= @timeline_task.action&.title %>
    <label for="action_description"><%= t(".action.description") %></label>
    <p id="action_description"><%= @timeline_task.action&.description %>
    <label for="action_link"><%= t(".action.link") %></label>
    <p id="action_link"><%= @timeline_task.action&.link %>

    <p>Circle Shortcuts</p>
    <% @timeline.shortcuts.each do |ts| %>
      <input type="checkbox" id="<%= ts.shortcut_type %>" name="<%= ts.shortcut_type %>" <%= 'checked' if @timeline_task.timeline_task_shortcuts.find_by(shortcut_type: ts.shortcut_type).live%> >
      <label for="<%= ts.shortcut_type %>"><%= ts.shortcut_type %></label><br>
    <% end %>

    <div class="form-actions-footer-container">
      <div class="form-actions-footer">
          <%= link_to t("back"), timelines_path, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>

