<% if collection.empty? %>
  <% if room.nil? %>
    <%= render 'components/empty_list', icon_name: "plug", type: Appliance, parent: room %>
  <% else %>
    <%= render 'components/empty_list', icon_name: "plug", type: ApplianceRoom, parent: room %>
  <% end %>
<% else %>
  <div class="section-actions">
    <% if room %>
      <% if can_create(ApplianceRoom, room) %>
        <%= link_to new_room_appliance_room_path(room, plot: plot), class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".create") %></span>
        <% end %>
      <% end %>
    <% else %>
      <% if can_create(Appliance, nil) %>
        <%= link_to new_appliance_path, class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".create") %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% include_added_by = collection.map { |a| a.added_by.present? }.include?(true) %>
  <% showing_icons = current_user&.cf_admin? ||
                    collection.map { |app| can?(:update, app) ||
                                           can?(:destroy, ApplianceRoom.appliance_room(room, app))}.include?(true) %>

  <table class="record-list">
    <thead>
      <tr>
        <th class="icon" style="text-align:center;"><%= t(".image") %></th>
        <th colspan="2"><%= sortable(Appliance, :id, t(".name")) %></th>
        <th colspan="2"><%= sortable({ Appliance => ApplianceCategory }, :name, t(".category")) %></th>
        <th colspan="2"><%= sortable(Appliance, :model_num) %></th>
        <th colspan="2"><%= sortable({ Appliance => ApplianceManufacturer }, :name, t(".manufacturer")) %></th>
        <th colspan="2"><%= sortable(Appliance, :updated_at, t(".last_edited")) %></th>
        <% if include_added_by %>
          <th colspan="2"><%= sortable(Finish, :added_by, t(".added_by")) %></th>
        <%end%>
        <% if showing_icons %>
          <th colspan="2">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |appliance| %>
        <tr <%= "class=view-only" if cannot?(:update, appliance) %> data-appliance="<%= appliance.id %>">
          <td style="text-align:center;"><%= image_tag appliance.primary_image.url if appliance.primary_image? %></td>
          <td colspan="2"><%= link_to appliance.full_name, appliance_path(appliance), title: appliance.full_name %></td>
          <td colspan="2"><%= appliance.appliance_category %></td>
          <td colspan="2"><%= appliance.model_num %></td>
          <td colspan="2"><%= appliance.appliance_manufacturer %></td>
          <td colspan="2"><%= l appliance.updated_at.to_date, format: :digits %></td>
           <% if include_added_by %>
            <td colspan="2"><%= appliance.added_by %></td>
          <%end%>
          <% if showing_icons %>
            <td colspan="2" class="actions">
              <%= edit_btn edit_appliance_path(appliance), element: appliance %>
              <% if room && can?(:destroy, ApplianceRoom.appliance_room(room, appliance)) %>
                <%= link_to remove_appliance_path(room: room, appliance: appliance, plot: plot), class: "btn remove" do %>
                  <%= fa_icon "trash-o" %>
                <% end %>
              <% else %>
                <%= delete_btn appliance, element: appliance %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
