<%= simple_form_for(appliance) do |f| %>
  <% if appliance.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% appliance.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row appliance">
    <div class="row-item third">
      <div class="image-container">
        <%= f.input :primary_image, as: :image_preview %>
      </div>
      <%= f.input :name, required: false %>
      <%= f.input :model_num %>
    </div>
    <div class="row-item third">
      <div class="appliance_category ui-front select-container">
        <%= f.association :appliance_category %>
      </div>
      <div class="manufacturer ui-front select-container">
        <%= f.association :manufacturer, collection: Manufacturer.for_appliances.order(:name) %>
      </div>
      <div class="warranty ui-front">
      <%= f.label t(".warranty_length") %>
      <%= f.input :warranty_length, as: :select, collection: warranty_collection, include_blank: true, label: false %>
      </div>
      <div class="e_rating ui-front">
      <%= f.label t(".e_rating") %>
      <%= f.input :e_rating, as: :select, collection: rating_collection, include_blank: true, label: false %>
      </div>
      <%= f.label t(".description") %>
      <%= f.text_area :description %>
    </div>
    <div class="row-item third">
      <div class="manual-container">
        <%= f.label t(".manual") %>
        <% if appliance.manual? %>
          <div class="appliance-manual">
            <span class="manual-filename readonly"><%= appliance.manual.file.filename %></span>
            <%= link_to appliance.manual.url, class: "btn manual-download",  target: "_blank" do %>
              <%= icon "cloud-download" %>
            <% end %>
            <label class="btn remove-btn fa fa-trash" for="appliance_remove_manual"></label>
            <%= f.check_box :remove_manual, label: false, class: "hidden remove-document" %>
          </div>
        <% end %>
        <%= f.file_field :manual, label: false, class: "file-upload" %>
        <%= label_tag('appliance_manual', t("choose"), class: "choose-file") %>
      </div>
      <div class="guide-container">
        <%= f.label t(".guide") %>
        <% if appliance.guide? %>
          <div class="appliance-guide">
            <span class="guide-filename readonly"><%= appliance.guide.file.filename %></span>
            <%= link_to appliance.guide.url, class: "btn guide-download",  target: "_blank" do %>
                <%= icon "cloud-download" %>
            <% end %>
            <label class="btn remove-btn fa fa-trash" for="appliance_remove_guide"></label>
            <%= f.check_box :remove_guide, label: false, class: "hidden remove-document" %>
          </div>
        <% end %>
        <%= f.file_field :guide, label: false, class: "file-upload" %>
        <%= label_tag('appliance_guide', t("choose"), class: "choose-file") %>
      </div>
      <%= f.input :secondary_image, as: :image_preview %>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), appliances_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

