<%= simple_form_for(appliance) do |f| %>
  <% if appliance.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% appliance.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% f.object = @source_appliance || f.object %>

  <div class="row appliance">
    <p><%= t(defined?(description) ? description : ".appliance_description") %></p>
    <div class="row-item third">
      <fieldset>
        <%= f.hidden_field :copy_of, value: @source_appliance&.id %>
        <%= f.input :model_num, required: true %>
        <div class="name">
          <%= f.label t(".description") %>
          <%= f.text_area :description %>
        </div>
        <div class="appliance_category ui-front select-container">
          <%= f.association :appliance_category, label: t(".category"), collection: ApplianceCategory.accessible_by(current_ability).order(:name) %>
        </div>
        <div class="manufacturer ui-front select-container">
          <%= f.association :appliance_manufacturer, label: t(".manufacturer"), collection: ApplianceManufacturer.accessible_by(current_ability).order(:name) %>
        </div>
        <div class="warranty ui-front">
        <%= f.input :warranty_length, label: t(".warranty_length"), as: :select, collection: warranty_collection, include_blank: true %>
        </div>
        <div class="e_rating ui-front">
        <%= f.input :e_rating, label: t(".e_rating"), as: :select, collection: rating_collection, include_blank: true %>
        </div>
      </fieldset>
    </div>
    <div class="row-item third">
      <div class="image-container">
        <%= f.input :primary_image, label: t(".primary_image"), as: :image_preview %>
      </div>
      <div class="image-container">
        <%= f.input :secondary_image, label: t(".secondary_image"), as: :image_preview %>
      </div>
      <div class="manual-container <%= 'appliance-edit' if appliance.persisted? %>">
        <%= f.label :manual, t(".manual"), class: "edit-label" %>
        <% if appliance.manual&.file&.filename %>
          <div class="appliance-manual">
            <span class="manual-filename readonly"><%= appliance.manual.file.filename %></span>
          </div>
        <% end %>
        <%= f.file_field :manual, as: :image_preview, input_html: { preview_version: :thumbnail }, class: "file-upload" %>
        <%= label_tag('appliance_manual', t("choose"), class: "choose-file") %>
        <% if appliance.manual&.url %>
          <span class="appliance-actions">
            <%= link_to (@source_appliance ? @source_appliance.manual.url : appliance.manual.url), class: "btn manual-download",  target: "_blank" do %>
              <%= icon "search-plus" %>
            <% end %>
            <label class="btn remove-btn fa fa-trash-o" for="appliance_remove_manual"></label>
            <%= f.check_box :remove_manual, class: "hidden remove-document" %>
          </span>
        <% end %>
      </div>
      <div class="guide-container <%= 'appliance-edit' if appliance.persisted? %>">
        <%= f.label :guide, t(".guide"), class: "edit-label" %>
        <% if appliance.guide&.file&.filename %>
          <div class="appliance-guide">
            <span class="guide-filename readonly"><%= appliance.guide.file.filename %></span>
          </div>
        <% end %>
        <%= f.file_field :guide, as: :image_preview, input_html: { preview_version: :thumbnail }, class: "file-upload" %>
        <%= label_tag('appliance_guide', t("choose"), class: "choose-file") %>
        <% if appliance.guide&.url %>
          <span class="appliance-actions">
            <%= link_to (@source_appliance ? @source_appliance.guide.url : appliance.guide.url), class: "btn guide-download",  target: "_blank" do %>
              <%= icon "search-plus" %>
            <% end %>
            <label class="btn remove-btn fa fa-trash-o" for="appliance_remove_guide"></label>
            <%= f.check_box :remove_guide, label: false, class: "hidden remove-document" %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), appliances_path, class: "btn" %>
      <% if action_name.to_sym == :edit %>
        <%= submit_confirm_btn title: t(".submit"),
              text: t(".update", appliance: appliance) %>
      <% else %>
        <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

