<% breadcrumb :appliance, @appliance %>

<div class="section-header">
  <div class="section-title">
    <i class="fa fa-coffee"></i>
    <%= @appliance.full_name %><br>
  </div>
  <div class="section-data">
    <%= edit_btn [:edit, @appliance], element: @appliance %>
  </div>
</div>

<div class="row appliance">
  <div class="row-item third">
    <% if @appliance.primary_image? %>
      <div class="appliance_primary_image">
        <%= image_tag(@appliance.primary_image.url) if @appliance.primary_image? %>
      </div>
    <% end %>
    <div class="category">
      <%= label_tag(t("appliances.form.category")) %>
      <span><%= @appliance.appliance_category %></span>
    </div>
    <div class="manufacturer">
      <%= label_tag(:manufacturer) %>
      <span><%= @appliance&.appliance_manufacturer %></span>
    </div>
    <div class="model">
      <%= label_tag(t("appliances.form.model_num")) %>
      <span><%= @appliance.model_num %></span>
    </div>
  </div>
  <div class="row-item third">
    <div class="warranty">
      <%= label_tag(t("appliances.form.warranty_length")) %>
      <span><%= t("activerecord.attributes.appliance.warranty_length.#{@appliance.warranty_length}") if @appliance.warranty_length %></span>
    </div>
    <div class="e_rating">
      <%= label_tag(t("appliances.form.e_rating")) %>
      <span><%= t("activerecord.attributes.appliance.e_rating.#{@appliance.e_rating}") if @appliance.e_rating %></span>
    </div>
    <div class="description">
      <%= label_tag(:description) %>
      <span><%= @appliance.description %></span>
      <br>
    </div>
  </div>
  <div class="row-item third">
    <div class="manual">
      <%= label_tag :manual %>
      <% if @appliance.manual && @appliance.manual.file %>
        <span class="manual-filename readonly"><%= @appliance.manual.file.filename %></span>
        <%= link_to @appliance.manual.url, class: "btn right",  target: "_blank" do %>
          <%= icon "cloud-download" %>
        <% end %>
      <% end %>
    </div>

    <div class="guide">
      <%= label_tag :guide %>
      <% if @appliance&.guide&.file %>
        <span class="guide-filename readonly"><%= @appliance.guide.file.filename %></span>
        <%= link_to @appliance.guide.url, class: "btn right",  target: "_blank" do %>
          <%= icon "cloud-download" %>
        <% end %>
      <% end %>
    </div>

    <div class="appliance_secondary_image">
      <%= label_tag :appliance_secondary_image %>
      <% if @appliance.secondary_image? %>
        <span><%= image_tag(@appliance.secondary_image.url)  %></span>
      <% end %>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), appliances_path, class: "btn" %>
  </div>
</div>
