<% if any_phases?(parent, [:free]) %>
  <%= render "components/admin/popup", title: t(".free_title"), preference: :show_faq_restriction_dialog, help: [t(".free_help", url: ENV["PACKAGE_URL"])], type: :warn %>
<% elsif any_phases?(parent, [:essentials]) %>
  <%= render "components/admin/popup", title: t(".essentials_title"), preference: :show_faq_restriction_dialog, help: [t(".essentials_help", url: ENV["PACKAGE_URL"])], type: :warn %>
<% end %>

<% if collection.empty? %>
  <div class="section-actions">
     <%= render 'components/admin/conveyancing', parent: parent %>
  </div>
  <div class="empty lower">
    <div><%= fa_icon "question-circle" %></div>
    <div><span><%= t(".empty_list", type: type.name) %></span></div>
    <div>
      <% if can_create(Faq, parent) %>
        <% unless parent.expired? && !(current_user.cf_admin?) %>
          <%= link_to t(".add", type: type.name), [:new, parent, Faq.name.underscore.to_sym, active_tab: type.id], class: "btn btn-primary" %>
          <% if current_user.cf_admin? %>
            <%= link_to t(".import", type: type.name), [parent, :sync_faqs, active_tab: type.id], class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% else %>
        <span><%= t("components.empty_list.request_add", type_names: type.name) %></span>
      <% end%>
    </div>
  </div>
<% else %>
  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: parent %>

    <% if can_create(Faq, parent) %>
      <% unless parent.expired? && !(current_user.cf_admin?) %>
        <%= link_to [:new, parent, :faq, active_tab: type.id], class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".add", type: type.name) %></span>
        <% end %>
        <% if current_user.cf_admin? %>
          <%= link_to [parent, :sync_faqs, active_tab: type.id], class: "btn btn-primary" do %>
            <i class="fa fa-plus"></i>
            <span class="btn-label"><%= t(".import", type: type.name) %></span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <table class="record-list faqs">
    <thead>
      <tr>
        <th colspan="3"><%= sortable(Faq, :question, t(".faq", type: type.name)) %></th>
        <th><%= sortable({ DefaultFaq => FaqCategory }, :name, t(".faq_category")) %></th>
        <% if any_phases?(parent, [:free, :essentials]) %>
          <th><%= sortable(DefaultFaq, :faq_package, t("faq_package.title")) %></th>
        <% end %>
        <th><%= sortable(Faq, :updated_at, t(".last_edited")) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |faq| %>
      <tr data-faq="<%= faq.id %>">
        <td colspan="3"><%= link_to faq.question.html_safe, faq_path(faq), title: faq.question.html_safe %></td>
        <td><%= content_tag(:span, faq.category_name) %></td>
        <% if any_phases?(parent, [:free, :essentials]) %>
          <td><%= t("faq_package.#{faq.faq_package}") %>
        <% end %>
        <td><%= l faq.updated_at.to_date, format: :digits %></td>
        <td class="actions">
          <%= (edit_btn edit_faq_path(faq), element: faq) unless parent.expired? && !(current_user.cf_admin?) %>
          <%= (delete_btn faq, path: faq_path(faq), text: t(".confirm_delete", type: type.name), element: faq) unless parent.expired? && !(current_user.cf_admin?) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
