<div class="section-actions">
  <% if can? :create, new_faq %>
    <%= link_to [:new, parent, :faq], class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  <% end %>
</div>

<table class="record-list">
  <thead>
    <tr>
      <th><%= sortable(Faq, :question) %></th>
      <th><%= sortable(Faq, :updated_at) %></th>
      <th><%= sortable(Faq, :category) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |faq| %>
    <tr data-faq="<%= faq.id %>">
      <td><%= link_to faq, faq_path(faq), title: faq %></td>
      <td><%= l faq.updated_at.to_date, format: :digits %></td>
      <td><%= content_tag(:span, t_enum(Faq, :category, faq.category)) %></td>
      <td class="actions">
        <%= edit_btn edit_faq_path(faq), element: faq %>
        <%= delete_btn faq, path: faq_path(faq), element: faq %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
