<% breadcrumb :faq, @faq %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title", parent: @faq) %><br>
  </div>
  <div class="section-data">
    <%= (edit_btn [:edit, @faq], element: @faq) unless @parent.expired? && !(current_user.cf_admin?) %>
  </div>
</div>

<div class="row faq">
  <div class="row-item two-thirds">
    <%= label_tag(Faq.human_attribute_name(:answer)) %>
    <%= raw @faq.answer %>
  </div>
  <div class="row-item third">
    <%= label_tag t(".type") %>
    <span><%= @faq.type_name %></span>
    <%= label_tag t(".category") %>
    <span><%= @faq.category_name %></span>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :faqs, active_tab: @faq.faq_type.id], class: "btn" %>
  </div>
</div>
