<% breadcrumb :faq, @faq %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-question-circle"></i>
    <%= t(".title", parent: @parent) %><br>
  </h3>
  <div class="section-data">
    <%= edit_btn [:edit, @faq], element: @faq %>
  </div>
</div>

<div class="row faq">
  <div class="row-item two-thirds">
    <%= label_tag(Faq.human_attribute_name(:question)) %>
    <%= @faq.question %>
    <%= label_tag(Faq.human_attribute_name(:answer)) %>
    <%= raw @faq.answer %>
  </div>
  <div class="row-item third">
    <%= label_tag(Faq.human_attribute_name(:category)) %>
    <%= t_enum(Faq, :category, @faq.category) %>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :faqs], class: "btn" %>
  </div>
</div>
