<% breadcrumb :faqs_sync, @parent, @faq_type %>

<div class="section-header">
  <div class="section-title sync-faqs">
    <%= t(".title", type: @faq_type.name, parent: @parent) %>
  </div>
</div>

<div class="select-buttons">
  <%= button_tag t(".select", type: @faq_type.name), class: "select-all btn" %>
  <%= button_tag t(".deselect", type: @faq_type.name), class: "deselect-all btn" %>
</div>

<%= simple_form_for SyncFaq.new, remote: true, url: sync_faqs_path do |f| %>
  <%= f.hidden_field :parent, value: @parent %>
  <div class="faq-sync">
    <div class="faq-collection row">
      <% @grouped_faqs.each do |cat, faqs| %>
        <div class="faq-category-header">
          <h3><%= cat %></h3>
          <%= button_tag "Select All", type: "button", class: "category-select-all btn", data: { category: cat.downcase.delete(' ') } %>
          <%= button_tag "Deselect All", type: "button", class: "category-deselect-all btn", data: { category: cat.downcase.delete(' ') } %>
        </div>
        <%= f.input :faqs, as: :check_boxes, collection: faqs, label: false, item_wrapper_class: "faq_#{cat.downcase.delete(' ')} faq-selector" %>
      <br/>
      <% end %>
    </div>
  </div>
  <%= f.submit "Submit", class: "btn-form-submit btn-primary" %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@parent, :faqs, active_tab: @faq_type.id], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
