<% breadcrumb :faqs_sync, @parent, @faq_type %>

<div class="section-header">
  <div class="section-title sync-faqs">
    <%= t(".title", type: @faq_type.name, parent: @parent) %>
  </div>
</div>

<div class="faq-key">
  <div class="key no-match"><span><%= t(".no_match", parent: @parent) %></span></div>
  <div class="key exact-match"><span><%= t(".exact_match", parent: @parent) %></span></div>
  <div class="key answer-legacy"><span><%= t(".answer_legacy", parent: @parent).html_safe %></span></div>
  <div class="key answer-updated"><span><%= t(".answer_updated", parent: @parent).html_safe %></span></div>
</div>

<h3 class="select-faqs">Select FAQs</h3>

<div class="select-buttons">
  <%= button_tag t(".select", type: @faq_type.name), class: "select-all btn" %>
  <%= button_tag t(".deselect", type: @faq_type.name), class: "deselect-all btn" %>
</div>

<%= simple_form_for SyncFaq.new, remote: true, url: sync_faqs_path do |f| %>
  <%= f.hidden_field :parent_id, value: @parent.id %>
  <%= f.hidden_field :parent_type, value: @parent.class.name %>

  <div class="faq-sync">
    <div class="faq-collection row">
      <% @grouped_faqs.each do |cat, faqs| %>
        <div class="faq-category-header">
          <h3><%= cat %></h3>
          <%= button_tag "Select All", type: "button", class: "category-select-all btn", data: { category: cat.downcase.delete(' ') } %>
          <%= button_tag "Deselect All", type: "button", class: "category-deselect-all btn", data: { category: cat.downcase.delete(' ') } %>
        </div>
        <%= f.collection_check_boxes(:faqs, faqs, :id, :question) do |faq| %>
          <% gfaq = faq.object %>
          <div class="faq_<%=cat.downcase.delete(' ')%> faq-selector <%= sync_faq_status(faq.object, @parent_faqs) %>">
            <!-- display the check box and the faq question -->
            <%= faq.check_box(disabled: sync_faq_status(gfaq, @parent_faqs) == :exact_match) %>
            <span class="faq-question"><%= raw faq.text %></span>

            <!-- add the compare section for matching faqs (title) with different answers -->
            <!-- relevant buttons/divs are hidden/shown using css and js (admin/sync_faqs.js) -->
            <% if (pfaq = parent_faq(gfaq, @parent_faqs)) %>
              <% unless faq_match_type(gfaq, pfaq) == :exact_match %>
                <span class="compare">
                  <%= button_tag t(".compare"), class: "compare-btn compare_#{gfaq.id}", data: { id: gfaq.id } %>
                  <%= button_tag t(".hide"), class: "hide-btn hide_#{gfaq.id}", data: { id: gfaq.id } %>
                </span>
                <div class="faq-comparison faq_compare_<%= faq.object.id %>">
                  <div class="pfaq-answer">
                    <h3 class="answer"><%= t(".parent_answer", parent: @parent) %></h3>
                    <div class="faq-answer"><%= raw pfaq.answer %></div>
                  </div>
                  <div class="gfaq-answer">
                    <h3 class="answer"><%= t(".global_answer") %></h3>
                    <div class="faq-answer"><%= raw gfaq.answer %></div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <br/>
      <% end %>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn-form-submit btn-primary" %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@parent, :faqs, active_tab: @faq_type.id], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary sync-faqs-btn" %>
    </div>
  </div>
<% end %>
