<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to plots_path, class: "active" do %>
    <li class="navbar-item-secondary">
      <%= t(".title") %>
    </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="intro-video-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body outer-container">
  <div class="plots">
    <% @plots.each do |plot| %>
      <%= render "homeowners/components/plot", plot: plot %>
    <% end %>
  </div>
</div>