<span>
  <% if address %>
    <%= address.postal_name %>
    <%= address.building_name %>
    <%= address.road_name %>
    <%= address.city %>
    <%= address.county %>
    <%= address.postcode %>
  <% end %>
</span>
<br>
