<span>
  <% if address %>
    <%= address.prefix if address.prefix %>
    <%= address.postal_number %>
    <%= address.building_name %>
    <%= address.road_name %>
    <%= address.locality %>
    <%= address.city %>
    <%= address.county %>
    <%= address.postcode %>
  <% end %>
</span>
<br>
