<table class="record-list">
  <thead>
    <tr>
      <th><%= sortable(User, :email) %></th>
      <th><%= sortable(User, :updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |user| %>
    <tr>
      <td><%= link_to user, admin_user_path(user) %></td>
      <td><%= l user.updated_at.to_date, format: :digits %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
