<% if !defined?(@skip_menus) %>
  <%= render "components/homeowner/hero" %>
  <%= render "components/homeowner/sub_menu", active_tab: "material", plot: @plot %>
<% end %>

<% material_info_centred = "material-info-centred" %>
<% material_info_value = "material-info-value" %>

<div class="branded-body">
  <div class="material_info">

    <div class="container">
      <% if @plot.address %>
        <div class="info">
          <div class="label">
            <div class="branded-text">
              <h5 class="material-info-lable"><%= p_label(:address) %></h5>
            </div>
          </div>
        </div>

        <div class="info">
          <div class="values" class="branded-text">
            <div class="value">
              <div>
                <span class="material-info-centred"><%= @plot.prefix %> <%= @plot.postal_number %></span>
                <% if @plot.building_name %>
                  <span class="material-info-centred"><%= @plot.building_name %></span>
                <% end %>
                <% if @plot.road_name %>
                  <span class="material-info-centred"><%= @plot.road_name %></span>
                <% end %>
                <% if @plot.locality %>
                  <span class="material-info-centred"><%= @plot.locality %></span>
                <% elsif @plot.city %>
                  <span class="material-info-centred"><%= @plot.city %></span>
                <% end %>
                <% if @plot.postcode %>
                  <span class="material-info-centred"><%= @plot.postcode %></span>
                <% end %>
              </div>
            </div>
          </div>          
        </div>
      <% end %>

      <% if @plot.uprn? %>
        <div class="info">
          <div class="label">
            <div class="branded-text">
              <h5 class="material-info-lable"><%= p_label(:uprn) %></h5>
            </div>
          </div>
        </div>

        <div class="info">
          <div class="values" class="branded-text">
            <div class="value">
              <div>
                <span class="material-info-value"><%= @plot.uprn %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <div class="info">
      <div class="label">
        <div class="branded-text">
          <h5 class="material-info-lable"><%= p_label(:selling_price) %></h5>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="values" class="branded-text">
        <div class="value">
          <div>
            <% if @material_info.selling_price&.nonzero? %>
              <span class="material-info-value">£<%= number_with_delimiter(@material_info.selling_price) %></span>
            <% else %>
              <span class="material-info-value"><%= p_label(:selling_price_placeholder) %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @material_info.reservation_fee&.nonzero? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:reservation_fee) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value">£<%= number_with_delimiter(@material_info.reservation_fee) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="info">
      <div class="label">
        <div class="branded-text">
          <h5 class="material-info-lable"><%= p_label(:tenure) %></h5>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="values" class="branded-text">
        <div class="value">
          <div>
            <% leased = show_lease_length(@material_info.tenure, @material_info.lease_length) %>
            <% _class = leased ? material_info_centred : material_info_value %>
            <span class=<%="#{_class}"%>><%= t_tenure(@material_info.tenure) %></span>
            <% if leased %>
              <span class=<%="#{_class}"%>><%= @material_info.lease_length %> year lease</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @material_info.service_charges&.nonzero? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:service_charges) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value">£<%= number_with_delimiter(@material_info.service_charges) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="info">
      <div class="label">
        <div class="branded-text">
          <h5 class="material-info-lable"><%= p_label(:council_tax_band) %></h5>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="values" class="branded-text">
        <div class="value">
          <div>
            <span class="material-info-value"><%= t_council_tax_band(@material_info.council_tax_band) %></span>
          </div>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="label">
        <div class="branded-text">
          <h5 class="material-info-lable"><%= p_label(:property_type) %></h5>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="values" class="branded-text">
        <div class="value">
          <div>
            <% floor = show_floor(@material_info.property_type) %>
            <% _class = floor ? material_info_centred : material_info_value %>

            <span class=<%="#{_class}"%>><%= t_property_type(@material_info.property_type) %></span>
            <% if floor %>
              <span class=<%="#{_class}"%>><%= t_floor(@material_info.floor) %> Floor</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @material_info.floorspace&.nonzero? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:floorspace) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= number_with_delimiter(@material_info.floorspace) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @plot.completion_date %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:estimated_legal_completion_date) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= @plot.completion_date %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="info">
      <div class="label">
        <div class="branded-text">
          <h5 class="material-info-lable"><%= p_label(:epc_rating) %></h5>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="values" class="branded-text">
        <div class="value">
          <div>
            <span class="material-info-value"><%= t_epc_rating(@material_info.epc_rating) %></span>
          </div>
        </div>
      </div>
    </div>

    <% unless @material_info.property_construction_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:property_construction) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= t_property_construction(@material_info.property_construction) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% bathrooms = num_plot_rooms(@plot, %i[bathroom ensuite]) %>
    <% bedrooms = num_plot_rooms(@plot, %i[bedroom]) %>

    <% rooms = bathrooms.positive? && bedrooms.positive? %>
    <% _class = rooms ? material_info_centred : material_info_value %>

    <% if bathrooms.positive? || bedrooms.positive? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:specification) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">

            <% if bathrooms.positive? %>
              <span class=<%="#{_class}"%>><%= bathrooms %> <%= 'Bathroom'.pluralize(bathrooms) %></span>
            <% end %>
            <% if bedrooms.positive? %>
              <span class=<%="#{_class}"%>><%= bedrooms %> <%= 'Bedroom'.pluralize(bedrooms) %> </span>
            <% end %>

            <% if floor_plan %>
              <div class="guide">
                <%= link_to floor_plan.file.url, class: "branded-btn-inverted", target: "_blank" do %>
                  <%= icon "cloud-download" %>
                  Floor Plan
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @material_info.electricity_supply_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:electricity_supply) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <% if @material_info.electricity_supply == 'electricty_other' %>
                <span class="material-info-value"><%= @material_info.electricity_supply_other %></span>
              <% else %>
                <span class="material-info-value"><%= t_electricity_supply(@material_info.electricity_supply) %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @material_info.water_supply_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:water_supply) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= t_water_supply(@material_info.water_supply) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @material_info.sewerage_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:sewerage) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <% if @material_info.sewerage == 'sewerage_other' %>
                <span class="material-info-value"><%= @material_info.sewerage_other %></span>
              <% else %>
                <span class="material-info-value"><%= t_sewerage(@material_info.sewerage) %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if !@material_info.heating_fuels&.empty? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:heating_fuels) %></h5>
          </div>
        </div>
      </div>

      <% _class = @material_info.heating_fuels.count > 1 ? material_info_centred : material_info_value %>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <% @material_info.heating_fuels.each do |fuel| %>
                <span class=<%="#{_class}"%>><%= fuel.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if !@material_info.heating_sources&.empty? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:heating_sources) %></h5>
          </div>
        </div>
      </div>

      <% _class = @material_info.heating_sources.count > 1 ? material_info_centred : material_info_value %>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <% @material_info.heating_sources.each do |source| %>
                <span class=<%="#{_class}"%>><%= source.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if !@material_info.heating_outputs&.empty? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:heating_outputs) %></h5>
          </div>
        </div>
      </div>

      <% _class = @material_info.heating_outputs.count > 1 ? material_info_centred : material_info_value %>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <% @material_info.heating_outputs.each do |output| %>
                <span class=<%="#{_class}"%>><%= output.name %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @material_info.broadband_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:broadband) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= t_broadband(@material_info.broadband) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @material_info.mobile_signal_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:mobile_signal) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <% if @material_info.mobile_signal == 'restricted' %>
                <span class="material-info-value"><%= @material_info.mobile_signal_restrictions %></span>
              <% else %>
                <span class="material-info-value"><%= t_mobile_signal(@material_info.mobile_signal) %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% unless @material_info.parking_unassigned? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:parking) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= t_parking(@material_info.parking) %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @material_info.warranty_num? %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:warranty_num) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= @material_info.warranty_num %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @material_info.mprn %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:mprn) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= @material_info.mprn %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @material_info.mpan %>
      <div class="info">
        <div class="label">
          <div class="branded-text">
            <h5 class="material-info-lable"><%= p_label(:mpan) %></h5>
          </div>
        </div>
      </div>

      <div class="info">
        <div class="values" class="branded-text">
          <div class="value">
            <div>
              <span class="material-info-value"><%= @material_info.mpan %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% %w[building_safety restrictions rights_and_easements flood_risk planning_permission_or_proposals accessibility coalfield_or_mining_areas other_considerations].each do |attr| %>
      <% if !@material_info.send(attr)&.empty? %>
        <div class="info">
          <div class="label">
            <div class="branded-text">
              <h5 class="material-info-lable"><%= p_label(attr.to_sym) %></h5>
            </div>
          </div>
        </div>

        <div class="info">
          <div class="values" class="material-info-value">
            <%= raw @material_info.send(attr) %>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
