<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "industry", type: FinishManufacturer, parent: nil %>
<% else %>
  <% if can_create(FinishManufacturer, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_finish_manufacturer_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list">
    <thead>
      <tr>
        <th colspan="2"><%= sortable(FinishManufacturer, :name, t(".name")) %></th>
        <th><%= sortable(FinishManufacturer, :updated_at, t(".last_edited")) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |finish_manufacturer| %>
        <tr data-finish-manufacturer="<%= finish_manufacturer.id %>">
          <td colspan="2"><%= link_to finish_manufacturer.name, finish_manufacturer_path(finish_manufacturer), title: finish_manufacturer.name %></td>
          <td><%= l finish_manufacturer.updated_at.to_date, format: :digits %></td>
          <td class="actions">
            <%= edit_btn edit_finish_manufacturer_path(finish_manufacturer), element: finish_manufacturer %>
            <%= delete_btn finish_manufacturer, path: url_for(finish_manufacturer), element: finish_manufacturer %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render "components/page_size" %>
    <%= paginate collection %>
  </div>
<% end %>
