<div class="section-header">
  <div class="section-title">
    <div><%= finish_manufacturer.name %></div><br/>
  </div>
  <div class="section-data">
    <span class="right">
      <%= edit_btn edit_finish_manufacturer_path, element: finish_manufacturer %>
    </span>
  </div>
</div>

<div class="row finish_category">
  <div class="row-item half">
    <h5><%= t(".finish_categories") %></h5>
    <% finish_manufacturer.finish_categories.uniq.each do | category | %>
      <span><%= category %></span><br>
    <% end %>
  </div>
</div>

<div class="row finish_type">
  <div class="row-item half">
    <h5><%= t(".finish_types") %></h5>
    <% finish_manufacturer.finish_types.each do | type | %>
      <span><%= type %></span><br>
    <% end %>
  </div>
</div>
