<%= simple_form_for finish_manufacturer do |f| %>
  <% if finish_manufacturer.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% finish_manufacturer.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row finish_manufacturer">
    <% f.object = @source_finish_manufacturer || f.object %>
    <p><%= t(".description").html_safe %></p>
    <div class="row-item half">
      <fieldset>
        <%= f.input :name %>
      </fieldset>
      <fieldset class="skip-global-selectmenu">
        <div class="finish_manufacturer_finish_type ui-front select-container">
          <%= f.association :finish_types, label: t(".types"), collection: FinishType.accessible_by(current_ability).order(:name), multiple: true, class: "multiple" %>
          <p class="help"><%= t(".type_help").html_safe %></p>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), finish_manufacturers_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
