      <div class="list-stages" id="timelineSidebar" data-no-turbolink  data-tt=<%=timeline.stage_set_type%> data-timeline=<%= timeline.id %>>
        <ul class="vertical">
          <% timeline.stages.each do |stage| %>
          <% collapsed = collapsed(plot_timeline,stage) %>
          <li class="stage-title" data-stage=<%= stage.id %>><span><button id="collapse" class="btn collapse-expand-btn <%= 'hidden' if collapsed %>" type="button" title="Collapse">-</button><button id="expand" class="btn collapse-expand-btn <%= 'hidden' if !collapsed %>" type="button" title="Expand">+</button><%= stage.title %></span></li>
           <ul class="sub-stage <%= 'hidden' if collapsed %>">
           <% timeline.stage_tasks(stage)&.each do |t| %>
              <li id = "<%= 'activeTaskScroll' if t == task %>"
                  class="sub-stage-container branded-text
                        <%= 'active' if t == task %>
                        <%= 'complete' if logs.find_by(task_id: t.id)&.response == 'positive' %>
                        <%= 'negative' if logs.find_by(task_id: t.id)&.response == 'negative' %>
                        <%= 'complete' if logs.find_by(task_id: t.id)&.response == 'not_applicable' %>">
                <a class="<%= t.title_class %>" href=<%="#{timeline_homeowner_task_path(timeline, t)}"%>><%= Lookup.parse(t.title, plot, current_resident) %></a>
                <% if parent == :task && t == task %>
                  <div id="timelineContentMobile">
                    <!-- use javascript to migrate all of the timeline-content children to here -->
                  </div>
                <% end %>
              </li>
           <% end %>
           </ul>
          <% end %>
        </ul>

        <% if parent == :complete %>
          <div id="timelineContentMobile">
                  <!-- use javascript to migrate all of the timeline-content children to here -->
          </div>
        <% end %>
      </div>
