<%= render "components/homeowner/hero" %>

<div class="timeline-container">
  <div class="branded-body outer-container timeline-task">
    <div class="timeline-sidebar">
      <div class="timeline-header">
        <div class="title">
          <i class="fa fa-home"></i>
          <h2><%= t("homeowners.timeline.task.header") %></h2>
          <p>Welcome Home</p>
        </div>
        <div class="progress">
          <!-- igloo progress image goes here -->
        </div>
      </div>

      <div class="list-stages">
        <ul class="vertical">
          <% @timeline.stages.each do |stage| %>
          <li class="stage-title"><span class="branded-text"><%= stage.title %></span></li>
          <ul class="sub-stage">
            <% @timeline.stage_tasks(stage)&.each do |ttask| %>
            <li class="sub-stage-container branded-text
                         <%= 'active' if ttask == @task %>
                         <%= 'complete' if @logs.find_by(task_id: ttask.id)&.response == 'positive' %>">
              <a href=<%="#{show_timeline_task_path(ttask)}"%>><%= ttask.title %></a>
              <!-- this is where i want the timeline content to go in mobile view -->
              <% if ttask == @ttask %>
              <div id="timelineContentMobile">
                <!-- use javascript to migrate all of the timeline-content children to here -->
              </div>
              <% end %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="timelineContentDesktop" class="timeline-content">
      <div class="compelete-content">
        Timeline Complete - some content here.
      </div>
    </div>


  </div>
</div>


