<%= render "components/homeowner/hero" %>

<div class="timeline-container">
  <div class="branded-body outer-container timeline-task">
    <div class="timeline-sidebar">
      <div class="timeline-header">
        <div class="title">
          <% if @timeline.stage_set.proforma? %>
            <h2><%= @timeline.title %></h2>
          <% else %>
            <i class="fa fa-home"></i>
            <h2><%= t("homeowners.timeline.task.header") %></h2>
            <p>Welcome Home</p>
          <% end %>
        </div>


          <div class="progress <%=@timeline.stage_set_type%>">
              <span class="progress-count">
                <%= "#{@plot_timeline.progress_percent}%" %>
              </span>
              <% if @timeline.stage_set.journey? %>
                <span class="progress-icon">
                  <%= image_tag "stage4_igloo.svg" %>
                </span>
              <% end %>
          </div>

      </div>

      <%= render "homeowners/timeline/timeline", parent: :complete, timeline: @timeline, task: nil, logs: @logs %>

    </div>

    <div id="timelineContentDesktop" class="timeline-content">
      <div class="complete-content" id="timelineComplete">
        <div class="header">
          <div class="title">
            <% if @timeline.stage_set.proforma? %>
              <h2><%= @timeline.title %></h2>
            <% else %>
              <i class="fa fa-check branded-text"></i>
              <h2><%= t("homeowners.timeline.task.header") %></h2>
              <p>Welcome Home</p>
            <% end %>
          </div>
        </div>

        <% if @plot_timeline.complete? %>

        <div class="complete" id="activeTaskScroll">
          <div class="text">
            <div><%= simple_format(Lookup.parse( @timeline.complete_message, @plot, current_resident), {}, sanitize: false) %></div>

            <div class="actions">
              <%= link_to t('.dashboard'), dashboard_path, class: "btn branded-btn-inverted" %>
            </div>
          </div>

          <div class="image">
            <%if image_path(@timeline.complete_picture).empty? %>
              <div class="image-container"></div>
            <% else %>
              <div class="image-container" style="background-image: url('<%= @timeline.complete_picture %>')"></div>
            <% end %>
          </div>
        </div>

        <% else %>

        <div class="incomplete" id="activeTaskScroll">
          <div class="text">
            <div class=""><%= simple_format(Lookup.parse( @timeline.incomplete_message, @plot, current_resident), {}, sanitize: false) %></div>

            <div class="actions">
              <%= link_to t('.dashboard'), dashboard_path, class: "btn branded-btn-inverted" %>
            </div>
          </div>

          <div class="image">
            <%if image_path(@timeline.incomplete_picture).empty? %>
              <div class="image-container"></div>
            <% else %>
              <div class="image-container" style="background-image: url('<%= @timeline.incomplete_picture %>')"></div>
            <% end %>
          </div>
        </div>

        <% end %>
      </div>
    </div>


  </div>
</div>


