<%= render "components/homeowner/hero" %>

<div class="timeline-container">
  <div class="branded-body outer-container">
    <div class="main-container timeline-step">

      <div class="timeline-header">
        <div class="timeline-title">
          <h1 class="branded-text"><%= t(".congratulations") %></h1>
          <h2 class="branded-text"><%= t(".which_step") %></h2>
        </div>
      </div>

      <div class="step-options">
        <div class="stages">
          <% @timeline.stages.each do |stage| %>
            <%= link_to homeowner_timeline_path(:page => "timeline_task", :stage => stage.id), class: "stage timeline-stage-option",:'data-turbolinks-track' => false do %>
              <i id="icon<%=stage.title%>" class="branded-text"></i>
              <p class="timeline-btn-label branded-text"><%= stage.title %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
