<%= render "components/homeowner/hero" %>

<div class="timeline-container">
  <div class="branded-body outer-container timeline-task">

    <div class="timeline-sidebar">
      <% if image_path(@task.picture).empty? %>
      <div class="timeline-header-mobile">
      <% else %>
      <div class="timeline-header-mobile" style="background-image: url('<%= image_path(@task.picture) %>')">
      <% end %>
        <div class="overlay">
          <div class="progress-container">
            <div class="title">
              <i id="iconMobile<%=@task.stage_title%>"></i>
              <p> <%= @task.stage_title %></p>
            </div>
            <div class="progress">
              <span class="progress-count">
                <%= "#{@plot_timeline.progress_percent}%" %>
              </span>
              <% if @task.stage_set.journey? %>
                <span class="progress-icon">
                  <%= image_tag "stage#{@task.stage_order}_igloo.svg" %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline-header">
        <div class="title">
          <i id="icon<%=@task.stage_title%>"></i>
          <% if @task.stage_set.proforma? %>
            <h2><%= @timeline.title %></h2>
          <% else %>
            <h2><%= t(".header") %></h2>
          <% end %>
          <p> <%= @task.stage_title %></p>
        </div>
        <div class="progress <%=@timeline.stage_set_type%>">
          <span class="progress-count">
            <%= "#{@plot_timeline.progress_percent}%" %>
          </span>
          <% if @task.stage_set.journey? %>
            <span class="progress-icon">
              <%= image_tag "stage#{@task.stage_order}_igloo.svg" %>
            </span>
          <% end %>
        </div>
      </div>

      <%= render "homeowners/timeline/timeline", parent: :task, timeline: @timeline, task: @task, logs: @logs %>

    </div>

    <div id="timelineContentDesktop" class="timeline-content">
      <form id='timeline_task' action=<%="#{timeline_task_viewed_path(@timeline, @task)}"%>>
        <input type="hidden" id="response" name="response" value=<%= :not_applicable %>>
        <input type="hidden" id="response_action" name="response_action" value=<%= :not_applicable %>>
        <input type="hidden" id="response_direction" name="response_direction" value=<%= :forward %>>


        <% if @task.stage_set.journey? %>
          <div id="question" >
            <div class="question-content">
              <div class="content">
                <p class="branded-text"> <%= @task.question %> </p>
              </div>
              <div class="actions">
                <%= button_tag @task.positive, :type => 'button', class: "btn branded-btn btn-form-submit", action: :answered_positive, id: 'timeline-submit-btn', data: { response: :positive } %>
                <%= button_tag @task.negative, :type => 'button', class: "btn branded-btn btn-form-submit", action: :viewed_content_negative, id: 'timeline-submit-btn', data: { response: :negative }%>

                <% if @task.not_applicable %>
                <%= button_tag "Not Applicable", :type => 'button', class: "btn branded-btn btn-form-submit not-applicable", id: 'timeline-submit-btn', data: { response: :positive }%>
                <% end %>
              </div>
            </div>
            <% if image_path(@task.picture).empty? %>
            <div class="image"></div>
            <% else %>
            <div class="image" style="background-image: url('<%= image_path(@task.picture) %>')"></div>
            <% end %>
          </div>
        <% end %>

        <div id="answer" <%= "style=display:block" if @timeline.stage_set.proforma?%> >
          <div class="answer-container">
            <h2 class="branded-text"> <%= @task.answer %> </h2>
            <p class="branded-text"> <%= simple_format Lookup.parse(@task.response, @plot, current_resident) %> </p>

            <aside class="useful-extras">
              <% @task.features&.each do |feature| %>
               <% if @plot.supports?(feature.feature_type) %>
                  <div class="features-container">
                    <p><%= Lookup.parse(feature.precis, @plot, current_resident) %></p>
                    <button onclick="window.open('<%= feature_link(@plot, feature) %>', '_blank')" type="button" class="btn branded-btn-inverted" data-featuretype="<%= feature.feature_type %>"><%= feature.title %></button>
                    <p><%= Lookup.parse(feature.description, @plot, current_resident) %></p>
                  </div>
                <% end %>
              <% end %>
            </aside>
          </div>

          <% contacts = @task.contacts(@plot) %>
          <% if contacts || @task.picture? %>
            <aside class="contact-container">
              <% if @timeline.stage_set.proforma? && @task.picture? %>
                <div class="mobile-off">
                  <img src='<%=image_path(@task.picture)%>'>
                </div>
              <% end %>
              <% if contacts %>
                <h4 class="branded-text"><%= t("homeowners.timeline.contacts") %></h4>
                <% contacts&.each do |contact| %>
                  <div class="contact">
                    <div class="avatar">
                      <% if contact.picture? %>
                        <%= image_tag contact.picture.url :thumbnail if contact.picture? %>
                      <% end %>
                    </div>
                    <div class="contact-info">
                      <p class="name branded-text"><%= contact.to_s %></p>
                      <p class="position branded-text"><%= contact.position %></p>

                      <% if contact.phone? %>
                        <p class="contact-detail">
                          <span><%= link_to contact.phone, t(".tel", number: contact.phone), class: "branded-text", title: contact.phone %></span>
                        </p>
                      <% end %>

                      <% if contact.mobile? %>
                        <p class="contact-detail">
                          <span><%= link_to contact.mobile, t(".tel", number: contact.mobile), class: "branded-text", title: contact.mobile %></span>
                        </p>
                      <% end %>

                      <% if contact.email? %>
                        <p class="contact-detail">
                          <span><%= mail_to contact.email, contact.email, class: "branded-text", title: contact.email %></span>
                        </p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </aside>
          <% end %>

          <div class="timeline-footer">
            <aside class="shortcuts-container">
              <% if @task.task_shortcuts %>
                <div class="shortcuts-question">
                  <div class="shortcuts">
                    <div id="timelineShortcuts" class="shortcut-button"><i id="shortcutButton" class="fa fa-question"></i></div>
                  </div>

                  <% @task.task_shortcuts.each do |ts| %>
                    <% if ts.live %>
                      <div class="shortcut-links link_<%=ts.shortcut.shortcut_type%>">
                        <% url = build_shortcut(ts.shortcut.link, current_resident, @plot) %>
                        <button onclick="window.open('<%= url %>', '_blank')" type="button" id="shortcut<%=ts.shortcut.shortcut_type.camelize%>" class="shortcut-link">
                          <!-- icons are adding via javascript -->
                          <i class=""></i>
                        </button>
                        <span class="shortcut-label branded-text"><%= t(".#{ts.shortcut.shortcut_type}") %></span>
                      </div>
                    <% end%>
                  <% end %>
                </div>
              <% end %>
            </aside>

            <div class="next">
              <%if @task.action %>
                <% if @task.action_description.present? %>
                  <p><%= @task.action_description %></p>
                <% end %>
                <% if @plot.supports?(@task.action_feature_type) %>
                  <button onclick="window.open('<%= feature_link(@plot, @task.action) %>', '_blank')" type="button" class="btn branded-btn action-btn" data-featuretype="<%= @task.action_feature_type %>" ><%= @task.action_title %> </button>
                <% end %>
              <% end %>
              <% if @task.stage_set.journey? || @task.prev %>
                <%= button_tag t("homeowners.timeline.#{@task.stage_set.stage_set_type}.skip"), :type => 'button', class: "btn branded-btn btn-form-submit navigation-btn", action: skip_action(@task), id: 'timeline-submit-btn', data: { response: skip_response(@task), direction: skip_direction(@task) } %>
              <% end %>

              <% if @task.next || @task.finale.present? %>
                <%= button_tag t("homeowners.timeline.#{@task.stage_set.stage_set_type}.done"), :type => 'button', class: "btn branded-btn btn-form-submit navigation-btn", action: :completed_on_content, id: 'timeline-submit-btn', data: { response: :positive } %>
              <% end %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
