<%= render "components/homeowner/hero" %>

<div class="timeline-container">
  <div class="branded-body outer-container timeline-task">

    <div class="timeline-sidebar">
      <% if image_path(@task.picture).empty? %>
      <div class="timeline-header-mobile">
      <% else %>
      <div class="timeline-header-mobile" style="background-image: url('<%= image_path(@task.picture) %>')">
      <% end %>
        <div class="overlay">
          <div class="progress-container">
            <div class="title">
              <i id="iconMobile<%=@task.stage_title%>"></i>
              <p> <%= @task.stage_title %></p>
            </div>
            <div class="progress">
              <span class="progress-count">
                <%= "#{@plot_timeline.progress_percent}%" %>
              </span>
              <span class="progress-icon">
                <%= image_tag "#{@task.stage_title}_igloo.svg" %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="timeline-header">
        <div class="title">
          <i id="icon<%=@task.stage_title%>"></i>
          <h2><%= t(".header") %></h2>
          <p> <%= @task.stage_title %></p>
        </div>
        <div class="progress">
          <span class="progress-count">
            <%= "#{@plot_timeline.progress_percent}%" %>
          </span>
          <span class="progress-icon">
            <%= image_tag "#{@task.stage_title}_igloo.svg" %>
          </span>
        </div>
      </div>

      <%= render "homeowners/timeline/timeline", parent: :task, timeline: @timeline, task: @task, logs: @logs %>

    </div>

    <div id="timelineContentDesktop" class="timeline-content">
      <form id='timeline_task' action=<%="#{viewed_timeline_task_path(@task)}"%>>
        <input type="hidden" id="response" name="response" value=<%= :not_applicable %>>

        <div id="question" >
          <div class="question-content">
            <div class="content">
              <p class="branded-text"> <%= @task.question %> </p>
            </div>
            <div class="actions">
              <%= button_tag @task.positive, :type => 'button', class: "btn branded-btn btn-form-submit", id: 'timeline-submit-btn', data: { response: :positive } %>
              <%= button_tag @task.negative, :type => 'button', class: "btn branded-btn btn-form-submit", id: 'timeline-submit-btn', data: { response: :negative }%>

              <% if @task.not_applicable %>
              <%= button_tag "Not Applicable", :type => 'button', class: "btn branded-btn btn-form-submit not-applicable", id: 'timeline-submit-btn', data: { response: :positive }%>
              <% end %>
            </div>
          </div>
          <% if image_path(@task.picture).empty? %>
          <div class="image"></div>
          <% else %>
          <div class="image" style="background-image: url('<%= image_path(@task.picture) %>')"></div>
          <% end %>
        </div>

        <div id="answer">
          <div class="answer-container">
            <h2 class="branded-text"> <%= @task.answer %> </h2>
            <p class="branded-text"> <%= simple_format Lookup.parse(@task.response, @plot, current_resident) %> </p>

            <aside class="useful-extras">
              <% @task.features&.each do |feature| %>
                <div class="features-container">
                  <p><%= Lookup.parse(feature.precis, @plot, current_resident) %></p>
                  <button onclick="window.open('<%=feature.link%>', '_blank')" type="button" class="btn branded-btn-inverted"><%= feature.title %></button>
                  <p><%= Lookup.parse(feature.description, @plot, current_resident) %></p>
                </div>
              <% end %>
            </aside>
          </div>

          <% contacts = @task.contacts(@plot) %>
          <% if contacts %>
            <aside class="contact-container">
              <h4 class="branded-text"><%= t("homeowners.timeline.contacts") %></h4>
              <% contacts.each do |contact| %>
                <div class="contact">
                  <div class="avatar">
                    <% if contact.picture? %>
                      <%= image_tag contact.picture.url :thumbnail if contact.picture? %>
                    <% end %>
                  </div>
                  <div class="contact-info">
                    <p class="name branded-text"><%= contact.to_s %></p>
                    <p class="position branded-text"><%= contact.position %></p>

                    <% if contact.phone? %>
                      <p class="contact-detail">
                        <span><%= link_to contact.phone, t(".tel", number: contact.phone), class: "branded-text", title: contact.phone %></span>
                      </p>
                    <% end %>

                    <% if contact.mobile? %>
                      <p class="contact-detail">
                        <span><%= link_to contact.mobile, t(".tel", number: contact.mobile), class: "branded-text", title: contact.mobile %></span>
                      </p>
                    <% end %>

                    <% if contact.email? %>
                      <p class="contact-detail">
                        <span><%= mail_to contact.email, contact.email, class: "branded-text", title: contact.email %></span>
                      </p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </aside>
          <% end %>

          <div class="timeline-footer">
            <aside class="shortcuts-container">
              <% if @task.task_shortcuts %>
                <div class="shortcuts-question">
                  <div class="shortcuts">
                    <div id="timelineShortcuts" class="shortcut-button"><i id="shortcutButton" class="fa fa-question"></i></div>
                  </div>

                  <% @task.task_shortcuts.each do |ts| %>
                    <% if ts.live %>
                      <div class="shortcut-links link_<%=ts.shortcut.shortcut_type%>">
                        <% url = build_shortcut(ts.shortcut.link, current_resident, @plot) %>
                        <button onclick="window.open('<%= url %>', '_blank')" type="button" id="shortcut<%=ts.shortcut.shortcut_type.camelize%>" class="shortcut-link">
                          <!-- icons are adding via javascript -->
                          <i class=""></i>
                        </button>
                        <span class="shortcut-label branded-text"><%= t(".#{ts.shortcut.shortcut_type}") %></span>
                      </div>
                    <% end%>
                  <% end %>
                </div>
              <% end %>
            </aside>

            <div class="next">
              <%if @task.action %>
                <% if @task.action_description.present? %>
                  <p><%= @task.action_description %></p>
                <% end %>
                <button onclick="window.open('<%=@task.action_link%>', '_blank')" type="button" class="btn branded-btn action-btn"><%= @task.action_title %></button>
              <% end %>
              <input type="submit" value=<%="#{t('homeowners.timeline.skip')}"%> class: "btn-form-submit btn branded-btn navigation-btn">
              <%= button_tag t('homeowners.timeline.done'), :type => 'button', class: "btn branded-btn btn-form-submit navigation-btn", id: 'timeline-submit-btn', data: { response: :positive } %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
