<div class="card quarter faqs-component branded-content branded-border " data-test="dashboard-faqs">
  <div class="card-header">
    <h2 class="card-title branded-text"><%= t('homeowner.dashboard.cards.faqs.title') %></h2>
    <span class="card-action">
      <% default_faq_type = plot.development.faq_types.first %>
      <% default_faq_category = default_faq_type.categories.first %>
      <%= link_to t('homeowner.dashboard.cards.faqs.view_more'), homeowner_faqs_path(default_faq_type, default_faq_category), class: "branded-btn right" %>
    </span>
  </div>
  <div class="card-content">
    <ul class="faq-list branded-text">
      <% faqs.each do |faq| %>
        <li class="branded-border">
          <%= link_to homeowner_faqs_path(faq.faq_type, faq.faq_category, anchor: "faq-#{faq.id}") do %>
            <span class="text"><%= faq.question.html_safe %></span>
            <%= fa_icon "chevron-right" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
