<div class="card article branded-border <%= plot.branded_perk ? 'branded-perk' : 'unbranded-perk'%>" style="background-image: url('<%= image_path plot&.branded_perk&.tile_image || asset_path('buyers_logo.png') %>')" >
  <div class="card-content <%= 'service-overlay' if plot.branded_perk %>">
    <div class="perks-summary">
      <!-- if Vaboo had not been activated by the current resident -->
      <% if !Vaboo.perks_account_activated?(current_resident, plot) %>
        <% perk = allocate_perk_type(current_resident, plot) %>
        <p class="perks-content">
          <p class="perks-description"><%= t(".perks_description") %></p>
          <span class="perks-button">
            <%= link_to t(".perks"),
            perks_path(type: perk),
            class: "branded-btn-inverted" %>
          </span>
        </p>
      <% else %>
        <p class="perks-content">
          <p class="perks-description"><%= t(".activated_description").html_safe %></p>
          <span class="perks-button">
          <%= link_to t(".activated_perks"),
              Vaboo.branded_perks_link(plot.developer),
              class: "branded-btn-inverted",
              target: :_blank %>
          </span>
        </p>
      <% end %>
    </div>
  </div>
</div>
