<% services.each do |service| %>
  <div class="card article branded-border" style="background-image: url(<%= service_image(service) %>)">
    <div class="service-overlay">
      <div class="service-summary">
        <div id="service-<%= service.id %>">
          <p class="larger"><%= service.to_dashboard_title_s %></p>
        </div>
        <p><%= service.to_dashboard_s %></p>
        <%= link_to t(".services").titleize, services_path, class: "service-link" %>
      </div>
    </div>
  </div>
<% end %>
