<div class="branded-hero"></div>
<div class="branded-body">
  <div class="outer-container dashboard">
    <div class="row card-container">
      <% if @plot.unit_type_picture.present? %>
      <div class="card half my-home black-show-left branded-border" style="background-image: url('<%= image_path(@plot.unit_type_picture) %>')" >
      <% else %>
      <div class="card half my-home black-show-left branded-border" style="background-image: url('<%= image_path "Hoozzi Sign In Image 3.jpg" %>')" >
      <% end %>
        <div class="card-header">
          <h3 class="card-title-alt">
            <%= t('.my_home_title') %>
          </h3>
        </div>
        <div class="card-content">
          <address class="my-home-address">
            <span><%= @plot.house_number %> <%= @plot.building_name %></span><br/>
            <span><%= @plot.road_name if @plot.road_name.present? %></span><br/>
            <span><%= @plot.city if @plot.city.present? %></span><br/>
            <span><%= @plot.county if @plot.county.present? %></span><br/>
            <span><%= @plot.postcode if @plot.postcode.present? %></span><br/>
          </address>
          <%= link_to t(".my_home_view_more"), homeowner_my_home_path, class: "branded-btn second" %>
        </div>
      </div>

      <div class="card half my-library branded-content branded-border">
        <div class="card-header branded-border">
          <h2 class="card-title branded-text"><%= t('homeowner.dashboard.cards.library.title') %></h2>
          <span class="card-action">
            <%= link_to t('homeowner.dashboard.cards.library.view_more'), homeowner_library_path, class: 'branded-btn alt right' %>
          </span>
        </div>

        <div class="card-content">
          <!-- TODO re-enable when the document slider functionality is implemented -->
          <!-- <div class="action action-left">
            <i class="fa fa-chevron-left"></i>
          </div> -->
          <ul class="documents">
            <li class="document">
              <img src="https://images-na.ssl-images-amazon.com/images/I/51KR3Gx1ASL._SX258_BO1,204,203,200_.jpg">
              <p>Dishwasher Manual</p>
            </li>
            <li class="document">
              <img src="https://s-media-cache-ak0.pinimg.com/564x/61/d8/0a/61d80a2a68e08673154798f4515b7a62.jpg">
              <p>First Aid Checklist</p>
            </li>
            <li class="document">
              <img src="https://www.cdc.gov/niosh/docs/2009-113/images/cover1.jpg">
              <p>Electricity Safety</p>
            </li>
            <li class="document">
              <img src="http://library.plumbase.co.uk/flipbooks/RE/ravlitls80tn_25921_t/ravlitls80tn_25921_t.jpg">
              <p>Boiler Manual</p>
            </li>
            <li class="document">
              <img src="https://data2.manualslib.com/big_thumbs/38/3800/379980_ffh17f7hw__166_cu_ft_frost_free_upright_freezer_product.png">
              <p>Freezer Manual</p>
            </li>
            <li class="document">
              <img src="https://data2.manualslib.com/big_thumbs/38/3800/379980_ffh17f7hw__166_cu_ft_frost_free_upright_freezer_product.png">
              <p>Oven Manual</p>
            </li>
            <li class="document">
              <img src="https://data2.manualslib.com/big_thumbs/38/3800/379980_ffh17f7hw__166_cu_ft_frost_free_upright_freezer_product.png">
              <p>Ice Maker Manual</p>
            </li>
          </ul>
          <!-- TODO re-enable when the document slider functionality is implemented -->
          <!-- <div class="action action-right">
            <i class="fa fa-chevron-right"></i>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row card-container">
      <!--CONTACTS-->
      <div class="card quarter my-contacts branded-content branded-border ">
        <div class="card-header">
          <h2 class="card-title branded-text"><%= t('.contacts_title') %></h2>
          <span class="card-action">
            <a href="" class="branded-btn alt right"><%= t('.contacts_view_more') %></a>
          </span>
        </div>
        <div class="card-content">
          <ul class="contact-list">
            <% @contacts.each do | contact | %>
              <%= render "homeowners/components/contact_summary", contact: contact %>
          <% end %>
          </ul>
        </div>
      </div>
      <!--FAQs-->
      <div class="card quarter component-faqs branded-content branded-border " data-test="dashboard-faqs">
        <div class="card-header">
          <h3 class="card-title branded-text">
            <%= t('homeowner.dashboard.cards.faqs.title') %>
          </h3>
          <span class="card-action">
            <%= link_to t('homeowner.dashboard.cards.faqs.view_more'), homeowner_faqs_path, class: "branded-btn alt right" %>
          </span>
        </div>
        <div class="card-content">
          <ul class="faq-list">
            <% @faqs.each do |faq| %>
              <li class="branded-border">
                <%= link_to homeowner_faqs_path(faq.category, anchor: "faq-#{faq.id}") do %>
                  <span class="text"><%= faq.question %></span>
                  <%= fa_icon "chevron-right" %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- ARTICLES -->
      <div class="card quarter how-to black-show-through branded-border" style="background-image: url('http://www.staffordshirefire.gov.uk/Images/winter_home_safety_510x244.jpg')">
        <div class="card-content">
          <h3 class="how-to-title">Warmer This Winter</h3>
          <%= image_tag "logo-small-white.png", class: "hoozzi-logo" %>
          <span class="how-to-logo">How To</span>
          <a href="" class="branded-btn second view-article">View Article</a>
        </div>
      </div>
      <div class="card quarter how-to black-show-through branded-border" style="background-image: url('http://www.thehandmadehome.net/storage/storage_stairs_168f038-168f03g.jpg?__SQUARESPACE_CACHEVERSION=1290105095432')">
        <div class="card-content">
          <h3 class="how-to-title">Clever Storage Solutions</h3>
          <%= image_tag "logo-small-white.png", class: "hoozzi-logo" %>
          <span class="how-to-logo">How To</span>
          <a href="" class="branded-btn second view-article">View Article</a>
        </div>
      </div>
      <div class="card quarter how-to black-show-through branded-border" style="background-image: url('http://www.local-ad.co.uk/wp-content/uploads/2016/05/garden.jpg')">
        <div class="card-content">
          <h3 class="how-to-title">Summer Ready Garden</h3>
          <%= image_tag "logo-small-white.png", class: "hoozzi-logo" %>
          <span class="how-to-logo">How To</span>
          <a href="" class="branded-btn second view-article">View Article</a>
        </div>
      </div>
      <div class="card quarter how-to black-show-through branded-border" style="background-image: url('http://cdn.home-designing.com/wp-content/uploads/2015/11/ultra-luxurious-modern-interior.jpg')">
        <div class="card-content">
          <h3 class="how-to-title">The Modern Touch</h3>
          <%= image_tag "logo-small-white.png", class: "hoozzi-logo" %>
          <span class="how-to-logo">How To</span>
          <a href="" class="branded-btn second view-article">View Article</a>
        </div>
      </div>
      <div class="card quarter how-to black-show-through branded-border" style="background-image: url('http://i.telegraph.co.uk/multimedia/archive/03487/RBS-Win-On-Water-D_3487583b.jpg')">
        <div class="card-content">
          <h3 class="how-to-title">Smart Water Tactics</h3>
          <%= image_tag "logo-small-white.png", class: "hoozzi-logo" %>
          <span class="how-to-logo">How To</span>
          <a href="" class="branded-btn second view-article">View Article</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
