<div class="branded-hero"></div>
<div class="branded-body">
  <div class="outer-container dashboard">
    <% if @plot.enable_referrals? || @plot.enable_services? %>
      <% if @plot.enable_referrals? && @plot.enable_services? %>
        <div class="row">
          <% if @plot.unit_type_picture.present? %>
          <div class="card half my-home black-show-left branded-border" style="background-image: url('<%= image_path(@plot.unit_type_picture) %>')" >
            <% else %>
            <div class="card half my-home black-show-left branded-border" style="background-image: url('<%= image_path "Sign In Image 3.jpg" %>')" >
            <% end %>
            <div class="card-header">
              <h2 class="card-title-alt"><%= t('.my_home_title') %></h2>
            </div>
            <%= render "homeowners/components/address", plot: @plot %>
          </div>
          <%= render "homeowners/dashboard/library", documents: @documents %>
        </div>
        <div class="row articles">
          <%= render "homeowners/dashboard/contacts", contacts: @contacts %>
          <%= render "homeowners/dashboard/faqs", faqs: @faqs %>
          <%= render "homeowners/dashboard/referrals" if @plot.enable_referrals? %>
          <%= render "homeowners/dashboard/services", services_params: @services_params if @plot.enable_services? %>
          <%= render "homeowners/components/how_to_summary", collection: @how_tos %>
        </div>
      <% else %>
        <div class="ref-or-ser">
          <div class="half">
            <div class="row">
            <% if @plot.unit_type_picture.present? %>
              <div class="card my-home black-show-left branded-border" style="background-image: url('<%= image_path(@plot.unit_type_picture) %>')" >
            <% else %>
              <div class="card my-home black-show-left branded-border" style="background-image: url('<%= image_path "Sign In Image 3.jpg" %>')" >
            <% end %>
                <div class="card-header">
                  <h2 class="card-title-alt"><%= t('.my_home_title') %></h2>
                </div>
                <%= render "homeowners/components/address", plot: @plot %>
              </div>
            </div>
            <div class="row articles">
              <%= render "homeowners/dashboard/contacts", contacts: @contacts %>
              <%= render "homeowners/dashboard/faqs", faqs: @faqs %>
              <% if @plot.enable_referrals? %>
                <%= render "homeowners/dashboard/referrals" %>
              <% else %>
                <%= render "homeowners/dashboard/services", services_params: @services_params %>
              <% end %>
            </div>
          </div>
          <div class="half">
            <div class="row library">
              <%= render "homeowners/dashboard/library", documents: @documents %>
            </div>
            <div class="row articles">
              <div class="how-to-dash">
                <%= render "homeowners/components/how_to_summary", collection: @how_tos %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="row">
        <% if @plot.unit_type_picture.present? %>
        <div class="card half my-home black-show-left branded-border" style="background-image: url('<%= image_path(@plot.unit_type_picture) %>')" >
          <% else %>
          <div class="card half my-home black-show-left branded-border" style="background-image: url('<%= image_path "Sign In Image 3.jpg" %>')" >
          <% end %>
          <div class="card-header">
            <h2 class="card-title-alt"><%= t('.my_home_title') %></h2>
          </div>
          <%= render "homeowners/components/address", plot: @plot %>
        </div>
        <%= render "homeowners/dashboard/library", documents: @documents %>
      </div>
      <div class="row articles">
        <%= render "homeowners/dashboard/contacts", contacts: @contacts %>
        <%= render "homeowners/dashboard/faqs", faqs: @faqs %>
        <%= render "homeowners/components/how_to_summary", collection: @how_tos %>
      </div>
    <% end %>
  </div>
</div>


<div class="refer-resident-form hidden">
  <%= render 'referral_form', :referral => @referral, :plot => @plot %>
</div>

<script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(88725)</script>
