
<table class="record-list">
    <tbody></tbody>
</table>

<div id='admin_calendar' data-type="<%=source.class.to_s%>" data-id="<%=source.id%>" data-path="<%= events_path %>" ></div>

<div class="event_details_form hidden">
    <%= simple_form_for :event do |f| %>
      <%= f.hidden_field :id %>
      <%= f.hidden_field :eventable_type, { value: source.class.to_s } %>
      <%= f.hidden_field :eventable_id,{ value: source.id } %>
      <label><%= label_tag :title, "Title" %></label>
      <%= f.input :title, label: false, required: true %>
      <label><%= label_tag :location, "Location" %></label>
      <%= f.input :location, label: false, required: true %>
      <label><%= label_tag :start, "Start" %></label>
      <%= f.input :start, label: false, required: true %>
      <label><%= label_tag :end, "End" %></label>
      <%= f.input :end, label: false, required: true %>
    <% end %>
<end>
