<table class="record-list">
  <thead>
    <tr>
      <th><%= sortable(Document, :title) %></th>
      <th><%= "Plot" %></th>
      <th><%= sortable(Document, :updated_at) %></th>
      <th><%= sortable(Document, :category) %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |document| %>
    <tr>
      <td><%= link_to document.title, document_path(document) %></td>
      <td>
        <%= simple_form_for document, remote: true do |f| %>
          <%= f.association :documentable,
            collection: admin_plot_select_options(scope: parent),
            include_blank: false,
            label: false %>
        <% end %>
      </td>
      <td><%= l document.updated_at.to_date, format: :digits %></td>
      <td class="actions">
        <%= link_to document.file.url, class: "btn",  target: "_blank" do %>
          <%= icon "cloud-download" %>
        <% end %>
        <%#= delete_btn document, path: url_for(document) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
