<%= simple_form_for new_plot_document, url: [:bulk_upload, parent, :plot_documents] do |f| %>
  <div class="row plot_documents">
    <div class="row-item third hint">
      <h2><%= t(".bulk_upload") %></h2>
      <p>
        <%= t(".filename_requirements").html_safe %>
      </p>
      <p>
        <%= t(".case").html_safe %>
      </p>
    </div>
    <div class="row-item third hint">
      <p>
        <%= t(".unmatched_files")%>
      </p>
      <p>
        <%= t(".multiple_files").html_safe %>
      </p>
      <p>
        <%= t(".repeat").html_safe %>
      </p>
    </div>

    <div class="row-item third upload">
      <h4><%= t(".title") %></h4>

      <%= f.input :category, as: :select, collection: category_collection, include_blank: false %>
      <%= label_tag('document_files', t(".choose"), class: "btn") %>
      <%= f.file_field :files, multiple: true, class: "hidden" %>

      <%= label_tag t(".rename") %>
      <%= text_field_tag :rename_text, nil, placeholder: t(".rename_to") %>

      <%= f.submit t(".upload_rename"), class: "btn-form-submit btn-primary" %>
      <%= f.submit t(".upload_all"), class: "btn-form-submit btn" %>
    </div>

  </div>
<% end %>
