<%= simple_form_for new_plot_document, url: [:bulk_upload, parent, :plot_documents] do |f| %>
  <div class="row plot_documents">
    <div class="row-item third hint">
      <p>
        <%= t(".multiple_files").html_safe %>
      </p>
      <p>
        <%= t(".repeat").html_safe %>
      </p>
    </div>
    <div class="row-item third hint">
      <p>
        <%= t(".filename_requirements").html_safe %>
      </p>
      <p>
        <%= t(".case").html_safe %>
      </p>
      <p>
        <%= t(".unmatched_files").html_safe %>
      </p>
    </div>

    <div class="row-item third upload">
      <h4><%= t(".title") %></h4>

      <div id="docCategorySelector">
        <%= f.input :category, as: :select, collection: category_collection(new_plot_document), include_blank: false %>
      </div>
      <div id="docGuideSelector">
        <%= f.input :guide, as: :select, collection: guide_collection(new_plot_document), include_blank: true %>
      </div>

      <%= label_tag('document_files', t(".choose"), class: "btn") %>
      <%= f.file_field :files, multiple: true, class: "hidden" %>

      <%= label_tag t(".rename") %>
      <%= text_field_tag :rename_text, nil, placeholder: t(".rename_to") %>

      <%= f.label :pinned, t(".pinned") %>
      <%= f.check_box :pinned %>
      <p class="checkbox-description"><%= t(".pinned_description") %></p>
      <br/><br/>

      <%= f.submit t(".upload_rename"), class: "btn-form-submit btn-primary" %>
      <%= f.submit t(".upload_all"), class: "btn-form-submit btn" %>
      <div class="notify">
        <%= label_tag t(".notify") %>
        <%= f.check_box :notify %>
      </div>
    </div>
  </div>
<% end %>
