<div class="new-password">
  <div class="set-password">
    <%= image_tag brand_or_white_logo(@brand) %>
    <%= render "components/flashes" %>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, required: true, autofocus: true %>

      <div class="information">
        <p><%= render "residents/shared/links" %></p>
      </div>

      <div class="branded-btn">
        <%= f.button :submit, t(".submit"), class: "btn reset-btn" %>
      </div>

      <div class="information">
        <p class="copyright"><%= t("residents.invitations.edit.copyright", year: Time.current.year).html_safe %></p>
      </div>
    <% end %>
  </div>

  <div class="preamble">
    <div class="content">
      <div class="title">
        <h2 class="primary"><%= t(".title") %></h2>
      </div>
    </div>
  </div>
</div>
