<div class="new-password">
  <div class="set-password">
    <%= image_tag "hoozzi-everything-home-logo-white.svg", class: "logo" %>
    <%= render "components/flashes" %>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :email, required: true, autofocus: true %>

      <div class="information">
        <p><%= render "residents/shared/links" %></p>
      </div>

      <%= f.button :submit, t(".submit"), class: "reset-btn" %>
    <% end %>
  </div>

  <div class="preamble">
    <div class="content">
      <div class="title">
        <h2 class="primary"><%= t(".title") %></h2>
      </div>
    </div>
  </div>
</div>
