<% def action?(option) action_name.to_sym == option; end %>
<% insert_mode = defined?(insert_mode) ? insert_mode : nil %>
<% insertion_task = defined?(insertion_task) ? insertion_task : nil %>

<div class="admin-timeline-edit">

  <%= render "timelines/components/timeline", timeline: timeline, task: task, links: false, parent: action_name.to_sym, insert_mode: insert_mode, insertion_task: insertion_task %>

  <div class="timeline-form">
    <%= simple_form_for ([timeline, task]) do |f| %>

      <div class="stages">
        <group class="inline-radio" id="stageRadio">
          <%= f.collection_radio_buttons :stage_id, stages, :first, :last, checked: task.stage.id, disabled: disabled_stages %>
        </group>
      </div>

      <% if action?(:new) ||  action?(:create) %>
        <%= f.hidden_field :timeline_id, value: timeline&.id %>
      <% end %>

      <div class="image-content">
        <div class="image-container">
          <%= f.input :picture, label: t(".picture"), as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
      </div>

      <div class="text-content">
        <div class="question">
          <div class="title">
            <div class="title-text">
              <%= f.input :title, label: t(".heading") %>
            </div>
            <div class="format">
              <%= f.input :title_class,
                        as: :select,
                        collection: Task.title_classes,
                        label_method: ->(klass) { t(".title_class.#{klass.first}") },
                        value_method: :first,
                        include_blank: false,
                        label: t(".title_class.label") %>
            </div>
          </div>
          <% if timeline.stage_set.journey? %>
            <%= f.input :question, label: t(".question") %>
          <% end %>
          <%= f.input :answer, label: t(".#{timeline.stage_set_type}.answer") %>
        </div>
        <% if timeline.stage_set.journey? %>
          <div class="buttons">
            <%= f.input :positive, label: t(".positive") %>
            <%= f.input :negative, label: t(".negative") %>
            <%= f.label :not_applicable, t(".not_applicable") %>
            <p><%= t(".not_applicable_text") %></p>
            <%= f.check_box :not_applicable %>
          </div>
        <% end %>
        <div class="response">
          <%= f.input :response, label: t(".#{timeline.stage_set_type}.response"), as: :ckeditor%>
        </div>
      </div>

      <div class="contact-content">
        <%= f.fields_for :task_contacts do |tc| %>
          <div class="ui-front select-container contact-container">
            <%= tc.input :contact_type, label: t(".contact_type"), as: :select, collection: contact_types_collection, include_blank: true %>
          </div>
        <% end %>
      </div>

      <div class="link-content">
        <div class="feature">
          <label><%= t(".feature.label") %></label>
          <%= f.fields_for :features do |ft| %>
            <% showing = timeline.supports?(ft.object.feature_type) %>
            <div class=<%="featureInput#{ ' hidden' unless showing }" %>>
              <fieldset>
                <div id="deleteFeatureBtn"><%= t(".feature.delete") %></div>
                  <%= ft.hidden_field :id %>
                  <%= ft.input :title, label: t(".feature.title") %>
                  <%= ft.input :precis, label: t(".feature.precis")%>
                  <%= ft.input :description, label: t(".feature.description")%>
                  <%= ft.input :feature_type,
                    as: :select,
                    collection: Feature.featuretypes(timeline, !showing),
                    label_method: :second,
                    value_method: :first,
                    include_blank: false %>
                  <%= ft.input :link, label: t(".feature.link")%>
                  <%= ft.hidden_field :_destroy, value: false, deletefield: true %>
              </fieldset>
            </div>
          <% end %>
          <div id="addFeatureBtn"><%= t(".feature.add") %></div>
        </div>

        <% showing = timeline.supports?(f.object&.action&.feature_type) %>
        <div class=<%="action#{ ' hidden' unless showing }" %>>
          <label><%= t(".action.label") %></label>
          <div id="addActionBtn"><%= t(".action.add") %></div>
          <div id="actionInput">
            <div id="deleteActionBtn"><%= t(".action.delete") %></div>
            <%= f.fields_for :action do |a| %>
              <%= a.hidden_field :id %>
              <%= a.input :title, label: t(".action.title") %>
              <%= a.input :feature_type,
                    as: :select,
                    collection: Action.featuretypes(timeline, !showing),
                    label_method: :second,
                    value_method: :first,
                    include_blank: false %>
              <%= a.input :link, label: t(".action.link") %>
              <%= a.hidden_field :_destroy, value: false %>
            <% end %>
          </div>
        </div>

        <div class="shortcuts">
          <label><%= t(".shortcuts") %></label>
          <p><%= t(".shortcuts_text") %></p>
            <div class="shortcut-options">
            <%= f.fields_for :task_shortcuts do |s| %>
              <%= s.hidden_field :id %>
              <%= s.check_box :live %>
              <%= s.label :live, t(".#{s.object.shortcut_type}") %>
              <%= s.hidden_field :order %>
              <%= s.hidden_field :shortcut_id, value: s.object.shortcut_id %>
            <% end %>
          </div>
        </div>

      </div>

      <% if  action?(:new) || action?(:create) %>
        <%= f.fields_for :donor do |d| %>
          <%= d.hidden_field :task_id, value: insertion_task&.id %>
          <%= d.hidden_field :mode, value: insert_mode %>
        <% end %>
      <% end %>

      <div class="form-actions-footer-container">
        <div>
          <% if action?(:new) || action?(:create) %>
            <% if insertion_task %>
              <%= cancel_btn t("tasks.cancel"), path: timeline_task_path(timeline, insertion_task),  title: t("tasks.cancel_insert"), text: t("tasks.cancel_insert_text") %>
            <% else %>
              <%= cancel_btn t("tasks.cancel"), path: timeline_empty_path(timeline),  title: t("tasks.cancel_insert"), text: t("tasks.cancel_insert_text") %>
            <% end %>
          <% else %>
            <%= cancel_btn t("tasks.cancel"), path: timeline_task_path,  title: t("tasks.cancel_update"), text: t("tasks.cancel_update_text") %>
          <% end %>
          <%= f.submit t(".submit"), class: "btn btn-form-submit btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
