<style>
div.scrollmenu {
  background-color: #d0d0e1;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

group + group {
  margin-top: 20px;
}

.inline-radio {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #b6b6b6;
}

.btn-group button {
  background-color: red; /* Green background */
  border: 1px grey; /* Green border */
  color: White; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

</style>

<% def action?(option) action_name.to_sym == option; end %>

<div class="section-title">
  Your Journey
  <p style="color:red"><%= @timeline_task&.stage&.title %></p>
</div>

<div class="scrollmenu">
  <% @timeline.tasks&.each do |task| %>
    <% if action?(:new) && @insert_mode == :before && task.id == @insertion_task.id %>
      <a style="font-weight:bold" >New</a>
    <% end %>
    <a <%= "style=font-weight:bold" if @task.present? && @task == task %>><%= task&.title %></a>
    <% if action?(:new) && @insert_mode == :after && task.id == @insertion_task.id %>
      <a style="font-weight:bold">New</a>
    <% end %>
  <% end %>
</div>

<%= simple_form_for ([@timeline, @task]) do |f| %>
  <group class="inline-radio" >
    <%= f.collection_radio_buttons :stage_id, @stages, :first, :last, checked: @task.stage.id, disabled: @disabled_stages %>
  </group>

  <% if action?(:new) ||  action?(:create) %>
    <%= f.hidden_field :timeline_id, value: @timeline&.id %>
  <% end %>

  <%= f.input :title, label: t(".heading") %>
  <%= f.input :question, label: t(".question") %>
  <%= f.input :answer, label: t(".answer") %>
  <%= f.input :response, label: t(".response"), as: :ckeditor%>
  <%= f.input :positive, label: t(".positive") %>
  <%= f.input :negative, label: t(".negative") %>
  <%= f.label :not_applicable, t(".not_applicable") %>
  <%= f.check_box :not_applicable %>

  <%= f.fields_for :feature do |ft| %>
    <%= ft.input :title, label: t(".feature.title") %>
    <%= ft.input :description, label: t(".feature.description")%>
    <%= ft.input :link, label: t(".feature.link") %>
  <% end %>

  <%= f.fields_for :action do |ft| %>
    <%= ft.input :title, label: t(".action.title") %>
    <%= ft.input :description, label: t(".action.description") %>
    <%= ft.input :link, label: t(".feature.link") %>
  <% end %>

  <%= f.fields_for :task_shortcuts do |s| %>
    <%= s.check_box :live %>
    <%= s.label :live, s.object.shortcut_type %>
    <%= s.hidden_field :order %>
    <%= s.hidden_field :shortcut_id, value: s.object.shortcut_id %>
  <% end %>

  <% if action?(:new) ||  action?(:create) %>
    <%= f.fields_for :donor do |d| %>
      <%= d.hidden_field :task_id, value: @insertion_task&.id %>
      <%= d.hidden_field :mode, value: @insert_mode %>
    <% end %>
  <% end %>

 <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if action?(:new) || action?(:create)%>
        <% if insert_task %>
          <%= link_to t(".cancel"), timeline_task_path(timeline, insert_task), class: "btn" %>
        <% else %>
          <%= link_to t(".cancel"), timeline_empty_path(@timeline), class: "btn" %>
        <% end %>
      <% else %>
        <%= link_to t(".cancel"), timeline_task_path , class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>

<% end %>
