<% breadcrumb :timeline, @timeline %>

<%= render "timeline", timeline: @timeline, editable: true %>

<% def action?(option) action_name.to_sym == option; end %>

<div class="admin-timeline">
  <% if action?(:empty) %>
    <div class="empty">
      <div class="empty-text">
        <p><%= t(".empty") %></p>
      </div>
      <div class="btn-group">
        <%= link_to t(".add_task"), new_timeline_task_path(insert: :first), class: "btn" %>
      </div>
    </div>
  <% else %>
    <div class="admin-timeline-preview">

      <div class="heading">
        <% if action?(:show) %>
          <div class="actions">
            <h2 class="page-name"><%= @task.title %></h2>
            <div class="btn-group">
              <%= link_to t(".edit"), edit_timeline_task_path, class: "btn"%>
              <%= link_to t(".delete"), timeline_task_path, method: :delete, class: "btn"%>
              <%= link_to t(".insert_before", page: @task.title), new_timeline_task_path(task_id: @task.id, insert: :before), class: "btn insert" %>
              <%= link_to t(".insert_after", page: @task.title), new_timeline_task_path(task_id: @task.id, insert: :after), class: "btn insert" %>
            </div>
          </div>

        <% end %>
      </div>

      <div class="preview">
        <div class="timeline-sidebar">
          <div class="list-stages">
            <ul class="vertical">
              <% @timeline.timeline_stages.each do |tstage| %>
              <li class="stage-title"><span class="branded-text"><%= tstage.stage.title %></span></li>
              <ul class="sub-stage">
                <% @timeline.tasks&.each do |tt| %>
                  <% if tt.stage.title == tstage.stage.title %>
                <li id = "<%= 'activeTaskScroll' if tt == @task %>"
                    class="sub-stage-container branded-text <%= 'active' if @task.present? && @task == tt %>">
                  <a class="stage" href="<%= timeline_task_path @timeline, tt %>"><%= tt.title %></a>
                </li>
                  <% end %>
                <% end %>
              </ul>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="timeline-content">
          <div id="question">
            <div class="content">
              <p><%= @task.question %></p>
            </div>
            <div class="actions">
              <div class="timeline-btn">
                <%= @task.positive %>
              </div>
              <div class="timeline-btn" id="viewAnswer"><%= @task.negative %></div>
              <% if @task.not_applicable %>
                <div class="timeline-btn"><%= t(".not_applicable") %></div>
              <% end %>
            </div>
          </div>

          <div id="answer">
            <div class="answer-container">
              <h2><%= @task.answer %></h2>
              <p><%= simple_format @task.response %></p>

              <aside class="useful-extras">
                <div class="actions-container">
                  <%if @task.action %>
                    <p><%= @task.action.description %></p>
                    <button onclick="window.open('<%= @task.action.link %>', '_blank')" type="button" class="btn timeline-btn"><%= @task.action.title %></button>
                  <% end %>
                </div>

                <div class="features-container">
                  <% if @task.feature %>
                    <p><%= @task.feature.description %></p>
                    <button onclick="window.open('<%= @task.feature.link %>', '_blank')" type="button" class="btn timeline-btn"><%= @task.feature.title %></button>
                  <% end %>
                </div>
              </aside>
            </div>

            <div class="timeline-footer">
              <aside class="shortcuts-container">
                <% if @task.task_shortcuts %>
                <div class="shortcuts-question">
                  <div class="shortcuts">
                    <div id="timelineShortcuts" class="shortcut-button"><i id="shortcutButton" class="fa fa-question"></i></div>
                  </div>

                  <% @task.task_shortcuts.each do |shortcut| %>
                  <% if shortcut.live %>
                  <div class="shortcut-links link_<%=shortcut.shortcut_type%>">
                    <button type="button" id="shortcut<%=shortcut.shortcut_type.camelize%>" class="shortcut-link" disabled="disabled">
                      <!-- icons are adding via javascript -->
                      <i class=""></i>
                    </button>
                    <span class="shortcut-label branded-text"><%= t(".#{shortcut.shortcut_type}") %></span>
                  </div>
                  <% end%>
                  <% end %>
                </div>
                <% end %>
              </aside>

              <div class="next">
                <% if @task.next %>
                  <a href="<%= timeline_task_path @timeline, @task.next %>">
                <% end %>
                Next</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t("back"), timelines_path, class: "btn" %>
    </div>
  </div>

</div>
