<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<p>Hi <%= @name %>,<p>

<p><%= @event&.title%> for Plot <%= @plot.number %> at <%= @plot.development_name%> has been cancelled.</p>

<p>Title: <%= @event.title %></p>
<% if @event.location? %>
<p>Location: <%= @event.location %></p>
<% end %>
<p>Start Time: <%= @event.time_in_zone(:start) %></p>
<p>End Time: <%= @event.time_in_zone(:end) %></p>

<p><%= link_to "Login to your portal", root_url %> to review your calendar.</p>
