<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>


<p>Hi,</p>

<p>The following appointment for plot <%= @plot.number %> at <%= @plot.development_name%> has been <%= @resource.status %> by <%= @resource.resourceable %></p>

<p>Title: <% @event.title %></p>
<% if @event.location? %>
<p>Location: <%= @event.location %></p>
<% end %>
<p>Start Time: <%= @event.time_in_zone(:start) %></p>
<p>End Time: <%= @event.time_in_zone(:end) %></p>

<% if @resource.rescheduled? %>
<p>Rescheduled Start Time: <%= @resource.event.time_in_zone(:proposed_start) %></p>
<p>Rescheduled End Time: <%= @resource.event.time_in_zone(:proposed_end) %></p>
<% end %>

<%= link_to "Go To Appointment", @link, class: "btn" %></p>
