<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto;padding-bottom: 20px;") %>

<p>Hi <%= @name %>,<p>

<p><%= @event&.title%> for <%= @parent.class.to_s %> <%= @parent.identity %> is happening <%= ReminderEnum.reminder(@event.reminder) %>.</p>

<p>Title: <%= @event.title %></p>
<% if @event.location? %>
<p>Location: <%= @event.location %></p>
<% end %>
<!-- This cannot use default date format as it runs in a seperate exe -->
<p>Start Time: <%= @event.time_in_zone(:start).strftime("%d/%m/%Y %H:%M") %></p>
<p>End Time: <%= @event.time_in_zone(:end).strftime("%d/%m/%Y %H:%M") %></p>

<%= link_to "Go To Appointment", @link, class: "btn" %>
