<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<p>Hi,</p>

<p>The time for an event has been updated in your calendar for plot <%= @plot.number %> at <%= @plot.development_name%>.</p>

<p>New Time Set by: <%= @event.full_name %></p>
<p>Title: <%= @event.title %></p>
<% if @event.location? %>
<p>Location: <%= @event.location %></p>
<% end %>
<p>Start Time: <%= @event.time_in_zone(:start) %></p>
<p>End Time: <%= @event.time_in_zone(:end) %></p>

<% unless @event.never? %>
<p>This event has been set to repeat <%= @event.repeat %> until <%= @event.repeat_until %>.</p><% end %>

<% unless @event.nix? %>
<p>You will be sent an email reminder for this meeting
    <% if @event.at? %>
      at the time of the event
    <% elsif @event.hour? %>
      an hour before the event
    <% else %>
      a <%= @event.reminder %> before the event
    <% end %> </p>
<% end %>

<p><%= link_to "Login to your portal", root_url %> to review this event and propose a new time if necessary.</p>

<%= link_to "Go To Appointment", @link, class: "btn" %>
