<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "building", type: Plot, parent: parent %>
<% else %>
  <% if can_create(Plot, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to [:new, parent, :plot], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list plots">
    <thead>
      <tr>
        <th><%= sortable(Plot, :number, t(".name")) %></th>
        <th><%= sortable(Plot, :updated_at) %></th>
        <th><%= sortable(Plot, :unit_type_id, t(".unit_type")) %></th>
        <th><%= sortable(Plot, :progress, t(".progress")) %></th>
        <th><%= t(".activation") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |plot| %>
        <tr data-plot="<%= plot.id %>">
          <td><%= link_to_unless (cannot? :read, plot), plot, url_for(plot), title: plot %></td>
          <td><%= l plot.updated_at.to_date, format: :digits %></td>
          <td><%= plot.unit_type %></td>
          <td><%= t("activerecord.attributes.plot.progresses.#{plot.progress}") %></td>
          <td><%= t(".activated", activated: plot.activated_resident_count, all: plot.residents.count) %></td>
          <td class="actions">
            <%= edit_btn [:edit, plot], element: plot %>
            <%= delete_btn plot, path: url_for(plot), element: plot %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
