<div class="section-actions">
  <%= link_to [:new, parent, :plot], class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    <span class="btn-label"><%= t(".add") %></span>
  <% end %>
</div>

<div class="record-list">
  <dl class="plots">
    <dt class="record-list-item record-header">
      <div class="record-list-header-content">
        <span><%= sortable(Plot, :number, t(".name")) %></span>
        <span><%= sortable(Plot, :updated_at) %></span>
        <span><%= sortable(Plot, :unit_type_id, t(".unit_type")) %></span>
      </div>
    </dt>
    <% collection.each do |plot| %>
      <dd class="record-list-item" data-plot="<%= plot.id %>">
        <div class="record-list-item-actions">
          <%= edit_btn [:edit, plot], element: plot %>
          <%= delete_btn plot, path: plot_path(plot), element: plot %>
        </div>
        <div class="record-list-item-content">
          <%= link_to_unless (cannot? :read, plot), plot, plot, title: plot %>
           <span class="plot-updated-timestamp">
             <%= l plot.updated_at.to_date, format: :digits %>
           </span>
           <span>
             <%= plot.unit_type %>
           </span>
        </div>
      </dd>
    <% end %>
  </dl>
</div>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
