<div class="plot-completion">
  <% if plot.expired? && !(current_user.cf_admin?) %>
    <div class="row">
      <div class="row-item half">
        <label><%= t(".title") %></label><br/>
        <span><%= plot.completion_date.strftime("%d %B %Y") if plot.completion_date %></span>
      </div>
    </div>
  <% else %>
    <%= simple_form_for plot, url: plot_path(plot), html: { method: :put } do |f| %>
      <div class="row">
        <div class="row-item half">
          <p><%= t(".disclaimer_1") %></p>
          <p style="font-weight: 600;"><%= t(".disclaimer_2") %></p>
          <div class="plot_progress ui-front select-container">
            <label><%= t(".title") %></label>
            <%= f.input :completion_date, as: :string,
                      placeholder: "DD/MM/YYYY",
                      input_html: { type: :date, :value => f.object&.completion_date&.html }, label: false %>
          </div>
          <%= f.submit t("edit.submit"), class: "btn-form-submit btn-primary" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
