<%= simple_form_for([parent, plots]) do |f| %>
  <% if plots.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% plots.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :prefix %>

        <% if f.object.persisted? %>
          <%= f.input :number %>

          <hr>

          <span class="hint range-hint"><%= t(".optional_range_hint") %></span>
        <% end %>

        <%= f.input :range_from, as: :integer, placeholder: t(".range_from_placeholder"), label: t(".range_label") %>
        <%= f.input :range_to, as: :integer, placeholder: t(".range_to_placeholder"), label: false %>
        <%= f.input :list, as: :text, label: "Add Plots by List", hint: t(".list_input_hint") %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.association :unit_type, as: :select, collection: unit_types.pluck(:name, :id) %>
        <label><%= t(".current_progress") %></label>
        <span><%= t("activerecord.attributes.plot.progresses.#{plot.progress}") %></span>
        <label><%= t(".update_progress") %></label>
        <%= f.input :progress, as: :select, collection: progress_collection(plot.progress), label: false %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.input :house_number %>
        <%= f.input :building_name, label: false, placeholder: t("addresses.placeholders.building") %>
        <%= f.input :road_name, label: false, placeholder: t("addresses.placeholders.road") %>
        <%= f.input :postcode %>
        <%= f.input :locality, readonly: true, class: "readonly" %>
        <%= f.input :city, readonly: true, class: "readonly" %>
        <%= f.input :county, readonly: true, class: "readonly" %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent, :plots], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), [plots.parent, :plots], class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <div class="notify">
        <%= label_tag t(".notify") %>
        <%= f.check_box :notify %>
      </div>
    </div>
  </div>
<% end %>
