<%= simple_form_for([parent, plots]) do |f| %>
  <% if plots.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% plots.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <% if f.object.persisted? %>
        <fieldset>
          <%= f.input :number %>
          <%= f.association :unit_type, label: t(".unit_type"), as: :select, collection: unit_type_collection(plot.parent) %><br/>
          <%= render "components/admin/plot_fields", f: f, plot: plot %>
        </fieldset>
      <% else %>
        <%= render "components/admin/plots_select", f: f %>
        <%= f.association :unit_type, label: t(".unit_type"), as: :select, collection: unit_type_collection(plot.parent) unless f.object.persisted? %>
      <% end %>
    </div>

    <% if f.object.persisted? %>
      <div class="row-item third">
        <fieldset>
          <%= render "components/admin/plot_date_fields", f: f, plot: plot %>
        </fieldset>
      </div>
    <% end %>

    <% if plot.spanish? %>
      <%= render "components/admin/spanish_plot_address_fields", f: f, plot: plot %>
    <% else %>
      <%= render "components/admin/plot_address_fields", f: f, plot: plot %>
    <% end %>

  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent.parent, parent, active_tab: :plots], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), [plots.parent.parent, plots.parent, active_tab: :plots], class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <% if f.object.persisted? %>
        <div class="notify">
          <%= label_tag t(".notify") %>
          <%= f.check_box :notify %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
