<%= simple_form_for([parent, plots]) do |f| %>
  <% if plots.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% plots.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if f.object.persisted? %>
    <div class="tabs">
      <ul>
        <% %i[primary details services metadata].each_with_index do |tab, index| %>
          <li class="tab" id=<%= "#{tab}" %>><span class="tabspan"><%= t(".tabs.#{tab}") %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" id="primary">
    <div class="row-item third">
      <% if f.object.persisted? %>
        <fieldset>
          <%= f.input :number, disabled: !current_user.cf_admin? %>
          <%= f.hidden_field :ut_update_option, value: UnitType::UNCHANGED%>
          <% if current_user.cf_admin? || (plot.cas && !plot.free?) %>
            <%= f.association :unit_type, label: t(".unit_type"), as: :select, collection: unit_type_collection(plot.parent), disabled: (cannot? :update_unit_type, plot) %>
          <% end %>
          <%= f.input :uprn, label: t("activerecord.attributes.plot.uprn") %>
          <%= render "components/admin/plot_fields", f: f, plot: plot %>

        </fieldset>
      <% else %>
        <%= render "components/admin/plots_select", f: f %>
        <%= f.association :unit_type, label: t(".unit_type"), as: :select, collection: unit_type_collection(plot.parent) unless f.object.persisted? %>
      <% end %>
    </div>

    <% if current_user.cf_admin? %>
      <% if f.object.persisted? %>
        <div class="row-item third">
          <fieldset>
            <%= render "components/admin/plot_date_fields", f: f, plot: plot, phase: plot.phase %>
          </fieldset>
        </div>
      <% end %>
    <% end %>

    <% if plot.spanish? %>
      <%= render "components/admin/spanish_plot_address_fields", f: f, plot: plot %>
    <% else %>
      <%= render "components/admin/plot_address_fields", f: f, plot: plot %>
    <% end %>

  </div>

  <% if f.object.persisted? %>
    <%= f.simple_fields_for :material_info do |m| %>
      <div class="row" id="services">
        <div class="row-item third">
          <%= m.input :electricity_supply, label: p_label(:electricity_supply), as: :select, collection: electricity_supply_collection, include_blank: false %>
          <%= m.input :electricity_supply_other, label: t(".electricity_supply_other") %>
          <%= m.input :water_supply, label: p_label(:water_supply), as: :select, collection: water_supply_collection, include_blank: false %>
          <%= m.input :sewerage, label: p_label(:sewerage), as: :select, collection: sewerage_collection, include_blank: false %>
          <%= m.input :sewerage_other, label: p_label(:sewerage_other) %>
        </div>

        <div class="row-item third">
          <%= m.input :broadband, label: p_label(:broadband), as: :select, collection: broadband_collection, include_blank: false %>
          <%= m.input :mobile_signal, label: p_label(:mobile_signal), as: :select, collection: mobile_signal_collection, include_blank: false %>
          <%= m.input :mobile_signal_restrictions, label: t(".mobile_signal_restrictions") %>
        </div>
        <div class="row-item third">
          <fieldset class="skip-global-selectmenu">
            <div class="finish_manufacturer_finish_type ui-front select-container">
              <%= m.association :heating_fuels, label: p_label(:heating_fuels), collection: HeatingFuel.all.order(:id), multiple: true, class: "multiple" %>
            </div>
          </fieldset>
          <fieldset class="skip-global-selectmenu">
            <div class="finish_manufacturer_finish_type ui-front select-container">
              <%= m.association :heating_sources, label: p_label(:heating_sources), collection: HeatingSource.all.order(:id), multiple: true, class: "multiple" %>
            </div>
          </fieldset>
          <fieldset class="skip-global-selectmenu">
            <div class="finish_manufacturer_finish_type ui-front select-container">
              <%= m.association :heating_outputs, label: p_label(:heating_outputs), collection: HeatingOutput.all.order(:id), multiple: true, class: "multiple" %>
            </div>
          </fieldset>
        </div>

      </div>

      <div class="row" id="details">
        <div class="row-item third">
          <fieldset>
            <%= m.input :tenure, label: p_label(:tenure), as: :select, collection: client_tenure_collection, include_blank: false %>
            <%= m.input :lease_length, label: p_label(:lease_length) %>
            <%= m.input :selling_price, label: p_label(:selling_price) %>
            <%= m.input :reservation_fee, label: p_label(:reservation_fee) %>
            <%= m.input :service_charges, label: p_label(:service_charges) %>
            <%= m.input :floorspace, label: t(".floorspace") %>
            <%= m.input :estimated_legal_completion_date, label: p_label(:estimated_legal_completion_date), as: :string,
             placeholder: "DD/MM/YYYY",
             input_html: { type: :date, :value => m.object&.estimated_legal_completion_date&.html } %>
          </fieldset>
        </div>
        <div class="row-item third">
          <%= m.input :property_type, label: p_label(:property_type), as: :select, collection: property_type_collection, include_blank: false %>
          <%= m.input :floor, label: t(".floor"), as: :select, collection: floor_collection, include_blank: false %>
          <%= m.input :property_construction, label: p_label(:property_construction), as: :select, collection: property_construction_collection, include_blank: false %>
          <%= m.input :property_construction_other, label: t(".property_construction_other") %>
          <%= m.input :council_tax_band, label: p_label(:council_tax_band), as: :select, collection: council_tax_band_collection, include_blank: false %>
          <%= m.input :parking, label: t(".parking"), as: :select, collection: parking_collection, include_blank: false %>
          <%= m.input :epc_rating, label: p_label(:epc_rating), as: :select, collection: epc_collection, include_blank: false %>
        </div>
        <div class="row-item third">
          <%= m.input :warranty_num, label: t(".warranty_num") %>
          <%= m.input :mprn, label: t(".mprn") %>
          <%= m.input :mpan, label: t(".mpan") %>
        </div>
      </div>

      <div class="row" id="metadata">
        <%= m.input :building_safety, label: t(".building_safety"), as: :ckeditor %>
          <%= m.input :restrictions, label: t(".restrictions"), as: :ckeditor %>
          <%= m.input :rights_and_easements, label: t(".rights_and_easements"), as: :ckeditor %>
          <%= m.input :flood_risk, label: t(".flood_risk"), as: :ckeditor %>
          <%= m.input :planning_permission_or_proposals, label: t(".planning_permission_or_proposals"), as: :ckeditor %>
          <%= m.input :accessibility, label: t(".accessibility"), as: :ckeditor %>
          <%= m.input :coalfield_or_mining_areas, label: t(".coalfield_or_mining_areas"), as: :ckeditor %>
          <%= m.input :other_considerations, label: t(".other_considerations"), as: :ckeditor %>
      </div>
    <% end %>
  <% end %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent.parent, parent, active_tab: :plots], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), [plots.parent.parent, plots.parent, active_tab: :plots], class: "btn" %>
      <% end %>
      <% if params[:action] == "edit" %>
        <%= button_tag "Submit", :type => 'button', class: "btn btn-primary btn-form-submit", id: 'submit-plot-btn' %>
      <% else %>
        <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <% end %>
      <% if f.object.persisted? %>
        <div class="notify">
          <%= label_tag t(".notify") %>
          <%= f.check_box :notify %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if params[:action] == "edit" %>
  <div class="ut-update-option-form hidden">
    <%= render 'components/admin/unit_type_update_option_form', header: t(".update_ut").html_safe%>
  </div>
<% end %>
