<%= simple_form_for([parent, plots]) do |f| %>
  <% if plots.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% plots.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :prefix %>
        <% if f.object.persisted? %>
          <%= f.input :number %>
          <%= f.input :reservation_release_date, as: :string,
             placeholder: "DD/MM/YYYY",
             input_html: { type: :date } %>
          <%= f.input :completion_release_date, as: :string,
                     placeholder: "DD/MM/YYYY",
                     input_html: { type: :date } %>
          <%= f.label :validity %>
          <%= f.number_field :validity, min: 0 %>
          <%= f.label :extended_access %>
          <%= f.number_field :extended_access, min: 0 %>
        <% else %>
          <hr>
          <span class="hint range-hint"><%= t(".optional_range_hint") %></span>
          <%= f.input :range_from, as: :integer, placeholder: t(".range_from_placeholder"), label: t(".range_label") %>
          <%= f.input :range_to, as: :integer, placeholder: t(".range_to_placeholder"), label: false %>
          <%= f.input :list, as: :text, label: "Add Plots by List", hint: t(".list_input_hint") %>
        <% end %>

      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.association :unit_type, as: :select, collection: unit_types.pluck(:name, :id) %>
        <%= f.input :completion_date, as: :string,
                    placeholder: "DD/MM/YYYY",
                    input_html: { type: :date } %>
        <label><%= t(".current_progress") %></label>
        <span><%= t("activerecord.attributes.plot.progresses.#{plot.progress}") %></span>
        <div class=" ui-front select-container">
          <label><%= t(".update_progress") %></label>
          <%= f.input :progress, as: :select, collection: progress_collection(progress_id), label: false %>
        </div>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.input :house_number %>
        <%= f.input :building_name, label: false, placeholder: t("addresses.placeholders.building") %>
        <%= f.input :road_name, label: false, placeholder: t("addresses.placeholders.road") %>
        <%= f.input :postcode %>
        <%= f.input :locality, readonly: true, class: "readonly" %>
        <%= f.input :city, readonly: true, class: "readonly" %>
        <%= f.input :county, readonly: true, class: "readonly" %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent.parent, parent, active_tab: :plots], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), [plots.parent.parent, plots.parent, active_tab: :plots], class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <div class="notify">
        <%= label_tag t(".notify") %>
        <%= f.check_box :notify %>
      </div>
    </div>
  </div>
<% end %>
