<%= simple_form_for([parent, plots]) do |f| %>
  <% if plots.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% plots.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <% if f.object.persisted? %>
        <fieldset>
          <%= f.input :number, disabled: !current_user.cf_admin? %>
          <%= f.hidden_field :ut_update_option, value: UnitType::UNCHANGED%>
          <% if current_user.cf_admin? || (plot.cas && !plot.free?) %>
            <%= f.association :unit_type, label: t(".unit_type"), as: :select, collection: unit_type_collection(plot.parent), disabled: (cannot? :update_unit_type, plot) %>
          <% end %>
          <%= f.input :uprn, label: t("activerecord.attributes.plot.uprn") %>
          <%= render "components/admin/plot_fields", f: f, plot: plot %>

        </fieldset>
      <% else %>
        <%= render "components/admin/plots_select", f: f %>
        <%= f.association :unit_type, label: t(".unit_type"), as: :select, collection: unit_type_collection(plot.parent) unless f.object.persisted? %>
      <% end %>
    </div>

    <% if current_user.cf_admin? %>
      <% if f.object.persisted? %>
        <div class="row-item third">
          <fieldset>
            <%= render "components/admin/plot_date_fields", f: f, plot: plot, phase: plot.phase %>
          </fieldset>
        </div>
      <% end %>
    <% end %>

    

    <% if plot.spanish? %>
      <%= render "components/admin/spanish_plot_address_fields", f: f, plot: plot %>
    <% else %>
      <%= render "components/admin/plot_address_fields", f: f, plot: plot %>
    <% end %>

  </div>

  <div>
    <% if f.object.persisted? %>
      <fieldset>
        <%= f.simple_fields_for :material_info do |m| %>
          <%= m.input :selling_price %>
          <%= m.input :reservation_fee %>
          <fieldset>
            <%= m.input :tenure, label: t(".tenure"), as: :select, collection: client_tenure_collection, include_blank: false %>
            <%= m.input :lease_length %>
          </fieldset>
          <%= m.input :service_charges %>
          <%= m.input :council_tax_band, label: t(".council_tax_band"), as: :select, collection: council_tax_band_collection, include_blank: false %>
          <%= m.input :property_type, label: t(".property_type"), as: :select, collection: property_type_collection, include_blank: false %>
          <%= m.input :floor, label: t(".floor"), as: :select, collection: floor_collection, include_blank: false %>
          <%= m.input :floorspace, label: t(".floorspace") %>
          <%= m.input :estimated_legal_completion_date, label: t(".estimated_legal_completion_date"), as: :string,
             placeholder: "DD/MM/YYYY",
             input_html: { type: :date, :value => m.object&.estimated_legal_completion_date&.html } %>
          <%= m.input :epc_rating, label: t(".epc_rating"), as: :select, collection: epc_collection, include_blank: false %>
          <%= m.input :property_construction, label: t(".property_construction"), as: :select, collection: property_construction_collection, include_blank: false %>
          <%= m.input :property_construction_other, label: t(".property_construction_other") %>
          <%= m.input :electricity_supply, label: t(".electricity_supply"), as: :select, collection: electricity_supply_collection, include_blank: false %>
          <%= m.input :electricity_supply_other, label: t(".electricity_supply_other") %>
          <%= m.input :water_supply, label: t(".water_supply"), as: :select, collection: water_supply_collection, include_blank: false %>
          <%= m.input :sewerage, label: t(".sewerage"), as: :select, collection: sewerage_collection, include_blank: false %>
          <%= m.input :sewerage_other, label: t(".sewerage_other") %>
          <fieldset class="skip-global-selectmenu">
            <div class="finish_manufacturer_finish_type ui-front select-container">
              <%= m.association :heating_fuels, label: t(".heating_fuels"), collection: HeatingFuel.all.order(:id), multiple: true, class: "multiple" %>
            </div>
          </fieldset>
          <fieldset class="skip-global-selectmenu">
            <div class="finish_manufacturer_finish_type ui-front select-container">
              <%= m.association :heating_sources, label: t(".heating_sources"), collection: HeatingSource.all.order(:id), multiple: true, class: "multiple" %>
            </div>
          </fieldset>
          <fieldset class="skip-global-selectmenu">
            <div class="finish_manufacturer_finish_type ui-front select-container">
              <%= m.association :heating_outputs, label: t(".heating_outputs"), collection: HeatingOutput.all.order(:id), multiple: true, class: "multiple" %>
            </div>
          </fieldset>
          <%= m.input :broadband, label: t(".broadband"), as: :select, collection: broadband_collection, include_blank: false %>
          <%= m.input :mobile_signal, label: t(".mobile_signal"), as: :select, collection: mobile_signal_collection, include_blank: false %>
          <%= m.input :mobile_signal_restrictions, label: t(".mobile_signal_restrictions") %>
          <%= m.input :parking, label: t(".parking"), as: :select, collection: parking_collection, include_blank: false %>
          <%= m.input :building_safety, label: t(".building_safety"), as: :ckeditor %>
          <%= m.input :restrictions, label: t(".restrictions"), as: :ckeditor %>
          <%= m.input :rights_and_easements, label: t(".rights_and_easements"), as: :ckeditor %>
          <%= m.input :flood_risk, label: t(".flood_risk"), as: :ckeditor %>
          <%= m.input :planning_permission_or_proposals, label: t(".planning_permission_or_proposals"), as: :ckeditor %>
          <%= m.input :accessibility, label: t(".accessibility"), as: :ckeditor %>
          <%= m.input :coalfield_or_mining_areas, label: t(".coalfield_or_mining_areas"), as: :ckeditor %>
          <%= m.input :other_considerations, label: t(".other_considerations"), as: :ckeditor %>
          <%= m.input :warranty_num, label: t(".warranty_num") %>
          <%= m.input :mprn, label: t(".mprn") %>
          <%= m.input :mpan, label: t(".mpan") %>
        <% end %>
      </fieldset>
    <% end %>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent.parent, parent, active_tab: :plots], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), [plots.parent.parent, plots.parent, active_tab: :plots], class: "btn" %>
      <% end %>
      <% if params[:action] == "edit" %>
        <%= button_tag "Submit", :type => 'button', class: "btn btn-primary btn-form-submit", id: 'submit-plot-btn' %>
      <% else %>
        <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <% end %>
      <% if f.object.persisted? %>
        <div class="notify">
          <%= label_tag t(".notify") %>
          <%= f.check_box :notify %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if params[:action] == "edit" %>
  <div class="ut-update-option-form hidden">
    <%= render 'components/admin/unit_type_update_option_form', header: t(".update_ut").html_safe%>
  </div>
<% end %>
