<%= simple_form_for([development, plot]) do |f| %>
  <% if plot.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% plot.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :prefix %>
        <%= f.input :number, as: :integer %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.association :unit_type, as: :select, collection: development.unit_types.pluck(:name, :id) %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), development_plots_path(development), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
