<%= simple_form_for([parent, plot]) do |f| %>
  <% if plot.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% plot.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :prefix %>
        <%= f.input :number, as: :integer %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.association :unit_type, as: :select, collection: plot.unit_types.pluck(:name, :id) %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.input :house_number %>
        <%= f.input :building_name, label: false, placeholder: t("addresses.placeholders.building") %>
        <%= f.input :road_name, label: false, placeholder: t("addresses.placeholders.road") %>
        <%= f.input :postcode %>
        <%= f.input :city, readonly: true, class: "readonly" %>
        <%= f.input :county, readonly: true, class: "readonly" %>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent, :plots], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), plot, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
