<div class="section-title">
  <h3><%= plot %></h3>

  <span class="about">
    <strong><%= t(".private_documents") %></strong><%= plot&.private_documents&.count || t(".none") %>
  </span>
</div>

<div class="section-data">
  <%= render 'address/address', address: plot %>
  <span class="strong"><%= plot.unit_type %></span>
  <%= edit_btn [:edit, plot], element: plot %>
</div>
