<div class="section-title">
  <% if plot.expired? && !(current_user.cf_admin?) %>
    <div class="expired"><span class="expired-text"><%= t(".expiry") %></span></div>
  <% end %>

  <div><%= plot %></div>

  <% cas_update = current_user&.cf_admin? || can?(:cas_update, plot) %>

  <div class="about">
    <br/>
    <span class="overview">
      <strong><%= t(".uprn") %></strong><%= plot&.uprn || "Not set" %><br/>
      <strong><%= t(".expiry_date") %></strong><%= plot&.expiry_date&.strftime("%d %B %Y") %><br/><br/>
      <strong><%= t(".progress") %></strong><%= t("activerecord.attributes.plot.progresses.#{plot.progress}") %><br/>
      <strong><%= t(".completion_date") %></strong><%= plot&.completion_date&.strftime("%d %B %Y") || "Not set" %><br/><br/>
      <strong><%= t(".invited_residents") %></strong><%= plot.residents.count %><br/>
      <strong><%= t(".activated_residents") %></strong><%= plot.activated_resident_count %><br/><br/>
      <strong><%= t(".private_documents") %></strong><%= plot&.private_document_count %><br/>
    </span>
    <span class="cas-overview">
      <strong><%= t(".timeline") %></strong><%= plot&.timeline_title || "Not set" %><br/>
      <% if current_user.cf_admin? || plot.cas %>
        <%= t("cas_enabled", status: plot.cas ? t("enabled") : t("disabled")).html_safe %><br/><br/>
      <% end %>
      <% if cas_update %>
        <strong><%= t(".rooms") %></strong><%= plot.rooms.count %><br/>
        <strong><%= t(".appliances") %></strong><%= plot.appliances_count %><br/>
        <strong><%= t(".finishes") %></strong><%= plot.finishes_count %><br/>
      <% end %>
    </span>
  </div>
</div>

<div class="section-data">
  <%= render 'address/address', address: plot %><br/>
  <strong><%= plot.unit_type %></strong><br/>
  <% if cas_update %>
    <%= edit_btn [:edit, plot], element: plot %>
  <% end %>
  <%= (link_to t(".preview"), plot_preview_path(plot), class: "btn") unless plot.expired? && !(current_user.cf_admin?) %>
</div>
