<% breadcrumb :plots, @development %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
    <%= t(".title", development_name: @development.name) %>
  </h3>
  <div class="section-actions">
    <%= link_to new_development_plot_path(@development), class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  </div>
</div>

<div class="record-list">
  <dl class="plots">
    <dd class="record-list-item record-header">
      <div class="record-list-header-content">
        <span><%= sortable(Plot, :number) %></span>
        <span><%= sortable(Plot, :updated_at) %></span>
      </div>
    </dd>
    <% @plots.each do |plot| %>
      <dt class="record-list-item" data-plot="<%= plot.id %>">
        <div class="record-list-item-actions">
          <%= edit_btn edit_development_plot_path(@development, plot) %>
          <%= delete_btn plot, path: url_for([@development, plot]) %>
        </div>
        <div class="record-list-item-content">
           <%= link_to plot, edit_development_plot_path(@development, plot), class: "plot-name" %>
           <span class="plot-updated-timestamp">
             <%= l plot.updated_at.to_date, format: :digits %>
           </span>
        </div>
      </dt>
    <% end %>
  </dl>
</div>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate @plots %>
</div>
