<% breadcrumb :plot, @plot %>

<div class="section-header">
  <h3 class="section-title">
    <%= @plot %>
  </h3>

  <div class="section-data">
    <!-- No house number yet -->
    <%= render 'address/address', address: @plot.development.address %>
    <span class="strong"><%= @plot.unit_type %></span>
    <%= edit_btn [:edit, @plot] %>
    <!-- span class="strong"><%= t(".completion") %></span -->
  </div>
</div>

<%= render 'components/tabs', tabs: plot_tabs(@plot, @active_tab), parent: @plot.unit_type %>

<%= render_collection @collection, parent: @plot.unit_type %>

<%= link_to t(".back"), [@plot.parent, :plots], class: "btn" %>
