<% breadcrumb :plot, @plot %>

<div class="plot">
  <div class="section-header">
    <%= render @plot %>
  </div>

  <%= render 'components/tabs', tabs: plot_tabs(@plot, @active_tab, current_user), parent: @plot.unit_type %>
  <% if @active_tab == "progress" %>
    <%= render "progresses/progress", plot: @plot, progress_id: @progress_id %>
  <% elsif @active_tab == "completion" %>
    <%= render "plots/completion", plot: @plot %>
  <% elsif @active_tab == "calendar" %>
    <div class="section-actions">
      <%= render 'components/admin/conveyancing', parent: @plot.parent %>
    </div>
    <%= render "calendar/events", source: @plot, preload: @preload %>
  <% else %>
    <%= render_collection @collection, collection: @collection, parent: @collection_parent, plot: @plot %>
  <% end %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@plot.parent.parent, @plot.parent, active_tab: :plots], class: "btn" %>
    </div>
  </div>
</div>
