<% breadcrumb :plot, @plot %>

<div class="plot">
  <div class="section-header">
    <%= render @plot %>
  </div>

  <%= render 'components/tabs', tabs: plot_tabs(@plot, @active_tab, current_user), parent: @plot.unit_type %>
  <% if @active_tab == "progress" %>
    <%= render "progresses/progress", plot: @plot, progress_id: @progress_id %>
  <% elsif @active_tab == "completion" %>
    <%= render "plots/completion", plot: @plot %>
  <% else %>
    <%= render_collection @collection, collection: @collection, parent: @collection_parent, plot: @plot %>
    <div class="above-footer">
      <%= (link_to t(".preview"), plot_preview_path(@plot), class: "btn") unless @plot.expired? && !(current_user.cf_admin?) %>
    </div>
  <% end %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@plot.parent.parent, @plot.parent, active_tab: :plots], class: "btn" %>
    </div>
  </div>
</div>
