<% breadcrumb :phase_calendar, @phase %>

<div class="contact-index">
  <%= render '/phases/phase', active_plots_count: @active_plots_count, completed_plots_count: @completed_plots_count,
      expired_plots_count: @expired_plots_count, resident_count: @resident_count,
      activated_resident_count: @activated_resident_count, phase: @phase %>

  <%= render 'components/tabs', tabs: phase_tabs(@phase, @active_tab, current_user) %>

  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: @phase %>
  </div>

  <%= render "calendar/events", source: @phase, preload: @preload %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if @phase.division %>
        <%= link_to t("back"), [@phase.division, @phase.development], class: "btn" %>
      <% else %>
        <%= link_to t("back"), [@phase.development, @phase], class: "btn" %>
      <% end %>
    </div>
  </div>

</div>
