<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="charts">
  <div id="selectors">
    <%= simple_form_for :charts do |f| %>
      <%= f.input :developer_id,
                  as: :select,
                      collection: @developers,
                      include_blank: t(".all"),
                      selected: @selections.developer,
                      disabled: chart_filter_disabled(:cf_admin)%>
      <%= f.input :division_id,
                  as: :select,
                      collection: @divisions,
                      include_blank: t(".choose"),
                      selected: @selections.division,
                      disabled: chart_filter_disabled(:developer_admin) || @divisions&.empty? %>
      <%= f.input :development_id,
                  as: :select,
                      collection: @developments,
                      include_blank: t(".choose"),
                      selected: @selections.development,
                      disabled: chart_filter_disabled(:division_admin) || @developments&.empty? %>
      <%= f.input :phase_id,
                   as: :select,
                       collection: @phases,
                       include_blank: t(".choose"),
                       selected: @selections.phase,
                       disabled: @phases&.empty? %>
    <% end %>
  </div>
  <div id="invite_activations">
    <div id="invited" class='chart'></div>
    <div id="activated" class='chart'></div>
    <div id="overview" class='chart'></div>
  </div>
  <div id="competitions">
    <div id="left" class='chart'></div>
    <div id="right" class='chart'></div>
  </div>
</div>
