<% unless current_user.cf_admin? %>
  <%= render "components/admin/popup", title: t("admin_dashboard.title"), preference: :show_dashboad_info_dialog, help: [t("admin_dashboard.desc", guide: @setting.help.url)], all_users: false, popup_on_load: true, width: 700, selector: ".section-title #trigger" %>
<% end %>

<div class="row">
  <div class="notifications">
    <%= render "admin/dashboard/components/recent_notifications", notifications: @notifications %>
  </div>
</div>
<div class="row">
  <div class="half documents">
    <%= render "admin/dashboard/components/recent_documents", documents: @documents %>
  </div>
  <div class="half faqs">
    <%= render "admin/dashboard/components/recent_faqs", faqs: @faqs %>
  </div>
</div>

<div id="browserSupport">
  <%= render "components/browser_support" %>
</div>
