<div class="invitation branded-content">
  <div class="register">
    <div class="login-logo">
      <%= image_tag brand_or_white_logo(@brand) %>
    </div>

    <%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :invitation_token %>

      <div class="branded-primary-text">
        <%= f.input :password, autocomplete: "off" %>
        <%= f.input :password_confirmation, autocomplete: "off" %>

        <%= f.label :subscribe_emails, class: "login-checkbox" do %>
          <%= f.check_box :subscribe_emails, class: "branded-input subscribe-emails" %>
          <i class="fa fa-check"></i> <span><%= t(".subscribe_email") %></span>
        <% end %>

        <%= f.label :accept_ts_and_cs, class: "login-checkbox" do %>
          <%= f.check_box :accept_ts_and_cs, class: "branded-input accept-ts-and-cs", checked: false %>
          <i class="fa fa-check"></i> <span><%= t(".accept_ts_and_cs") %></span>
        <% end %>
      </div>

      <div class="branded-primary-btn">
        <%= f.button :submit, t(".submit_button"), class: "continue", disabled: true %>
      </div>

      <div class="information branded-primary-text">
        <p><%= t('.policy_instructions', :href1 => link_to(t(".terms"), ts_and_cs_homeowner_path, target: "_blank"), :href2 => link_to(t(".policy"), data_policy_path, target: "_blank")).html_safe %></p>
      </div>

      <div class="information branded-primary-text">
        <p><%= t(".copyright", year: Time.current.year).html_safe %></p>
      </div>
  <% end %>
  </div>

  <div class="preamble">
    <div class="content">
      <div class="titles branded-titles">
        <h2><%= t '.welcome' %></h2>
        <h2><%= t '.welcome2' %></h2>
      </div>

      <p class="branded-text"><%= t '.welcome3' %></p>

      <ul class="branded-text">
        <li><span><%= t '.hoozzi1' %></span></li>
        <li><span><%= t '.hoozzi2' %></span></li>
        <li><span><%= t '.hoozzi3' %></span></li>
        <li><span><%= t '.hoozzi4' %></span></li>
      </ul>
    </div>
  </div>
</div>
