<div class="perks-description branded-text">
  <div><p class="bold"><%= t(".title") %></p></div>
  <div class="row">
    <div class="half perks-half">
      <p><%= t("homeowners.perks.intro_paragraph_one") %></p>
      <p><%= t("homeowners.perks.premium.intro_paragraph_two") %></p>
    </div>
    <div class="half perks-half">
      <p><%= t(".hang_tight") %></p>
    </div>
  </div>

  <div class="row perk-links">
    <%= link_to t(".back"), dashboard_path, class: "btn branded-btn-inverted" %>
  </div>
</div>
