<div class="perks-description branded-text">
  <p>
    <%= t("homeowners.perks.intro_paragraph_one") %><br/>
    <%= t("homeowners.perks.premium.intro_paragraph_two") %>
    <%= t(".completion") %>
  </p>
  <p>
    <%= t("homeowners.perks.coming_soon.sign_up_paragraph_one") %><br/>
    <%= t("homeowners.perks.sign_up_paragraph_two") %>
  </p>
</div>

<div class="perk-links">
  <%= link_to t(".back"), dashboard_path, class: "btn branded-btn-inverted" %>
</div>
