<div class="perks-description branded-text">
  <p>
    <%= t("homeowners.perks.intro_paragraph_one") %><br/>
    <%= t(".intro_paragraph_two") %>
  </p>
  <p>
    <%= t("homeowners.perks.sign_up_paragraph_one") %><br/>
    <%= t("homeowners.perks.sign_up_paragraph_two") %>
  </p>
</div>

<div class="perk-links">
  <%= link_to t(".back"), dashboard_path, class: "btn branded-btn" %>

  <%= button_tag t(".confirm"), class: "btn branded-btn-inverted activate-perks-account",
      data: {
        url: perks_url
      } %>

  <%= (render 'components/homeowner/perks_form', plot: plot, access_type: Vaboo::PREMIUM) if current_resident %>
</div>
