<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to homeowner_maintenance_path, class: "active" do %>
    <li class="navbar-item-secondary">
      <%= t(".title") %>
    </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="howto-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body">
  <div class="maintenance">
    <iframe scrollbars="no" src=<%= maintenance_auto_populate(@plot, current_resident).html_safe %>></iframe>
  </div>
</div>
