<% breadcrumb :room_edit, @room %>

<div class="section-header add_appliance">
  <h3 class="section-title">
    <%= t(".title", room_name: @room.name) %><br>
  </h3>
</div>

<%= simple_form_for([@room, @appliance_room]) do |f| %>
  <% if @appliance_room.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% @appliance_room.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row appliance">
    <div class="row-item third">
      <fieldset>
        <div class="appliance_category ui-front select-container">
          <%= label_tag Appliance.human_attribute_name(:category) %>
          <%= select_tag "appliance_category", options_from_collection_for_select(@appliance_categories, "id", "name"), prompt: t(".choose") %>
        </div>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <div class="manufacturer ui-front select-container">
          <%= label_tag Appliance.human_attribute_name(:manufacturer) %>
          <%= select_tag "manufacturer" %>
        </div>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <div class="appliances ui-front select-container">
          <%= label_tag Appliance.model_name.human %>
          <%= select_tag "appliances", required: true %>
          <span class="match-errors"></span>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@room.parent, @room, active_tab: "appliances"], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
