<% breadcrumb :room_appliance_edit, @room %>

<div class="section-header add_appliance">
  <div class="section-title">
    <%= t(".title") %><br>
  </div>
</div>

<%= simple_form_for([@room, @appliance_room]) do |f| %>
  <% if @appliance_room.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% @appliance_room.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="appliance-add">
    <div class="row-item third">
      <div class="appliance-category">
        <fieldset>
          <div class="appliance_category ui-front select-container">
            <%= label_tag t(".category") %>
            <%= select_tag :appliance_category, options_from_collection_for_select(@appliance_categories, "id", "name"), prompt: t(".choose") %>
          </div>
        </fieldset>
      </div>
      <div class="appliance-manufacturer">
        <fieldset>
          <div class="appliance_manufacturer ui-front select-container">
            <%= label_tag t(".manufacturer") %>
            <%= select_tag :appliance_manufacturer, options_from_collection_for_select(@appliance_manufacturers, "id", "name"), prompt: t(".choose") %>
          </div>
        </fieldset>
      </div>
      <div class="appliance">
        <fieldset>
          <div class="appliances ui-front select-container">
            <%= label_tag Appliance.model_name.human %>
            <%= select_tag :appliances, required: true %>
            <span class="match-errors"></span>
            <p><%= simple_format t(".cannot_find", url: new_appliance_path)%></p>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="search-appliance">
      <div class="row-item third">
        <%= f.text_field :search_appliance_text, class: "search-appliance-field", autocomplete: "off", placeholder: t(".search") %>
        <%= link_to "", class: "btn search-appliance-btn" do %>
          <i class="fa fa-search"></i>
        <% end %>
        <p class="help"><%= t(".search_help").html_safe %></p>
      </div>
    </div>
  </div>



  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@room.parent, @room, active_tab: "appliances"], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
