<div class="hidden <%= listing_id %>">
  <%= simple_form_for listing, url: phase_lettings_path(phase), remote: true do |f| %>
    <div>
      <%= f.hidden_field :letter_type, value: :unlettable %>
      <%= f.hidden_field :letable_type, value: nil %>
      <%= f.hidden_field :letable, value: false %>
    </div>
    <div>
      <h3><%= t(".are_you_sure", plot: listing.plot_number) %></h3>
    </div>
  <% end %>
</div>