<% breadcrumb :development_calendar, @development %>

<% if all_phases_free?(@development) %>
  <%= render "components/admin/popup", title: t(".help_all_free_title"), preference: :show_phase_calendar_restriction_dialog, help: [t(".help_all_free")], warn: true %>
<% elsif some_phases_free?(@development) %>
  <%= render "components/admin/popup", title: t(".help_some_free_title"), preference: :show_phase_calendar_restriction_dialog, help: [t(".help_some_free")], warn: true %>
    <script>$events_enabled = true</script>
<% end %>

<div class="development">

  <%= render '/developments/development', development: @development %>
  <%= render 'components/tabs', tabs: development_tabs(@development, @active_tab), parent: @developer %>
  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: @development %>
  </div>
  <%= render "calendar/events", source: @development, preload: @preload %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if @development.parent.is_a? Developer %>
        <%= link_to t("back"), [@development.developer, @development], class: "btn" %>
      <% else %>
        <%= link_to t("back"), [@development.division, @development], class: "btn" %>
      <% end %>
    </div>
  </div>

</div>

