<% plot = @resource.invitation_plot %>
<% if plot.branded_logo.blank? %>
  <%= image_tag("logo.png", style: "display: block;width:120px;margin: 20px auto", alt: plot.development.to_s) %>
<% else %>
  <%= image_tag(plot.branded_logo, style: "display: block;width:120px;margin: 20px auto", alt: plot.development.to_s) %>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.hello", name: @resource.to_s) %></p>

<h4><%= t("devise.mailer.resident_invitation.new_home", development_name: plot.development) %></h4>

<% invited_by_user = @resource.plot_residency_invited_by(plot) %>
<% invited_by = invited_by_user.class.to_s == "User" ? plot.developer.to_s : invited_by_user %>
<% invited_by_str = invited_by.nil? ? I18n.t("devise.mailer.resident_invitation.name") : invited_by.to_s %>
<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", name: invited_by_str) %></p>

<p><%= t("devise.mailer.resident_invitation.benefits") %></p>
<ul>
  <li><%= t("devise.mailer.resident_invitation.benefit1") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit2") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit3") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit4") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit5") %></li>
</ul>

<p><%= t("devise.mailer.resident_invitation.activate") %></p>

<p><%= t("devise.mailer.resident_invitation.log_in").html_safe %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), resident_invitation_route(plot, @token), style: "color: #59B8AE;border: 1px solid #59B8AE;padding: 6px 8px;border-radius: 4px" %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore") %></p>
<p><%= t("devise.mailer.invitation_instructions.ignore2") %></p>
