<% if @resource.plot.branded_logo.blank? %>
  <%= image_tag("logo.png", style: "display: block;width:120px;margin: 20px auto", alt: @resource.plot.development.to_s) %>
<% else %>
  <%= image_tag(@resource.plot.branded_logo, style: "display: block;width:120px;margin: 20px auto", alt: @resource.plot.development.to_s) %>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.hello", name: @resource.to_s) %></p>

<h4><%= t("devise.mailer.resident_invitation.new_home", development_name: @resource.plot.development) %></h4>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", developer: @resource.plot.developer) %></p>

<p><%= t("devise.mailer.resident_invitation.benefits") %></p>
<ul>
  <li><%= t("devise.mailer.resident_invitation.benefit1") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit2") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit3") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit4") %></li>
  <li><%= t("devise.mailer.resident_invitation.benefit5") %></li>
</ul>

<p><%= t("devise.mailer.resident_invitation.activate") %></p>

<p><%= t("devise.mailer.resident_invitation.log_in").html_safe %></p>

<p><%= link_to t("devise.mailer.invitation_instructions.accept"), resident_invitation_route(@resource.plot, @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t("devise.mailer.invitation_instructions.ignore") %></p>
<p><%= t("devise.mailer.invitation_instructions.ignore2") %></p>
