<p>Hello <%= @resource.first_name %> <%= @resource.last_name %>,</p>

<p><%= t("password_change_mailer.content", admin: "") %></p>

<p><%= t("password_change_mailer.confirm") %><%= link_to 'www.spaciable.com', root_url %></p>

<p><%= t("password_change_mailer.deny") %></p>

<p><%= link_to 'Change my password', new_resident_password_url, style: "color: #F7525E;border: 1px solid #F7525E;padding: 6px 8px;border-radius: 4px" %></p>
