<% if collection.empty? %>
  <div class="empty lower">
    <div><%= fa_icon "clock-o" %></div>
    <div><span><%= t(".empty")%></span></div>
    <div>
      <% if can_create(PhaseTimeline, parent) %>
        <%= link_to new_phase_phase_timeline_path(parent, scope: :journey), class: "btn btn-primary" do %>
          <span class="btn-label"><%= t(".add_journey") %></span>
        <% end %>
        <%= link_to new_phase_phase_timeline_path(parent, scope: :proforma), class: "btn btn-primary" do %>
          <span class="btn-label"><%= t(".add_proforma") %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <% if can_create(PhaseTimeline, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_phase_phase_timeline_path(parent, scope: :journey), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add_journey") %></span>
      <% end %>
      <%= link_to new_phase_phase_timeline_path(parent, scope: :proforma), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add_proforma") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list timeline-plots">
    <thead>
      <tr>
        <th><%= sortable(Timeline, :title, t(".name")) %></th>
        <th><%= sortable({Timeline => StageSet}, :stage_set_type, t(".type")) %></th>
        <th><%= t(".plots") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |phase_timeline| %>
        <tr>
          <td><%= link_to phase_timeline.timeline_title, timeline_path(phase_timeline.timeline_id) %></td>
          <td><%= t("stage_sets.#{phase_timeline.timeline.stage_set_type}") %></td>
          <td><%= Plot.on_phase_timeline(phase_timeline).map(&:number).join(",")%> </td>
          <td class="actions">
            <%= edit_btn [:edit, parent, phase_timeline], element: phase_timeline %>
            <%= delete_btn phase_timeline, path: url_for([parent, phase_timeline]), element: phase_timeline %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
