<div class="private-document" data-document="<%= document.id %>">
  <%= link_to document.file.url,  target: "_blank" do %>
      <div>
        <%= fa_icon "file" %>
        <h5><%= document.title %></h5>
      </div>
  <% end %>
  <div class="actions">
    <% if homeowner && document.resident == current_resident %>
      <% shared = document.shared?(plot) ? "shared" : "" %>
      <% hover_text = document.shared?(plot) ? I18n.t("buttons.shared") : I18n.t("buttons.share_all") %>
      <span class="document-permission <%= shared %>", title="<%= hover_text %>">&nbsp;</span>
    <% end %>
    <%= edit_modal document, element: document %>
    <%= delete_btn document, element: document %>
  </div>
</div>
