<%= render "components/homeowner/library_hero", active_category: @category, categories: @categories, plot: @plot %>

<%= render "components/homeowner/hero" %>

<div class="main-container">
  <% if @private_document.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% @private_document.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @plot.expired? %>
    <div class="new-document">
      <p>
        <span><%= t(".expired") %></span>
      </p>
    </div>
  <% else %>
    <div class="new-document branded-text">
      <p>
        <span><%= t(".file_description") %></span><br/>
        <span class="constraint"><%= t(".file_constraint") %></span>
      </p>
      <div class="upload-document">
      <%= simple_form_for @private_document, class: "document-form" do | f | %>
        <%= f.label :file, t(".new"), class: "btn branded-btn" %>
        <%= f.file_field :file, class: "upload-document hidden" %>
        <%= f.submit "", class: "hidden" %>
      <% end %>
      </div>
    </div>
  <% end %>

  <div class="private-documents">
    <% @private_documents.each do | document | %>
      <%= render 'homeowners/private_documents/document', document: document, homeowner: @homeowner, plot: @plot %>
    <% end %>
  </div>
</div>

<% if current_resident&.plot_residency_homeowner?(@plot) %>
  <%= render "homeowners/components/sharing_info", plot: @plot %>
<% end %>
