<% if current_user.cf_admin? %>
  <div class="section-actions">
    <%= link_to [:new, :admin, :admin_notification], class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class=""btn-label"><%= t(".add") %></span>
    <% end %>
  </div>
<% end %>

<table class="record-list">
  <thead>
    <tr>
      <th colspan="3"><%= sortable(AdminNotification, :subject, t(".headers.subject")) %></th>
      <th><%= sortable(AdminNotification, :sent_at, t(".headers.sent_at")) %></th>
      <th colspan="2"><%= sortable(AdminNotification, :sender_id, t(".headers.sender")) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |notification| %>
    <tr>
      <td colspan="3">
          <%= link_to notification, [:admin, notification], title: notification %>
      </td>
      <td>
        <% if notification&.sent_at %>
          <%= l(notification.sent_at.to_date, format: :digits) %>
        <% end %>
      </td>
      <td colspan="2">
          <%= notification.sender %>
      </td>
    <td class="actions">
      <%= view_btn admin_admin_notification_path(notification) %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
