<div class="divisions">
  <% if collection.empty? %>
    <%= render 'components/empty_list', icon_name: "building", type: Division, parent: parent %>
  <% else %>
    <% if can_create(Division, parent) %>
      <div class="section-actions">
        <%= link_to [:new, parent, :division], class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".add") %></span>
        <% end %>
      </div>
    <% end %>

    <table class="record-list">
      <thead>
        <tr>
          <th><%= sortable(Division, :division_name, t(".division")) %></th>
          <th><%= sortable(Division, :updated_at) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |division| %>
        <tr data-division="<%= division.id %>">
          <td><%= link_to division.division_name, developer_division_path(parent, division), title: division.division_name %></td>
          <td><%= l division.updated_at.to_date, format: :digits %></td>
          <td class="actions">
            <%= link_to t(".developments"), division_developments_path(division), class: "btn" %>
            <%= edit_btn edit_developer_division_path(parent, division), element: division %>
            <%= permissable_delete_btn division, path: url_for([parent, division]), element: division %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="paging">
      <%= render 'components/page_size' %>
      <%= paginate collection %>
    </div>
  <% end %>
</div>
