<div class="section-header">
  <div class="section-title">
    <% if division.expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="expired-text"><%= t(".expiry").html_safe %></span></div>
    <% end %>
    <div><%= division.division_name %></div>
    <span class="about">
      <br/>
      <strong><%= t(".active_plots") %></strong><%= division.active_plots_count %><br/>
      <strong><%= t(".completed_plots") %></strong><%= division.completed_plots_count %><br/>
      <strong><%= t(".expired_plots") %></strong><%= division.expired_plots_count %><br/><br/>
      <strong><%= t(".residents") %></strong><%= division.invited_resident_count %><br/>
      <strong><%= t(".activated_residents") %></strong><%= division.activated_resident_count %><br/><br/>
      <strong><%= t(".developments") %></strong><%= division.developments.count %><br/>
      <strong><%= t(".phases") %></strong><%= division.phases.count %>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: division.address %><br/>
    <%= render 'components/contacts', contact: division %><br/>
    <%= edit_btn [:edit, division.parent, division], element: division %>
  </div>
</div>
