<div class="section-header">
  <div class="section-title">
    <h3><%= division.division_name %></h3>
    <span class="about">
      <strong><%= t(".list_id") %></strong><%= division.list_id || t(".none") %>
    </span>
  </div>


  <div class="section-data">
    <%= render 'address/address', address: division.address %>
    <%= render 'components/contacts', contact: division %>
    <%= edit_btn [:edit, division.parent, division], element: division %>
  </div>
</div>
