<%= simple_form_for([developer, division]) do |f| %>
  <% if division.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% division.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row division-form">
    <fieldset class="about">
      <%= f.input :division_name %>
    </fieldset>

    <div class="separator"></div>

    <fieldset class="planet-rent">
      <%= f.label :planet_rent, t(".planet_rent"), class: "header-label" %>
      <span class="checkbox-description"><%= t(".planet_rent_description") %></span>
      <%= f.input :prime_lettings_admin, as: :select, collection: division.potential_prime_admins.map { |a| [a.to_s, a.id] },
          label: t(".prime_admin"), include_blank: true %>
    </fieldset>
    <fieldset class="timeline">
        <% if division.timeline %>
          <%= f.label :timeline %>
          <span class="checkbox-description"><%= t(".timeline_description") %></span>
          <%= f.input :timeline_id,
            as: :select,
            label: false,
            collection: division.developer.timelines,
            label_method: ->(timeline) { timeline.title },
            include_blank: t("timelines.turned_off"),
            selected: division.timeline_id %>
        <% end %>
    </fieldset>
  </div>


  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [developer, active_tab: :divisions], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
