<%= simple_form_for([developer, division]) do |f| %>
  <% if division.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% division.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :division_name %>
        <%= f.input :email %>
        <%= f.input :contact_number %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <label class="string optional"><%= t(".address") %></label>
          <% if(division.developer.country.uk?) %>
            <%= render "address/fields", fields: fields %>
          <% else %>
            <%= render "address/spanish_fields", fields: fields %>
          <% end %>
        <% end %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.input :prime_lettings_admin, as: :select, collection: division.potential_prime_admins.map { |a| [a.to_s, a.id] },
            label: t(".prime_admin"), include_blank: true %>
        <% if division.timeline %>
          <%= f.input :timeline_id,
            as: :select,
            collection: division.developer.timelines,
            label_method: ->(timeline) { timeline.title },
            include_blank: t("timelines.turned_off"),
            selected: division.timeline_id %>
          <p><%= t("timelines.default") %></p>
        <% end %>
      </fieldset>
    </div>
  </div>


  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [developer, active_tab: :divisions], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
