<%= simple_form_for([developer, division]) do |f| %>
  <% if division.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% division.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :division_name %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= f.input :prime_lettings_admin, as: :select, collection: division.potential_prime_admins.map { |a| [a.to_s, a.id] },
            label: t(".prime_admin"), include_blank: true %>
        <% if developer.conveyancing? %>
          <%= f.label :conveyancing, t(".conveyancing") %>
          <%= f.check_box :conveyancing %>
          <p class="checkbox-description"><%= t(".conveyancing_description") %>
          <div id="wecomplete">
            <%= f.input :wecomplete_sign_in, label: t(".wecomplete_sign_in") %>
            <%= f.input :wecomplete_quote, label: t(".wecomplete_quote") %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>


  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [developer, active_tab: :divisions], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
