<% breadcrumb :developer_divisions, @developer %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
    <%= t(".title") %>
  </h3>
  <div class="section-actions">
    <%= link_to new_developer_division_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  </div>
</div>

<%= render 'components/tabs', tabs: developer_tabs(@developer, :divisions) %>

<div class="record-list">
  <dl class="divisions">
    <dt class="record-list-item record-header">
      <div class="record-list-header-content">
        <span><%= sortable(Division, :division_name) %></span>
        <span><%= sortable(Division, :updated_at) %></span>
      </div>
    </dt>
    <% @divisions.each do |division| %>
      <dd class="record-list-item">
        <div class="record-list-item-actions">
          <%= edit_btn edit_developer_division_path(@developer, division) %>
          <%= delete_btn division, path: url_for([@developer, division]) %>
        </div>
        <div class="record-list-item-content">
          <%= link_to division.division_name, edit_developer_division_path(@developer, division) %>
          <span class="division-updated-timestamp">
           <%= l division.updated_at.to_date, format: :digits %>
         </span>
        </div>
      </dd>
    <% end %>
  </dl>
</div>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate @divisions %>
</div>
