<% breadcrumb :division, @division, @developer %>

<p id="notice"><%= notice %></p>

<h1>
  <%= @division.division_name %>
</h1>

<p>
  <strong><%= Division.human_attribute_name("email") %></strong>
  <%= @division.email %>
</p>

<p>
  <strong><%= Division.human_attribute_name("contact_number") %></strong>
  <%= @division.contact_number %>
</p>

<h3> Address details </h3>
<%= render 'addresses/show', address: @division.address %>

<%= link_to t("views.edit"), edit_developer_division_path(@developer, @division) %> |
<%= link_to t("views.back"), developer_divisions_path %>
