<% breadcrumb :division, @division %>

<div class="section-header">
  <h3 class="section-title">
    <%= @division.division_name %><br>
  </h3>

  <div class="section-data">
    <%= render 'address/address', address: @division.address %>
    <%= render 'components/contacts', contact: @division %>
    <%= edit_btn [:edit, @developer, @division] %>
  </div>
</div>

<%= render_collection @collection, parent: @division %>

<%= link_to t(".back"), developer_divisions_path, class: "btn" %>
