<%= simple_form_for([parent, video]) do |f| %>
  <% if video.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% video.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row video">
    <div class="row-item half">
      <h3 class="heading"><%= t(".heading") %></h3>
      <p><%= t(".summary") %></p>
      <h4><%= t(".youtube") %></h4>
      <p><%= t(".youtube_description").html_safe %></p>
      <h4><%= t(".vimeo") %></h4>
      <p><%= t(".vimeo_description").html_safe %></p>
      <h4><%= t(".other") %></h4>
      <p><%= t(".other_description").html_safe %></p>
    </div>

    <div class="row-item half">
      <fieldset>
        <%= f.input :title, label: t(".title") %>
        <%= f.input :link, label: t(".embedded_link"), placeholder: t(".link_example") %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent, :videos], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), video, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <div class="notify">
        <%= label_tag t(".notify") %>
        <%= f.check_box :notify %>
      </div>
    </div>
  </div>
<% end %>
