<%= simple_form_for([parent, video]) do |f| %>
  <% if video.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% video.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row videos">
    <div class="row-item two-thirds">
      <fieldset>
        <%= f.input :title, label: t(".title") %>
        <%= f.input :link, placeholder: t(".link_example") %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent, :videos], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), video, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
