<% breadcrumb :video, @video %>

<div class="section-header">
  <div class="section-title">
    <%= @video.title %><br>
  </div>
  <div class="section-data">
    <%= (edit_btn [:edit, @video], element: @video) unless @parent.expired? && !(current_user.cf_admin?) %>
  </div>
</div>

<div class="row video">
  <div class="row-item two-thirds">
    <div class="link">
      <%= label_tag(:link) %>
      <span><%= @video.link %></span>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :videos], class: "btn" %>
  </div>
</div>
