<% breadcrumb :video, @video %>

<div class="section-header">
  <h3 class="section-title">
    <%= @video.title %><br>
  </h3>
  <div class="section-data">
    <%= edit_btn [:edit, @video], element: @video %>
  </div>
</div>

<div class="row video">
  <div class="row-item half">
    <div class="title">
      <%= label_tag(:title) %>
      <span><%= @video.title %></span>
    </div>
    <div class="link">
      <%= label_tag(:link) %>
      <span><%= @video.link %></span>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :videos], class: "btn" %>
  </div>
</div>
