<% breadcrumb :development, @development %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-building"></i>
    <%= @development.name %><br>
  </h3>

  <%= render 'address/address', parent: @development %>
</div>

<%= render 'components/tabs', tabs: developer_development_tabs(@developer, @active_tab), parent: @developer %>

<%= render_collection @collection, parent: @development %>

<%= link_to t(".back"), developer_developments_path, class: "btn" %>
