<% content_for :sub_category_navigation do %>
<div class="navbar-item">
  <%= link_to snags_path do %>
  <li class="navbar-item-secondary">
    <%= t("homeowners.snags.edit.title", name: @plot.snag_name) %>
  </li>
  <% end %>
</div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="howto-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body">
  <div class="main-container">
    <div class="homeowner-snagging">
      <div class="snag-description branded-text">
        <p> <%= t(".details") %> </p>
      </div>

      <%= render 'form', snag_attachment: @snag_attachment %>
    </div>
  </div>
</div>
