<% if collection.empty? %>
    <%= render 'components/empty_list', icon_name: "user", type: PlotResidency, parent: plot %>
<% else %>
  <div class="section-actions">
    <% if can? :create, new_residency %>
      <%= link_to [:new, plot, :plot_residency], class: "btn btn-primary", data: { action: "new" } do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    <% end %>
  </div>

  <table class="record-list">
    <thead>
      <tr>
        <th><%= sortable({ PlotResidency => Resident }, :last_name, t(".last_name")) %></th>
        <th><%= sortable({ PlotResidency => Resident }, :email, t(".email")) %></th>
        <th><%= sortable(PlotResidency, :updated_at, t(".updated_at")) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |plot_residency| %>
      <tr>
        <td><%= link_to plot_residency, plot_residency, title: plot_residency %></td>
        <td><%= plot_residency.email %></td>
        <td><%= l plot_residency.updated_at.to_date, format: :digits %></td>
        <td>
          <%= edit_btn [:edit, plot_residency], element: plot_residency %>
          <%= delete_btn plot_residency, path: plot_residency_path(plot_residency), element: plot_residency %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
