<%= simple_form_for([plot, plot_residency]) do |f| %>
    <% if plot_residency.errors.any? %>
        <div class="row">
          <div class="row-item">
            <div class="submission-errors">
              <ul>
                <% plot_residency.errors.full_messages.each do |message| %>
                    <li>
                      <%= fa_icon "exclamation-circle" %>
                      <%= message %>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    <% end %>

    <div class="row">
      <div class="row-item third">
        <fieldset>
            <%= f.input :title,
                as: :select,
                collection: Resident.titles,
                label_method: ->((key, _)) { t_enum(Resident, :title, key) },
                value_method: ->((key, _)) { key },
                include_blank: false %>

          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
        </fieldset>
      </div>

      <div class="row-item third">
        <fieldset>
          <%= f.input :email, required: true %>
        </fieldset>
      </div>

      <div class="row-item third">
          <fieldset>
            <%= f.input :completion_date, as: :string,
            placeholder: "DD/MM/YYYY",
            input_html: { type: :date } %>
        </fieldset>
      </div>
    </div>

    <div class="form-actions-footer-container">
      <div class="form-actions-footer">
        <% if plot %>
          <%= link_to t(".back"), [plot, :plot_residencies], class: "btn" %>
        <% else %>
          <%= link_to t(".back"), plot_residency, class: "btn" %>
        <% end %>
        <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      </div>
    </div>
<% end %>
