<% breadcrumb :plot_residency, @plot_residency %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-user"></i>
    <%= t(".title", plot: @plot) %><br>
  </h3>
</div>

<div class="row">
  <div class="row-item two-thirds">
    <fieldset>
      <%= label_tag(PlotResidency.human_attribute_name(:resident)) %>
      <%= @plot_residency %>
      <br>
      <br>
      <%= label_tag(PlotResidency.human_attribute_name(:email)) %>
      <%= @plot_residency.email %>
    </fieldset>
  </div>
  <div class="row-item third">
    <fieldset>
      <%= label_tag(PlotResidency.human_attribute_name(:completion_date)) %>
      <%= l(@plot_residency.completion_date) if @plot_residency.completion_date? %>
    </fieldset>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@plot_residency.plot, :plot_residencies], class: "btn" %>
  </div>
</div>
