<% content_for :sub_category_navigation do %>
<div class="navbar-item">
  <%= link_to letting_path(current_resident), class: "active" do %>
  <li class="navbar-item-secondary">
    <%= t("homeowners.lettings.show.my_rentals") %>
  </li>
  <% end %>
</div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="intro-video-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body outer-container lettings branded-text">
  <div class="main-container">
    <div class="lettings-management">

      <% if not current_resident.account? %>

        <div class="lettings-description">
Rent out your property quickly and easily with our online tool.

Organise tenants, inventories, viewings and repairs, ensure compliance with regulations and more.
        </div>
        <div class="management-description">
          <div class="self-managed">
            <h4>Self Managed.</h4>
            <p>
              Want to manage your properties yourself and give your tenants a more personal experience?
            </p>
            <div class="management-selection">
              <%= button_tag ("Select " + t(".self_managed")), class: "btn branded-btn confirm-letting-type",
              data: {
                title: t(".confirm_self", type: t(".self_managed")),
                cancel: t(".cancel_choice"),
                text: t(".confirm_text", type: t(".self_managed")),
                cta: t(".confirm_cta" ),
                details: t(".confirm_details"),
                url: lettings_accounts_url,
                type: :self_managed } %>
            </div>
          </div>
          <div class="management-service">
            <h4>Management Service.</h4>
            <p>
              Want to delegate the hard work while ensuring your tenants have a professional experience?
            </p>
            <div class="management-selection">
              <%= button_tag ("Select " + t(".management_service")), class: "btn branded-btn confirm-letting-type",
              data: { title: t(".confirm_self", type: t(".management_service")),
                cancel: t(".cancel_choice"),
                text: t(".confirm_text", type: t(".management_service")),
                cta: t(".confirm_cta" ),
                details: t(".confirm_details"),
                url: lettings_accounts_url,
                type: :management_service } %>
            </div>
          </div>
        </div>

        <div class="other-plot-lets">
          <%= render 'homeowners/components/other_resident_lettings', plots: @plots_listing_by_others %>
        </div>

        <%= render 'components/homeowner/lettings_account_form' %>

      <% elsif current_resident.lettings_account.pending?%>
        <%= link_to t(".authorise"), PlanetRent.authorize_url(@state), class: "btn", id: 'authorise' %>
      <% else %>

        <div class="management-type">
          <% lettings_type = t(".#{current_resident.lettings_account.management}") %>
          <%= t(".your_management", type: lettings_type).html_safe %>
        </div>
        <div class="plots">
          <hr>
          <h2 class="letable-header"><%= t(".your_plots") %></h2>
          <div class="letable">
            <%= render "homeowners/components/lettings", plots: @plots_listing_by_homeowner %>
          </div>
        </div>

        <div class="let-plot-details-form hidden">
          <%= render 'components/let_plot_details_form', property_types: @property_types %>
        </div>

      <% end %>

    </div>
  </div>
</div>



