<%= simple_form_for(finish) do |f| %>
  <% if finish.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% finish.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row finish">
      <div class="row-item third">
        <fieldset>
          <div class="image-container">
            <%= f.input :picture, as: :image_preview, input_html: { preview_version: :thumbnail } %>
          </div>
          <%= f.input :name %>
        </fieldset>
      </div>
      <div class="row-item third">
        <fieldset>
          <div class="finish_category ui-front select-container">
            <%= f.association :finish_category, collection: FinishCategory.order(:name) %>
          </div>
          <div class="finish_type ui-front select-container">
            <%= f.association :finish_type %>
          </div>
          <div class="finish-manufacturer ui-front select-container">
            <%= f.association :finish_manufacturer %>
          </div>
        </fieldset>
      </div>
      <div class="row-item third">
        <fieldset>
          <%= label_tag :description %>
          <%= f.text_area :description %>
        </fieldset>
      </div>
    </div>

    <div class="form-actions-footer-container">
      <div class="form-actions-footer">
        <%= link_to t(".back"), finishes_path, class: "btn" %>
        <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      </div>
    </div>
<% end %>

