<%= simple_form_for(finish) do |f| %>
  <% if finish.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% finish.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% f.object = @source_finish || f.object %>

    <div class="row finish">
      <p><%= t(".finish_description") %></p>
      <div class="row-item third">
        <fieldset>
          <div class="image-container">
            <%= f.input :picture, label: t(".image"), as: :image_preview, input_html: { preview_version: :thumbnail } %>
          </div>
        </fieldset>
        <fieldset>
          <%= f.hidden_field :copy_of, value: @source_finish&.id %>
          <%= f.input :name, label: t(".name") %>
          <%= label_tag t(".notes") %>
          <p class="notes-disclaimer"><%= t(".notes_disclaimer") %></p>
          <%= f.text_area :description %>
        </fieldset>
      </div>
      <div class="row-item third">
        <fieldset>
          <div class="finish_category ui-front select-container">
            <%= f.association :finish_category, label: t(".category"),
                collection: FinishCategory.accessible_by(current_ability).order(:name), data: :developer_id %>
            <div class="category-disclaimer">
              <p><%= t(".disclaimer", item: "category") %></p>
              <i class="fa fa-question-circle" id="categoryHelp"></i>
              <div class="category-help">
                <p class="help-description"><%= t(".category_help").html_safe %></p>
              </div>
            </div>
          </div>

          <div class="finish_type ui-front select-container">
            <%= f.association :finish_type, label: t(".type"), collection: [finish&.finish_type] %>
            <div class="type-disclaimer">
              <p><%= t(".disclaimer", item: "type") %></p>
              <i class="fa fa-question-circle" id="typeHelp"></i>
              <div class="type-help">
                <p class="help-description"><%= t(".type_help").html_safe %></p>
              </div>
            </div>
          </div>
          <div class="finish_manufacturer ui-front select-container">
            <%= f.association :finish_manufacturer, label: t(".manufacturer"), collection: [finish&.finish_manufacturer] %>
            <div class="manufacturer-disclaimer">
              <p><%= t(".disclaimer", item: "manufacturer") %></p>
              <i class="fa fa-question-circle" id="manufacturerHelp"></i>
              <div class="manufacturer-help">
                <p class="help-description"><%= t(".manufacturer_help").html_safe %></p>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>

    <div class="form-actions-footer-container">
      <div class="form-actions-footer">
        <%= link_to t(".back"), finishes_path, class: "btn" %>
        <% if action_name.to_sym == :edit %>
          <%= submit_confirm_btn title: t(".submit"),
              text: t(".update", finish: finish) %>
        <% else %>
          <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
        <% end %>
      </div>
    </div>
<% end %>

