<% breadcrumb :finish, @finish %>

<div class="section-header">
  <h3 class="section-title">
    <%= fa_icon "shower" %>
    <%= @finish.name %><br>
  </h3>
  <div class="section-data">
    <%= edit_btn [:edit, @finish] %>
  </div>
</div>

<div class="row finish">
  <div class="row-item third">
    <div class="finish-picture">
      <%= image_tag @finish.picture.thumbnail.url, class: "circle" if @finish.picture? %>
    </div>
  </div>
  <div class="row-item third">
    <div class="category">
      <%= label_tag(:finish_category) %>
      <span><%= @finish.finish_category %></span>
    </div>
    <div class="type">
      <%= label_tag(:finish_type) %>
      <span><%= @finish.finish_type %></span>
    </div>
  </div>
  <div class="row-item third">
    <div class="manufacturer">
      <%= label_tag(:manufacturer) %>
      <span><%= @finish.manufacturer %></span>
    </div>
    <div class="description">
      <%= label_tag(:description) %>
      <span><%= @finish.description %></span>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), finishes_path, class: "btn" %>
  </div>
</div>
