<% breadcrumb :help %>

<div class="section-header">
  <div class="section-title">
    <%= t(".help_file") %><br/>
  </div>
</div>

<div class="row help-file">
  <%= label_tag :open, t(".view_guide") %>
  <p style="font-style:italic;font-size:12px;"><%= t(".new_tab") %></p>
  <%= link_to @setting.help.url, class: "btn", target: "_blank", title: t(".help_file") do %>
    <%= t(".download") %>
  <% end %>
</div>
