<div class="main branded-body">

  <div class="policy branded-border">
    <h2><%= t("layouts.application.title") %> <%= t("legal.cookies_policy.title") %></h2>

    <div class="cookies-file">
      <label><%= t(".cookies_file") %></label>
      <%= link_to @setting.cookie_policy.url, target: "_blank", title: t(".cookies_file") do %>
        <%= fa_icon "file-pdf-o" %>
      <% end %>
    </div>
  </div>
</div>
