<div class="main">

  <div class="policy">
    <h2><%= t("layouts.application.title") %> <%= t("legal.data_policy.title") %></h2>

    <div class="privacy-file">
      <label><%= t(".privacy_file") %></label>
      <p style="font-style:italic;font-size:12px;"><%= t(".new_tab") %></p>
      <%= link_to @setting.privacy_policy.url, class: "btn", target: "_blank", title: t(".privacy_file") do %>
        <%= t(".download") %>
      <% end %>
    </div>
  </div>
</div>
