<%= content_for(:title, t("layouts.application.title") + ' ' + t("residents.invitations.edit.policy")) %>

<div class="policy branded-border">
  <h2><%= t(".title")%></h2>

  <h4><%= t(".who_we_are")%></h4>
  <p><%= t(".who_we_are_para")%></p>

  <h4><%= t(".information")%></h4>
  <p><%= t(".information_intro")%></p>
  <ol>
    <li><%= t(".information_para1")%></li>
    <li><%= t(".information_para2")%></li>
    <li><%= t(".information_para3")%></li>
    <li><%= t(".information_para4")%></li>
    <li><%= t(".information_para5")%></li>
  </ol>


  <h4><%= t(".what_we_do")%></h4>
  <p><%= t(".what_we_do_intro")%></p>
  <ol>
    <li><%= t(".what_we_do_para1")%></li>
    <li><%= t(".what_we_do_para2")%></li>
  </ol>
  <p><%= t(".what_we_do_rider")%></p>

  <h4><%= t(".where_we_store")%></h4>
  <p><%= t(".where_we_store_para")%></p>

  <h4><%= t(".your_rights")%></h4>
  <p><%= t(".your_rights_para")%></p>
  <p><%= t(".your_rights_links")%></p>

  <h4><%= t(".links")%></h4>
  <p><%= t(".links_para")%></p>

</div>
