<div class="policy branded-border">
  <h3><%= t(".title")%></h3>

  <p><%= t(".welcome").html_safe %></p>

  <h4><%= t(".accuracy")%></h4>
  <p><%= t(".accuracy_para1")%></p>
  <p><%= t(".accuracy_para2")%></p>

  <h4><%= t(".third_party")%></h4>
  <p><%= t(".third_party_para1")%></p>
  <p><%= t(".third_party_para2")%></p>
  <p><%= t(".third_party_para3")%></p>

  <h4><%= t(".security")%></h4>
  <p><%= t(".security_para")%></p>

  <h4><%= t(".viruses")%></h4>
  <p><%= t(".viruses_para1")%></p>
  <p><%= t(".viruses_para2")%></p>

  <h4><%= t(".ip")%></h4>
  <p><%= t(".ip_para1")%></p>
  <p><%= t(".ip_para2")%></p>
  <p><%= t(".ip_para3")%></p>

  <h4><%= t(".limitation")%></h4>
  <p><%= t(".limitation_para1")%></p>
  <p><%= t(".limitation_para2")%></p>

  <h4><%= t(".law")%></h4>
  <p><%= t(".law_para")%></p>

  <h4><%= t(".about_us")%></h4>
  <p><%= t(".about_us_para")%></p>
</div>
