<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<p style="font-weight: 600;">
  <%= t(".plots_live") %>
</p>

<p>
  <%= t(".portal_update", date: @release_date_s, number: @plots.length) %>
</p>

<p>
  <span style="font-weight: 600;">Order: </span><%= @order_number %>
</p>

<p>
  <span style="font-weight: 600;">Developer: </span><%= @phase.company_name %>
</p>

<% unless @phase.division.nil? %>
  <p>
    <span style="font-weight: 600;">Division: </span><%= @phase.division_name %>
  </p>
<% end %>

<p>
  <span style="font-weight: 600;">Development: </span><%= @phase.development_name %>
</p>

<p>
  <span style="font-weight: 600;">Phase: </span><%= @phase.name %>
</p>

<p>
  <span style="font-weight: 600;">Plots: </span><%= @plots.to_sentence %>
</p>

<p>
  These plots will expire on <%= @expiry_date_s %>*
</p>

<p style="font-style:italic; font-size:12px;">
  * Please note: plots with extended access may expire later than this date.
</p>
<br/>

<p>
  <%= t(".handover_status") %>
  <%= t(".resident_activated") %>
</p>

<ul>
  <li><%= t(".benefit_1") %></li>
  <li><%= t(".benefit_2") %></li>
  <li><%= t(".benefit_3") %></li>
  <li><%= t(".benefit_4") %></li>
  <li><%= t(".benefit_5") %></li>
  <li><%= t(".benefit_6") %></li>
  <li><%= t(".benefit_7") %></li>
  <li><%= t(".benefit_8") %></li>
  <li><%= t(".benefit_9") %></li>
  <li><%= t(".benefit_10") %></li>
</ul>
<br/>

<p>
  <%= t(".login_link") %><a href="http://www.spaciable.com/admin">www.spaciable.com/admin</a>, <%= t(".link_below") %>
</p>

<p style="text-align: center">
  <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>Log in to Spaciable</button>".html_safe, new_admin_session_url %>
</p>
<br/>

<h3>
  <%= t(".inviting_residents") %>
</h3>

<p>
  <%= t(".invite") %>
</p>

<ul>
  <li><a href="http://www.spaciable.com/admin">Log in to Spaciable</a></li>
  <li><%= t(".navigate_to_development") %></li>
  <li><%= t(".navigate_to_phase") %></li>
  <li><%= t(".navigate_to_plot") %></li>
  <li><%= t(".add_resident") %></li>
  <li><%= t(".resident_details") %></li>
</ul>

<p style="font-size: 12px;font-style: italic;">
  <%= t(".junk") %>
</p>

<p>
  <%= t(".resident_condition") %>
</p>

<p>
  <%= t(".resident_change") %>
</p>
<br/>

<h3>
  <%= t(".completion_date") %>
</h3>

<p>
  <%= t(".adding_completion_date") %>
</p>

<p>
  <%= t(".add_completion_date") %>
</p>

<ul>
  <li><%= t(".navigate_to_development") %></li>
  <li><%= t(".navigate_to_phase") %></li>
  <li><%= t(".navigate_to_plot") %></li>
  <li><%= t(".completion_tab") %></li>
  <li><%= t(".add_completion") %></li>
</ul>

<p>
  <%= t(".completion_change") %>
</p>
<br/>

<h3>
  <%= t(".admin_benefits") %>
</h3>

<p>
  <%= t(".admins_can") %>
</p>

<ul>
  <li><%= t(".list_dev") %></li>
  <li><%= t(".view_plots") %></li>
  <li><%= t(".invite_residents") %></li>
  <li><%= t(".documents_images") %></li>
  <li><%= t(".videos") %></li>
  <li><%= t(".send_notifications") %></li>
  <li><%= t(".faqs") %></li>
  <li><%= t(".contacts") %></li>
  <li><%= t(".build_progress") %></li>
  <li><%= t(".add_other_admins") %></li>
</ul>

<p>
  <%= t(".help") %>
</p>

<p style="text-align: center">
  <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>Log in to Spaciable</button>".html_safe, new_admin_session_url %>
</p>
<br/>


<p>
  <%= t(".cf_account_management") %>
</p>

<p>
  Email: <a href="mailto:customerexperience@classicfolios.com">customerexperience@classicfolios.com</a><br/>
  Phone: 023 8062 6280
</p>
<br/>

<p>
  Kind Regards,
</p>

<p style="font-weight: 600;">
  <%= t(".spaciable_team") %>
</p>

<p>
  Email: <a href="mailto:hello@spaciable.com">hello@spaciable.com</a><br/>
  Phone: 023 8062 6280
</p>
<br/>

<p style="font-style: italic;font-size: 14px;">
  <%= t(".unsubscribe") %>
</p>
