<p>
    Hi  <%= @names.to_sentence %>
    <br/>
</p>
<p>
    Your Hoozzi Completion Plots are Live
</p>
<p>
    We are delighted to confirm that the Hoozzi homeowner’s portal has been
    updated with completion information on <%= @release_date_s %> for the following plots.
</p>
<p>
    Developer: <%= @phase.company_name %>
</p>
<p>
    Division: <%= @phase.division_name %>
</p>
<p>
    Development: <%= @phase.development_name %>
</p>
<p>
    Phase: <%= @phase.name %>
</p>
<p>
    Plots: <%= @plots.to_sentence %>
</p>
<p>
    Number of Plots: <%= @plots.length %>
</p>
<p>
    These plots will expire on <%= @expiry_date_s %>
</p>
<p>
    Residents that have activated their Hoozzi portal account will benefit from
    useful features, such as:
</p>
<ul>
    <li>
        Essential contact information
    </li>
    <li>
        Useful documents, e.g., appliance manuals, warranty policy and
        homeowner’s manual (if applicable)
    </li>
    <li>
        An option to upload their own documents
    </li>
    <li>
        List of their home’s finishes (if applicable)
    </li>
    <li>
        Appliance efficiency ratings and links to register manufacturers'
        warranties
    </li>
    <li>
        Helpful "how to" articles with settling in advice, lifestyle ideas and
        maintenance guidance
    </li>
    <li>
        Ability to request quotes for various new home services, e.g.,
        utilities, insurance, etc.
    </li>
    <li>
        Answers to frequently asked questions
    </li>
    <li>
        Local area information (if applicable)
    </li>
    <li>
        A notifications inbox, containing any important messages sent by your
        staff
    </li>
</ul>
<p>
    Visit <a href="http://www.hoozzi.com/admin">www.hoozzi.com/admin</a> and
    enter your email address and password to log in to the Hoozzi admin
    interface.
</p>
<p>
    Inviting Residents
</p>
<p>
    To invite each resident to their personal Hoozzi portal:
</p>
<ul>
    <li>
        Visit <a href="http://www.hoozzi.com/admin">www.hoozzi.com/admin</a>
        and enter your email address and password
    </li>
    <li>
        Navigate to the development
    </li>
    <li>
        Click the Phase tab and select the correct phase
    </li>
    <li>
        Click on the plot
    </li>
    <li>
        Click the Residents tab and then click Add Resident
    </li>
    <li>
        Input the resident’s name, phone number and email address
    </li>
    <li>
        Click Submit
    </li>
    <li>
        Please note that the resident’s Hoozzi invite may be in their Junk Mail
    </li>
    <li>
        You can add more than one resident to a single plot
    </li>
    <li>
        You can add the same resident’s email to multiple plots
    </li>
</ul>
<p>
    For each plot, you can assign a completion date, which will trigger a
    series of helpful emails sent to the resident in your company branding.
</p>
<ul>
    <li>
        Navigate to the development
    </li>
    <li>
        Click the Phase tab and select the correct phase
    </li>
    <li>
        Click on the plot
    </li>
    <li>
        Click the Completion tab
    </li>
    <li>
        Enter or edit the completion date, then click Save Changes
    </li>
</ul>
<p>
    Navigate back to a plot to delete/edit residents or update the completion
    date at any time.
</p>
<p>
    Benefits for Hoozzi Admins
</p>
<p>
    On the Hoozzi admin interface, you and the other admins can:
</p>
<ul>
    <li>
        View a list of developments (developer or division admins only)
    </li>
    <li>
        View live plots
    </li>
    <li>
        Invite/delete residents
    </li>
    <li>
        Upload documents or images
    </li>
    <li>
        Embed links to online videos
    </li>
    <li>
        Send notifications to residents’ emails
    </li>
    <li>
        Add/edit FAQs
    </li>
    <li>
        Add/edit contacts
    </li>
    <li>
        Update the build progress status
    </li>
    <li>
        Add other admins, so your colleagues can log in and edit Hoozzi
        information
    </li>
</ul>
<p>
For advice on how to use the admin interface, please log in to    <a href="http://www.hoozzi.com/admin">www.hoozzi.com/admin</a> and select
    ‘Hoozzi Help’ in the left hand menu.
</p>
<p>
    If you have any questions or issues, please contact the Classic Folios
    Account Management team.
</p>
<p>
    Email:
    <a href="mailto:accountmanagement@classicfolios.com">
        accountmanagement@classicfolios.com
    </a>
</p>
<p>
    Phone: 023 8062 6280
</p>
<p>
    <em>
        Don’t wish to receive notifications regarding new plots added to the
        Hoozzi portal?
    </em>
</p>
<p>
    <em>Log into Hoozzi and edit your Profile settings to unsubscribe.</em>
</p>
<p>
    <em></em>
    <br/>
</p>
<p>
    Kind Regards,
</p>
<table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="middle">
                <p>
                    <strong>The Hoozzi Team</strong>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="middle">
                <p>
                    <strong>t: </strong>
                    023 8062 6280
                </p>
            </td>
            <td valign="middle">
                <p>
                    <a href="mailto:hello@hoozzi.com%253B">
                        <strong>e: </strong>
                        hello@hoozzi.com
                    </a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="middle">
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="middle">
            </td>
            <td valign="middle">
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <%= image_tag(attachments['logo.png'].url) %>
                <p>
                    Hoozzi, Woodside Trade Centre, 34 Parham Drive, Eastleigh,
                    SO50 4NU
                </p>
            </td>
            <td valign="middle">
            </td>
        </tr>
    </tbody>
</table>
<table cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td valign="middle">
                <p>
                    <strong>
                        Privacy, Confidentiality and Security Notice:
                    </strong>
                    <br/>
                    This message and any attachments are confidential and
                    intended solely for the person(s) to whom it is addressed.
                    It may contain privileged and confidential information. The
                    views expressed in this email may be the personal views of
                    the sender and not of the company unless specifically
                    stated. If you are not the intended recipient you must not
                    read, copy, distribute, discuss or take any action in
                    reliance on it. If you have received this information in
                    error, please notify the sender as soon as possible and
                    then destroy it. Please note that we are able to, and
                    reserve the right to, monitor email communications passing
                    through our network. Whilst this email has been swept using
                    a ESET NOD 32 Antivirus checker, you should also carry out
                    your own virus checks before opening any attachment(s). We
                    accept no liability for any loss or damage that may be
                    caused by software viruses or interception/interruption of
                    this mail.
                    <br/>
                    <br/>
                    Registered in England &amp; Wales , Number: 4562237 |
                    Registered Office: HWB, Highland House , SO53 4AR
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <em></em>
    <br/>
</p>
