<div class="half">
  <p class="intro"><%= t(".intro") %></p>
  <p><%= t(".email") %></p>
  <p><%= t(".name") %></p>
  <p class="important"><%= t(".confirm") %></p>
</div>

<div class="half">
  <label><%= t(".management_type") %></label>
  <p class="management-type" id="lettings_account_display_type"></p>
  <%= simple_form_for lettings_account, url: phase_lettings_path(phase), remote: true do |f| %>
    <%= f.input :email %>
    <%= f.input :first_name, label: t(".first_name") %>
    <%= f.input :last_name, label: t(".last_name") %>

    <%= f.hidden_field :management %>
  <% end %>
</div>