<% if plot&.persisted? && plot&.progress %>
  <div class="plot-field current-progress">
    <label><%= t(".current_progress") %></label>
    <span class="read-only"><%= t("activerecord.attributes.plot.progresses.#{plot.progress}") %></span>
  </div>
<% end %>

<div>
  <div class=" ui-front select-container plot-field">
    <div class="plot-field build-progress">
      <% if plot&.persisted? %>
        <label><%= t(".update_progress") %></label>
      <% else %>
        <label><%= t(".current_progress") %></label>
      <% end %>
      <%= f.input :progress, as: :select, collection: progress_collection(plot&.progress), label: false %>
    </div>
  </div>
</div>
<br/>
<div>
  <%= f.input :completion_date, as: :string, label: t(".comp_date"),
  placeholder: "DD/MM/YYYY",
  input_html: { type: :date } %>
</div>
