<%= simple_form_for(contact) do |f| %>
  <% if contact.errors.any? %>
      <div class="row">
        <div class="row-item">
          <div class="submission-errors">
            <ul>
              <% contact.errors.full_messages.each do |message| %>
                  <li>
                    <%= fa_icon "exclamation-circle" %>
                    <%= message %>
                  </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
  <% end %>

  <div class="row contacts">
    <div class="row-item third">
      <fieldset>
        <%= f.input :picture, as: :image_preview, input_html: { preview_version: :thumbnail } %>
        <div class="ui-front select-container">
          <%= f.input :title, as: :select, collection: contact_titles_collection, include_blank: false %>
        </div>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :position %>
        <div class="ui-front select-container">
          <%= f.input :category, as: :select, collection: contact_categories_collection, include_blank: false %>
        </div>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= f.input :mobile %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), contacts_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

