<% breadcrumb :contact, @contact %>

<div class="section-header">
  <div class="section-title">
    <%= @contact.title.titleize %> <%= @contact %><br>
  </div>
  <div class="section-data">
    <%= (edit_btn [:edit, @contact], element: @contact) unless @contact.expired? && !(current_user.cf_admin?) %>
  </div>
</div>

<div class="row contact">
  <div class="row-item third">
    <div class="contact-picture">
      <%= image_tag @contact.picture.url :thumbnail if @contact.picture? %>
    </div>
    <div class="organisation">
      <% if @contact.organisation? %>
        <%= label_tag(:organisation) %>
        <span><%= @contact.organisation %></span>
      <% end %>
    </div>
    <% if @contact.contact_type.present? %>
      <div class="category">
        <label><%= t(".contact_type")%></label>
        <span><%= t("activerecord.attributes.contact.contact_types.#{@contact.contact_type}") %></span>
      </div>
    <% end %>
    <div class="position">
      <% if @contact.position? %>
        <%= label_tag(:position) %>
        <span><%= @contact.position %></span>
      <% end %>
    </div>
    <div class="category">
      <%= label_tag(:category) %>
      <span><%= t("activerecord.attributes.contact.categories.#{@contact.category}") if @contact.category %></span>
    </div>
    <div class="pinned">
      <%= label_tag(:pinned) %>
      <span><%= @contact.pinned? ? t("activerecord.attributes.contact.pinned") : t("activerecord.attributes.contact.unpinned") %></span>
    </div>
  </div>
  <div class="row-item third">
    <div class="email">
      <% if @contact.email? %>
        <%= label_tag(:email) %>
        <span><%= @contact.email %></span>
      <% end %>
    </div>
    <div class="phone">
      <% if @contact.phone? %>
        <%= label_tag(:phone) %>
        <span><%= @contact.phone %></span>
      <% end %>
    </div>
    <div class="mobile">
      <% if @contact.mobile? %>
        <%= label_tag(:mobile) %>
        <span><%= @contact.mobile %></span>
      <% end %>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :contacts], class: "btn" %>
  </div>
</div>
