<div class="section-actions">
  <% link_to new_developer_development_path(parent), class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    <span class="btn-label"><%= t(".add") %></span>
  <% end %>
</div>

<div class="record-list">
  <dl class="developments">
    <dt class="record-list-item record-header">
      <div class="record-list-header-content">
        <span><%= sortable(Development, :name) %></span>
        <span><%= sortable(Development, :updated_at) %></span>
      </div>
    </dt>
    <% collection.each do |development| %>
      <dt class="record-list-item" data-development="<%= development.id %>">
        <div class="record-list-item-actions">
          <%= link_to t(".unit_types"), development_unit_types_path(development), class: "btn" %>
          <%= link_to t(".phases"), development_phases_path(development), class: "btn" %>
          <%= link_to t(".plots"), development_plots_path(development), class: "btn" %>
          <%= edit_btn [:edit, parent, development] %>
          <%= delete_btn development, path: url_for([parent, development]) %>
        </div>
        <div class="record-list-item-content">
           <%= link_to development.name, [:edit, parent, development], class: "development-name" %>
           <span class="development-updated-timestamp">
             <%= l development.updated_at.to_date, format: :digits %>
           </span>
        </div>
      </dt>
    <% end %>
  </dl>
</div>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
