<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "building", type: Development, parent: parent %>
<% else %>
  <% if parent && can_create(Development, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to [:new, parent, :development], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list developments">
    <thead>
      <tr>
        <th><%= sortable(Development, :name, t(".development")) %></th>
        <th><%= sortable(Development, :updated_at) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |development| %>
      <tr data-development="<%= development.id %>">
        <td><%= link_to development.name, [parent, development], title: development.name %></td>
        <td><%= l development.updated_at.to_date, format: :digits %></td>
        <td class="actions">
          <%= link_to t(".unit_types"), [parent, development, active_tab: :unit_types], class: "btn" %>
          <%= link_to t(".phases"), development_phases_path(development), class: "btn" %>
          <%= edit_btn [:edit, parent, development], element: development %>
          <%= permissable_delete_btn development, path: url_for([parent, development]), element: development %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
