<div class="section-header">
  <div class="section-title">
    <div><%= development.name %></div>
    <span class="about">
      <strong><%= t(".segment_id") %></strong><%= development.segment_id || t(".none") %><br/>
      <strong><%= t(".private_documents") %></strong><%= development.private_documents_count %><br/>
      <strong><%= t(".maintenance_link") %></strong><%= development.maintenance_link || t(".none") %><br/>
      <strong><%= t(".snagging") %></strong><%= development.enable_snagging %><br/>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: development.address %>
    <%= render 'components/contacts', contact: development %>
    <%= edit_btn [:edit, development.parent, development], element: development %>
  </div>
</div>
