<div class="record-list">
  <dl class="developments">
    <% developments.each do |development| %>
      <dt class="record-list-item" data-development="<%= development.id %>">
        <div class="record-list-item-actions">
          <%= link_to t(".phases"), development_phases_path(development), class: "btn" %>
          <%= edit_btn [:edit, parent, development] %>
          <%= delete_btn development, path: url_for([parent, development]) %>
        </div>
        <div class="record-list-item-content">
           <%= link_to development.name, [:edit, parent, development], class: "development-name" %>
           <span class="development-updated-timestamp">
             <%= l development.updated_at.to_date, format: :digits %>
           </span>
        </div>
      </dt>
    <% end %>
  </dl>
</div>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate developments %>
</div>
