<div class="section-header">
  <div class="section-title">
    <% if development.expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="expired-text"><%= t(".expiry") %></span></div>
    <% elsif development.partially_expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="partial-expired-text"><%= t(".partial_expiry") %></span></div>
    <% end %>
    <div><%= development.name %></div>
    <span class="about">
      <br/>
      <strong><%= t(".private_documents") %></strong><%= development.private_documents_count %><br/>
      <strong><%= t(".maintenance_link") %></strong><%= development.maintenance_link || t(".none") %><br/>
      <strong><%= t(".segment_id") %></strong><%= development.segment_id || t(".none") %><br/>
      <strong><%= t(".snagging") %></strong><%= development.enable_snagging %><br/>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: development.address %><br/>
    <%= render 'components/contacts', contact: development %><br/>
    <%= edit_btn [:edit, development.parent, development], element: development %>
  </div>
</div>
