<div class="section-header">
  <div class="section-title">
    <% if development.expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="expired-text"><%= t(".expiry").html_safe %></span></div>
    <% elsif development.partially_expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="partial-expired-text"><%= t(".partial_expiry").html_safe %></span></div>
    <% end %>
    <div><%= development.name %></div>
    <span class="about">
      <br/>
      <% if development.cas %>
        <strong><%= t("cas_enabled") %><br/>
      <% end %>
      <strong><%= t(".snagging") %></strong><%= development.enable_snagging? ? "#{development.snag_duration} days" : "Disabled" %><br/><br/>
      <strong><%= t(".active_plots") %></strong><%= development.active_plots_count %><br/>
      <strong><%= t(".completed_plots") %></strong><%= development.completed_plots_count %><br/>
      <strong><%= t(".expired_plots") %></strong><%= development.expired_plots_count %><br/><br/>
      <strong><%= t(".residents") %></strong><%= development.invited_resident_count %><br/>
      <strong><%= t(".activated_residents") %></strong><%= development.activated_resident_count %><br/><br/>
      <strong><%= t(".phases") %></strong><%= development.phases.count %>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: development.address %><br/>
    <%= render 'components/contacts', contact: development %><br/>
    <%= edit_btn [:edit, development.parent, development], element: development %>
  </div>
</div>
