<%= simple_form_for([parent, development]) do |f| %>
  <script type="text/javascript" src="/javascripts/lib/developer.js"></script>
  <% if development.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% development.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :contact_number %>
      </fieldset>
      <br/>
      <fieldset>
        <%= f.input :construction, label: t(".construction"), as: :select, collection: construction_collection, include_blank: false %>
        <div id="construction_name">
          <%= f.input :construction_name, label: t(".construction_name") %>
        </div>
      </fieldset>
      <br/>
      <fieldset>
        <div id="maintenance_url">
          <%= f.simple_fields_for :maintenance do |m| %>
            <%= m.input :path, placeholder: t(".maintenance_placeholder"), label: t(".maintenance_link") %>
            <p><%= t(".maintenance_tip")%></p>
            <div id="maintenance_details">
              <%= m.label :populate, t(".maintenance_auto_populate") %>
              <%= m.check_box :populate %>
              <p class="checkbox-description"><%= t(".maintenance_auto_populate_description") %></p>
              <div class="ui-front select-container">
                <%= m.input :account_type, label: t(".account_type"), as: :select, collection: maintenance_account_types_collection, include_blank: true %>
              </div>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <label class="string optional"><%= t(".address") %></label>
          <% if(development.country.uk?) %>
            <%= render "address/fields", fields: fields %>
          <% else %>
            <%= render "address/spanish_fields", fields: fields %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :choice_option, label: "Choices", as: :select, collection: choice_options_collection, include_blank: false %>
        <div id="choices_email_contact">
          <%= f.input :choices_email_contact, label: t(".choices_email") %>
        </div>
        <br/>
        <%= f.label :enable_snagging, t(".enable_snagging") %>
        <%= f.check_box :enable_snagging %>
        <p class="checkbox-description"><%= t(".snagging_description") %></p>
        <%= f.input :snag_duration, label: t(".snag_duration") %>
        <%= f.input :snag_name, label: t(".snag_name") %>
        <br/>
        <div id="premium_perks">
          <div class="<%= parent.enable_perks %>">  <!-- used in css to determine visibility -->
            <%= f.simple_fields_for :premium_perk do |p| %>
              <%= p.label :enable_premium_perks, t(".enable_premium_perks") %>
              <%= p.check_box :enable_premium_perks %>
              <p class="checkbox-description"><%= t(".premium_perks_description") %></p>
              <%= p.input :premium_licence_duration, label: t(".premium_licence_duration") %>
              <%= p.input :premium_licences_bought, label: t(".premium_licences_bought") %>
              <% if development.premium_licences_bought&.positive? %>
                <label><%= t(".premium_licences_allocated") %></label>
                <span class="read-only"><%= Vaboo.allocated_premium_licences(development) %></span>
                <label><%= t(".premium_licences_remaining") %></label>
                <span class="read-only"><%= Vaboo.available_premium_licences(development) %></span>
              <% end %>
            <% end %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), ((parent.is_a?(Division)) ? (developer_division_path(developer_id: parent.developer_id, id: parent.id)) : [parent, active_tab: :developments]), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

