<%= simple_form_for([parent, development]) do |f| %>
  <script type="text/javascript" src="/javascripts/lib/developer.js"></script>
  <% if development.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% development.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row development-form">
    <fieldset class="about">
      <%= f.input :name, label: t(".name") %>

      <%= f.simple_fields_for :address do |fields| %>
        <% if(development.country.uk?) %>
          <%= fields.input :city %>
          <%= fields.input :county %>
        <% else %>
          <%= fields.input :city, label: false, placeholder: t("spanish_addresses.placeholders.city") %>
        <% end %>
      <% end %>

      <%= f.input :construction, label: t(".construction"), as: :select, collection: construction_collection, include_blank: false %>
      <div id="construction_name">
        <%= f.input :construction_name, label: t(".construction_name") %>
      </div>
    </fieldset>

    <fieldset class="maintenance">
      <%= f.label :maintenance, t(".maintenance"), class: "header-label" %>
      <span class="checkbox-description"><%= t(".maintenance_description") %></span>
      <%= f.simple_fields_for :maintenance do |m| %>
        <div class="ui-front select-container maintenance-type">
          <%= m.input :account_type, label: t(".account_type"), as: :select, collection: maintenance_account_types_collection, include_blank: true %>
        </div>

        <%= m.label :populate, t(".maintenance_link")%>
        <span class="checkbox-description"><%= t(".maintenance_tip").html_safe %></span>
        <%= m.input :path, placeholder: t(".maintenance_placeholder"), label: false %>

        <%= m.label :populate, t(".maintenance_auto_populate"), class: "checkbox-label" %>
        <%= m.check_box :populate %>
        <span class="checkbox-description"><%= t(".maintenance_auto_populate_description") %></span>
      <% end %>
    </fieldset>

    <div class="separator"></div>

    <fieldset class="toggles">
      <%= f.label :calendar, t(".calendar"), class: "checkbox-label" %>
      <%= f.check_box :calendar %>
      <span class="checkbox-description"><%= t(".calendar_description") %></span>

      <% if development.parent_developer.cas %>
        <%= f.label :cas, t(".enable_cas"), class: "checkbox-label" %>
        <%= f.check_box :cas %>
        <span class="checkbox-description"><%= t(".cas_description") %></span>
      <% end %>

      <% if development.parent_developer.timeline %>
        <br/>
        <%= f.label :timeline %>
        <span class="checkbox-description"><%= t("timelines.default") %></span>
        <%= f.input :timeline_id,
            as: :select,
            label: false,
            collection: development.parent_developer.timelines,
            label_method: ->(timeline) { timeline.title },
            include_blank: t("timelines.turned_off"),
            selected: development.timeline_id %>
        <% end %>

<!--      <%= f.input :choice_option, label: "Choices", as: :select, collection: choice_options_collection, include_blank: false %>-->
<!--      <div id="choices_email_contact">-->
<!--        <%= f.input :choices_email_contact, label: t(".choices_email") %>-->
<!--      </div>-->
    </fieldset>

    <fieldset class="snagging">
      <%= f.label :enable_snagging, t(".snagging"), class: "header-label" %>
      <span class="checkbox-description"><%= t(".snagging_description") %></span>
      <%= f.label :enable_snagging, t(".enable_snagging"), class: "checkbox-label" %>
      <%= f.check_box :enable_snagging %>

      <%= f.input :snag_duration, label: t(".snag_duration") %>
      <%= f.input :snag_name, label: t(".snag_name") %>
    </fieldset>

    <fieldset class="premium-perks">
      <div id="premium_perks">
        <div class="<%= parent.enable_perks %>">  <!-- used in css to determine visibility -->
          <%= f.simple_fields_for :premium_perk do |p| %>
            <%= p.label :enable_premium_perks, t(".premium_perks"), class: "header-label" %>
            <span class="checkbox-description"><%= t(".premium_perks_description") %></span>
            <%= p.label :enable_premium_perks, t(".enable_premium_perks"), class: "checkbox-label" %>
            <%= p.check_box :enable_premium_perks %>

            <%= p.input :premium_licence_duration, label: t(".premium_licence_duration") %>
            <%= p.input :premium_licences_bought, label: t(".premium_licences_bought") %>
            <% if development.premium_licences_bought&.positive? %>
              <div class="perk-allocation">
                <div class="allocation half">
                  <label><%= t(".premium_licences_allocated") %></label>
                  <span class="read-only"><%= development.premium_perk_sign_up_count %></span>
                </div>
                <div class="remaining half">
                  <label><%= t(".premium_licences_remaining") %></label>
                  <span class="read-only"><%= Vaboo.available_premium_licences(development) %></span>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), ((parent.is_a?(Division)) ? (developer_division_path(developer_id: parent.developer_id, id: parent.id)) : [parent, active_tab: :developments]), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

