<%= simple_form_for([parent, development]) do |f| %>
  <script type="text/javascript" src="/javascripts/lib/developer.js"></script>
  <% if development.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% development.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
        <%= f.input :business, as: :select, collection: development_businesses_collection, include_blank: false %>
        <%= f.input :email %>
        <%= f.input :contact_number %>
        <%= f.input :maintenance_link, placeholder: t(".maintenance_placeholder") %>
        <p><%= t(".maintenance_tip")%></p>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <label class="string optional"><%= t(".address") %></label>
          <% if(development.country.uk?) %>
            <%= render "address/fields", fields: fields %>
          <% else %>
            <%= render "address/spanish_fields", fields: fields %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :choice_option, label: "Choice options", as: :select, collection: choice_options_collection, include_blank: false %>
        <div id="choices_email_contact">
          <%= f.input :choices_email_contact, label: t(".choices_email") %>
        </div>
        <%= f.label t(".enable_snagging") %>
        <%= f.check_box :enable_snagging %>
        <p class="checkbox-description"><%= t(".snagging_description") %></p>
        <%= f.input :snag_duration, label: t(".snag_duration") %>
        <%= f.input :snag_name, label: t(".snag_name") %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [parent, development], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
