<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "file-pdf-o", type: Document, parent: parent %>
<% else %>
  <% if parent && can_create(Document, parent) %>
    <div class="section-actions">
      <%= link_to [:new, parent, :document], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <div class="documents">
    <table class="record-list">
      <thead>
        <tr>
          <th><%= sortable(Document, :title) %></th>
          <th><%= sortable(Document, :size) %></th>
          <th><%= sortable(Document, :updated_at) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |document| %>
        <tr data-document="<%= document.id %>">
          <td><%= link_to document.title, document_path(document) %></td>
          <% if document.file_tmp %>
            <td><%= t(".processing") %></td>
            <td></td>
            <td><%= delete_btn document, path: url_for(document), element: document %></td>
          <% else %>
            <td><%= document.file&.size %></td>
            <td><%= l document.updated_at.to_date, format: :digits %></td>
            <td class="actions">
              <%= link_to document.file&.url, class: "btn",  target: "_blank" do %>
                <%= icon "cloud-download" %>
              <% end %>
              <%= edit_btn edit_document_path(document), element: document %>
              <%= delete_btn document, path: url_for(document), element: document %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
