<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "file-pdf-o", type: Document, parent: parent %>
<% end %>

<div class="section-actions">
  <% if collection.present? %>
    <% if parent && can_create(Document, parent) %>
      <% unless parent.expired? && !(current_user.cf_admin?) %>
        <%= link_to [:new, parent, :document], class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".add") %></span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if current_user.cf_admin? && parent.respond_to?(:crm) && parent&.crm && parent.respond_to?(:sync_docs_path)%>
    <%= link_to parent.sync_docs_path, class: "btn btn-primary" do %>
        <span class="btn-label"><%= t(".sync") %></span>
    <% end %>
  <% end %>
</div>

<% if collection.present? %>
  <div class="documents">
    <table class="record-list">
      <thead>
        <tr>
          <th colspan="2"><%= sortable(Document, :title, t(".document")) %></th>
          <th><%= t(".category") %></th>
          <th><%= t(".size") %></th>
          <th><%= t(".uploaded_by") %></th>
          <th><%= sortable(Document, :updated_at) %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |document| %>
        <tr data-document="<%= document&.id %>">
          <td colspan="2"><%= link_to document&.title, document_path(document) %></td>
          <% if document&.file_tmp %>
            <td><%= t(".processing") %></td>
            <td></td>
            <td class="actions"><%= delete_btn document, path: url_for(document), element: document %></td>
          <% else %>
            <td><%= t("activerecord.attributes.document.categories.#{document&.category}", construction: document.construction_type) %></td>
            <td><%= number_to_human_size(document&.file&.size) %></td>
            <td><%= document.user_role(current_user) if document&.user %></td>
            <td><%= l document&.updated_at.to_date, format: :digits %></td>
            <td class="actions">
              <%= link_to document&.file&.url, class: "btn",  target: "_blank" do %>
                <%= icon "floppy-o" %>
              <% end %>
              <%= (edit_btn edit_document_path(document), element: document) unless parent.expired? && !(current_user.cf_admin?) %>
              <%= (delete_btn document, path: url_for(document), element: document) unless parent.expired? && !(current_user.cf_admin?) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
