<%= simple_form_for ([parent, document]) do |f| %>
  <% if document.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row documents">
    <div class="row-item third">
      <fieldset>
        <div class="document-container">
          <div class="document-file">
            <% if document.persisted? %>
              <%= f.file_field :file, as: :image_preview, input_html: { preview_version: :thumbnail }, class: "file-upload single-file-upload"%>
              <%= label_tag('document_file', t("choose"), class: "choose-file") %>
            <% else %>
              <%= f.file_field :files, multiple: true, class: "file-upload" %>
              <%= label_tag(:document_files, t("choose_multiple"), class: "choose-file choose-files") %>
              <div class="left"><p><%= t(".choose_multiple_explanation_html").html_safe %></p></div>
            <% end %>
          </div>
          <div class="document-title">
            <%= f.label :title, t(".title") %>
            <% if !document.persisted? %>
              <p><%= t(".title_explanation") %></p>
            <% end %>
            <%= f.input :title, label: false %>
          </div>
          <% if document.persisted? %>
            <fieldset>
              <div class="ui-front" id="documentCategorySelector">
                <%= f.input :category, as: :select, collection: category_collection(document), include_blank: false %>
              </div><br/>
              <% if guide_selector_valid?(document) %>
                <div class="ui-front" id="documentGuideSelector">
                  <%= f.input :guide, as: :select, collection: guide_collection(document), include_blank: true, disabled: manual_exists(document) %>
                  <br/>
                </div>
              <% end %>
              <%= f.label :pinned, t(".pinned") %>
              <%= f.check_box :pinned %>
              <p class="checkbox-description"><%= t(".pinned_description") %></p>
            </fieldset>
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="row-item third">
      <% if document.file? && document.errors.none? %>
        <fieldset>
          <% if document.original_filename? %>
            <%= f.label :original_filename, t(".original_name") %>
            <span><%= document.original_filename %></span>
          <% end %>
          <%= f.label :size, t(".size") %>
          <span><%= number_to_human_size(document.file.size) %></span>
          <%= f.label :updated, t(".updated") %>
          <span><%= document.updated_at.strftime("%e %b %Y, %H:%M %p") %></span>
        </fieldset>
      <% else %>
        <fieldset>
          <div class="ui-front" id="documentCategorySelector">
            <%= f.input :category, as: :select, collection: category_collection(document), include_blank: false %>
          </div><br/>
          <% if guide_selector_valid?(document) %>
            <div class="ui-front" id="documentGuideSelector">
              <%= f.input :guide, label: t(".guide"), as: :select, collection: guide_collection(document), include_blank: true, disabled: manual_exists(document) %>
              <br/>
            </div>
          <% end %>
          <%= f.label :pinned, t(".pinned") %>
          <%= f.check_box :pinned %>
          <p class="checkbox-description"><%= t(".pinned_description") %></p>
        </fieldset>
      <% end %>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), redirect_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <div class="notify">
        <%= label_tag t(".notify") %>
        <%= f.check_box :notify, checked: action_name == "new" %>
      </div>
    </div>
  </div>
<% end %>
