<%= simple_form_for ([parent, document]) do |f| %>
  <% if document.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row documents">
    <div class="row-item third">
      <fieldset>
        <div class="document-container">
          <%= f.label t(".load"), class: "text-label" %>
          <div class="document-file">
            <% if document.persisted? %>
              <%= f.file_field :file, as: :image_preview, input_html: { preview_version: :thumbnail }, class: "file-upload" %>
              <%= label_tag('document_file', t("choose"), class: "choose-file") %>
            <% else %>
              <%= f.file_field :files, multiple: true, class: "file-upload" %>
              <%= label_tag(:document_files, t("choose_multiple"), class: "choose-file choose-files") %>
              <div class="left"><p><%= t(".choose_multiple_explanation_html") %></p></div>
            <% end %>
          </div>
          <div class="document-title">
            <%= f.label t(".title") %>
            <% if !document.persisted? %>
              <p><%= t(".title_explanation") %></p>
            <% end %>
            <%= f.input :title, label: false %>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <div class="ui-front">
          <%= f.input :category, as: :select, collection: category_collection, include_blank: false %>
        </div>
      </fieldset>
    </div>

    <% if document.file? && document.errors.none? %>
      <div class="row-item third">
        <fieldset>
          <%= f.label t(".original_name") %>
          <span><%= document.original_filename %></span>
          <%= f.label t(".size") %>
          <span><%= document.file.size %></span>
          <%= f.label t(".updated") %>
          <span><%= document.updated_at %></span>
        </fieldset>
      </div>
    <% end %>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), redirect_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
      <div class="notify">
        <%= label_tag t(".notify") %>
        <%= f.check_box :notify %>
      </div>
    </div>
  </div>
<% end %>
