<% breadcrumb :document, @document %>

<div class="section-header">
  <h3 class="section-title">
    <%= @document.title %><br>
  </h3>

  <div class="section-data">
    <%= edit_btn [:edit, @document], element: @document %>
  </div>
</div>

<div class="row document">
  <div class="row-item third">
    <%= label_tag t(".title") %>
    <span><%= @document.title %></span>
  </div>

  <div class="row-item third">
    <%= label_tag t(".category") %>
    <span><%= t("activerecord.attributes.document.categories.#{@document.category}") %></span>
  </div>

  <div class="row-item third">
    <% if @document.file? %>
      <%= label_tag t(".original_name") %>
      <span><%= @document.original_filename %></span>
      <%= label_tag t(".size") %>
      <span><%= @document.file.size %></span>
      <%= label_tag t(".updated") %>
      <span><%= @document.updated_at %></span>
      <%= label_tag t(".by") %>
      <span><%= @document.user %></span>
    <% else %>
      <%= t(".processing") %>
  <% end %>
  </div>

</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), @redirect_path, class: "btn" %>
  </div>
</div>
