<% breadcrumb :document, @document %>

<div class="section-header">
  <div class="section-title">
    <%= @document.title %><br>
  </div>

  <div class="section-data">
    <%= (edit_btn [:edit, @document], element: @document) unless @document.expired? && !(current_user.cf_admin?) %>
  </div>
</div>

<div class="row document">
  <div class="row-item third">
    <% if @document.file? %>
      <% if @document.original_filename %>
        <%= label_tag :original_name, t(".original_name") %>
        <span><%= @document.original_filename %></span>
      <% end %>
    <% end %>
    <%= label_tag t(".category") %>
    <span><%= t("activerecord.attributes.document.categories.#{@document.category}") %></span>
    <%= label_tag t(".pinned") %>
    <span><%= @document.pinned? ? t("activerecord.attributes.document.pinned") : t("activerecord.attributes.document.unpinned") %> </span>
  </div>

  <div class="row-item third">
    <%= label_tag :size, t(".size") %>
    <span><%= number_to_human_size(@document.file.size) %></span>
    <% if @document.file? %>
      <%= label_tag :updated, t(".updated") %>
      <span><%= @document.updated_at.strftime("%e %b %Y, %H:%M %p") %></span>
      <%= label_tag :by, t(".by") %>
      <span><%= @document.user_role(current_user) if @document.user %></span>
    <% else %>
      <%= t(".processing") %>
  <% end %>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), @redirect_path, class: "btn" %>
  </div>
</div>
