<% cancrud = can?(:crud, PlotRoom.new(plot)) %>

<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "plug", action: "Assign", type: ApplianceRoom, parent: room, combine: true,  override: cancrud %>
<% else %>
  <% if cancrud %>
    <div class="section-actions">
      <%= link_to new_room_appliance_room_path(room, plot: plot), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t("appliances.collection.assign") %></span>
      <% end %>
    </div>
  <% end %>

  <% showing_icons = current_user&.cf_admin? || cancrud  %>

  <table class="record-list">
    <thead>
      <tr>
        <th class="icon" style="text-align:center;"><%= t(".image") %></th>
        <th colspan="2"><%= sortable(Appliance, :id, t("appliances.collection.name")) %></th>
        <th colspan="2"><%= sortable({ Appliance => ApplianceCategory }, :name, t(".category")) %></th>
        <th colspan="2"><%= sortable(Appliance, :model_num) %></th>
        <th colspan="2"><%= sortable({ Appliance => ApplianceManufacturer }, :name, t(".manufacturer")) %></th>
        <th colspan="2"><%= sortable(Appliance, :updated_at, t(".last_edited")) %></th>
        <th colspan="2"><%= t(".added_by") %></th>
        <% if showing_icons %>
          <th colspan="2">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |appliance| %>
        <% tdc = cannot?(:update, appliance) ? "class=view-only" : nil %>
        <tr data-appliance="<%= appliance.id %>">
          <td style="text-align:center;"><%= image_link_to appliance,  appliance_path(appliance, warn_on_edit: true, origin: room&.identity)%></td>
          <td <%= tdc %> colspan="2"><%= can?(:read, appliance) ? link_to(appliance.full_name, appliance_path(appliance, warn_on_edit: true, origin: room&.identity), title: appliance.full_name) : appliance.name %></td>
          <td <%= tdc %> colspan="2"><%= appliance.appliance_category %></td>
          <td <%= tdc %> colspan="2"><%= appliance.model_num %></td>
          <td <%= tdc %> colspan="2"><%= appliance.appliance_manufacturer %></td>
          <td <%= tdc %> colspan="2"><%= l appliance.updated_at.to_date, format: :digits %></td>
          <td <%= tdc %> colspan="2"><%= appliance.added_by %></td>
          <% if showing_icons %>
            <td colspan="2" class="actions">
              <% if appliance.choice == false %>
                <% if cancrud %>
                  <% if current_user.cf_admin? %>
                    <%= link_to remove_appliance_path(room: room, appliance: appliance, plot: plot), class: "btn remove" do %>
                      <%= fa_icon "trash-o" %>
                    <% end %>
                  <% else %>
                    <%= delete_lnk remove_appliance_path(room: room, appliance: appliance, plot: plot), text: t(".delete_app_from_room", app: appliance.model_num, room: room.name), confirm: true, override: true %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
  </div>
<% end %>
