<% cancrud = can?(:crud, PlotRoom.new(plot)) %>

<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "shower", type: ApplianceRoom, parent: room, combine: true,  override: cancrud %>
<% else %>
  <% if cancrud %>
    <div class="section-actions">
      <%= link_to new_room_appliance_room_path(room, plot: plot), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t("appliances.collection.create") %></span>
      <% end %>
    </div>
  <% end %>

  <% showing_icons = current_user&.cf_admin? || cancrud  %>

  <table class="record-list">
    <thead>
      <tr>
        <th class="icon" style="text-align:center;"><%= t(".image") %></th>
        <th colspan="2"><%= sortable(Appliance, :id, t("appliances.collection.name")) %></th>
        <th colspan="2"><%= sortable({ Appliance => ApplianceCategory }, :name, t(".category")) %></th>
        <th colspan="2"><%= sortable(Appliance, :model_num) %></th>
        <th colspan="2"><%= sortable({ Appliance => ApplianceManufacturer }, :name, t(".manufacturer")) %></th>
        <th colspan="2"><%= sortable(Appliance, :updated_at, t(".last_edited")) %></th>
        <th colspan="2"><%= t(".added_by") %></th>
        <% if showing_icons %>
          <th colspan="2">&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |appliance| %>
        <tr <%="class=view-only" if cannot?(:update, appliance) %> data-appliance="<%= appliance.id %>">
          <td style="text-align:center;"><%= image_tag appliance.primary_image.url if appliance.primary_image? %></td>
          <td colspan="2"><%= link_to appliance.full_name, appliance_path(appliance), title: appliance.full_name %></td>
          <td colspan="2"><%= appliance.appliance_category %></td>
          <td colspan="2"><%= appliance.model_num %></td>
          <td colspan="2"><%= appliance.appliance_manufacturer %></td>
          <td colspan="2"><%= l appliance.updated_at.to_date, format: :digits %></td>
          <td colspan="2"><%= appliance.added_by %></td>
          <% if showing_icons %>
            <td colspan="2" class="actions">
              <% if appliance.choice == false %>
                <%= edit_btn edit_appliance_path(appliance), element: appliance %>
                <% if cancrud %>
                  <%= link_to remove_appliance_path(room: room, appliance: appliance, plot: plot), class: "btn remove" do %>
                    <%= fa_icon "trash-o" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
  </div>
<% end %>
