<% cancrud = can?(:crud, PlotRoom.new(plot)) %>

<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "shower", action: "Assign", type: FinishRoom, parent: room, plot: plot, combine: true, override: cancrud %>
<% else %>
  <% if cancrud %>
    <div class="section-actions">
      <%= link_to new_room_finish_room_path(room, plot: plot), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t("finishes.collection.assign") %></span>
      <% end %>
    </div>
  <% end %>

  <% showing_icons = current_user&.cf_admin? || cancrud %>

  <table class="record-list">
    <thead>
      <tr>
        <th class="icon" style="text-align:center;"><%= t(".image") %></th>
        <th colspan="2"><%= sortable(Finish, :name, t(".finish")) %></th>
        <th colspan="2"><%= sortable({ Finish => FinishCategory }, :name, t("finishes.collection.finish_category")) %></th>
        <th colspan="2"><%= sortable({ Finish => FinishType }, :name, t("finishes.collection.finish_type")) %></th>
        <th colspan="2"><%= sortable({ Finish => FinishManufacturer }, :name, t("finishes.collection.manufacturer")) %></th>
        <th colspan="2"><%= sortable(Finish, :updated_at, t(".last_edited")) %></th>
        <th colspan="2"><%= t(".added_by") %></th>
        <% if showing_icons %>
          <th colspan="2">&nbsp;</th>
        <% end %>
    </thead>
    <tbody>
      <% collection.each do |finish| %>
        <tr <%="class=view-only" if cannot?(:update, finish) %>>
          <td style="text-align:center;"><%= image_tag finish.picture.url if finish.picture? %></td>
          <td colspan="2"><%= link_to finish.name, finish_path(finish, warn_on_edit: true, origin: room&.identity)%></td>
          <td colspan="2"><%= finish.finish_category %></td>
          <td colspan="2"><%= finish.finish_type %></td>
          <td colspan="2"><%= finish.finish_manufacturer %></td>
          <td colspan="2"><%= l finish.updated_at.to_date, format: :digits %></td>
          <td colspan="2"><%= finish.added_by %></td>

          <% if showing_icons %>
            <td  colspan="2" class="actions">
            <% if finish.choice == false %>
              <% if cancrud %>
                <% if current_user.cf_admin? %>
                  <%= link_to remove_finish_path(room: room, finish: finish, plot: plot), class: "btn remove" do %>
                    <%= fa_icon "trash-o" %>
                  <% end %>
                <% else %>
                  <%= delete_lnk remove_finish_path(room: room, finish: finish, plot: plot), text: t(".delete_finish_from_room", finish: finish.name, room: room.name), confirm: true, override: true %>
                <% end %>
              <% end %>
            <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
  </div>
<% end %>
