<% breadcrumb :plot_room, @room, @plot %>

<div class="room">
  <div class="section-header">
    <div class="section-title">
      <%= @room.name %><br>
      <div class="room-icon", style="background-image: url(<%= image_path(icon_file_name(@room.icon_name)) if @room.icon_name? %>)"></div>

      <div class="cas-about">
        <% if current_user.cf_admin? || @room.cas? %>
          <br/><%= t("cas_enabled", status: @room.cas? ? t("enabled") : t("disabled")).html_safe %>
        <% end %>
      </div>
    </div>

    <div class="section-data">
      <% if can?(:update, PlotRoom.new(@plot)) %>
        <%= edit_btn [:edit, @plot, @room], element: @room %>
      <% end %>
    </div>
  </div>

  <%= render 'components/tabs', tabs: plot_room_tabs(@room, @active_tab, @plot) %>

  <% if @active_tab == :finishes.to_s %>
    <%= render 'finishes', collection: @collection, room: @room, plot: @plot %>
  <% else %>
    <%= render 'appliances', collection: @collection, room: @room, plot: @plot %>
  <% end %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@plot, active_tab: :rooms], class: "btn" %>
    </div>
  </div>
</div>
