<% breadcrumb :room, @room %>

<div class="section-header">
  <h3 class="section-title">
    <%= @room.name %><br>
  </h3>

  <div class="section-data">
    <div class="room-icon", style="background-image: url(<%= image_path(icon_file_name(@room.icon_name)) if @room.icon_name? %>)"></div>
    <%= edit_btn [:edit, @plot, @room] %>
  </div>
</div>

<%= render 'components/tabs', tabs: room_tabs(@room, "rooms") %>

<%= render_collection @collection, room: @room %>

<%= link_to t(".back"), [@plot, :rooms], class: "btn" %>
