<header>
  <div class="session">
    <div class="session-inner">
      <div class="user">
        <span><%= t('.hi', first_name: current_resident.first_name) %></span>
        <%= fa_icon "bell" %>
        <%= fa_icon "heart" %>
        <%= link_to destroy_resident_session_path, class: 'sign-out', method: :delete do %>
          <%= fa_icon "sign-out" %>
        <% end %>

        <img src="https://tinyurl.com/zvl8hxo">
      </div>
    </div>
  </div>
  <nav>
    <div class="nav-inner">
      <div class="logo">
        <%= image_tag brand.logo? ? brand.logo : "logo.png" %>
      </div>
      <div class="navigation">
        <%= render "components/homeowner/navigation" %>
      </div>
      <div class="search">
        <form>
          <input type="text">
          <button class="homeowner-btn">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>
