<header>
  <% if plot.present? %>
    <nav class="main-navigation">
      <div class="nav-inner" id="topNav">
        <!-- logo -->
        <div class="logo branded-logo">
          <% if session[:onboarding] %>
            <%= image_tag(brand_or_red_logo(brand, plot)) %>
          <% else %>
            <%= link_to image_tag(brand_or_red_logo(brand, plot)), homeowner_dashboard_path %>
          <% end %>
        </div>

        <!-- search bar -->
        <div class="navbar-search">
          <%= render "components/search" %>
        </div>

        <section>
          <div class="account-navigation" id="acctNav">
            <button class="dropdown branded-secondary" id="dropdownMenu">
              <% if unread_count.positive? %>
                <span class="unread"><%= unread_count %></span>
              <% end %>
              <span class="name"><%= current_resident.to_s %></span>
              <i class="fa fa-angle-down" id="upDownArrow"></i>
            </button>
            <div class="dropdown-content" id="navList">
              <div class="hidden-address branded-secondary" id="hiddenAddress">
                <h4><%= t(".welcome_home", resident: current_resident.first_name) %></h4>
                <% if plot.prefix.present? %>
                  <%= plot.prefix %>
                <% end %>
                <%= plot.postal_number %> <%= plot.building_name %>
                <% if plot.building_name.present? && plot.road_name.present? %>
                  <br/>
                <% end %>
                <% if plot.road_name.present? %>
                  <%= plot.road_name %><br/>
                <% end %>
                <% if plot.locality.present? %>
                  <%= plot.locality %><br/>
                <% end %>
                <% if plot.city.present? %>
                  <%= plot.city %><br/>
                <% end %>
                <% if plot.county.present? %>
                  <%= plot.county %><br/>
                <% end %>
                <% if plot.postcode.present? %>
                  <%= plot.postcode %><br/>
                <% end %>
              </div>
              <div class="links-list">
                <div class="branded-secondary dropdown-link">
                  <%= link_to t(".account"), homeowners_resident_path(current_resident), class: "branded-secondary link-item" %>
                </div>
                <div class="branded-secondary dropdown-link">
                  <%= link_to homeowners_notifications_path, class: "branded-secondary link-item" do %>
                  <% if unread_count.positive? %>
                  <span class="unread"><%= unread_count %></span>
                  <% end %>
                    <%= t(".messages") %>
                  <% end %>
                </div>
                <% if current_resident.listings? %>
                <div class="branded-secondary dropdown-link">
                  <%= link_to t(".lettings"), letting_path(current_resident), class: "branded-secondary link-item"%>
                </div>
                <% end %>
                <div class="branded-secondary dropdown-link">
                  <%= button_tag t(".feedback"), class: "feedback-btn navigation-btn branded-secondary link-item",
                  data: data_for_feedback(current_resident) %>
                </div>
                <div class="branded-secondary dropdown-link">
                  <%= button_tag t(".refer"), class: "refer-resident navigation-btn branded-secondary link-item",
                      data: { cancel: t("edit.cancel"),
                      cta: t(".send_invitation"),
                      title: t(".refer_title")} %>
                </div>
              </div>
              <div class="branded-secondary dropdown-link sign-out" id="signOut">
                <%= link_to t("users.sign_out"),
                    destroy_resident_session_path,
                    method: :delete,
                    data: { test: "homeowner-sign-out" },
                    class: "branded-secondary link-item" %>
              </div>
            </div>
            </button>
          </div>
        </section>

        <% if !session[:onboarding] %>
        <section class="burger-navigation">
          <input type="checkbox" id="menuBurger">
          <label for="menuBurger" class="burger navbar-trigger-label">
            <div class="branded-text menu-text">Menu</div>
            <div class="burger-bars">
              <span class="burger-bar bar-top"></span>
              <span class="burger-bar bar-middle"></span>
              <span class="burger-bar bar-bottom"></span>
            </div>
          </label>
        </section>
        <aside class="navbar-menu">
          <%= render "components/homeowner/navigation", plot: plot, country: country %>
        </aside>
        <% end %>
      </div>
    </nav>
  <% end %>
</header>

<div class="refer-resident-form hidden">
  <%= render 'homeowners/dashboard/referral_form', plot: plot %>
</div>