<header>
  <% if plot.present? %>
    <nav class="main-navigation branded-nav-background">
      <div class="nav-inner" id="topNav">
        <!-- logo -->
        <div class="logo branded-logo">
          <% if session[:onboarding] %>
            <%= image_tag(brand_or_red_logo(brand, plot)) %>
          <% else %>
            <%= link_to image_tag(brand_or_red_logo(brand, plot)), homeowner_dashboard_path %>
          <% end %>
        </div>

        <% unless session[:onboarding] %>
          <!-- search bar -->
          <div class="navbar-search">
            <%= render "components/search" %>
          </div>
        <% end %>

          <section>
            <div class="account-navigation branded-nav-background" id="acctNav">
              <% if !session[:onboarding] && current_resident.present? %>
                <button class="dropdown branded-nav-background branded-nav-text" id="dropdownMenu">
                  <% if unread_count.positive? %>
                    <span class="unread"><%= unread_count %></span>
                  <% end %>
                  <span class="name"><%= current_resident.to_s %></span>
                  <i class="fa fa-angle-down" id="upDownArrow"></i>
                </button>
                <div class="dropdown-content branded-nav-text branded-nav-background" id="navList">
                  <div class="hidden-address" id="hiddenAddress">
                    <h4 class="branded-nav-text"><%= t(".welcome_home", resident: current_resident.first_name) %></h4>
                    <% if plot.prefix.present? %>
                      <%= plot.prefix %>
                    <% end %>
                    <%= plot.postal_number %> <%= plot.building_name %>
                    <% if plot.building_name.present? && plot.road_name.present? %>
                      <br/>
                    <% end %>
                    <% if plot.road_name.present? %>
                      <%= plot.road_name %><br/>
                    <% end %>
                    <% if plot.locality.present? %>
                      <%= plot.locality %><br/>
                    <% end %>
                    <% if plot.city.present? %>
                      <%= plot.city %><br/>
                    <% end %>
                    <% if plot.county.present? %>
                      <%= plot.county %><br/>
                    <% end %>
                    <% if plot.postcode.present? %>
                      <%= plot.postcode %><br/>
                    <% end %>
                  </div>
                  <div class="links-list">
                    <%= link_to homeowners_resident_path(current_resident), class: "link-item branded-nav-text" do %>
                      <div class="dropdown-link branded-nav-background">
                        <%= t(".account") %>
                      </div>
                    <% end %>

                    <%= link_to plots_path, class: "link-item branded-nav-text" do %>
                      <div class="dropdown-link branded-nav-background">
                        <%= t(".plots") %>
                      </div>
                    <% end %>

                    <%= link_to homeowners_notifications_path, class: "link-item branded-nav-text" do %>
                      <div class="dropdown-link branded-nav-background">
                        <% if unread_count.positive? %>
                        <span class="unread"><%= unread_count %></span>
                        <% end %>
                        <%= t(".messages") %>
                      </div>
                    <% end %>

                    <% if current_resident.listings? %>
                      <%= link_to letting_path(current_resident), class: "link-item branded-nav-text" do %>
                        <div class="dropdown-link branded-nav-background">
                          <%= t(".lettings") %>
                        </div>
                      <% end %>
                    <% end %>

                    <%= button_tag class: "feedback-btn navigation-btn link-item branded-nav-text",
                        data: data_for_feedback(current_resident) do %>
                      <div class="dropdown-link branded-nav-background">
                          <span><%= t(".feedback") %></span>
                      </div>
                    <% end %>

                    <%= button_tag class: "refer-resident navigation-btn link-item branded-nav-text",
                        data: { cancel: t("edit.cancel"),
                        cta: t(".send_invitation"),
                        title: t(".refer_title")} do %>
                      <div class="dropdown-link branded-nav-background nav-refer">
                          <span><%= t(".refer") %></span>
                      </div>
                    <% end %>
                  </div>

                    <%= link_to destroy_resident_session_path,
                        method: :delete,
                        data: { test: "homeowner-sign-out" },
                        class: "link-item branded-nav-text" do %>
                      <div class="dropdown-link sign-out branded-nav-background" id="signOut">
                        <i class="fa fa-angle-left sign-out-arrow"></i><span><%= t("users.sign_out") %></span>
                      </div>
                    <% end %>
                </div>
              <% end %>
            </div>
          </section>

        <% if session[:onboarding] %>
          <div class="burger-placeholder"></div>
        <% else %>
          <section class="burger-navigation">
            <input type="checkbox" id="menuBurger">
            <label for="menuBurger" class="burger navbar-trigger-label">
              <div class="menu-text branded-nav-text">Menu</div>
              <div class="burger-bars">
                <span class="burger-bar bar-top"></span>
                <span class="burger-bar bar-middle"></span>
                <span class="burger-bar bar-bottom"></span>
              </div>
            </label>
          </section>
        <% end %>

          <aside class="navbar-menu">
            <%= render "components/homeowner/navigation", plot: plot, country: country %>
          </aside>

      </div>
    </nav>
  <% end %>
</header>

<div class="refer-resident-form hidden">
  <%= render 'homeowners/dashboard/referral_form', plot: plot %>
</div>