<div class="library-categories">
  <h2><%= t(".title") %></h2>
  <ul class="categories">
    <% documents = Document.accessible_by(current_ability)
                           .where(category: "my_home") %>
    <% documents = documents.where("created_at <= ?", plot.expiry_date) if plot.expiry_date.present? %>
    <% if documents.any? %>
      <li>
          <%= link_to plot.my_home_name,
                      homeowner_library_path("my_home"),
                      class: ("active" if active_category == "my_home") %>
      </li>
    <% end %>

    <% documents = Document.accessible_by(current_ability)
                           .where(category: "locality") %>
    <% documents = documents.where("created_at <= ?", plot.expiry_date) if plot.expiry_date.present? %>
    <% if documents.any? %>
      <li>
          <%= link_to t_enum(Document, :category, "locality"),
                      homeowner_library_path("locality"),
                      class: ("active" if active_category == "locality") %>
      </li>
    <% end %>

    <% documents = Document.accessible_by(current_ability)
                           .where(category: "legal_and_warranty") %>
    <% documents = documents.where("created_at <= ?", plot.expiry_date) if plot.expiry_date.present? %>
    <% if documents.any? %>
      <li>
          <%= link_to t_enum(Document, :category, "legal_and_warranty"),
                      homeowner_library_path("legal_and_warranty"),
                      class: ("active" if active_category == "legal_and_warranty") %>
      </li>
    <% end %>

    <% if Appliance.accessible_by(current_ability).any? %>
      <li>
        <%= link_to t(".appliances"),
                    homeowner_appliance_manuals_path,
                    class: ("active" if active_category == "appliances") %>
      </li>
    <% end %>

    <% videos = plot&.development&.videos %>
    <% videos = videos.where("created_at <= ?", plot.expiry_date) if plot.expiry_date.present? %>
    <% if videos.any? %>
      <li>
        <%= link_to t(".videos"),
                    homeowner_videos_path,
                    class: ("active" if active_category == "videos") %>
      </li>
    <% end %>

    <li>
      <%= link_to t(".my_documents"),
                  private_documents_path,
                  class: ("active" if active_category == "my_documents") %>
    </li>
  </ul>
</div>
