<div class="library-categories">
  <h2 class="branded-text"><%= t(".title") %></h2>
  <ul class="categories">
    <!-- document enum categories -->
    <% categories = Document.categories %>
    <% categories.each do |cat, num| %>
      <% documents = Document.accessible_by(current_ability)
                             .where(category: cat) %>
      <% documents = documents.where("created_at <= ?", plot.expiry_date) if plot.expiry_date.present? %>
      <% if documents.any? %>
        <li>
          <%= link_to (cat == "my_home" ? plot.my_home_name : t_enum(Document, :category, cat)),
          homeowner_library_path(cat.to_sym),
          class: ("active" if active_category == cat) %>
        </li>
      <% end %>
    <% end %>

    <% if Appliance.accessible_by(current_ability).any? %>
      <li>
        <%= link_to t(".appliances"),
                    homeowner_appliance_manuals_path,
                    class: ("active" if active_category == "appliances") %>
      </li>
    <% end %>

    <% videos = plot&.videos %>
    <% if videos.any? %>
      <li>
        <%= link_to t(".videos"),
                    homeowner_videos_path,
                    class: ("active" if active_category == "videos") %>
      </li>
    <% end %>

    <li>
      <%= link_to t(".my_documents"),
                  private_documents_path,
                  class: ("active" if active_category == "my_documents") %>
    </li>
  </ul>
</div>
