<div class="navbar">
  <label class="navbar-trigger-label" for="navbar-trigger">
    <%= fa_icon "bars" %>
  </label>
  <input id="navbar-trigger" type="checkbox">
  <nav class="navbar-menu">
    <ul>
      <%= link_to dashboard_path, class: "navbar-link branded-primary" do %>
        <li class="navbar-item">
          <%= t("layouts.homeowner.nav.dashboard") %>
        </li>
      <% end %>

      <%= link_to homeowner_about_path, class: "navbar-link branded-primary" do %>
        <li class="navbar-item">
          <%= t("layouts.homeowner.nav.my_home") %>
        </li>
      <% end %>

      <%= link_to homeowner_how_tos_path, class: "navbar-link branded-primary" do %>
        <li class="navbar-item branded-primary">
          <%= t("layouts.homeowner.nav.how_to") %>
        </li>
      <% end %>

      <%= link_to homeowner_contacts_path, class: "navbar-link branded-primary" do %>
        <li class="navbar-item branded-primary">
          <%= t("layouts.homeowner.nav.contacts") %>
        </li>
      <% end %>

      <% if plot.maintenance_link.present? %>
        <%= link_to homeowner_maintenance_path, class: "navbar-link branded-primary" do %>
          <li class="navbar-item branded-primary">
            <%= t(".maintenance") %>
          </li>
        <% end %>
      <% end %>

      <% if plot.house_search %>
        <a href="http://www.bestarea4me.com/demo" class="navbar-link branded-primary" target="_blank">
          <li class="navbar-item branded-primary">
            <%= t(".house_search") %>
          </li>
        </a>
      <% end %>
    </ul>
  </nav>
  <%= render "components/search" %>
</div>
