<nav class="sub-navigation-container">
  <div class="nav-inner">
    <div class="branded-text"><%= t('.title') %></div>
    <ul>
      <% if plot.unit_type.external_link? %>
        <%= link_to homeowner_about_path, active_tab: "about",
                    class: "branded-primary #{'active' if active_tab == 'about' }" do %>
            <li class="navbar-item"><%= t(".about") %></li>
        <% end %>
      <% end %>

      <% if plot.rooms.any? %>
        <%= link_to homeowner_my_home_path, active_tab: "rooms",
                    class: "branded-primary #{'active' if active_tab == 'rooms' }" do %>
            <li class="navbar-item"><%= t(".rooms") %></li>
        <% end %>
      <% end %>

      <% if Appliance.accessible_by(current_ability).any? %>
        <%= link_to homeowner_appliances_path, active_tab: "appliances", class: "branded-primary #{'active' if active_tab == 'appliances' }" do %>
            <li class="navbar-item">
              <%= t(".appliances") %>
            </li>
        <% end %>
      <% end %>

      <%= link_to homeowner_library_path, active_tab: "library", class: "branded-primary #{'active' if active_tab == 'library' }" do %>
          <li class="navbar-item">
            <%= t('.library') %>
          </li>
      <% end %>
      <%= link_to homeowner_faqs_path, active_tab: "faqs", class: "branded-primary #{'active' if active_tab == 'faqs' }" do %>
          <li class="navbar-item">
            <%= t('.faqs') %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>
