<aside class="sub-navigation-container">
    <ul class="sub-nav-links">

      <% if plot.unit_type.external_link? %>
        <div class="navbar-item">
            <%= link_to homeowner_home_tour_path, active_tab: "about",
                class: "branded-primary #{'active' if active_tab == 'about' }" do %>
              <li class="navbar-item-secondary"><%= t(".about") %></li>
            <% end %>
        </div>
      <% end %>

      <% if plot.rooms.any? %>
        <div class="navbar-item">
          <%= link_to homeowner_rooms_path, active_tab: "rooms",
              class: "branded-primary #{'active' if active_tab == 'rooms' }" do %>
            <li class="navbar-item-secondary"><%= t(".rooms") %></li>
          <% end %>
        </div>
      <% end %>

      <% if plot&.material_info %>
        <% unless plot&.material_info.unassigned? %>
          <div class="navbar-item">
            <%= link_to homeowner_material_info_path, active_tab: "material_info",
                class: "branded-primary #{'active' if active_tab == 'material' }" do %>
              <li class="navbar-item-secondary"><%= t(".material_info") %></li>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% if Appliance.accessible_by(current_ability).any?  ||
      (plot&.appliance_choices.present? && plot&.appliance_choices&.length > 0) %>
        <div class="navbar-item">
          <%= link_to homeowner_appliances_path, active_tab: "appliances", class: "branded-primary #{'active' if active_tab == 'appliances' }" do %>
            <li class="navbar-item-secondary">
              <%= t(".appliances") %>
            </li>
          <% end %>
        </div>
      <% end %>

      <div class="navbar-item">
        <%= link_to homeowner_library_path, active_tab: "library", class: "branded-primary #{'active' if active_tab == 'library' }" do %>
          <li class="navbar-item-secondary">
            <%= t('.library') %>
          </li>
        <% end %>
      </div>

      <% if !plot.free? && plot.development_calendar %>
        <div class="navbar-item">
          <%= link_to homeowner_calendar_path, active_tab: "calendar", class: "branded-primary #{'active' if active_tab == 'calendar' }" do %>
            <li class="navbar-item-secondary">
              <%= t('.calendar') %>
            </li>
          <% end %>
        </div>
      <% end %>
    </ul>
</aside>
