<nav class="sub-navigation-container">
  <div class="nav-inner">
    <h3 class="branded-text"><%= t('.title') %></h3>
    <ul>
      <li class="navbar-item"><%= link_to t(".rooms"), homeowner_my_home_path, active_tab: "rooms", class: "branded-primary " + (active_tab == "rooms"? "active": "") %></li>
      <li class="navbar-item"><%= link_to t(".appliances"), homeowner_appliances_path, active_tab: "appliances", class: "branded-primary " + (active_tab == "appliances"? "active": "") %></li>
      <li class="navbar-item"><%= link_to t('layouts.homeowner.sub_nav.library'), homeowner_library_path, active_tab: "library", class: "branded-primary " + (active_tab == "library" ? "active": "") %></a></li>
      <li class="navbar-item"><%= link_to t('layouts.homeowner.sub_nav.faqs'), "TODO_FAQs", active_tab: "faqs", class: "branded-primary " + (active_tab == "faqs" ? "active": "") %></a></li>
    </ul>
  </div>
</nav>

<div class="branded-hero">
  <div class="filter-hero">
    <div class="hero-text">
      <% if content_for?(:hero_text_primary) %>
        <h2><%= yield(:hero_text_primary) %></h2>
      <% end %>
      <% if content_for?(:hero_text_secondary) %>
        <p class="secondary"><%= yield(:hero_text_secondary) %></p>
      <% end %>
    </div>
  </div>
</div>
