<div class="session branded-header">
  <div class="session-inner">
    <div class="user">
      <span><%= t('.hi', first_name: current_resident&.first_name) %></span>
      <span>|</span>
      <%= link_to t(".account"), homeowners_resident_path(current_resident) %>
      <span>|</span>
      <%= link_to homeowners_notifications_path do %>
        <i class="fa fa-envelope"></i>
        <% if unread_count.positive? %>
          <sup class="unread"><%= unread_count %></sup>
        <% end %>
      <% end %>
      <span>|</span>
      <%= button_tag t(".feedback"), class: "feedback-btn", data: data_for_feedback(current_resident.email || "") %>
      <span>|</span>
      <%= link_to t("users.sign_out"), destroy_resident_session_path, method: :delete, data: { test: "homeowner-sign-out" } %>
    </div>

    <div class="user user-mobile">
      <span><%= t('.hi', first_name: current_resident&.first_name) %></span>
      <span>|</span>
      <%= link_to '<i class="fa fa-user"></i>'.html_safe, homeowners_resident_path(current_resident) %>
      <span>|</span>
      <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, destroy_resident_session_path, method: :delete, data: { test: "homeowner-sign-out" } %>
    </div>
  </div>
</div>
