<% content_for :sub_category_navigation do %>
  <% @categories.each do |category| %>
    <div class="navbar-item">
      <%= link_to homeowner_faqs_path(@faq_type, category),
          class: ("active" if @faq_category == category) do %>
        <li class="navbar-item-secondary">
          <%= category.name %>
        </li>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="faq-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body">
  <div class="main-container">
    <div class="page-title">
      <h2 class="branded-text"><%= t(".title") %></h2>
    </div>
    <dl class="faqs">
      <% @faqs.each do |faq| %>
        <dt class="branded-content" id="faq-<%= faq.id %>"><h3 class="branded-text"><%= faq.question.html_safe %></h3></dt>
        <dd class="branded-text branded-content">
          <%= raw faq.answer %>

          <div class="faq-feedback" id="feedback-<%=faq.id%>">
            <p>
              <%= t(".feedback") %>

              <%= button_tag t(".pos"), class: "faq-button", id: "positiveFAQ",
                  data: { id: faq.id, question: faq.question } %>

              <%= button_tag t(".neg"), type: 'button', class: "faq-button", id: "negativeFAQ" %>
            </p>
          </div>
          <div class="faq-feedback positive-response" id="positive-<%=faq.id%>">
            <p><%= t(".positive") %></p>
          </div>
        </dd>
      <% end %>
    </dl>

    <div class="branded-text check-contacts">
      <p>
        <%= raw t(".try_contacts", contacts_link: link_to(Contact.model_name.human.pluralize, homeowner_contacts_path)) %>
      </p>
    </div>
  </div>
</div>
