<% breadcrumb :spotlight, @spotlight %>

<div class="section-header">
  <div class="section-title">
    <%= @spotlight.title %><br>
  </div>
  <div class="section-data">
    <% if @spotlight.editable? || current_user.cf_admin? %>
      <%= (edit_btn [:edit, @spotlight], element: @spotlight) unless @parent.expired? && !(current_user.cf_admin?) %>
    <% end %>
  </div>
</div>

<% @spotlight.custom_tiles.each do |custom_tile| %>
  <div class="row custom-tile-show">
    <div class="row-item third">
      <div id="tilePreview">
        <% if custom_tile.feature? %>
          <div class="feature">
            <%= render "homeowners/dashboard/tiles/#{custom_tile.feature}", plot: custom_tile.development %>
          </div>
        <% else %>
          <% if custom_tile.image? %>
            <div id="customTileImage">
              <div class=<%= custom_tile.full_image? ? "full-image" : "image"%> >
                <%= image_tag(custom_tile.image_url) %></div>
              <div class=<%= custom_tile.full_image? ? "full-content" : "content"%>>
                <div class="text">
                  <% if custom_tile.render_title %>
                    <h2 class="title"><%= custom_tile.title %></h2>
                  <% end %>
                  <% if custom_tile.render_description %>
                    <p class="description"><%= custom_tile.description %></p>
                  <% end %>
                </div>
                <% if custom_tile.render_button %>
                  <div class="button">
                    <div class="button-text"><%= custom_tile.button %></div>
                  </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <div id="customTileIcon">
              <div class="icon">
                <i class="fa <%= custom_tile.link? ? 'fa-external-link' : 'fa-file-pdf-o' %> "></i></div>
              <div class="content">
                <% if custom_tile.render_title %>
                  <h2 class="title"><%= custom_tile.title %></h2>
                <% end %>
                <% if custom_tile.render_description %>
                  <p class="description"> <%= custom_tile.description %></p>
                <% end %>
              </div>
              <% if custom_tile.render_button %>
                <div class="button">
                  <div class="button-text"><%= custom_tile.button %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% unless custom_tile.feature? %>
      <div class="row-item two-thirds">
        <% if custom_tile.link? %>
          <%= label_tag(:link) %>
          <p><%= custom_tile.link %></p>
        <% else %>
          <% if custom_tile.document_id? %>
            <%= label_tag(:document) %>
            <p><%= custom_tile.document.to_s %></p>
          <% end %>
          <% if custom_tile.file? %>
            <label class='display-inline'><%= t(".file")%></label>
            <div class='section-data display-inline'>
              <%= link_to custom_tile.file&.url, class: "btn right no-margin",  target: "_blank" do %>
                <%= icon "floppy-o" %>
              <% end %>
            </div>
            <p class='wrap'><%= custom_tile.original_filename %></p>
          <% end %>
          <% if custom_tile.guide? %>
            <label><%= t(".document_tag")%></label>
            <p><%= custom_tile.guide.titleize %></p>
          <% end %>
          <% if custom_tile.content_proforma? %>
            <label><%= t(".content_proforma")%></label>
            <p><%= custom_tile&.title.titleize %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :spotlights], class: "btn" %>
  </div>
</div>
