<%= render "components/homeowner/sub_menu", active_tab: "about" %>

<div class="branded-body">
  <div class="about-section">
    <% if @plot.unit_type.external_link? %>
      <iframe width="853" height="480" src=<%= @plot.external_link %> frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>

  <div class="about-section">
    <div class="about-card branded-content branded-border">
      <%= link_to t("components.homeowner.sub_menu.rooms"), homeowner_my_home_path, active_tab: "rooms", class: "branded-primary" %>
      <span><%= t(".rooms_description") %></span>
    </div>
    <div class="about-card branded-content branded-border">
      <%= link_to t("components.homeowner.sub_menu.appliances"), homeowner_appliances_path, active_tab: "appliances", class: "branded-primary" %>
      <span><%= t(".appliances_description") %></span>
    </div>
    <div class="about-card branded-content branded-border">
      <%= link_to t("components.homeowner.sub_menu.library"), homeowner_library_path, active_tab: "library", class: "branded-primary" %>
      <span><%= t(".library_description") %></span>
    </div>
    <div class="about-card branded-content branded-border">
      <%= link_to t("components.homeowner.sub_menu.faqs"), homeowner_faqs_path, active_tab: "faqs", class: "branded-primary" %>
      <span><%= t(".faqs_description") %></span>
    </div>
  </div>
</div>
