<div class="tile-image">
  <%= image_tag tile.image %>
</div>
<div class="img-tile-details">
  <div class="tile-text">
    <h2 class="tile-title branded-text"><%= tile.title %></h2>
    <p class="tile-description branded-text"><%= tile.description %></p>
  </div>
  <div class="tile-button">
    <% if tile.document? %>
      <%= link_to tile.button, tile.document_location(documents.order(:documentable_type)), target: '_blank', class: "branded-btn" %>
    <% else %>
      <% link = tile.formatted_link %>
      <% if tile.iframeable?(link) %>
        <%= link_to tile.button, custom_link_path(title: tile.title, page: link), class: "branded-btn" %>
      <% else %>
        <%= link_to tile.button, link, target: '_blank', class: "branded-btn" %>
      <% end %>
    <% end %>
  </div>
</div>
