<div class="tile-image">
  <% if plot&.branded_perk&.tile_image %>
    <%= image_tag "#{plot&.branded_perk&.tile_image}" %>
  <% else %>
    <%= image_tag "buyers_logo.png" %>
  <% end %>
</div>

<!-- if Vaboo had not been activated by the current resident -->
<% if !Vaboo.perks_account_activated?(current_resident, plot) %>
  <% perk = allocate_perk_type(current_resident, plot) %>

  <div class="img-tile-details perks-summary">
    <div class="tile-text">
      <h2 class="tile-title branded-text"><%= t(".title") %></h2>
      <p class="tile-description branded-text"><%= t(".description") %></p>
    </div>
    <div class="tile-button perks-button">
      <%= link_to t(".button"),
          perks_path(type: perk),
          class: "branded-btn" %>
    </div>
  </div>

<% else %>

  <div class="img-tile-details perks-summary">
    <div class="tile-text">
      <h2 class="tile-title branded-text"><%= t(".title") %></h2>
      <p class="tile-description branded-text"><%= t(".activated_description").html_safe %></p>
    </div>
    <div class="tile-button perks-button">
      <%= link_to t(".activated_button"),
          Vaboo.branded_perks_link(plot.developer),
          class: "branded-btn",
          target: :_blank %>
    </div>
  </div>

<% end %>
