<div class="tile-image">
  <%= image_tag "tile_timeline.png" %>
</div>
<div class="img-tile-details timeline-summary">
  <div class="tile-text">
    <h2 class="tile-title branded-text"><%= t(".title") %></h2>
    <p class="tile-description branded-text"><%= t(".description") %></p>
  </div>
  <div class="tile-button">
    <% if defined?(preview) && preview %>
      <%= link_to t(".button"), homeowner_timeline_path(0), class: "branded-btn" %>
    <% else %>
      <%= link_to t(".button"), homeowner_timeline_path(@plot.journey), class: "branded-btn" %>
    <% end %>
  </div>
</div>
