<% content_for :hero_text_primary do %>
  <%= t(".title") %>
<% end %>

<%= render "components/homeowner/sub_header", active_tab: "rooms", plot: @plot %>

<div class="branded-body">
  <div class="rooms">
    <h4 class="branded-text"><%= t(".disclaimer") %></h4>
    <% @rooms.each do | room | %>
      <% if @plot.choices_approved? %>
        <% plot_choices = RoomChoice.plot_choices(room, @plot) %>
      <% end %>
      <% if plot_choices.present? || room.appliances.any? || room.finishes.any? %>

        <div class="room branded-content branded-border">
          <div class="fifth branded-text">
            <% if room.icon_name %>
              <div class="room-icon branded-text", style="background-image: url(<%= image_path(icon_file_name(room.icon_name)) %>)"></div>
            <% else %>
              <div class="room-icon branded-text">
                <%= fa_icon "image" %>
              </div>
            <% end %>
          </div>

          <div class="two-fifths branded-text">
            <span class="branded-text"><%= room %></span>
             <% room.finishes.each_with_index do | finish, index | %>
              <% if index.even? %>
                <%= render "homeowners/components/finish", finish: finish %>
              <% end %>
            <% end %>
            <% room.appliances.each_with_index do | appliance, index | %>
              <% if index.even? %>
                <%= render "homeowners/components/appliance", appliance: appliance %>
              <% end %>
            <% end %>

            <% if @plot.choices_approved? %>
              <% plot_choices&.each_with_index do | choice, index | %>
                <% if index.even? %>
                  <% if choice.choiceable.is_a? Finish %>
                    <%= render "homeowners/components/finish", finish: choice.choiceable %>
                  <% elsif choice.choiceable.is_a? Appliance %>
                    <%= render "homeowners/components/appliance", appliance: choice.choiceable %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="second-column two-fifths branded-text">
            <% room.finishes.each_with_index do | finish, index | %>
              <% if index.odd? %>
                <%= render "homeowners/components/finish", finish: finish %>
              <% end %>
            <% end %>
            <% room.appliances.each_with_index do | appliance, index | %>
              <% if index.odd? %>
                <%= render "homeowners/components/appliance", appliance: appliance %>
              <% end %>
            <% end %>

            <% if @plot.choices_approved? %>
              <% plot_choices&.each_with_index do | choice, index | %>
                <% if index.odd? %>
                  <% if choice.choiceable.is_a? Finish %>
                    <%= render "homeowners/components/finish", finish: choice.choiceable %>
                  <% elsif choice.choiceable.is_a? Appliance %>
                    <%= render "homeowners/components/appliance", appliance: choice.choiceable %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
