
<%= render "components/homeowner/library_hero", active_category: @category, categories: @categories %>

<%= render "components/homeowner/sub_header", active_tab: "library" %>

<div class="branded-body library">
  <div class="main-container documents branded-background branded-text">
    <div class="row">
      <% @documents.each do |document| %>
        <%= render "homeowners/library/document", document: document, homeowner: @homeowner, plot: @plot %>
      <% end %>

      <% @appliances.each do |appliance| %>
        <%= render "homeowners/library/appliance", appliance: appliance %>
      <% end %>
    </div>
  </div>
</div>

<% if current_resident&.plot_residency_homeowner?(@plot) %>
  <%= render "homeowners/components/sharing_info" %>
<% end %>

<div class="disclaimer branded-content">
  <span><%= t(".disclaimer") %></span>
</div>
