<%= render "components/homeowner/library_hero", active_category: @category, categories: @categories, plot: @plot %>

<%= render "components/homeowner/hero" %>

<%= render "components/homeowner/sub_menu", active_tab: "library", plot: @plot %>

<div class="branded-body library">
  <div class="main-container documents branded-background branded-text">
    <div class="row">
      <% @documents.each do |document| %>
        <%= render "homeowners/library/document", document: document, homeowner: @homeowner, plot: @plot %>
      <% end %>

      <% @appliances.each do |appliance| %>
        <%= render "homeowners/library/appliance", appliance: appliance %>
      <% end %>
    </div>
  </div>

  <div class="disclaimer">
    <span><%= t(".disclaimer").html_safe %></span>
  </div>
</div>

<% if current_resident&.plot_residency_homeowner?(@plot) %>
  <%= render "homeowners/components/sharing_info", plot: @plot %>
<% end %>


