
<%= render "components/homeowner/library_hero", active_category: @category, categories: @categories %>

<div>
  <%= render "components/homeowner/sub_header", active_tab: "library" %>
</div>

<div class="branded-body library">
  <div class="main-container documents branded-background branded-text">
    <div class="row">
      <% @documents.each do |document| %>
        <div class="sixth document">
          <div class="document-image-container">
            <%= link_to document.file.url, target: "_blank" do %>
              <%= image_tag document_preview_url(document.file) if document.file? %>
            <% end %>
          </div>

          <h5><%= document.title %></h5>
          <p><%= t_enum(Document, :category, document.category) %></p>
        </div>
      <% end %>

      <% @appliances.each do |appliance| %>
        <% if appliance.manual? %>
          <div class="sixth document">
            <div class="document-image-container">
              <%= link_to appliance.manual.url, target: "_blank" do %>
                <%= image_tag document_preview_url(appliance.manual)  %>
              <% end %>
            </div>
            <h5><%= appliance.name %></h5>
            <span><%= appliance.appliance_category %></span>
            <p><%= t(".manual") %></p>
          </div>
        <% end %>
        <% if appliance.guide? %>
          <div class="sixth document">
            <div class="document-image-container">
              <%= link_to appliance.guide.url, target: "_blank" do %>
                <%= image_tag document_preview_url(appliance.guide) %>
              <% end %>
            </div>
            <h5><%= appliance.name %></h5>
            <span><%= appliance.appliance_category %></span>
            <p><%= t(".guide") %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="disclaimer branded-content">
  <span><%= t(".disclaimer") %></span>
</div>
