<% if parent.is_a?(Development) && parent.cas?  %>
  <%= render "components/admin/popup", title: t(".plot_template.title"), preference: :show_plot_template_dialog, help: [t(".plot_template.help")], width: 700%>
<% end %>

<% if collection.empty? %>
  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: parent %>
  </div>

  <%= render 'components/empty_list', icon_name: "bath", type: UnitType, parent: parent %>
<% else %>
  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: parent %>

    <% if can_create(UnitType, parent) %>
      <%= link_to [:new, parent, :unit_type], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  <% end %>
  </div>

  <table class="record-list unit-types">
    <thead>
      <tr>
        <th><% if can_create(UnitType, parent) %><i class="fa fa-question-circle-o" id="unitTypeHelp"></i><% end %> <%= sortable(collection, :name, t(".name")) %></th>
        <th><%= sortable(collection, :updated_at, t(".last_edited")) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |unit_type| %>
      <tr>
        <td><%= link_to unit_type.name, development_unit_type_path(unit_type.development, unit_type), title: unit_type.name, class: "unit_type-name" %></td>
        <td><%= l unit_type.updated_at.to_date, format: :digits %></td>
        <td class="actions">
          <%= link_to t(".rooms"), unit_type_rooms_path(unit_type), class: "btn" %>
          <% if current_user.cas? && !current_user.cf_admin? && unit_type.restricted? %>
            <div class="btn" id="restrictedHelp"><i class="fa fa-info"></i></div>
          <% end %>
          <% if can? :update, unit_type %>
            <%= link_to clone_unit_type_path(id: unit_type.id), class: "btn clone", title: "Clone" do %>
              <i class="fa fa-files-o"></i>
            <% end %>
          <% end %>
          <%= edit_btn edit_development_unit_type_path(unit_type.development, unit_type), element: unit_type %>
          <!-- if the unit type has plots it cannot be deleted so show the info button, otherwise show the delete button -->
          <% if unit_type.plots_by_phase.present? %>
            <%= info_btn unit_type, text: unit_type.delete_confirmation, element: unit_type, title: t('buttons.info.cannot_delete', type: "Unit Type")%>
          <% else %>
            <%= delete_btn unit_type, path: url_for([unit_type.development, unit_type]), text: unit_type.delete_confirmation, element: unit_type %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
