<%= simple_form_for([unit_type.development, unit_type]) do |f| %>
  <% if unit_type.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% unit_type.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <div class="image-container">
          <%= f.input :picture, as: :image_preview, label: t(".picture"), input_html: { preview_version: :thumbnail } %>
        </div>
        <%= f.input :name, label: t(".name") %>
        <%= f.input :build_type, label: t(".build_type"), as: :select, collection: build_types_collection, include_blank: false %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.label :external_link, t(".walkthrough") %>
        <%= f.text_area :external_link, placeholder: t(".matterport_example") %>
        <p><%= t("unit_types.form.matterport_tip") %></p>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [unit_type.development.parent, unit_type.development, active_tab: :unit_types], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
