<% breadcrumb :unit_type, @unit_type %>

<div class="unit-type">
  <div class="section-header">
    <div class="section-title">
      <div><%= @unit_type.name %></div>
      <span class="about"><%= @unit_type.external_link %></span>
    </div>

    <div class="section-data">
      <span class="strong">
      <%= t("activerecord.attributes.unit_type.build_types.#{@unit_type.build_type}") %>
      </span>
      <%= edit_btn [:edit, @unit_type.development, @unit_type], element: @unit_type %>
    </div>
  </div>


  <%= render 'components/tabs', tabs: unit_type_tabs(@unit_type, @active_tab) %>
  <%= render_collection @collection, parent: @unit_type %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@unit_type.development.parent, @unit_type.development, active_tab: :unit_types], class: "btn" %>
    </div>
  </div>
</div>
