<% breadcrumb :unit_type, @unit_type %>

<div class="unit-type">
  <div class="section-header">
    <div class="section-title">
      <div><%= @unit_type.name %></div>
      <% if current_user.cf_admin? ||
            (current_user.cas || @unit_type.cas) %>
        <span class="about">
          <br/>
          <% if @unit_type.cas %>
            <strong><%= t("cas_enabled") %><br/>
          <% end %>
          <strong><%= t(".home_address_image") %></strong><%= @unit_type.picture? ? @unit_type.picture_name : "Not Populated" %><br/>
          <strong><%= t(".about_page_link") %></strong><%= @unit_type.external_link? ? @unit_type.external_link : "Not Populated" %><br/><br/>
          <strong><%= t(".plots") %></strong><%= @unit_type.plots.count %><br/>
          <strong><%= t(".rooms") %></strong><%= @unit_type.rooms.count %><br/>
          <strong><%= t(".finishes") %></strong><%= @unit_type.finishes_count %><br/>
          <strong><%= t(".appliances") %></strong><%= @unit_type.appliances_count %><br/>
        </span>
      <% end %>
    </div>

    <div class="section-data">
      <%= edit_btn [:edit, @unit_type.development, @unit_type], element: @unit_type %>
    </div>
  </div>


  <%= render 'components/tabs', tabs: unit_type_tabs(@unit_type, @active_tab) %>
  <%= render_collection @collection, parent: @unit_type %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@unit_type.development.parent, @unit_type.development, active_tab: :unit_types], class: "btn" %>
    </div>
  </div>
</div>
