<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to intro_video_path, class: "active" do %>
    <li class="navbar-item-secondary">
      <%= t(".title") %>
    </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="intro-video-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="outer-container branded-content branded-text intro-video">
  <div class="video-container">
    <p class="intro-text">
      <span><%= t(".welcome_1") %></span><br/>
      <span><%= t(".welcome_2") %></span>
    </p>
    <%= render "homeowners/about_videos/video", setting: @setting %>
  </div>

  <div class='next-page'>
    <%= link_to t(".go_to_dashboard"), dashboard_path, class: "btn branded-btn-inverted services-btn" %>   
  </div>

  <p class="video-footer">
    <%= t(".return") %>
  </p>
</div>
