<div class="branded-hero"></div>

<div class="outer-container branded-content branded-text intro-video">
  <div class="video-container">
    <div class="title">
      <%= t(".welcome_title", name: current_resident.first_name) %>
    </div>
    <p class="intro-text">
      <span><%= t(".welcome_1") %></span><br/>
      <span><%= t(".welcome_2") %></span>
    </p>
    <%= render "homeowners/about_videos/video", setting: @setting %>
  </div>

  <div class="next-page">
    <%= link_to t(".next"), @next_path, class: "btn branded-btn" %>
  </div>

  <p class="video-footer">
    <%= t(".return") %>
  </p>
</div>
