<% content_for :title, t(".title") %>
<% content_for :description, t(".description") %>

<div class="admin-login-panel">
  <div class="admin-login-form">
    <div class="admin-login-logo">
      <%= image_tag "Spaciable_full.svg", alt: image_alt("Spaciable_full.svg") %>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h2 class="primary"><%= t(".flash")%></h2>

      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email" %>
        <%= f.input :password, required: false, label: false, placeholder: "Password" %>
        <%= f.input :remember_me, class: "admin-login-checkbox", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.submit t(".login_cta"), class: "btn-primary btn-admin-login" %>
      </div>

      <p class="forgotten-password"><%= render "devise/shared/links" %></p>

      <div class="admin-copyright">
        <p><%= t(".copyright", year: Time.current.year).html_safe %></p>
      </div>
    <% end %>
  </div>
  <div class="preamble">
    <div class="login-redirect">
      <span class="homeowner-login"><%= link_to t(".homeowner_login"), new_resident_session_path, id: 'homeowner-login-link' %></span>
      <span class="admin-login"><%= link_to t(".admin_login"), new_user_session_path, id: 'admin-login-link' %></span>
    </div>
    <div class="content">
      <div class="login-icon">
        <div><%= image_tag "Spaciable_icon_white.svg", alt: image_alt("Spaciable_icon_white.svg") %></div>
      </div>
    </div>
  </div>
</div>
