<% if collection.empty? %>
    <%= render 'components/empty_list', icon_name: "user", type: Resident, parent: parent %>
<% else %>
  <div class="section-actions">
    <%= link_to [:new, plot, :resident], class: "btn btn-primary", data: { action: "new" } do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".add") %></span>
    <% end %>
  </div>

  <table class="record-list residents">
    <thead>
      <tr>
        <th colspan="2"><%= sortable(Resident, :last_name, t(".last_name")) %></th>
        <th colspan="2"><%= sortable(Resident, :email, t(".email")) %></th>
        <th><%= sortable(Resident, :updated_at, t(".updated_at")) %></th>
        <th><%= t(".status") %></th>
        <th><%= t(".role") %></th>
        <th colspan="2"><%= t(".invited_by") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |resident| %>
        <tr data-plot-resident="<%= resident.id %>">
        <td colspan="2"><%= link_to resident, [plot, resident], title: resident %></td>
        <td colspan="2"><%= resident.email %></td>
        <td><%= l resident.updated_at.to_date, format: :digits %></td>
        <td><%= t(".activated") if resident.invitation_accepted? %></td>
        <td><%= resident.plot_residency_role_name(plot) %>
        <td colspan="2"><%= resident.plot_residency_invited_by(plot) %>
        <td class="actions">
          <%= edit_btn [:edit, plot, resident], element: resident %>
          <%= delete_btn resident, path: url_for([plot, resident]), element: resident %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
