<% breadcrumb :resident, @resident, @plot %>

<div class="resident">
  <div class="section-header">
    <div class="section-title">
      <i class="fa fa-user"></i>
      <%= t(".title", plot: @plot) %><br>
    </div>
    <div class="section-data">
      <%= (edit_btn [:edit, @plot, @resident], element: @resident) unless @plot.expired? && !(current_user.cf_admin?) %>
    </div>
  </div>

  <div class="row">
    <div class="row-item third">
      <%= label_tag(PlotResidency.human_attribute_name(:full_name)) %>
      <span><%= @resident %></span>
      <%= label_tag(PlotResidency.human_attribute_name(:email)) %>
      <span><%= @resident.email %></span>
      <%= label_tag(PlotResidency.human_attribute_name(:phone_number)) %>
      <span><%= @resident.phone_number %></span>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@plot, active_tab: :residents], class: "btn" %>
    </div>
  </div>
</div>
