<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "external-link-square", type: CustomTile, parent: parent %>
<% else %>
  <% if can_create(CustomTile, parent) %>
    <% unless (parent.expired? && !(current_user.cf_admin?)) || (collection.size >= 5) %>
      <div class="section-actions">
        <%= link_to [:new, parent, :custom_tile], class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".create") %></span>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <table class="record-list">
    <thead>
    <tr>
      <th><%= t(".title") %></th>
      <th><%= t(".category") %></th>
      <th><%= t(".editable") %></th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |custom_tile| %>
    <tr>
      <td><%= link_to (custom_tile.title? ? custom_tile.title : t("activerecord.attributes.custom_tiles.features.#{custom_tile.feature}", snag_name: parent.snag_name)), custom_tile_path(custom_tile) %></td>
      <td><%= custom_tile.category.titleize %></td>
      <td><%= custom_tile.editable? ? "Yes" : "No" %></td>
      </td>
      <td class="actions">
        <% if current_user.cf_admin? || custom_tile.editable? %>
          <%= (edit_btn edit_custom_tile_path(custom_tile), element: custom_tile) unless parent.expired? && !(current_user.cf_admin?) %>
          <%= (delete_btn custom_tile, path: custom_tile_path(custom_tile), element: custom_tile) unless parent.expired? && !(current_user.cf_admin?) %>
        <% else %>
          <%= info_btn custom_tile,
            text: t(".uneditable_text"),
            element: custom_tile,
            title: t(".uneditable_title",
                   tile: custom_tile.title? ? custom_tile.title : t("activerecord.attributes.custom_tiles.features.#{custom_tile.feature}")) %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
