<%= simple_form_for([parent, custom_tile]) do |f| %>
  <% if custom_tile.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% custom_tile.errors.full_messages.each do |message| %>
        <li>
          <%= fa_icon "exclamation-circle" %>
          <%= message %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row custom-tile">
    <div class="row-item third">
      <div class="ui-front">
        <%= f.input :category, as: :select, collection: tile_category_collection(custom_tile), include_blank: false %><br/>
      </div>

      <fieldset class="custom-tile-feature">
        <div class="ui-front" id="featureSelector">
          <%= f.input :feature, as: :select, collection: tile_feature_collection(custom_tile), include_blank: true %><br/>
        </div>
      </fieldset>

      <fieldset class="custom-tile-document">
        <div class="ui-front">
          <%= f.input :document_id, label: t(".document"), as: :select, collection: custom_tile.documents_in_scope, include_blank: true %><br/>
        </div><br/>
        <div class="ui-front">
          <%= f.input :guide, label: t(".guide"), as: :select, collection: tile_guide_collection(custom_tile), include_blank: true %><br/>
        </div>
        <div class="document-file">
          <%= label_tag t(".file") %>
          <% if custom_tile.persisted? %>
            <%= f.file_field :file, label: t(".file"), as: :image_preview, input_html: { preview_version: :thumbnail }, class: "file-upload single-file-upload" %>
          <% else %>
            <%= f.file_field :file, class: "file-upload" %>
          <% end %>
          <%= label_tag('custom_tile_file', t("choose"), class: "choose-file") %>
        </div>

      </fieldset>

      <fieldset class="custom-tile-link">
        <%= f.input :link, label: t(".link") %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset class="custom-tile-content">
        <div class="image-container">
          <%= f.input :image, label: t(".image"), as: :image_preview %>
        </div><br/>

        <%= f.input :title, label: t(".title") %>
        <%= f.input :title, label: t(".description") %>
        <%= f.input :title, label: t(".button") %>
      </fieldset>
    </div>

    <div class="row-item third">

    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
      <%= link_to t(".back"), [parent, :custom_tiles], class: "btn" %>
      <% else %>
      <%= link_to t(".back"), video, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
