<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "th-list", type: RoomConfiguration, parent: parent %>
<% else %>
  <% if can_create(RoomConfiguration, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_choice_configuration_room_configuration_path(parent), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list phases">
    <thead>
      <tr>
        <th><%= sortable(RoomConfiguration, :name, t(".name")) %></th>
        <th><%= sortable(RoomConfiguration, :updated_at, t(".last_edited")) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |room| %>
      <tr data-room="<%= room.id %>">
        <td><%= link_to room.name, choice_configuration_room_configuration_path(parent, room), title: room.name %></td>
        <td><%= l room.updated_at.to_date, format: :digits %></td>
        <td class="actions">
          <%= edit_btn edit_choice_configuration_room_configuration_path(parent, room), element: room %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
