<% breadcrumb :rooms, parent %>

<% if collection.empty? %>
    <%= render 'components/empty_list', icon_name: "bath", type: Room, parent: parent %>
<% else %>
  <% if can_create(Room, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to [:new, parent, :room], class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".add", name: parent) %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list rooms">
    <thead>
      <tr>
        <th><%= sortable(Room, :name, t(".name")) %></th>
        <th><%= t(".finishes") %></th>
        <th><%= t(".appliances") %></th>
        <th><%= t(".choices") %></th>
        <th><%= sortable(Room, :updated_at, t(".last_edited")) %></th>
        <% if current_user&.cf_admin? %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |room| %>
      <tr data-room="<%= room.id %>">
        <td><%= link_to room.name, [parent, room], title: room.name, class: "room-name" %></td>
        <td><%= room.finishes_count %></td>
        <td><%= room.appliances_count %></td>
        <% if parent.is_a?(Plot) && parent.choices_approved? %>
          <% plot_choices = RoomChoice.plot_choices(room, parent) %>
        <% end %>
        <td>
          <% if parent.is_a?(Plot) && plot_choices.present? %>
            <%= plot_choices.count %>
          <% else %>
            <%= "N/A" %>
          <% end %>
        </td>
        <td><%= l room.updated_at.to_date, format: :digits %></td>
        <% if current_user&.cf_admin? %>
          <td class="actions">
            <%= edit_btn url_for([:edit, parent, room]), element: room %>
            <%= delete_btn room, path: url_for([parent, room]), element: room %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
