<div class="section-actions">
  <%= link_to [:new, parent, :room], class: "btn btn-primary" do %>
      <i class="fa fa-plus"></i>
      <span class="btn-label"><%= t(".add") %></span>
  <% end %>
</div>

<table class="record-list">
  <thead>
    <tr>
      <th><%= sortable(Room, :name) %></th>
      <th><%= sortable(Room, :updated_at) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |room| %>
    <tr>
      <td><%= link_to room.name, room_path(room), title: room.name, class: "room-name" %></td>
      <td><%= l room.updated_at.to_date, format: :digits %></td>
      <td>
        <%= edit_btn edit_room_path(room) %>
        <%= delete_btn room, path: room_path(room) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate collection %>
</div>
