<% breadcrumb :rooms, parent %>

<% cancreate = parent.is_a?(Plot) ?
               can?(:crud, PlotRoom.new(parent)) :
               can_create(Room, parent, combine: true)
%>

<% if collection.empty? %>
  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: parent %>
  </div>
  <%= render 'components/empty_list', icon_name: "bath", type: Room, parent: parent, combine: true, override: cancreate %>
<% else %>
  <div class="section-actions">
    <%= render 'components/admin/conveyancing', parent: parent %>

    <% if cancreate %>
      <%= link_to [:new, parent, :room], class: "btn btn-primary" do %>
          <i class="fa fa-plus"></i>
          <span class="btn-label"><%= t(".add", name: parent) %></span>
      <% end %>
    <% end %>
  </div>

  <% showing_icons = current_user&.cf_admin? ||
                    (cancreate && (parent.is_a?(Plot) ||
                    collection.map { |room| can?(:update, room) || can?(:destroy, room)}.include?(true)))
  %>

  <table class="record-list rooms">
    <thead>
      <tr>
        <th><%= sortable(Room, :name, t(".name")) %></th>
        <th><%= t(".finishes") %></th>
        <th><%= t(".appliances") %></th>
        <% if parent.is_a?(Plot) %>
          <th><% if current_user.cas? %><i class="fa fa-question-circle-o" id="roomBelongsHelp"></i><% end %> <%= t(".belongs_to") %></th>
        <% end %>
        <th><%= sortable(Room, :updated_at, t(".last_edited")) %></th>
        <th><%= t(".last_edited_by") %></th>
        <% if showing_icons %>
          <th>&nbsp;</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% override = cancreate && parent.is_a?(Plot) %>
      <% collection.each do |room| %>
      <tr data-room="<%= room.id %>">
        <td><%= link_to room.name, [parent, room], title: room.name, class: "room-name" %></td>
        <td><%= room.finishes_count %></td>
        <td><%= room.appliances_count %></td>
        <% if parent.is_a?(Plot) %>
          <th><%= room.plot_id.present? ? "Plot" : "Unit Type" %></th>
        <% end %>

        <% if parent.is_a?(Plot) && parent.choices_approved? %>
          <% plot_choices = RoomChoice.plot_choices(room, parent) %>
        <% end %>
        <td><%= l room.updated_at.to_date, format: :digits %></td>
        <td><%= room.marker %></td>
        <% if showing_icons %>
          <td class="actions">
            <%= edit_btn url_for([:edit, parent, room]), element: room, override: override %>
            <%= delete_btn room, path: url_for([parent, room]), element: room, override: override %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
