<fieldset class="nested-fields">

  <div class="finish-category ui-front select-container">
    <%= f.association :finish_category %>
  </div>
  <div class="finish-type ui-front select-container">
    <%= f.association :finish_type, class: "ui-front" %>
  </div>
  <div class="manufacturer ui-front select-container">
    <%= f.association :manufacturer, class: "ui-front" %>
  </div>
  <%= f.input :name %>
  <%= f.input :description %>

  <%= f.label t(".picture") %>
  <%= image_tag(f.object.picture.thumbnail.url) if f.object.picture? %>
  <br>
  <%= label_tag('uploader', t(".upload"), class: "btn") %>
  <%= f.file_field :picture, id: "uploader", class: "hidden" %>
  <br>

  <%= link_to_remove_association t(".remove_finish"), f, class: "btn" %>

</fieldset>
