<fieldset class="nested-fields">
  <% if f.object.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% f.object.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="finish-category ui-front select-container">
    <%= f.association :finish_category, required: true %>
  </div>
  <div class="finish-type ui-front select-container">
    <%= f.association :finish_type %>
  </div>
  <div class="manufacturer ui-front select-container">
    <%= f.association :manufacturer %>
  </div>
  <%= f.input :name %>
  <%= f.input :description %>

  <br>
  <%= f.input :picture, as: :image_preview, input_html: { preview_version: :thumbnail } %>
  <br>

  <%= link_to_remove_association t(".remove_finish"), f, class: "btn" %>

</fieldset>
