<%= simple_form_for([parent, room]) do |f| %>
  <%= f.hidden_field :template_room_id %>

  <% if room.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name, label: t(".name") %>
        <%= f.label :external_link, t(".icon") %>
        <p><%= t(".icon_tip") %></p>
        <div>
        <%= f.input :icon_name, label: false, as: :select, collection: icon_names_collection, include_blank: true %>
        <div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [parent, :rooms], class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
