<%= simple_form_for([unit_type, room]) do |f| %>
  <% if room.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% room.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>


  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= link_to_add_association t(".add_finish"), f, :finishes, data: {
            "association-insertion-method": "append",
            "association-insertion-node": ".finish-fields"
        }, class: "btn" %>
      </fieldset>
    </div>

    <div class="row-item third finish-fields">
      <%= f.simple_fields_for :finishes do |finish| %>
        <%= render 'finish_fields', f: finish %>
      <% end %>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if room.development_id.present? %>
        <%= link_to t(".back"), unit_type_rooms_path(room.unit_type_id), class: "btn" %>
      <% else %>
        <%= link_to t(".back"), unit_type_rooms_path(unit_type), class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
