<%= simple_form_for([room.unit_type, room]) do |f| %>
  <% if room.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% room.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>


  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset>
        <%= link_to_add_association t(".add_finish"), f, :finishes, data: {
            "association-insertion-method": "append",
            "association-insertion-node": ".finishes"
        }, class: "btn" %>
      </fieldset>
    </div>

    <div class="row-item third finishes">
      <%= f.simple_fields_for :finishes do |finish| %>
        <%= render 'finish_fields', f: finish %>
      <% end %>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), rooms_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
