<% breadcrumb :rooms, @parent %>

<div class="section-header">
  <div class="section-title">
    <div><%= @unit_type.name %></div>
    <span class="about">
      <br/>
      <strong><%= t("unit_types.show.walkthrough") %></strong><%= @unit_type.external_link %><br/>
      <strong><%= t("unit_types.show.build_type") %></strong><%= t("activerecord.attributes.unit_type.build_types.#{@unit_type.build_type}") %>
    </span>
  </div>
  <div class="section-data">
    <%= edit_btn [:edit, @unit_type.development, @unit_type], element: @unit_type %>
  </div>
</div>

<%= render 'components/tabs', tabs: unit_type_tabs(@unit_type, "rooms") %>

<%= render_collection @rooms, parent: @parent %>
