<% breadcrumb :room, @room %>

<%= render "components/admin/popup", title: t("stuck_with_specs.title"), help: [t("stuck_with_specs.help")], type: :tip, all_users: true, popup_on_load: false, width: 500 %>

<div class="room">
  <div class="section-header">
    <div class="section-title">
      <%= @room.name %><br/>
      <div class="room-icon", style="background-image: url(<%= image_path(icon_file_name(@room.icon_name)) if @room.icon_name? %>)"></div>

      <div class="cas-about">
        <% if current_user.cf_admin? || @room.cas? %>
        <br/><%= t("cas_enabled", status: @room.cas? ? t("enabled") : t("disabled")).html_safe %>
        <% end %>
      </div>
    </div>

    <div class="section-data">
      <%= edit_btn [:edit, @room.parent, @room], element: @room %>
    </div>
  </div>

  <%= render 'components/tabs', tabs: room_tabs(@room, @active_tab, @plot), parent: @room.parent %>
  <%= render_collection @collection, room: @room, plot: @plot %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), [@unit_type, :rooms], class: "btn" %>
    </div>
  </div>
</div>
