<% breadcrumb :admin_settings %>

<div class="section-header">
  <div class="section-title">
    <%= t(".title") %><br>
  </div>
</div>

<div class="row configuration global-settings">
  <div class="row-item half">
    <div class="global-uploads">
      <h4><%= t(".uploads") %></h4>
      <p><%= t(".uploads_description") %></p>
      <div class="global-option">
        <%= link_to t(".uploads_btn"), admin_uploads_path, class: "btn" %>
      </div>
    </div>

    <div class="global-faqs">
      <h4><%= t(".faq") %></h4>
      <p><%= t(".faq_description") %></p>
      <% Country.all.each do |country| %>
      <div class="global-option">
        <%= link_to t(".faqs.country", country: country.name), (admin_settings_default_faqs_path ({country: country.id})) , class: "btn" %>
      </div>
      <% end %>
    </div>

    <div class="global-partner-api">
      <h4><%= t(".api_config") %></h4>
      <p><%= t(".api_config_description") %></p>
      <div class="global-option">
        <%= link_to t(".api_config_btn"), oauth_applications_path, class: "btn" %>
      </div>
    </div>

    <div class="master-build-progress">
      <h4><%= t(".master_build_progress") %></h4>
      <p><%= t(".master_build_progress_desc") %></p>
      <div class="global-option">
        <%= link_to t(".master_build_progress_btn"), global_build_sequence_path(Global.root), class: "btn" %>
      </div>
    </div>

  </div>
</div>
