<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto") %>

<p>Hi,</p>

<p><%= t(".new_snag_status", user: @user, status: @status) %></p>

<p style="font-weight: bold;padding-left: 5%;padding-right: 5%"><%= @snag_title %></p>

<p><%= t("resident_snag_mailer.snag_address", plot: @plot, address: @address) %></p>

<% if @snag.awaiting? %>
  <p><%= t(".confirm_status", tool_name: @tool_name) %><%= link_to t("snag_mailer.link_to_snag"), snag_url(@snag.id) %>.</p>
<% else %>
  <p><%= t(".status_details", tool_name: @tool_name) %><%= link_to t("snag_mailer.link_to_snag"), snag_url(@snag.id) %>.</p>
<% end %>

<p>
  <%= link_to t("resident_snag_mailer.login"), root_url %>
</p>

<p>
  Kind regards,
</p>

<p>
  Hoozzi Admin
</p>

<footer style="font-size: 12px">
  <%= t("resident_snag_mailer.footer") %>
</footer>
