<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto;padding-bottom: 20px;") %>

<p style="font-weight: 600;">
  <%= t("snag_mailer.new_message_resident") %>
</p>

<p><%= t(".new_snag_comment", commenter_name: @commenter_name) %></p>

<p style="font-weight: bold;padding-left: 5%;padding-right: 5%"><%= @snag_title %></p>

<p><%= t("resident_snag_mailer.snag_address") %></p>
(<%= @plot %>)<br/>

<%= @plot.prefix %> <%= @plot.postal_number %> <%= @plot.building_name %><br/>
<%= @plot.road_name %><br/>
<%= @plot.postcode %><br/>

<p><%= t(".snag_details", tool_name: @tool_name) %></p>
<p style="text-align: center">
  <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>View Comment</button>".html_safe, snag_url(@snag.id) %>
</p><br/>

<footer style="font-size: 12px;font-style: italic">
  <%= t("resident_snag_mailer.footer") %>
</footer>
