<% content_for :hero_text_primary do %>
  <%= t(".title", name: @plot.snag_name) %>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="branded-body">
  <div class="snag-container">
    <div class="snag-article branded-border branded-content">
      <div class="resolved-status branded-text">
        <div class="snag-status">
          <label><%= t(".status") %></label>
          <% resolved_visual = @snag.resolved_visual %>
          <span class="circle-large <%= resolved_visual %>"></span>
          <% status = @snag.status %>
          <p class="resolved-status"><%= t(".resolved_status.#{status}") %></p>

          <% if @snag.awaiting? %>
            <%= form_for @snag, url: snag_path(id: params[:id]) do |f| %>
              <%= f.hidden_field :status, { value: "approved" } %>
              <%= f.submit t(".resident_approved"), class: "btn approve-btn" %>
            <% end %>
            <%= form_for @snag do |f| %>
              <%= f.hidden_field :status, { value: "rejected" } %>
              <%= f.submit t(".resident_rejected"), class: "btn reject-btn" %>
            <% end %>
          <% end %>
        </div>

      </div>
      <h3 class="branded-text"><%= @snag.title %></h3>
      <p class="branded-text"><%= @snag.description %></p>
        <div class="snag-commands">
          <span class="back-btn"><%= link_to t(".back"), snags_path, class: "btn branded-btn" %></span>
          <% unless @snag.approved? %>
            <%= link_to t(".edit"), edit_snag_path, class: "btn branded-btn" %>
            <%= button_tag t(".remove_snag"), class: "btn branded-btn destroy-snag prompt-delete-snag",
              data: { title: t(".destroy"),
              cancel: t(".cancel"),
              text: t(".destroy_text"),
              cta: t(".confirm_cta"),
              details: t(".confirm_snag"),
              snag: @snag.id } %>
          <% end %>
        </div>
      <div class="snag-comments-container">
        <div class="snag-comments branded-content branded-border">
          <h5 class="branded-text"><%= t(".snag_comments") %></h5>
          <% unless @snag.approved? %>
            <span class="branded-text"><%= t(".snag_comments_description") %></span>
            <%= render 'homeowners/snag_comments/form', snag_comment: @snag_comment, snag: @snag %>
          <% end %>
          <div class="snag-comment-list">
            <% @snag.comments.each do |snag_comment| %>
              <%= render "homeowners/snag_comments/snag_comment", snag_comment: snag_comment %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="snag-images branded-content branded-border">
      <h3 class="branded-text"><%= t(".snag_gallery") %></h3>
      <div class="snag-image-container">
        <% @snag.snag_attachments.each do |a| %>
          <%= link_to image_tag(a.image_url), a.image_url %>
          <% unless @snag.approved? %>
            <%= link_to t(".replace"), edit_snag_attachment_path(a), class: "btn branded-btn" %>
            <%= button_tag t(".remove_image"), class: "btn branded-btn destroy-snag-image prompt-delete-snag-image",
              data: { title: t(".destroy"),
                cancel: t("destroy.cancel"),
                text: t(".confirm_text"),
                cta: t(".confirm_cta" ),
                details: t(".confirm_image"),
                image: a.id } %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
