<% breadcrumb :phase_release_plots, @phase %>

<%= render @phase, active_plots_count: @active_plots_count, completed_plots_count: @completed_plots_count,
    expired_plots_count: @expired_plots_count, resident_count: @resident_count,
    activated_resident_count: @activated_resident_count %>

<%= render 'components/tabs', tabs: tabs_for(@phase, "release_plots"), phase: @phase %>

<script type="text/javascript" src="/javascripts/lib/release_plots.js"></script>

<div class="release-plots">
  <%= simple_form_for(:phase_release_plots, :defaults => {:required => false}) do |f| %>
  <%= f.hidden_field :phase_id, value: @phase.id %>
  <div class="row">
    <div class="row-item third release-plots bulk-edit">
      <%= render "components/admin/plots_select", f: f, all_plots: true, phase_id: @phase.id %>
    </div>

    <div class="row-item third release-details">
      <%= f.input :release_type,
          as: :select,
          label: t(".release_type"),
          collection: plot_release_types,
          label_method: ->(release_type) { t( ".actions.#{release_type}") },
          include_blank: false,
          required: false,
          input_html: { id: 'release_type' } %>


      <div class="plot-field">
        <%= f.input :release_date, as: :string, label: t(".release_date"),
                  placeholder: "DD/MM/YYYY",
                  input_html: { type: :date }
                  %>
      </div>

      <div class="plot-field validity">
        <%= f.input :validity, label: t("activerecord.attributes.plot.validity"), min: 0 %>
      </div>

      <div class="plot-field extended_access">
        <%= f.input :extended_access, label: t("activerecord.attributes.plot.extended_access"), min: 0 %>
      </div>

    </div>

    <div class="row-item third">
      <div class=send_to_all>
        <%= f.input :send_to_admins, as: :boolean, label: t(".send_to_admins"), input_html: { checked: true }%>
      </div>
      <label><%= t(".email_receivers") %></label>
      <ul>
        <% @phase.release_users.each do |user| %>
          <li><%= user[:email] %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<% end %>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= button_tag "Submit", :type => 'button', class: "btn btn-primary btn-form-submit", id: 'submit' %>
  </div>
</div>




