<div class="card-content">
  <address class="my-home-address">
    <%= plot.postal_number %> <%= plot.building_name %>
    <% if plot.building_name.present? && plot.road_name.present? %>
      <br/>
    <% end %>
    <% if plot.road_name.present? %>
      <%= plot.road_name %><br/>
    <% end %>
    <% if plot.locality.present? %>
      <%= plot.locality %><br/>
    <% end %>
    <% if plot.city.present? %>
      <%= plot.city %><br/>
    <% end %>
    <% if plot.county.present? %>
      <%= plot.county %><br/>
    <% end %>
    <% if plot.postcode.present? %>
      <%= plot.postcode %><br/>
    <% end %>
  </address>
  <%= link_to t(".my_home_view_more"), homeowner_my_home_path, class: "branded-btn" %>
</div>
