<div class="labels">
  <div class="finish-image">
    <%= image_tag appliance.primary_image.thumbnail.url, class: "circle" if appliance.primary_image? %>
  </div>
  <div class="label strong">
    <span><%= appliance.appliance_category %></span>
  </div>
  <div class="label">
    <span><%= appliance.manufacturer %></span>
  </div>
  <div class="label" title="<%= appliance.name %>">
    <span><%= appliance.name %></span>
  </div>
</div>
