<div class="contact branded-content branded-border branded-text">
  <div class="avatar">
    <% if contact.picture? %>
      <%= image_tag contact.picture.url :thumbnail if contact.picture? %>
    <% else %>
      <div class="initials-avatar">
        <% if contact.first_name? || contact.last_name? %>
          <span class="initials"><%= contact&.first_name[0]&.upcase %><%= contact&.last_name[0]&.upcase %></span>
        <% else %>
        <span class="initials"><%= contact&.position[0]&.upcase %></span>
        <% end %>
      </div>
    <% end %>

    <p title="<%= contact.to_s %>"><%= contact.to_s %></p>
    <p class="position branded-text" title="<%= contact.position %>"><%= contact.position %></p>
  </div>

  <div class="details branded-text">
    <% if contact.phone? %>
      <div class="contact-detail">
        <label><%= fa_icon "phone" %> <%= t(".phone")%></label>
        <span><%= link_to contact.phone, t(".tel", number: contact.phone), class: "branded-text", title: contact.phone %></span>
      </div>
    <% end %>

    <% if contact.mobile? %>
      <div class="contact-detail">
        <label><%= fa_icon "mobile" %> <%= t(".mobile")%></label>
        <span><%= link_to contact.mobile, t(".tel", number: contact.mobile), class: "branded-text", title: contact.mobile %></span>
      </div>
    <% end %>

    <% if contact.email? %>
      <div class="contact-detail">
        <label><%= fa_icon "envelope" %> <%= t(".email")%></label>
        <span><%= mail_to contact.email, contact.email, class: "branded-text", title: contact.email %></span>
      </div>
    <% end %>
  </div>
</div>
