<div class="contact branded-content branded-border branded-text">
  <div class="contact-avatar">
    <% if contact.picture? %>
      <%= image_tag(contact.picture.url) %>
    <% else %>
      <%= image_tag('user-icon') %>
    <% end %>
  </div>
  <div class="contact-details branded-text">
    <div class="contact-detail">
      <%= contact %>

      <% if contact.position %>
        - <%= contact.position %>
      <% end %>
    </div>

    <% if contact.phone? %>
      <div class="contact-detail">
        <%= link_to '#', number: contact.phone, class: 'branded-primary' do %>
          <%= fa_icon "phone" %>
        <% end %>
      </div>
    <% end %>

    <% if contact.mobile? %>
      <div class="contact-detail">
        <%= link_to '#', number: contact.mobile, class: 'branded-primary' do %>
          <%= fa_icon "mobile" %>
        <% end %>
      </div>
    <% end %>

    <% if contact.email? %>
      <div class="contact-detail">
        <%= mail_to contact.email, class: 'branded-primary' do %>
          <%= fa_icon "envelope" %>
          <%= contact.email %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
