<% collection.each do |how_to| %>
  <div class="card article branded-border" style="background-image: url(<%= image_path(how_to.picture.url) if how_to.picture? %>)">
    <div class="overlay">
      <div class="card-content">
        <div id="how_to-<%= how_to.id %>">
          <h3><%= how_to.title %></h3>
        </div>
        <%= image_tag "logo-small-white.png", class: "hoozzi-logo" %>
        <span class="how-to-logo">How To</span>
        <%= link_to t(".article"), "#", class: "branded-btn second view-article" %>
      </div>
    </div>
  </div>
<% end %>
