<% if plots %>
  <% plots.each do |plot| %>
      <% let_status = plot&.listing.live? ? "let-plot" : "unlet-plot" %>
      <div class="<%= let_status %>", id="listing<%= plot.number %>">
        <div class="letable-plot branded-content branded-border">
          <div class="plot-address branded-text">
            <h3>Plot <%= plot.number %></h3>
            <p>
              <%= render "components/homeowner/formatted_address", address: plot %>
            </p>
          </div>
          <div class="letable-options">
            <% if plot&.listing.live? %>
              <% if plot.listing.belongs_to?(current_resident) %>
                <div class="let-out"><span><%= t(".let_out") %></span></div>
                <%= link_to t(".dashboard"), PlanetRent.get_property_link(plot), class: "btn letting-btn" %>
              <% else %>
                <div class="let-out"><span><%= t(".let_out_other", other: plot.listing.belongs_to) %></span></div>
              <% end %>
            <% else %>
              <div class="un-let"><span><%= t(".un_let") %></span></div>
              <%= button_tag t(".let_my_plot"), class: "btn letting-btn let-plot",
                data: { cancel: t("edit.cancel"),
                  cta: t(".submit"),
                  title: t(".plot_details"),
                  url: lettings_url,
                  plot: plot.id,
                  address1: [plot&.postal_number, plot&.building_name].compact.join(" "),
                  address2: plot&.road_name || "",
                  town: plot&.city || "",
                  postcode: plot&.postcode || "",
                  bedrooms: plot_rooms(plot, Room.icon_names[:bedroom]),
                  bathrooms: plot_rooms(plot, Room.icon_names[:bathroom]),
                  country: plot.developer.country.name
                } %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
<% end %>
 