<% collection.each do |notification| %>

  <%= content_tag(:div, "",
                  data: data_for_notification(notification),
                  class: "card notification branded-border branded-content") do %>

    <div class="notification-avatar">
      <% if notification.read_at.nil? %>
          <div class="new" ><%= t(".new") %></div>
      <% end %>
      <%= image_tag(notification.picture_name) %>
    </div>
    <div class="details branded-text">
      <div id="notification-<%= notification.id %>">
        <h5>
          <span class="strong"><%= "#{notification.first_name} #{notification.last_name} (#{notification.permission_level})" %></span>
          <span><%= notification.job_title %></span>
          <span class="right"><%= notification.sent_at.strftime("%d %b") %></span>
        </h5>
        <span class="notification-truncate"><%= truncate(notification.subject, length: 35) %></span>
      </div>
    </div>
  <% end %>
<% end %>
