<div class="other-resident-lettings">
  <hr>
  <h3 class="other-residents"><%= t(".let_out_other") %></h3>
  <% if plots %>
    <% plots.each do |plot| %>
      <div class="letable-plot branded-content branded-border", id="listing<%= plot.number %>">
        <div class="plot-address branded-text">
          <h3>Plot <%= plot.number %></h3>
          <p>
            <%= render "components/homeowner/formatted_address", address: plot %>
          </p>
        </div>
        <div class="letable-options">
          <div class="let-out"><span><%= t("homeowners.components.lettings.let_out_other", other: plot&.listing.belongs_to) %></span></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>