<div class="plot-summary branded-content">
  <% if @plot.unit_type_picture.present? %>
    <div class="row unit-image <%= 'active-plot' if session[:plot_id] == plot.id %>" style="background-image: url('<%= image_path(@plot.unit_type_picture) %>')" ></div>
  <% else %>
    <div class="row unit-image <%= 'active-plot' if session[:plot_id] == plot.id %>" style="background-image: url('<%= image_path "Sign In Image 3.jpg" %>')" ></div>
  <% end %>

  <div class="row plot-address">
    <div class="plot-logo">
      <%= image_tag brand_or_small_logo(plot.development.brand_any, plot) %>
    </div>

    <div class="address branded-text">
      <span><%= plot.developer %></span><br/>
      <span><%= plot.development %></span><br/>
      <span><%= plot.to_homeowner_s %></span>
    </div>
  </div>

  <div class="row switch-plot">
    <% if session[:plot_id] == plot.id %>
      <div class="current-plot"><span><%= t(".current_plot") %></span></div>
    <% else %>
      <%= link_to t(".switch"), change_plot_path(id: plot.id), class: "branded-btn swap-plot-btn" %>
    <% end %>
  </div>
</div>

