<div class="sharing-info hidden"
     data-cta='<%= t(".dismiss") %>' >
  <h4 class="sharing-title underline"><%= t(".modal_title").html_safe %></h4>
  <div><%= image_tag "shared_document_examples.png" %></div>
  <div class="text"><%= t(".modal_content") %></div>
</div>

<div class="sharing-footer hidden">
  <button class="hide-sharing-info dialog-second-btn"><%= t(".not_again") %></button>
</div>
