<div class="login branded-content">
  <div class="sign-in">
    <div class="login-logo">
      <%= image_tag logo_image_name(@brand) %>
    </div>
    <%= render "components/flashes" %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="branded-primary-text">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, class: "remember-checkbox", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="branded-primary-btn">
        <%= f.submit t(".login_cta"), class: "btn" %>
      </div>

      <div class="information branded-primary-text">
        <p><%= render "residents/shared/links" %></p>
        <p><%= t(".copyright", year: Time.current.year).html_safe %></p>
      </div>
    <% end %>
  </div>

  <div class="preamble">
    <div class="content">
      <div class="titles branded-titles">
        <h2><%= t '.welcome_1' %></h2>
        <h2><%= t '.welcome_2' %></h2>
      </div>

      <div class="intro branded-text">
        <p><%= t(".intro_para_1") %></p>
        <p><%= t(".intro_para_2") %></p>
      </div>
    </div>
  </div>
</div>
