<div class="login branded-content">
  <div class="sign-in">
    <div class="login-logo">
      <%= image_tag brand_or_white_logo(@brand) %>
    </div>
    <%= render "components/flashes" %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="branded-primary-text">
        <div class="branded-input">
          <%= f.input :email, required: false, autofocus: true %>
          <%= f.input :password, required: false %>
          <%= f.label :remember_me, class: "login-checkbox" do %>
            <%= f.check_box :remember_me, class: "remember-checkbox", checked: false %>
            <i class="fa fa-check"></i> <span><%= t(".remember_me") %></span>
          <% end %>
          <% if cookies[:ts_and_cs_accepted].nil? %>
            <%= f.label :ts_and_cs_accepted_at, class: "login-checkbox" do %>
              <%= f.check_box :ts_and_cs_accepted_at, class: "accept-ts-and-cs" %>
              <i class="fa fa-check"></i> <span><%= t(".accept_ts_and_cs") %></span>
            <% end %>
            <div class="information branded-primary-text">
              <p><%= t('.policy_instructions_required', :href1 => link_to(t("residents.invitations.edit.terms"), ts_and_cs_homeowner_path, target: "_blank"), :href2 => link_to(t("residents.invitations.edit.policy"), data_policy_path, target: "_blank")).html_safe %></p>
            </div>
          <% else %>
            <div class="information branded-primary-text">
              <p><%= t('.policy_instructions', :href1 => link_to(t("residents.invitations.edit.terms"), ts_and_cs_homeowner_path, target: "_blank"), :href2 => link_to(t("residents.invitations.edit.policy"), data_policy_path, target: "_blank")).html_safe %></p>
            </div>
          <% end %>
        </div>

        <%= f.submit t(".login_cta"), class: "continue btn", disabled: cookies[:ts_and_cs_accepted].nil? %>

        <div class="information">
          <p><%= render "residents/shared/links" %></p>
          <p><%= t(".copyright", year: Time.current.year).html_safe %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="preamble">
    <div class="content">
      <div class="titles branded-titles">
        <h3 class="top-title"><%= t '.welcome_1' %></h3>
        <h3 class="second-title"><%= t '.welcome_2' %></h3>
      </div>

      <div class="intro branded-text">
        <p><%= t(".intro_para_1") %></p>
        <p><%= t(".intro_para_2") %></p>
      </div>
    </div>
  </div>
</div>
