<div class="login" >
  <div class="preamble">
    <div class="content">
      <div class="title">
        <h2 class="primary"><%= t '.welcome_1' %></h2>
        <h2 class="secondary"><%= t '.welcome_2' %></h2>
      </div>

      <div class="intro">
        <p><%= t(".intro_para_1") %></p>
        <p><%= t(".intro_para_2") %></p>
      </div>
    </div>
  </div>

  <div class="sign-in">
    <%= image_tag "logo-with-strapline.png", class: "logo" %>
    <%= render "components/flashes" %>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <div class="information">
        <p><%= render "residents/shared/links" %></p>
        <p><%= t '.copyright' %></p>
      </div>

      <%= f.submit t(".login_cta"), class: "login-cta" %>
    <% end %>
  </div>
</div>
