<div style="width: 600px; margin: 0 auto; font-family: arial">

  <div style="padding: 60px 40px;">
    <p><%= t(".success") %></p>

    <p><span><strong><%= t(".name") %></strong></span> <%= @client.name %></p>
    <p><span><strong><%= t(".email") %></strong></span> <%= @client.email %></p>
  </div>
</div>
