<div class="section-header">
  <div class="section-title">
    <div><%= finish_type.name %></div><br/>
  </div>
  <div class="section-data">
    <span class="right">
      <%= edit_btn edit_finish_type_path, element: finish_type %>
    </span>
  </div>
</div>

<div class="row finish_type">
  <div class="row-item third">
    <h5><%= t(".finish_category") %></h5>
    <% finish_type.finish_categories.each do | cagtegory | %>
      <span><%= cagtegory %></span><br>
    <% end %>
  </div>
</div>

<div class="row manufacturer">
  <div class="row-item third">
    <h5><%= t(".manufacturers") %></h5>
    <% finish_type.finish_manufacturers.each do | manufacturer | %>
      <span><%= manufacturer %></span><br>
    <% end %>
  </div>
</div>
