<%= simple_form_for finish_type do |f| %>
  <% if finish_type.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% finish_type.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row finish_type">
    <p><%= t(".description").html_safe %></p>
    <div class="row-item half">
      <fieldset>
        <%= f.input :name %>
      </fieldset>
      <fieldset class="skip-global-selectmenu">
        <div class="finish_type_finish_category ui-front select-container">
          <%= f.association :finish_categories, label: t(".categories"), collection: FinishCategory.accessible_by(current_ability).order(:name), multiple: true, class: "multiple" %>
          <p class="help"><%= t(".category_help").html_safe %></p>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), finish_types_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
