<% if collection.empty? %>
    <%= render 'components/empty_list', icon_name: "clock-o", type: Timeline, parent: nil %>
<% else %>
  <div class="section-actions">
    <% if current_user&.cf_admin? %>
      <%= link_to new_timeline_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".create") %></span>
      <% end %>
    <% end %>
  </div>

  <table class="record-list">
    <thead>
      <tr>
        <th colspan="2"><%= sortable(Timeline, :name, t(".timeline")) %></th>
        <th colspan="2"><%= sortable(Timeline, :updated_at, t(".last_edited")) %></th>
        <th colspan="2">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |timeline| %>
        <tr>
          <td colspan="2"><%= link_to timeline.title, timeline_path(timeline)%></td>
          <td colspan="2"><%= l timeline.updated_at.to_date, format: :digits %></td>
          <td  colspan="2" class="actions">
            <%= edit_btn edit_timeline_path(timeline), element: timeline %>
            <%= link_to clone_timeline_path(tid: timeline.id), class: "btn clone" do %>
              <i class="fa fa-files-o"></i>
            <% end %>
            <%= delete_btn timeline, element: timeline %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
