<%= simple_form_for([parent, timeline]) do |f| %>
  <% if timeline.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% timeline.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row finish">
    <div class="row-item third">
      <fieldset>
        <%= f.input :title %>
        <% if controller.action_name == 'new' %>
          <%= f.input :stage_set_id,
          as: :select,
          collection:  StageSet.sets,
          label_method: ->(set) { t("stage_sets.#{set.stage_set_type}") },
          include_blank: false,
          label: t("stage_sets.title"),
          value_method: ->(set) { set.id } %>
        <% else %>
          <label><%= t("stage_sets.title") %></label>
          <p><%= t("stage_sets.#{timeline.stage_set_type}") %></p>
          <%= f.hidden_field :stage_set_id, value: timeline.stage_set_id %>
        <% end %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :description, as: :text, maxlength: 100, placeholder: t(".description"), class: "snag-comment-content", input_html: { required: true } %>
      </fieldset>
    </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t("back"), [parent, :timelines], class: "btn" %>
      <% else %>
        <%= link_to t("back"), timeline, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

