<% content_for :hero_text_primary do %>
  <%= t(".services_title") %>
<% end %>

<% if session[:onboarding] %>
  <div class="branded-hero"></div>
<% else %>
  <div class="resident-hero">
    <%= render "components/homeowner/hero" %>
  </div>
<% end %>

<div class="branded-body outer-container">
  <div class=" services">

    <div class="branded-text title">
      <%= t("homeowners.dashboard.services.services_title") %>
    </div>

    <div class="branded-text services-description">
      <p>
        <%= t("homeowners.dashboard.services.services_description_one") %><br/>
        <span class="bold"><%= t("homeowners.dashboard.services.services_description_two") %></span>
      </p>
    </div>

    <div class="branded-text services-disclaimer">
      <span><%= t(".disclaimer") %></span>
    </div>

    <div class="services-actions">
      <%= link_to t(".find_out"),
      "https://home.spaciable.com/service/#{@services_params}",
      class: "btn branded-btn services-btn" %>

      <%= link_to t(".no_thanks"), dashboard_path, class: "btn branded-btn-inverted services-btn" %>
    </div>

  </div>
</div>