<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to services_path, class: "active" do %>
    <li class="navbar-item-secondary">
      <%= t("homeowners.residents.services.title") %>
    </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="my-plots-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="outer-container">
  <div class=" services">

    <div class="branded-text services-description">
      <p>
        <%= t("homeowners.dashboard.services.services_description_one") %><br/>
        <span class="bold"><%= t("homeowners.dashboard.services.services_description_two") %></span>
      </p>
    </div>

    <div class="branded-text services-disclaimer">
      <span><%= t(".disclaimer") %></span>
    </div>

    <div class="services-actions">
      <%= link_to t(".find_out"),
      "https://home.spaciable.com/service/#{@services_params}",
      class: "btn branded-btn services-btn" %>

      <%= link_to t(".no_thanks"), dashboard_path, class: "btn branded-btn-inverted services-btn" %>
    </div>

  </div>
</div>