<p><%= t("resident_expiry_email.intro", name: @name) %></p>

<p><%= t("resident_expiry_email.para_one") %>

<p><%= t("resident_expiry_email.para_two") %>

<p><%= t("resident_expiry_email.para_three", cost: @payment_charge) %>

<%=@payment_link%>

<p><%= t("resident_expiry_email.questions") %>

<p><%= t("resident_expiry_email.regards") %></p>
<p><%= t("resident_expiry_email.sign_off") %></p>

