<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto; padding-bottom: 20px;") %>

<p><%= t("expiry_email.intro", name: @name) %></p>

<P>Your full Spaciable access has now expired but that doesn’t mean you can’t still enjoy its benefits!<P>

<P>You will still be able to use your login details to access the portal and download documents, but you will notice many of the features you have used up to this point will no longer be available.</P>

<p>Thankfully, you can renew your access on an annual basis for just £<%=@payment_charge%>, which will provide you with continued access to:</p>
<ul>
  <li>Library</li>
  <li>Contacts</li>
  <li>Rooms</li>
  <li>How To articles</li>
  <li>Home Designer</li>
  <li>FAQs</li>
  <li>Buyers' Club</li>
</ul>

<p>If you want to use Spaciable to continue to make the most of your home and retain key information for a future home sale, you can renew your access using this secure link below: </p>

<a href="<%= @payment_link %>"><%= image_tag(@payment_logo, style: "display: block;width:200px;margin: 20px auto;") %></a>

<p>We hope you’ve enjoyed using Spaciable and continue to do so.</p>

<p>Kind regards,</p>

<p>The Spaciable Team</p>