<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto; padding-bottom: 20px;") %>

<p><%= t("expiry_email.intro", name: @name) %></p>

<p><%= t("expiry_email.plot_details", developer: @developer, development: @development, address: @address) %></p>

<p><%= t("expiry_email.expiry") %></p>

<p><%= t("expiry_email.information") %></p>

<p><%= t("expiry_email.admin") %></p>

<p><%= t("expiry_email.hope") %></p>

<p><%= t("expiry_email.regards") %></p>

<p><%= t("expiry_email.sign_off") %></p>
