<div class="styling">
  <% if brand.id.nil? %>
    <%= render 'components/empty_list', icon_name: "css3", type: Brand, parent: parent %>
  <% else %>
    <table class="record-list">
      <thead>
        <tr>
          <th colspan="1" class="icon" style="text-align:center;"><%= t(".logo") %></th>
          <th colspan="6"><%= t(".name") %></th>
          <th colspan="3"><%= t(".last_edited") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="1" style="text-align:center;"><%= image_tag brand.logo_thumb_url if brand.logo_thumb_url %></td>
          <td colspan="6"><%= link_to brand, [brand.brandable, :brand] %></td>
          <td colspan="3"><%= l brand.updated_at.to_date, format: :digits %></td>
          <td class="actions">
            <%= edit_btn [:edit, brand.brandable, :brand], element: brand %>
            <%= delete_btn brand, path: url_for([brand.brandable, :brand]), element: brand %>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="paging">
      <%= render 'components/page_size' %>
    </div>
  <% end %>
</div>
