<%= simple_form_for([parent, brand], url: [parent, :brand]) do |f| %>
  <% if brand.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% brand.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row brands">
    <div class="row-item third">
      <fieldset>
        <%= f.input :logo, as: :image_preview, input_html: { preview_version: :thumbnail } %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.input :banner, as: :image_preview, input_html: { preview_version: :thumbnail } %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset class="form-colors">
        <div class="bg_color">
          <%= label_tag t("activerecord.attributes.brand.bg_color") %><%= branded_color_preview(brand.bg_color) if brand.bg_color? %>
          <%= f.input :bg_color, label: false %>
        </div>
        <div class="text_color">
          <%= label_tag t("activerecord.attributes.brand.text_color") %><%= branded_color_preview(brand.text_color) if brand.text_color? %>
          <%= f.input :text_color, label: false %>
        </div>
        <div class="content_bg_color">
          <%= label_tag t("activerecord.attributes.brand.content_bg_color") %><%= branded_color_preview(brand.content_bg_color) if brand.content_bg_color? %>
          <%= f.input :content_bg_color, label: false %>
        </div>
        <div class="content_text_color">
          <%= label_tag t("activerecord.attributes.brand.content_text_color") %><%= branded_color_preview(brand.content_text_color) if brand.content_text_color? %>
          <%= f.input :content_text_color, label: false %>
        </div>
        <div class="button_color">
          <%= label_tag t("activerecord.attributes.brand.button_color") %><%= branded_color_preview(brand.button_color) if brand.button_color? %>
          <%= f.input :button_color, label: false %>
        </div>
        <div class="button_text_color">
          <%= label_tag t("activerecord.attributes.brand.button_text_color") %><%= branded_color_preview(brand.button_text_color) if brand.button_text_color? %>
          <%= f.input :button_text_color, label: false %>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
        <%= link_to t(".back"), [parent, :brands], class: "btn" %>
      <% else %>
        <%= link_to t(".back"), brand, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

