<%= simple_form_for([parent, brand], url: [parent, :brand]) do |f| %>
  <% if brand.errors.any? %>
  <div class="submission-errors">
    <ul>
      <% brand.errors.full_messages.each do |message| %>
      <li>
        <%= fa_icon "exclamation-circle" %>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row brands">
    <div class="third">
      <div class="row-item brand">
        <fieldset>
          <span><%= t(".image_constraints") %></span><br/><br/>
          <div class="logo-image">
            <%= f.input :logo, as: :image_preview, input_html: { preview_version: :thumbnail } %>
          </div>
          <div class="banner-image">
            <%= f.input :banner, as: :image_preview, input_html: { preview_version: :thumbnail } %>
            <span><%= t(".banner_size") %></span>
            <span><%= t(".svg_information").html_safe %></span>
          </div>
          <div class="login-image">
            <%= f.input :login_image, as: :image_preview, input_html: { preview_version: :thumbnail } %>
          </div>
          <div class="login-logo-image">
            <%= f.input :login_logo, as: :image_preview, input_html: {preview_version: :thumbnail } %>
          </div>
          <div class="email-logo-image">
            <%= f.input :email_logo, label: t(".email_logo"), as: :image_preview, input_html: {preview_version: :thumbnail } %>
          </div>
        </fieldset>
      </div>
      <div class="row-item following">
        <div class=" ui-front select-container">
          <%= f.input :font, as: :select, collection: fonts_collection, label:  t(".font"), include_blank: false  %>
        </div>
        <div class=" ui-front select-container">
          <%= f.input :border_style, as: :select, collection: border_styles_collection, label: t(".border_style"), include_blank: false  %>
        </div>
        <div class=" ui-front select-container">
          <%= f.input :button_style, as: :select, collection: button_styles_collection, label: t(".button_style"), include_blank: false  %>
        </div>
        <%= f.input :hero_height, label: t("activerecord.attributes.brand.hero_height") %>
      </div>
    </div>

    <div class="row-item third">
      <fieldset class="form-colors">
        <div class="bg_color">
          <%= branded_color_preview(brand.bg_color) if brand.bg_color? %>
          <%= f.input :bg_color, label: t("activerecord.attributes.brand.bg_color") %>
        </div>
        <div class="text_color">
          <%= branded_color_preview(brand.text_color) if brand.text_color? %>
          <%= f.input :text_color, label: t("activerecord.attributes.brand.text_color") %>
        </div>
        <div class="content_bg_color">
          <%= branded_color_preview(brand.content_bg_color) if brand.content_bg_color? %>
          <%= f.input :content_bg_color, label: t("activerecord.attributes.brand.content_bg_color") %>
        </div>
        <div class="content_text_color">
          <%= branded_color_preview(brand.content_text_color) if brand.content_text_color? %>
          <%= f.input :content_text_color, label: t("activerecord.attributes.brand.content_text_color") %>
        </div>
        <div class="button_color">
          <%= branded_color_preview(brand.button_color) if brand.button_color? %>
          <%= f.input :button_color, label: t("activerecord.attributes.brand.button_color") %>
        </div>
        <div class="button_text_color">
          <%= branded_color_preview(brand.button_text_color) if brand.button_text_color? %>
          <%= f.input :button_text_color, label: t("activerecord.attributes.brand.button_text_color") %>
        </div>
        <div class="header_color">
          <%= branded_color_preview(brand.header_color) if brand.header_color? %>
          <%= f.input :header_color, label: t("activerecord.attributes.brand.header_color") %>
        </div>
        <div class="topnav_text_color">
          <%= branded_color_preview(brand.topnav_text_color) if brand.topnav_text_color? %>
          <%= f.input :topnav_text_color, label: t("activerecord.attributes.brand.topnav_text_color") %>
        </div>
      </fieldset>
    </div>
    <div class="row-item third">
      <% unless parent.is_a? Phase %>
        <fieldset class="form-colors">
          <div class="login-box-left-color">
            <%= branded_color_preview(brand.login_box_left_color) if brand.login_box_left_color? %>
            <%= f.input :login_box_left_color, label: t("activerecord.attributes.brand.login_box_left_color") %>
          </div>
          <div class="login-box-right-color">
            <%= branded_color_preview(brand.login_box_right_color) if brand.login_box_right_color? %>
            <%= f.input :login_box_right_color, label: t("activerecord.attributes.brand.login_box_right_color") %>
          </div>
          <div class="content-box-color">
            <%= branded_color_preview(brand.content_box_color) if brand.content_box_color? %>
            <%= f.input :content_box_color, label: t("activerecord.attributes.brand.content_box_color") %>
          </div>
          <div class="content-box-outline-color">
            <%= branded_color_preview(brand.content_box_outline_color) if brand.content_box_outline_color? %>
            <%= f.input :content_box_outline_color, label: t("activerecord.attributes.brand.content_box_outline_color") %>
          </div>
          <div class="content-box-text">
            <%= branded_color_preview(brand.content_box_text) if brand.content_box_text? %>
            <%= f.input :content_box_text, label: t("activerecord.attributes.brand.content_box_text_color") %>
          </div>
          <div class="login-button-static-color">
            <%= branded_color_preview(brand.login_button_static_color) if brand.login_button_static_color? %>
            <%= f.input :login_button_static_color, label: t("activerecord.attributes.brand.login_button_static_color") %>
          </div>
          <div class="login-button-hover-color">
            <%= branded_color_preview(brand.login_button_hover_color) if brand.login_button_hover_color? %>
            <%= f.input :login_button_hover_color, label: t("activerecord.attributes.brand.login_button_hover_color") %>
          </div>
          <div class="text-left-color">
            <%= branded_color_preview(brand.text_left_color) if brand.text_left_color? %>
            <%= f.input :text_left_color, label: t("activerecord.attributes.brand.text_left_color") %>
          </div>
          <div class="text-right-color">
            <%= branded_color_preview(brand.text_right_color) if brand.text_right_color? %>
            <%= f.input :text_right_color, label: t("activerecord.attributes.brand.text_right_color") %>
          </div>
          <div class="custom-text">
            <%= f.input :heading_one %>
            <%= f.input :heading_two %>
            <%= f.input :info_text, label: t("activerecord.attributes.brand.custom_text"), as: :ckeditor %>
          </div>
        </fieldset>
      <% end %>

      <div class="preview-container">
        <%= submit_tag t(".preview"), type: "button", class: "btn preview" %>
      </div>

    </div>

  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if parent %>
      <%= link_to t(".back"), [parent, :brands], class: "btn" %>
      <% else %>
      <%= link_to t(".back"), brand, class: "btn" %>
      <% end %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

