<% breadcrumb :brand, @brand %>

<div class="section-header">
  <div class="section-title">
    <%= @brand %><br>
  </div>
  <div class="section-data">
    <%= edit_btn [:edit, @brand.brandable, :brand], element: @brand %>
  </div>
</div>

<div class="row brand">
  <div class="row-item third">
    <%= label_tag :dashboard_logo %>
    <div class="brand_logo">
      <%= image_tag(@brand.logo.url)  if @brand.logo? %>
    </div>
    <%= label_tag :banner %>
    <div class="brand_banner">
      <%= image_tag(@brand.banner.url) if @brand.banner? %>
    </div>
    <%= label_tag :login_logo %>
    <div class="brand_login_logo">
      <%= image_tag(@brand.login_logo.url) if @brand.login_logo? %>
    </div>
    <%= label_tag :login_image %>
    <div class="brand_login_image">
      <%= image_tag(@brand.login_image.url) if @brand.login_image? %>
    </div>
    <%= label_tag :email_logo %>
    <div class="brand_email_logo>">
      <%= image_tag(@brand.email_logo.url) if @brand.email_logo? %>
    </div>
  </div>
  <div class="row-item third">
    <%= label_tag :internal_styling %>
    <table class="colors internal-colors">
      <tr class="bg_color">
        <td><%= branded_color_preview(@brand.bg_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.bg_color") %></td>
      </tr>
      <tr class="text_color">
        <td><%= branded_color_preview(@brand.text_color) %></td>

        <td><%= label_tag t("activerecord.attributes.brand.text_color") %></td>
      </tr>
      <tr class="content_bg_color">
        <td><%= branded_color_preview(@brand.content_bg_color) %></td>

        <td><%= label_tag t("activerecord.attributes.brand.content_bg_color") %></td>
      </tr>
      <tr class="content_text_color">
        <td><%= branded_color_preview(@brand.content_text_color) %></td>

        <td><%= label_tag t("activerecord.attributes.brand.content_text_color") %></td>
      </tr>
      <tr class="button_color">
        <td><%= branded_color_preview(@brand.button_color) %></td>

        <td><%= label_tag t("activerecord.attributes.brand.button_color") %></td>
      </tr>
      <tr class="button_text_color">
        <td><%= branded_color_preview(@brand.button_text_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.button_text_color") %></td>
      </tr>
      <tr class="header_color">
        <td><%= branded_color_preview(@brand.header_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.header_color") %></td>
      </tr>
      <tr class="topnav_text_color">
        <td><%= branded_color_preview(@brand.topnav_text_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.topnav_text_color") %></td>
      </td>
    </table>
  </div>
  <div class="row-item third">
    <%= label_tag :external_styling %>
    <table class="colors external-colors">
      <tr class="login_box_left_color">
        <td><%= branded_color_preview(@brand.login_box_left_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.login_box_left_color") %></td>
      </tr>
      <tr class="login_box_right_color">
        <td><%= branded_color_preview(@brand.login_box_right_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.login_box_right_color") %></td>
      </tr>
      <tr class="content_box_color">
        <td><%= branded_color_preview(@brand.content_box_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.content_box_color") %></td>
      </tr>
      <tr class="content_box_outline_color">
        <td><%= branded_color_preview(@brand.content_box_outline_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.content_box_outline_color") %></td>
      </tr>
      <tr class="content_box_text">
        <td><%= branded_color_preview(@brand.content_box_text) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.content_box_text_color") %></td>
      </tr>
      <tr class="login_button_static_color">
        <td><%= branded_color_preview(@brand.login_button_static_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.login_button_static_color") %></td>
      </tr>
      <tr class="login_button_hover_color">
        <td><%= branded_color_preview(@brand.login_button_hover_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.login_button_hover_color") %></td>
      </tr>
      <tr class="text_left_color">
        <td><%= branded_color_preview(@brand.text_left_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.text_left_color") %></td>
      </tr>
      <tr class="text_right_color">
        <td><%= branded_color_preview(@brand.text_right_color) %></td>
        <td><%= label_tag t("activerecord.attributes.brand.text_right_color") %></td>
      </tr>
    </table>
    <div class="external_text_preview">
      <%= label_tag(Brand.human_attribute_name(:heading_one)) %>
      <span><%= @brand.heading_one %></span>
      <%= label_tag(Brand.human_attribute_name(:heading_two)) %>
      <span><%= @brand.heading_two %></span>
      <%= label_tag(Brand.human_attribute_name(:info_text)) %>
      <span><%= raw @brand.info_text %></span>
    </div>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), [@parent, :brands], class: "btn" %>
  </div>
</div>
