<div class="full communications branded-content branded-text branded-border">
  <h3><%= t(".title") %></h3>
    <p><%= t(".helpful").html_safe %></p>
  <div>
    <%= f.label :developer_email_updates, class: "checkbox developer-email-updates" do %>
        <%= f.check_box :developer_email_updates %>
        <i class="fa fa-check"></i> <%= Resident.human_attribute_name(:developer_email_updates) %>
    <% end %>
  </div>

  <label class="updates"><%= t(".updates_by") %></label>
  <div>
    <%= f.label :cf_email_updates, class: "checkbox cf-email-updates" do %>
    <%= f.check_box :cf_email_updates %>
    <i class="fa fa-check"></i> <%= Resident.human_attribute_name(:cf_email_updates) %>
    <% end %>
  </div>
  <div>
    <%= f.label :telephone_updates, class: "checkbox telephone-updates" do %>
        <%= f.check_box :telephone_updates %>
        <i class="fa fa-check"></i> <%= Resident.human_attribute_name(:telephone_updates) %>
    <% end %>
  </div>
</div>
