<% content_for :hero_text_primary do %>
  <span><%= t("activerecord.attributes.resident.titles.#{current_resident.title}") %> <%= current_resident %></span>
<% end %>
<% content_for :hero_text_secondary do %>
  <span><%= render 'address/address', address: @plot %></span>
<% end %>

<nav class="sub-navigation-container">
  <div class="nav-inner">
    <div class="branded-text"><%= t(".my_account") %></div>
  </div>
</nav>

<div class="resident-hero">
  <%= render "components/homeowner/hero" %>
</div>

<div class="branded-body outer-container">
  <div class="resident">
    <%= simple_form_for ([:homeowners, current_resident]) do |f| %>
      <% if current_resident.errors.any? %>
        <div class="submission-errors">
          <ul>
            <% current_resident.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="half details branded-content branded-border">
        <h3><%= t(".change_details") %></h3>
        <%= f.label :email %>
        <%= f.text_field :email, readonly: true, class: "readonly" %>
        <%= f.input :title,
                    as: :select,
                    collection: Resident.titles,
                    label_method: ->((key, _)) { t_enum(Resident, :title, key) },
                    value_method: ->((key, _)) { key },
                    include_blank: true %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
      </div>

      <div class="half password last branded-content branded-border">
        <h3><%= t(".change_password") %></h3>
        <%= f.input :current_password, label: t(".current_password"), autocomplete: "off" %>
        <%= f.input :password, label: t(".new_password"), autocomplete: "off" %>
        <%= f.input :password_confirmation, label: t(".confirm_new_password") %>
      </div>

      <%= render "homeowners/residents/communications", f: f %>
      <%= render "homeowners/residents/services", f: f, services: @services, developer: @plot.developer if @plot.developer.enable_services? %>

      <div class="full branded-content branded-border actions">
        <%= f.submit t(".submit"), class: "branded-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
