<% content_for :hero_text_primary do %>
  <span><%= t("activerecord.attributes.resident.titles.#{current_resident.title}") %> <%= current_resident %></span>
<% end %>
<% content_for :hero_text_secondary do %>
  <span><%= render 'address/address', address: @plot %></span>
<% end %>

<nav class="sub-navigation-container">
  <div class="nav-inner">
    <h3 class="branded-text"><%= t(".my_account") %></h3>
  </div>
</nav>

<div class="resident-hero">
  <%= render "components/homeowner/hero" %>
</div>

<div class="branded-body outer-container">
  <div class="resident">
    <div class="half branded-content branded-border">
      <%= label_tag t(".email") %>
      <span><%= current_resident.email %></span>
      <%= label_tag t(".title") %>
      <span><%= t("activerecord.attributes.resident.titles.#{current_resident.title}") %></span>
      <%= label_tag t(".name") %>
      <span><%= current_resident.first_name %> <%= current_resident.last_name %></span>
      <%= label_tag t(".password") %>
      <span><%= t(".dummy_password") %></span>
    </div>
    <div class="half communications branded-content branded-border last">
      <h4><%= t(".comms_preferences") %></h4>
      <label class=<%= current_resident.developer_email_updates? ? "selected" : "unselected" %>> <%= t(".developer_email_updates") %>
        <i class="fa fa-check"></i>
      </label>
      <label class=<%= current_resident.hoozzi_email_updates? ? "selected" : "unselected" %>> <%= t(".hoozzi_email_updates") %>
        <i class="fa fa-check"></i>
      </label>
      <label class=<%= current_resident.telephone_updates? ? "selected" : "unselected" %>> <%= t(".telephone_updates") %>
        <i class="fa fa-check"></i>
      </label>
      <label class=<%= current_resident.post_updates? ? "selected" : "unselected" %>> <%= t(".post_updates") %>
        <i class="fa fa-check"></i>
      </label>
    </div>

    <%= link_to t(".intro_video"), about_video_path, class: "branded-btn video-link" %>

    <div class="full branded-content branded-border">
      <div class="other-residents">
        <h4><%= t(".other_residents") %></h4>
        <% @all_residents.each do | resident | %>
          <span><%= resident[:name] %> <%= resident[:email] %></span><br/>
        <% end %>
        <% if @all_residents.count.zero? %>
          <span><%= t(".none", plot: @plot) %></span>
        <% end %>
      </div>
    </div>

    <% if @plot.developer.enable_services? %>
      <div class="full branded-content branded-border">
        <div class="services">
          <h4><%= t("homeowners.services.index.title", developer: @plot.developer) %></h4>
          <p><%= t("homeowners.services.index.description") %></p>
          <% @services.each do | service | %>
            <%= render "homeowners/components/service", service: service %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="full actions show-actions">
      <%= link_to t(".edit_profile"), [:edit, :homeowners, current_resident], class: "branded-btn alt" %>
    </div>
  </div>
</div>
