<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to homeowners_resident_path(current_resident), class: "active" do %>
    <li class="navbar-item-secondary">
      <%= t(".title") %>
    </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="account-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body outer-container">
  <div class="resident">
    <div class=" resident-details branded-content branded-border branded-text">
      <div class="account branded-text">
        <h4><%= t(".account_details") %></h4>
        <%= label_tag t(".name") %>
        <span><%= current_resident %></span>
        <%= label_tag t(".email") %>
        <span><%= current_resident&.email %></span>
        <%= label_tag t(".phone") %>
        <span><%= current_resident&.phone_number %></span>
        <%= label_tag t(".password") %>
        <span><%= t(".dummy_password") %></span>
      </div>
      <div class="communications last">
        <h4><%= t(".comms_preferences") %></h4>
        <label class=<%= current_resident.developer_email_updates? ? "selected" : "unselected" %>> <%= t(".developer_email_updates") %>
          <i class="fa fa-check"></i>
        </label>
        <label class="updates"><%= t("homeowners.residents.communications.updates_by") %></label>
        <label class=<%= current_resident.cf_email_updates? ? "selected" : "unselected" %>> <%= t(".cf_email_updates") %>
          <i class="fa fa-check"></i>
        </label>
        <label class=<%= current_resident.telephone_updates? ? "selected" : "unselected" %>> <%= t(".telephone_updates") %>
          <i class="fa fa-check"></i>
        </label>
      </div>
    </div>


    <div class="full actions show-actions">
      <% if Setting.first&.intro_video_enabled %>
        <%= link_to t(".intro_video"), about_video_path, class: "btn branded-btn video-link" %>
      <% end %>
      <%= link_to t(".edit_profile"), [:edit, :homeowners, current_resident], class: "btn branded-btn" %>
      <%= button_tag t(".deactivate"), class: "btn branded-btn destroy-resident",
      data: { cancel: t("edit.cancel"),
      cta: t(".confirm_deactivate"),
      title: t(".deactivate_header"),
      resident: current_resident.id} %>
    </div>

    <% if !current_resident.plot_residency_tenant?(@plot) %>
      <% if current_resident.plots.count > 1 %>
        <div class="account-disclaimer">
          <p class="plot-disclaimer branded-text"><%= t(".plot-disclaimer").html_safe %></p>
        </div>
      <% end %>

      <% if @plot.snags_fully_resolved %>
        <div class="full plot-specific branded-content branded-border">
          <div class="snagging-history">
            <%= link_to t(".snagging_history", tool_name: @plot.snag_name), snags_path, class: "btn branded-btn-inverted snagging-link" %>
          </div>
        </div>
      <% end %>
      <div class="full plot-specific branded-content branded-border branded-text">
        <div class="other-residents">
          <h4><%= t(".other_residents", plot: @plot.to_homeowner_s) %></h4>
          <ul>
            <% @all_residents.each do | resident | %>
              <li>
                <%= resident[:name] %> <span class="email"><%= resident[:email] %></span>
                <% if resident[:removeable] && !(@plot.expired?) %>
                  <% confirm_resident = t("destroy.confirm_resident") if resident[:plot_count] > 1 %>
                  <% confirm_resident = t("destroy.confirm_final_resident") if resident[:plot_count] == 1 %>
                  <%= button_tag "", class: "btn branded-text prompt-remove",
                    data: { title: t(".destroy"),
                      cancel: t("destroy.cancel"),
                      text: t(".confirm_text", name: resident[:name]),
                      cta: t(".confirm_cta" ),
                      details: confirm_resident,
                      email: resident[:email]
                    } do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                <% end %>
              </li>
            <% end %>

            <% if @all_residents.count.zero? %>
              <li><%= t(".none", plot: @plot) %></li>
            <% end %>
          </ul>
          <% if current_resident.plot_residency_homeowner?(@plot) && !(@plot.expired?) %>
            <div>
              <%= button_tag t(".invite", plot: @plot.to_homeowner_s), class: "btn branded-btn-inverted add-resident",
              data: { cancel: t("edit.cancel"),
                    cta: t(".send_invitation"),
                    title: t(".invite_title", plot: @plot.to_homeowner_s),
                    plot: @plot.id } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div>

<div class="add-resident-form hidden">
  <%= simple_form_for @resident, url: homeowners_resident_path, remote: true do |ff| %>
    <div class="half">
      <div class="ui-front select-container">
        <%= ff.input :role, as: :select, collection: roles_collection, include_blank: false %>
      </div>
      <%= ff.input :email, required: true %>
      <%= ff.input :phone_number, required: true %>
      <%= ff.input :first_name, required: true %>
      <%= ff.input :last_name, required: true %>
    </div>
    <div class="half">
      <h4><%= t(".full_access_title") %></h4>
      <p><%= t(".full_access_description") %></p>
      <h4><%= t(".limited_access_title") %></h4>
      <p><%= t(".limited_access_description") %></p>
    </div>
  <% end %>
</div>

<div class="remove-resident-form hidden">
  <form autocomplete="off">
    <h4><%= t(".deactivate_text") %></h4>
    <p><%= t(".deactivate_password") %></p>
    <input class="resident-password" type="password" id="password" name="password" autocomplete="off" >
  </form>
</div>
