<% content_for :hero_text_primary do %>
  <span><%= t("activerecord.attributes.resident.titles.#{current_resident.title}") %> <%= current_resident %></span>
<% end %>
<% content_for :hero_text_secondary do %>
  <span><%= render 'address/address', address: @plot %></span>
<% end %>

<nav class="sub-navigation-container">
  <div class="nav-inner">
    <div class="branded-text"><%= t(".my_account") %></div>
  </div>
</nav>

<div class="resident-hero">
  <%= render "components/homeowner/hero" %>
</div>

<div class="branded-body outer-container">
  <div class="resident">
    <div class="half branded-content branded-border">
      <%= label_tag t(".email") %>
      <span><%= current_resident.email %></span>
      <%= label_tag t(".title") %>
      <span><%= t("activerecord.attributes.resident.titles.#{current_resident.title}") %></span>
      <%= label_tag t(".name") %>
      <span><%= current_resident.first_name %> <%= current_resident.last_name %></span>
      <%= label_tag t(".password") %>
      <span><%= t(".dummy_password") %></span>
    </div>
    <div class="half communications branded-content branded-border last">
      <h4><%= t(".comms_preferences") %></h4>
      <label class=<%= current_resident.developer_email_updates? ? "selected" : "unselected" %>> <%= t(".developer_email_updates") %>
        <i class="fa fa-check"></i>
      </label>
      <label class=<%= current_resident.isyt_email_updates? ? "selected" : "unselected" %>> <%= t(".isyt_email_updates") %>
        <i class="fa fa-check"></i>
      </label>
      <label class=<%= current_resident.telephone_updates? ? "selected" : "unselected" %>> <%= t(".telephone_updates") %>
        <i class="fa fa-check"></i>
      </label>
      <label class=<%= current_resident.post_updates? ? "selected" : "unselected" %>> <%= t(".post_updates") %>
        <i class="fa fa-check"></i>
      </label>
    </div>

    <%= link_to t(".intro_video"), about_video_path, class: "branded-btn video-link" %>

    <div class="full branded-content branded-border">
      <div class="other-residents">
        <h4><%= t(".other_residents") %></h4>
        <ul>
          <% @all_residents.each do | resident | %>
            <li>
              <%= resident[:name] %> <span class="email"><%= resident[:email] %></span>

              <% if resident[:removeable] %>
                <% confirm_resident = t("destroy.confirm_resident") if resident[:plot_count] > 1 %>
                <% confirm_resident = t("destroy.confirm_final_resident") if resident[:plot_count] == 1 %>
                <%= button_tag "", class: "btn prompt-remove",
                  data: { title: t(".destroy"),
                    cancel: t("destroy.cancel"),
                    text: t(".confirm_text", name: resident[:name]),
                    cta: t(".confirm_cta" ),
                    details: confirm_resident,
                    email: resident[:email]
                  } do %>
                  <i class="fa fa-times"></i>
                <% end %>
              <% end %>
            </li>
          <% end %>

          <% if @all_residents.count.zero? %>
            <li><%= t(".none", plot: @plot) %></li>
          <% end %>
        </ul>
        <% if current_resident.plot_residency_homeowner?(@plot) %>
          <div>
            <%= button_tag t(".invite", plot: @plot.to_homeowner_s), class: "btn add-resident",
            data: { cancel: t("edit.cancel"),
                  cta: t(".send_invitation"),
                  title: t(".invite", plot: @plot.to_homeowner_s),
                  plot: @plot.id } %>
          </div>
        <% end %>
      </div>
    </div>

    <% if @plot.developer.enable_services? %>
      <div class="full branded-content branded-border">
        <div class="services">
          <h4><%= t("homeowners.services.index.title", developer: @plot.developer) %></h4>
          <h5><%= t("homeowners.services.index.subtitle") %></h4>
          <p><%= t("homeowners.services.index.description_1") %></p>
          <% @services.each do | service | %>
            <%= render "homeowners/components/service", service: service %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="full actions show-actions">
      <%= button_tag t(".deactivate"), class: "btn destroy-resident",
      data: { cancel: t("edit.cancel"),
            cta: t(".confirm_deactivate"),
            title: t(".deactivate"),
            resident: current_resident.id } %>
      <%= link_to t(".edit_profile"), [:edit, :homeowners, current_resident], class: "btn branded-btn" %>
    </div>
  </div>
</div>

<div class="add-resident-form hidden">
  <%= simple_form_for @resident, url: homeowners_resident_path, remote: true do |ff| %>
    <div class="half">
      <div class="ui-front select-container">
        <%= ff.input :role, as: :select, collection: roles_collection, include_blank: false %>
      </div>
      <%= ff.input :email, required: true %>
      <%= ff.input :phone_number, required: true %>
    </div>
    <div class="half">
      <%= ff.input :first_name, required: true %>
      <%= ff.input :last_name, required: true %>
    </div>
  <% end %>
</div>

<div class="remove-resident-form hidden">
  <form autocomplete="off">
    <h4><%= t(".deactivate_text") %></h4>
    <p><%= t(".deactivate_password") %></p>
    <input class="resident-password" type="password" id="password" name="password" autocomplete="off" >
  </form>
</div>
