<%= image_tag("Spaciable_full.svg", style: "display: block;width:120px;margin: 10px auto;padding-bottom: 20px;") %>

<p><%= t("devise.mailer.invitation_instructions.hello", name: @resource.first_name) %>,</p>

<p style="font-weight: 600;"><%= t("devise.mailer.invitation_instructions.someone_invited_you_admin", development: admin_permission_level(@resource)) %></p>

<p><%= t("devise.mailer.invitation_instructions.spaciable_is") %></p>

<p><%= t("devise.mailer.invitation_instructions.once_activated") %></p>

<ul>
  <li><%= t(".can1") %></li>
  <li><%= t(".can2") %></li>
  <li><%= t(".can3") %></li>
  <li><%= t(".can4") %></li>
  <li><%= t(".can5") %></li>
  <li><%= t(".can6") %></li>
</ul>

<p><%= t(".help") %></p><br/>


<p><%= t(".activate") %></p>

<p style="text-align: center;">
  <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>Accept Invitation</button>".html_safe, accept_invitation_url(@resource, :invitation_token => @token) %>
</p>
<br/>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<p><%= t(".ignore2") %></p>

<p><%= t("devise.mailer.invitation_instructions.login").html_safe %></p><br/>

<p style="font-style: italic;font-size: 14px;"><%= t(".ignore") %></p>
