<p>Hello <%= @resource.to_s %>,</p>

<p><%= t("password_change_mailer.content", admin: "administrator") %></p>

<p><%= t("password_change_mailer.confirm") %><%= link_to 'www.hoozzi.com/admin', new_admin_session_url %></p>

<p><%= t("password_change_mailer.deny") %></p>

<p><%= link_to 'Change my password', new_user_password_url, style: "color: #F7525E;border: 1px solid #F7525E;padding: 6px 8px;border-radius: 4px" %></p>