<%= simple_form_for([:admin, how_to]) do |f| %>
  <% if how_to.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% how_to.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <!-- Hidden postback field with the country_id in.  -->
  <%= f.hidden_field :country_id, value: country.id %>

  <div class="row how-to">
    <div class="row-item half">
      <fieldset>
        <%= f.input :title, as: :string %>
        <%= f.input :summary, as: :string %>
        <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'standard' } } %>
        <div class="tags">
          <%= label_tag Tag.model_name.human.pluralize %>
          <%= f.simple_fields_for :tags do |fields| %>
            <% if fields.object.name.nil? %>
              <%= fields.input :name, label: t(".new_tag"), placeholder: t(".csv"), class: "tag-name" %>
            <% else %>
              <span>
                <%= fields.object.name %>
                <%= link_to remove_tag_path(how_to: how_to, tag: fields.object), class: "btn remove" do %>
                  <%= fa_icon "times" %>
                <% end %>
              </span>
            <% end %>
          <% end %>
        </div>
      </fieldset>
    </div>

    <div class="row-item half">
      <fieldset>
        <div class="category ui-front select-container">
          <!-- Only show the categories for the current country -->
          <%= f.input :category, as: :select, collection: how_to_category_collection(country), include_blank: false %>
        </div>
        <div class="sub-category ui-front select-container">
          <%= f.association :how_to_sub_category, collection: sub_categories, label: t(".subcategory"), prompt: t(".choose") %>
        </div>
        <div class="featured ui-front">
          <%= f.input :featured, as: :select, collection: HowTo.feature_numbers, include_blank: true %>
        </div>
        <div class="url">
          <%= f.input :url, as: :string, placeholder: t(".youtube") %>
        </div>
        <div class="text">
          <%= label_tag HowTo.human_attribute_name(:additional_text) %>
          <%= f.text_area :additional_text %>
        </div>
        <div class="image-container">
          <%= f.input :picture, as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
        <div class="hide">
          <%= f.label :hide %>
          <%= f.check_box :hide, class: "hide-box" %>
          <span><%= t(".hide_explanation") %></span>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), admin_how_tos_path(:country  => country.name), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>

