<% breadcrumb :admin_how_to, @how_to %>

<div class="section-header">
  <div class="section-title">
    <i class="fa fa-question-circle"></i>
    <%= t(".title", title: @how_to.title) %><br>
  </div>
  <div class="section-data">
    <%= edit_btn edit_admin_how_to_path, element: @how_to %>
  </div>
</div>

<% if @how_to.hide %>
  <h4 class="alert"><%= t(".hidden_alert") %></h4>
<% end %>

<div class="row how-to">
  <div class="row-item third">
    <%= label_tag(HowTo.human_attribute_name(:title)) %>
    <span><%= @how_to.title %></span>
    <%= label_tag(HowTo.human_attribute_name(:summary)) %>
    <span><%= @how_to.summary %></span>
    <%= label_tag(HowTo.human_attribute_name(:description)) %>
    <span><%= raw @how_to.description %></span>
  </div>
  <div class="row-item third">
    <%= label_tag(HowTo.human_attribute_name(:category)) %>
    <span><%= t("activerecord.attributes.how_to.categories.#{@how_to.category}") %></span>
    <%= label_tag(HowTo.human_attribute_name(:sub_category)) %>
    <span><%= @how_to.how_to_sub_category %></span>
    <%= label_tag(HowTo.human_attribute_name(:additional_text)) %>
    <span><%= @how_to.additional_text %></span>
    <%= label_tag(HowTo.human_attribute_name(:picture)) %>
    <%= image_tag @how_to.picture.url if @how_to.picture? %>
  </div>
  <div class="row-item third">
    <%= label_tag(HowTo.human_attribute_name(:url)) %>
    <span><%= @how_to.url %></span>
    <%= label_tag(HowTo.human_attribute_name(:tags)) %>
    <span>
    <% @how_to.tags.each do | tag | %>
      <%= tag %>
    <% end %>
    </span>
    <%= label_tag(HowTo.human_attribute_name(:featured)) %>
    <span><%= @how_to.featured %></span>
    <%= label_tag(HowTo.human_attribute_name(:hide)) %>
    <span><%= @how_to.hide? ? t(".hidden") : t(".not_hidden") %></span>
  </div>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_how_tos_path, class: "btn" %>
  </div>
</div>
