<%= simple_form_for([:admin, user]) do |f| %>
  <% if user.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% user.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :email, readonly: user.email? %>
        <% if user == current_user %>
          <%= f.input :current_password, label: t(".current_password"), autocomplete: "off", placeholder: t(".current_password2") %>
          <%= f.input :password, label: t(".new_password"), autocomplete: "off" %>
          <%= f.input :password_confirmation, label: t(".confirm_password") %>
        <% end %>
      </fieldset>
    </div>
    <div class="row-item third">
        <fieldset>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :job_title %>
          <%= f.input :role,
            as: :select,
            collection: User::accessible_admin_roles(current_user),
            label_method: ->(role) { t(role.first) },
            value_method: :first,
            include_blank: "Choose..." %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset class="skip-global-selectmenu">
        <div class="image-container">
          <%= f.input :picture, as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
        <%= cascade_select_input f, :developer_id, Developer %>
        <%= cascade_select_input f, :division_id, Division %>
        <%= cascade_select_input f, :development_id, Development %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), admin_users_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
