<%= simple_form_for([:admin, user]) do |f| %>
  <% if user.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% user.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row user-form">
    <div class="user-details form-row">
      <fieldset class="form-column contact-details">
        <%= f.input :email, label: t(".email"), readonly: user.email? %>
        <%= f.input :first_name, label: t(".first_name") %>
        <%= f.input :last_name, label: t(".surname") %>
      </fieldset>
      <fieldset class="form-column permission-level skip-global-selectmenu">
        <%= f.input :job_title, label: t(".job_title") %>
        <%= f.input :role,
        as: :select,
        collection: User::accessible_admin_roles(current_user),
        label_method: ->(role) { t(role.first) },
        value_method: :first,
        include_blank: t("users.choose"),
        selected: selected_role %>
        <%= cascade_select_input f, :developer_id, Developer %>
        <%= cascade_select_input f, :division_id, Division %>
        <%= cascade_select_input f, :development_id, Development %>
      </fieldset>
      <fieldset class="form-column user-image">
        <div class="image-container">
          <%= f.input :picture, label: t(".image"), as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
      </fieldset>

      <div class="separator"></div>
    </div>

    <div class="user-permissions form-row">
      <fieldset class="form-column features">
        <% style = user.developer_cas? && !current_user.development_admin? ? "display:inline" : "display:none"%>
        <div id="cas" class="client_specifications" data-casenabled=<%=user.developer_cas?%> data-userrole=<%=current_user.role%> style="<%=style%>">
          <%= f.label :cas_enabled, t(".client_specifications"), class: "checkbox-label" %>
          <%= f.check_box :cas, id: :cas_check,
          disabled: (user.division_admin? || user.developer_admin?) %>
          <span class="checkbox-description"><%= t(".adds_specifications") %></span>
        </div>
        <div class="administer_lettings">
          <%= f.label :branch_admin, t(".lettings_branch_admin"), class: "checkbox-label" %>
          <%= f.check_box :branch_administrator, id: :branch_admin_check, disabled: !current_user.prime_for?(user) %>
          <span class="checkbox-description"><%= t(".administer_branch") %></span>
        </div>
      </fieldset>

      <fieldset class="form-column emails">
        <div class="email-fields">
          <div class="receive_plot_emails">
            <%= f.label :plot_emails, t(".plot_emails"), class: "checkbox-label" %>
            <%= f.check_box :receive_release_emails, id: :plot_check,
            disabled: !user.enable_receive_release_emails?(current_user) %>
            <span class="checkbox-description"><%= t(".receive_plot_emails") %></span>
          </div>
          <!-- @choices
          <div class="receive_choice_emails">
            <%= f.label :choice_emails, t(".choice_emails"), class: "checkbox-label" %>
            <%= f.check_box :receive_choice_emails, id: :choice_check,
            disabled: !user.enable_choice_emails?(current_user) %>
            <span class="checkbox-description"><%= t(".receive_choice_emails") %></span>
          </div>
        -->
          <div class="receive-snagging-emails">
            <%= f.label :snag_emails, t(".snag_emails"), class: "checkbox-label" %>
            <%= f.check_box :snag_notifications, id: :snag_check %>
            <span class="checkbox-description"><%= t(".receive_snag_emails") %></span>
          </div>
          <div class="receive-faq-emails">
            <%= f.label :faq_emails, t(".faq_emails"), class: "checkbox-label" %>
            <%= f.check_box :receive_faq_emails, id: :faq_check %>
            <span class="checkbox-description"><%= t(".receive_faq_emails") %></span>
          </div>
          <div class="receive-invitation-emails">
            <%= f.label :invitation_emails, t(".invitation_emails"), class: "checkbox-label" %>
            <%= f.check_box :receive_invitation_emails, id: :invitations_check %>
            <span class="checkbox-description"><%= t(".receive_invitation_emails") %></span>
          </div>


          <div class="cc-plot-emails">
            <%= f.fields_for :cc_emails do |e| %>
              <%= e.input :user, as: :hidden, input_html: { value: @user.id } %>
              <%= e.input :email_type, as: :hidden, input_html: { value: :receive_release_emails } %>
              <%= e.input :email_list, as: :text, placeholder: t(".cc_list", type: "plot release"), label: t(".email_list", type: "Plot Release"), required: false %>
            <% end %>
          </div>
          <!-- @choices
            cc fields for choices emails
          -->
          <div class="cc-snagging-emails">
            <%= f.fields_for :cc_emails do |e| %>
              <%= e.input :user, as: :hidden, input_html: { value: @user.id } %>
              <%= e.input :email_type, as: :hidden, input_html: { value: :snag_notifications } %>
              <%= e.input :email_list, as: :text, placeholder: t(".cc_list", type: "snagging"), label: t(".email_list", type: "Snagging"), required: false %>
            <% end %>
          </div>
          <div class="cc-faq-emails">
            <%= f.fields_for :cc_emails do |e| %>
              <%= e.input :user, as: :hidden, input_html: { value: @user.id } %>
              <%= e.input :email_type, as: :hidden, input_html: { value: :receive_faq_emails } %>
              <%= e.input :email_list, as: :text, placeholder: t(".cc_list", type: "FAQ feedback"), label: t(".email_list", type: "FAQ Feedback"), required: false %>
            <% end %>
          </div>
          <div class="cc-invitation-emails">
            <%= f.fields_for :cc_emails do |e| %>
              <%= e.input :user, as: :hidden, input_html: { value: @user.id } %>
              <%= e.input :email_type, as: :hidden, input_html: { value: :receive_invitation_emails } %>
              <%= e.input :email_list, as: :text, placeholder: t(".cc_list", type: "resident activation"), label: t(".email_list", type: "Resident Activation"), required: false %>
            <% end %>
          </div>

        </div>
      </fieldset>

      <div class="separator"></div>
    </div>

    <% if user == current_user %>
    <fieldset class="password form-row">
      <div class="edit-password">
        <h3 class="update-password header-label">
          <%= t(".update_password") %>
        </h3>
        <div class="form-column current-password">
          <%= f.input :current_password, label: t(".current_password"), autocomplete: "off" %>
        </div>
        <div class="form-column new-password">
          <%= f.input :password, label: t(".new_password"), autocomplete: "off" %>
        </div>
        <div class="form-column confirm-new-password">
          <%= f.input :password_confirmation, label: t(".confirm_password") %>
        </div>
      </div>
    </fieldset>
    <% end %>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), admin_users_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
