<%= simple_form_for([:admin, user]) do |f| %>
  <% if user.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% user.errors.full_messages.each do |message| %>
            <li>
              <%= fa_icon "exclamation-circle" %>
              <%= message %>
            </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row user">
    <div class="row-item third">
      <fieldset>
        <div class="image-container">
          <%= f.input :picture, label: t(".image"), as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
        <%= f.input :email, label: t(".email"), readonly: user.email? %>
        <%= f.input :first_name, label: t(".first_name") %>
        <%= f.input :last_name, label: t(".surname") %>
      </fieldset>
      <br/>
      <fieldset>
         <% style = user.developer_cas? && !current_user.development_admin? ? "display:inline" : "display:none"%>
         <div id="cas" class="client_specifications" data-casenabled=<%=user.developer_cas?%> data-userrole=<%=current_user.role%> style="<%=style%>">
          <%= f.label :cas_enabled, t(".client_specifications") %>
          <%= f.check_box :cas, id: :cas_check,
          disabled: (user.division_admin? || user.developer_admin?) %>
          <p class="checkbox-description"><%= t(".adds_specifications") %></p>
        </div>
        <div class="receive_plot_emails">
          <%= f.label :plot_emails, t(".plot_emails") %>
          <%= f.check_box :receive_release_emails, id: :plot_check,
          disabled: !user.enable_receive_release_emails?(current_user) %>
          <p class="checkbox-description"><%= t(".receive_plot_emails") %></p>
        </div>
        <!-- @choices
        <div class="receive_choice_emails">
          <%= f.label :choice_emails, t(".choice_emails") %>
          <%= f.check_box :receive_choice_emails, id: :choice_check,
          disabled: !user.enable_choice_emails?(current_user) %>
          <p class="checkbox-description"><%= t(".receive_choice_emails") %></p>
        </div>
      -->
        <div class="receive-snagging-emails">
          <%= f.label :snag_emails, t(".snag_emails") %>
          <%= f.check_box :snag_notifications, id: :snag_check %>
          <p class="checkbox-description"><%= t(".receive_snag_emails") %></p>
        </div>
        <div class="receive-faq-emails">
          <%= f.label :faq_emails, t(".faq_emails") %>
          <%= f.check_box :receive_faq_emails, id: :faq_check %>
          <p class="checkbox-description"><%= t(".receive_faq_emails") %></p>
        </div>
        <div class="administer_lettings">
          <%= f.label :branch_admin, t(".lettings_branch_admin") %>
          <%= f.check_box :branch_administrator, id: :branch_admin_check, disabled: !current_user.prime_for?(user) %>
          <p class="checkbox-description"><%= t(".administer_branch") %></p>
        </div>
      </fieldset>
    </div>

    <div class="row-item third">
      <fieldset class="skip-global-selectmenu">
        <%= f.input :job_title, label: t(".job_title") %>
        <%= f.input :role,
          as: :select,
          collection: User::accessible_admin_roles(current_user),
          label_method: ->(role) { t(role.first) },
          value_method: :first,
          include_blank: t("users.choose"),
          selected: selected_role %>
        <%= cascade_select_input f, :developer_id, Developer %>
        <%= cascade_select_input f, :division_id, Division %>
        <%= cascade_select_input f, :development_id, Development %>
      </fieldset>
    </div>

    <% if user == current_user %>
    <div class="row-item third">
      <fieldset>
          <%= f.input :current_password, label: t(".current_password"), autocomplete: "off", placeholder: t(".current_password2") %>
          <%= f.input :password, label: t(".new_password"), autocomplete: "off" %>
          <%= f.input :password_confirmation, label: t(".confirm_password") %>
      </fieldset>
    </div>
    <% end %>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), admin_users_path, class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
