<% breadcrumb :admin_users %>

<div class="section-header">
  <div class="section-title">
    <i class="fa fa-person"></i>
    <%= t(".title") %>
  </div>
</div>

<% if current_user.cf_admin? %>
  <%= render 'components/admin/search', usearch: @usearch, path: admin_users_path, user_search_path: admin_user_search_path, search: t(".search"), roles: User.role_call %>
<% end %>

<div class="section-actions">
  <button class='btn', id='users_export_csv' data-href=<%= export_csv_admin_users_path %>><%= t(".export_csv") %></button>
  <%= link_to new_admin_user_path, class: "btn btn-primary" do %>
    <i class="fa fa-plus"></i>
    <span class="btn-label"><%= t(".add") %></span>
  <% end %>
</div>

<table class="record-list users">
  <thead>
    <tr>
      <th colspan="2"><%= sortable(@users, "LOWER(users.email)", t(".email")) %></th>
      <th><%= sortable(@users, "LOWER(users.first_name)", t(".name")) %></th>
      <th><%= help_btn text: t('.help.role.text'), title: t('.help.role.title')%> <%= sortable(@users, "users.role", t(".role")) %></th>
      <% if User.roles[current_user.role] < User.roles[:developer_admin] %>
        <th><%= sortable(@users, "LOWER(developers.company_name)", t(".developer")) %></th>
      <% end %>
      <% if User.roles[current_user.role] < User.roles[:division_admin] %>
        <th><%= sortable(@users, "LOWER(divisions.division_name)", t(".division")) %></th>
      <% end %>
      <% if User.roles[current_user.role] < User.roles[:development_admin] %>
        <th><%= sortable(@users, "LOWER(developments.name)", t(".development")) %></th>
      <% end %>
      <th><%= sortable(@users, :invitation_accepted_at, t(".accepted_at")) %></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |fulluser| %>
    <% user = User.new(fulluser.except("company_name","division_name","development_name")) %>
    <% next unless current_user.cf_admin? || current_user.developer == user.developer %>
    <tr data-user="<%= user.id %>">
      <td colspan="2"><%= link_to user.email, admin_user_path(user) %></td>
      <td><%= user.full_name %></td>
      <td><%= t(user.role) %></td>
      <% if User.roles[current_user.role] < User.roles[:developer_admin] %>
        <td><%= fulluser["company_name"]  %></td>
      <% end %>
      <% if User.roles[current_user.role] < User.roles[:division_admin] %>
        <td><%= fulluser["division_name"] %></td>
      <% end %>
      <% if User.roles[current_user.role] < User.roles[:development_admin] %>
        <td><%= fulluser["development_name"]  %></td>
      <% end %>
      <td><%= l user.invitation_accepted_at.to_date, format: :digits if user.invitation_accepted? %></td>
      <td class="actions">
        <% unless user.invitation_accepted? %>
          <%= button_tag "", class: "btn", id: "resendInvitation", title: 'Resend Invitation',
            data: { invite: user.id, invitee: current_user.id, email: user.email } do %>
            <i class="fa fa-envelope-o"></i>
          <% end %>
        <% end %>
        <%= edit_btn edit_admin_user_path(user), element: user %>
        <%= delete_btn user, path: admin_user_path(user), element: user %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paging">
  <%= render 'components/page_size' %>
  <%= paginate @users %>
</div>
