<% breadcrumb :admin_user, @user %>

<div class="section-header">
  <h3 class="section-title">
    <i class="fa fa-user"></i>
    <%= @user %><br>

    <div class="section-data">
      <div class="user-picture">
        <%= image_tag(@user.picture.url) if @user.picture? %>
      </div>
      <i class="fa fa-envelope"></i>
      <%= @user.email %>
      <%= edit_btn [:edit, :admin, @user], element: @user %>

      <i class="fa fa-lock"></i>
      <% if @user.cf_admin? %>
        <%= t(@user.role) %>
      <% else %>
        <%= t(".role_at", role: t(@user.role), permission_level_name: @user.permission_level) %>
      <% end %>
      <i class="fa fa-bolt"></i>
      <%= @user.job_title %>
    </div>
  </h3>
</div>

<div class="form-actions-footer-container">
  <div class="form-actions-footer">
    <%= link_to t(".back"), admin_users_path, class: "btn" %>
  </div>
</div>
