<div class="admin-timeline-edit">

  <div class="timeline-sidebar">

    <div class="list-stages">
      <ul class="vertical">
        <% @timeline.stages.each do |stage| %>
          <li class="stage-title"><span class="branded-text"><%= stage.title %></span></li>
          <ul class="sub-stage">
            <% @timeline.tasks&.each do |tt| %>
              <% if tt.stage.title == stage.title %>
                <% if action?(:new) && @insert_mode == :before && tt.id == @insertion_task.id %>
                <li class="sub-stage-container new">
                  <span class="stage"><%= t(".new") %></span>
                </li>
                <% end %>
                <li class="sub-stage-container branded-text">
                  <span class="stage"><%= tt.title %></span>
                </li>
                <% if action?(:new) && @insert_mode == :after && tt.id == @insertion_task.id %>
                <li class="sub-stage-container new">
                  <span class="stage"><%= t(".new") %></span>
                </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        <% end %>

        <li class="stage-title"><span class="branded-text"><%= t("tasks.finale") %></span></li>
        <ul class="sub-stage">
          <li class="sub-stage-container active">
             <span class="stage"><%= t("tasks.complete") %></span>
          </li>
          <li class="sub-stage-container active">
             <span class="stage"><%= t("tasks.incomplete") %></span>
          </li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="timeline-form">
    <%= simple_form_for ([timeline, finale]) do |f| %>

      <div class="image-content">
        <div class="image-container">
          <%= f.input :complete_picture, label: t(".complete_picture"), as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
      </div>

      <div class="text-content">
        <div class="response">
          <%= f.input :complete_message, label: t(".complete_message"), as: :ckeditor%>
        </div>
      </div>

      <div class="image-content incomplete-content">
        <div class="image-container">
          <%= f.input :incomplete_picture, label: t(".incomplete_picture"), as: :image_preview, input_html: { preview_version: :thumbnail } %>
        </div>
      </div>

      <div class="text-content">
        <div class="response">
          <%= f.input :incomplete_message, label: t(".incomplete_message"), as: :ckeditor%>
        </div>
      </div>

      <%= f.hidden_field :timeline_id, value: timeline.id %>

      <div class="form-actions-footer-container">
        <div>
          <% if task %>
            <%= link_to t(".cancel"), timeline_task_path(timeline, task), class: "btn" %>
          <% else %>
            <%= link_to t(".cancel"), timeline_finale_path(timeline, finale), class: "btn" %>
          <% end %>
          <%= f.submit t(".submit"), class: "btn btn-form-submit btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
