<% breadcrumb :finale, @timeline, @finale %>

<%= render "tasks/timeline", timeline: @timeline, editable: true %>

<div class="admin-timeline">
  <div class="admin-timeline-preview">
    <div class="heading">
      <div class="actions">
        <h2 class="page-name"><%= t("tasks.finale.title") %> <%= @complete ? t("tasks.complete") : t("tasks.incomplete") %></h2>
        <div class="btn-group">
          <%= link_to t(".edit"), edit_timeline_finale_path(@timeline, @timeline.finale), class: "btn"%>
        </div>
      </div>
    </div>

    <div class="preview">

      <%= render "timelines/components/timeline", timeline: @timeline, task: nil, links: true, parent: :finale, complete: @complete %>

      <div class="timeline-content">
        <% if @complete %>

          <div class="complete-content">
            <div class="complete">
              <div class="text">
                <div><%= raw @finale.complete_message %></div>
              </div>
              <div class="image">
                <div class="image-container" style="background-image: url('<%= @finale.complete_picture %>')"></div>
              </div>
            </div>
          </div>

        <% else %>

          <div class="complete-content">
            <div class="complete">
              <div class="text">
                <div><%= raw @finale.incomplete_message %></div>
              </div>
              <div class="image">
                <div class="image-container" style="background-image: url('<%= @finale.incomplete_picture %>')"></div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
