<p><%= t("devise.mailer.access_extended.hello", name: @name) %></p>

<p><%= t("devise.mailer.access_extended.paragraph_one") %></p>

<p><%= t("devise.mailer.access_extended.paragraph_two") %></p>

<p><%= t("devise.mailer.access_extended.paragraph_three") %></p>

<p><%= t("devise.mailer.access_extended.goodbye") %></p>
<p><%= t("devise.mailer.access_extended.team") %></p>
