<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto;padding-bottom: 20px;") %>

<p><%= t("devise.mailer.invitation_instructions.hello", name: @name) %>,</p>

<p><%= t("devise.mailer.close_account.title") %></p>

<p><%= t("devise.mailer.close_account.deactivated") %></p>

<p><%= t("devise.mailer.close_account.data") %></p>

<p><%= t("devise.mailer.close_account.error") %></p>
