<%= image_tag(@logo, style: "display: block;width:120px;margin: 20px auto;padding-bottom: 20px;") %>

<p>
  <%= t(".welcome", name: @resident.first_name) %>,
</p>

<p>
  <%= t(".message", first_name: @sender&.first_name,
                    last_name: @sender&.last_name,
                    developer: @plot_residency.plot.developer.company_name,
                    development: @plot_residency.plot.development.name,
                    plot_number: @plot_residency.plot_number)
                     %>
</p>

<% if @content.length <= 50 %>
  <%= simple_format @content %>
<% else %>
  <%= simple_format "#{@content[0..50]}..." %>
<% end %>

<p style="text-align: center;">
  <%= link_to "<button style='cursor: pointer; border-style: solid;border-width: 1px;border-radius: 5px;color: #002A3A;border-color: #002A3A;background-color: #FFFFFF;padding: 5px 30px;font-size: 14px;line-height: 22px;margin-top: 20px;'>View Message on #{login_platform(@plot)}</button>".html_safe, homeowners_notifications_route(@plot, @note_id) %>
</p>
