<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "building", type: Phase, parent: parent %>
<% else %>
  <% if can_create(Phase, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_development_phase_path(parent), class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list phases">
    <thead>
      <tr>
        <th><%= sortable(Phase, :name, t(".name")) %></th>
        <th><%= sortable(Phase, :updated_at) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |phase| %>
      <tr data-phase="<%= phase.id %>">
        <td><%= link_to phase.name, development_phase_path(parent, phase), title: phase.name %></td>
        <td><%= l phase.updated_at.to_date, format: :digits %></td>
        <td class="actions">
          <% if current_user.cf_admin? %>
            <%= link_to t(".production"), [parent, phase, active_tab: :production], class: "btn" %>
          <% end %>
          <%= link_to t(".plots"), [parent, phase, active_tab: :plots], class: "btn" %>
          <%= edit_btn edit_development_phase_path(parent, phase), element: phase %>
          <%= delete_btn phase, path: url_for([parent, phase]), element: phase %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render 'components/page_size' %>
    <%= paginate collection %>
  </div>
<% end %>
