<%= simple_form_for([development, phase]) do |f| %>
  <% if phase.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% phase.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
        <%= f.input :number, as: :integer %>
        <%= f.input :business, as: :select, collection: phase_businesses_collection, include_blank: false %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <label class="string optional"><%= t(".address") %></label>
          <% if(development.country.uk?) %>
            <%= render "address/fields", fields: fields %>
          <% else %>
            <%= render "address/spanish_fields", fields: fields %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), ((development.division_id?) ? (division_development_path(division_id: development.division_id, id: development.id)) : (developer_development_path(developer_id: development.developer_id, id: development.id))), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
