<%= simple_form_for([development, phase]) do |f| %>
  <% if phase.errors.any? %>
    <div class="row">
      <div class="row-item">
        <div class="submission-errors">
          <ul>
            <% phase.errors.full_messages.each do |message| %>
              <li>
                <%= fa_icon "exclamation-circle" %>
                <%= message %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name %>
        <%= f.input :number, as: :integer %>
      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <label class="string optional"><%= t(".address") %></label>
          <%= render "address/fields", fields: fields %>
        <% end %>
      </fieldset>
    </div>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), development_phases_path(development), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
