<%= simple_form_for([development, phase]) do |f| %>
  <% if phase.errors.any? %>
    <div class="submission-errors">
      <ul>
        <% phase.errors.full_messages.each do |message| %>
          <li>
            <%= fa_icon "exclamation-circle" %>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="row-item third">
      <fieldset>
        <%= f.input :name, disabled: !current_user.cf_admin? %>
        <%= f.input :number, as: :integer %>
        <% if current_user.cf_admin? %>
          <% if development.commercial? %>
            <%= f.hidden_field :business, value: "commercial" %>
            <%= f.input :business, as: :select, collection: phase_businesses_collection, include_blank: false, selected: 'commercial', disabled: true %>
          <% else %>
            <%= f.input :business, as: :select, collection: phase_businesses_collection, include_blank: false %>
          <% end %>
        <% end %>
        <% if phase.res_comp? && phase.package.present? && !phase.free? %>
          <label>Package</label>
          <p><%= t("activerecord.attributes.phase.packages.#{phase.package}") %></p>
          <% if current_user.cf_admin? %>
            <label>CPP</label>
            <p>£<%= sprintf("%.2f",phase.cpp) %></p>
          <% end %>
        <% elsif !current_user.cf_admin? %>
          <%= f.input :package, as: :select, collection: phase_packages_collection, include_blank: true,
            disabled: true %>
        <% else %>
          <script>
            var cpps = {
              <% CPP.all.each do |cpp| %>
                <%= cpp.package %> : <%= cpp.value %> ,
              <% end %>
            }
          </script>
          <%= f.input :package, as: :select, collection: phase_packages_collection, include_blank: true,
            disabled: disabled_phase_packages(phase) %>
          <%= f.input :cpp, as: :float, label: t(".cpp"), step: "0.01" %>

        <% end %>

      </fieldset>
    </div>
    <div class="row-item third">
      <fieldset>
        <%= f.simple_fields_for :address do |fields| %>
          <% if(development.country.uk?) %>
            <%= render "address/short_fields", fields: fields %>
          <% else %>
            <label class="string optional"><%= t(".address") %></label>
            <%= render "address/spanish_fields", fields: fields %>
          <% end %>
        <% end %>
      </fieldset>
    </div>
    <% if current_user.cf_admin? && phase.parent.conveyancing_enabled? %>
       <div class="row-item third">
        <fieldset>
          <%= f.label :conveyancing, t(".conveyancing") %>
          <%= f.check_box :conveyancing %>
          <p class="checkbox-description"><%= t(".conveyancing_description") %>
        </fieldset>
      </div>
    <% end %>
  </div>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <%= link_to t(".back"), ((development.division_id?) ? (division_development_path(division_id: development.division_id, id: development.id)) : (developer_development_path(developer_id: development.developer_id, id: development.id))), class: "btn" %>
      <%= f.submit t(".submit"), class: "btn-form-submit btn-primary" %>
    </div>
  </div>
<% end %>
