<div class="section-header">
  <div class="section-title">
    <div>
      <%= phase.name %><br>
    </div>
    <span class="about">
      <strong><%= t(".residents") %></strong><%= resident_count %><br/>
      <strong><%= t(".subscribed_residents") %></strong><%= subscribed_resident_count %>
    </span>
  </div>

  <div class="section-data">
    <%= render 'address/address', address: phase.address %>
    <span class="right">
      <span class="strong"><%= t(".name", number: phase.number) %></span>
      <%= edit_btn [:edit, phase.development, phase], element: phase %>
    </span>
  </div>
</div>
