<div class="section-header">
  <div class="section-title">
    <% if phase.expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="expired-text"><%= t(".expiry") %></span></div>
    <% elsif phase.partially_expired? && !(current_user.cf_admin?) %>
      <div class="expired"><span class="partial-expired-text"><%= t(".partial_expiry") %></span></div>
    <% end %>
    <div>
      <%= phase.name %><br>
    </div>
    <span class="about">
      <br/>
      <% if current_user.cf_admin? %>
        <strong><%= t(".business") %></strong><%= I18n.t("activerecord.attributes.phase.businesses.#{phase.business}") %><br/>
        <strong><%= t(".lettings") %></strong><%= phase.lettings %><br/>
      <% end %>
      <strong><%= t(".subscribed_residents") %></strong><%= subscribed_resident_count %><br/>
      <strong><%= t(".residents") %></strong><%= resident_count %>
    </span>
  </div>

  <div class="section-data">
      <%= render 'address/address', address: phase.address %><br/>
    <strong><%= t(".name", number: phase.number) %></strong><br/>
      <%= edit_btn [:edit, phase.development, phase], element: phase %>
    </span>
  </div>
</div>
