<% if phase.expired? && !(current_user.cf_admin?) %>
  <div class="expired"><span class="expired-text"><%= t(".expiry").html_safe %></span></div>
<% elsif phase.partially_expired? && !(current_user.cf_admin?) %>
  <div class="expired"><span class="partial-expired-text"><%= t(".partial_expiry").html_safe %></span></div>
<% end %>

<div class="section-header">
  <div class="section-title">

    <div>
      <%= phase.name %><br/>
    </div>
    <div class="about">
      <br/>
      <span class="overview">
        <% if current_user.cf_admin? %>
          <strong><%= t(".business") %></strong><%= I18n.t("activerecord.attributes.phase.businesses.#{phase.business}") %><br/>
        <% end %>
        <% if current_user.cf_admin? || phase.cas %>
          <%= t("cas_enabled", status: phase.cas ? t("enabled") : t("disabled")).html_safe %><br/><br/>
        <% end %>
        <strong><%= t(".active_plots") %></strong><%= phase.active_plots_count %><br/>
        <strong><%= t(".completed_plots") %></strong><%= phase.completed_plots_count %><br/>
        <strong><%= t(".expired_plots") %></strong><%= phase.expired_plots_count %><br/><br/>
        <strong><%= t(".residents") %></strong><%= phase.released_resident_count %><br/>
        <strong><%= t(".activated_residents") %></strong><%= phase.activated_resident_count %>
      </span>
      <span class="admins">
        <strong><%= t("administered_by") %></strong><br/><br/>
        <% administering_admins(phase.development).each do |a| %>
          <%= "#{a.first_name} #{a.last_name}" %>
          <span class="inactive"><%= " (not activated)" unless a.invitation_accepted_at %></span><br/>
        <% end %>
      </span>
      <%= render 'components/admin/customer_experience_contact', developer: phase.developer %><br/>
    </div>
  </div>

  <div class="section-data">
      <%= render 'address/address', address: phase.address %><br/>
    <strong><%= t(".name", number: phase.number) %></strong><br/>
      <%= edit_btn [:edit, phase.development, phase], element: phase %>
    </span>
  </div>
</div>
