<% breadcrumb :phase, @phase %>

<div class="phase">
  <%= render 'phases/phase', active_plots_count: @active_plots_count, completed_plots_count: @completed_plots_count,
      expired_plots_count: @expired_plots_count, resident_count: @resident_count,
      activated_resident_count: @activated_resident_count, phase: @phase %>

  <%= render 'components/tabs', tabs: phase_tabs(@phase, @active_tab), parent: @parent %>

  <% if @active_tab == "production" %>
    <%= render_collection @collection, path: "production/collection", parent: @phase %>
  <% else %>
    <%= render_collection @collection, parent: @phase %>
  <% end %>

  <div class="form-actions-footer-container">
    <div class="form-actions-footer">
      <% if @phase.division.present? %>
        <% back_button_link = division_development_path(division_id: @phase.division, id: @phase.development) %>
      <% else %>
        <% back_button_link = developer_development_path(developer_id: @phase.developer, id: @phase.development) %>
      <% end %>
      <%= link_to t(".back"), back_button_link, class: "btn" %>
    </div>
  </div>
</div>
