<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to home_designer_path, class: "active" do %>
      <li class="navbar-item-secondary">
        <%= t(".home_designer") %>
      </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="howto-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body">
  <div class="home-designer">
    <iframe src="https://planner5d.com/app/?prcode=5524d8" class="iframe" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
    <div class="new-tab">
      <a href="https://planner5d.com/?prcode=5524d8" target="_blank"><%= t(".new_tab") %></a>
    </div>
  </div>
</div>
