<% content_for :sub_category_navigation do %>
  <div class="navbar-item">
    <%= link_to home_designer_path, class: "active" do %>
      <li class="navbar-item-secondary">
        <%= t(".home_designer") %>
      </li>
    <% end %>
  </div>
<% end %>

<%= render "components/homeowner/hero" %>

<div class="home-designer-nav">
  <%= render "components/homeowner/sub_categories" %>
</div>

<div class="branded-body">
  <div class="home-designer">
    <iframe src="https://go.planner5d.com/click?pid=17&offer_id=19&sub1=yourclickid&sub2=your_sub_pub_id&sub3=any_side_info" class="iframe" mozallowfullscreen webkitallowfullscreen allowfullscreen></iframe>
    <div class="new-tab">
      <a href="https://go.planner5d.com/click?pid=17&offer_id=19&sub1=yourclickid&sub2=your_sub_pub_id&sub3=any_side_info" target="_blank"><%= t(".new_tab") %></a>
    </div>
  </div>
</div>
