<% if collection.empty? %>
  <%= render 'components/empty_list', icon_name: "industry", type: Manufacturer, parent: nil %>
<% else %>
  <% if can_create(Manufacturer, current_user.permission_level) %>
    <div class="section-actions">
      <%= link_to new_manufacturer_path, class: "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        <span class="btn-label"><%= t(".add") %></span>
      <% end %>
    </div>
  <% end %>

  <table class="record-list">
    <thead>
      <tr>
        <th><%= sortable(Manufacturer, :name, t(".name")) %></th>
        <th><%= sortable(Manufacturer, :updated_at) %></th>
        <th><%= t(".applies_to") %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |manufacturer| %>
        <tr data-manufacturer="<%= manufacturer.id %>">
          <td><%= link_to manufacturer.name, manufacturer_path(manufacturer), title: manufacturer.name %></td>
          <td><%= l manufacturer.updated_at.to_date, format: :digits %></td>
          <td><%= manufacturer.appliance_categories.any? ? t(".appliances") : t(".finishes") %></td>
          <td class="actions">
            <%= edit_btn edit_manufacturer_path(manufacturer), element: manufacturer %>
            <%= delete_btn manufacturer, path: url_for(manufacturer), element: manufacturer %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="paging">
    <%= render "components/page_size" %>
    <%= paginate collection %>
  </div>
<% end %>
