<div class="section-header">
  <div class="section-title">
    <h3><%= manufacturer.name %></h3>
    <span class="about"><%= manufacturer.link %></span>
  </div>

  <div class="section-data">
    <span class="right">
      <%= edit_btn edit_manufacturer_path, element: manufacturer %>
    </span>
  </div>
</div>

<div class="row manufacturer">
  <% if manufacturer.appliance_categories.any? %>
    <div class="row-item half">
      <%= label_tag t(".appliance_categories") %>
      <% manufacturer.appliance_categories.each do | category | %>
        <span><%= category %></span><br>
      <% end %>
    </div>
  <% elsif manufacturer.finish_types.any? %>
    <div class="row-item half">
      <%= label_tag t(".finish_types") %>
      <% manufacturer.finish_types.each do | type | %>
        <span><%= type %></span><br>
      <% end %>
    </div>
  <% end %>
</div>
