<%= render partial: 'layouts/homeowner_head', locals: { title: "", brand: @brand } %>
<body class="accept-view">
  <%= image_tag "Hoozzi Sign In Image 1".html_safe, class: "carousel img0" %>
  <%= image_tag "Hoozzi Sign In Image 2".html_safe, class: "carousel img1" %>
  <%= image_tag "Hoozzi Sign In Image 3".html_safe, class: "carousel img2" %>
  <%= image_tag "Hoozzi Sign In Image 4".html_safe, class: "carousel img3" %>
  <%= image_tag "Hoozzi Sign In Image 5".html_safe, class: "carousel img4" %>
  <%= image_tag "Hoozzi Sign In Image 6".html_safe, class: "carousel img5" %>
  <%= image_tag "Hoozzi Sign In Image 7".html_safe, class: "carousel img6" %>
  <%= image_tag "Hoozzi Sign In Image 8".html_safe, class: "carousel img7" %>
  <%= image_tag "Hoozzi Sign In Image 9".html_safe, class: "carousel img8" %>
  <%= image_tag "Hoozzi Sign In Image 10".html_safe, class: "carousel img9" %>
  <%= yield %>
</body>

