  <%= render partial: 'layouts/admin_head', locals: { title: t(".title"), brand: @brand } %>
  <body class="admin-view">
    <div class="outer-container">
      <%= render 'cookies_eu/consent_banner', link: '/cookies_policy', target: '_blank' %>
      <div class="sidebar-container">
        <%= render 'components/navigation' %>
      </div>
      <div class="content-container">
        <div class="header-container">
          <%= render 'components/header' %>
        </div>
        <div class="breadcrumb-container">
          <%= breadcrumbs separator: " &rsaquo; ", display_single_fragment: true %>
          <% Toolbar::ICONS.each do |t, i| %>
            <div id=<%=i[:type]%>>
              <i class='<%= "fa #{i[:icon]} #{i[:type]}" %>' aria-hidden="true" style="display:none"></i>
            </div>
          <% end %>
        </div>
        <div class="main-container">
          <main>
            <%= render "components/flashes" %>
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
    <%= render 'components/admin/footer' %>
  </body>
</html>
