  <%= render partial: 'layouts/homeowner_head', locals: { title: t(".title"), brand: @brand } %>
  <body class="hoozzi homeowner-view">
    <div>
      <div class="content-container">
        <div class="header-container">
          <%= render 'components/homeowner/header', brand: @brand, unread_count: @unread_count %>
        </div>

          <%= render "components/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  <%= render 'components/homeowner/footer' %>
  </body>
</html>
