 <%= render 'layouts/homeowner_head', title: t(".title"), brand: @brand %>
  <body class="hoozzi homeowner-view">
    <div class="hoozzi-main">
      <%= render 'cookies_eu/consent_banner', link: '/cookies_policy', target: '_blank' %>
      <div class="content-container">
        <div class="header-container">
          <%= render 'components/homeowner/header', brand: @brand, unread_count: @unread_count, plot: @plot, plots: @plots %>
        </div>

          <%= render "components/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  <%= render 'components/homeowner/footer' %>
  </body>
</html>

<script>
  /** Default settings inherited from the gem:
   * The pop-up is only displayed once every 1440 minutes, ie once per day
   */
  addToHomescreen({
    skipFirstVisit: false, // show on first visit: the user has already accepted a token so we know they are interested
    maxDisplayCount: 3, // The user will see the pop-up for a further 2 days, then it will stop appearing
    lifespan: 0 // The pop-up lives indefinitely, until the user closes it
  });
</script>
