 <%= render 'layouts/homeowner_head', brand: @brand, plot: @plot %>
  <body class="homeowner-view">
    <div class="homeowner-main" id="homeowner-main">
      <%= render 'cookies_eu/consent_banner', link: '/cookies_policy', target: '_blank' %>
      <div class="content-container">
        <div class="header-container">
          <!-- pass the country to the header -->
          <%= render 'components/homeowner/header', brand: @brand, unread_count: @unread_count, plot: @plot, plots: @plots, country: @country %>
        </div>

        <div class="lower-navigation">
          <!-- mobile and tablet only -->
          <%= render 'components/homeowner/lower_navigation', brand: @brand, unread_count: @unread_count, plot: @plot, plots: @plots, country: @country %>
        </div>
          <%= render "components/flashes" %>
          <%= yield %>
        </div>
      </div>
    </div>
  <%= render 'components/homeowner/footer' %>
  </body>
</html>
